/* button e submit */

input[type="submit"], .richieste a, .faq_barra a, .btn, .action.details a, .Bandi .tipo_ricerca a, .stop a, .edit a{
	text-shadow:0 -1px 0 rgba(0,0,0,0.25);
	color:#fff;
	
		display:inline-block;
*display:inline;
*zoom:1;
	padding:4px 10px 4px;
	margin-bottom:0;
	font-size:13px;
	line-height:18px;	
	text-align:center;
	text-shadow:0 1px 1px rgba(0,0,0,0.75);
	vertical-align:middle;
	background-color:#f5f5f5;
	background-image:-moz-linear-gradient(top, #fff, #e6e6e6);
	background-image:-ms-linear-gradient(top, #fff, #e6e6e6);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
	background-image:-webkit-linear-gradient(top, #fff, #e6e6e6);
	background-image:-o-linear-gradient(top, #fff, #e6e6e6);
	background-image:linear-gradient(top, #fff, #e6e6e6);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	border-color:#e6e6e6 #e6e6e6 #bfbfbf;
	border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
filter:progid:dximagetransform.microsoft.gradient(enabled=false);
	border:1px solid #ccc;
	border-bottom-color:#b3b3b3;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
	cursor:pointer;
*margin-left:.3em
}
input[type="submit"], .richieste a, .faq_barra a, .btn, .Bandi .tipo_ricerca a, .stop a, .edit a {
	background-color:#0074cc;
	background-image:-moz-linear-gradient(top, #08c, #05c);
	background-image:-ms-linear-gradient(top, #08c, #05c);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#05c));
	background-image:-webkit-linear-gradient(top, #08c, #05c);
	background-image:-o-linear-gradient(top, #08c, #05c);
	background-image:linear-gradient(top, #08c, #05c);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
	border-color:#05c #0055cc #003580;
	border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
filter:progid:dximagetransform.microsoft.gradient(enabled=false)	
}



input[type="submit"]:active, .richieste a:active, .faq_barra a:active, .btn:active, .Bandi .tipo_ricerca a:active, .stop a:active,  .edit a.active {
	background-color:#004099 \9
}

input[type="submit"]:hover, .richieste a:hover, .faq_barra a:hover, .btn:hover, .Bandi .tipo_ricerca a:hover, .edit a:hover {
	text-shadow:0 -1px 0 rgba(0,0,0,0.25);
	color:#fff;	
	
	text-decoration:none;
	background-color:#0055cc;
	background-position:0 -30px;
	-webkit-transition:background-position .1s linear;
	-moz-transition:background-position .1s linear;
	-ms-transition:background-position .1s linear;
	-o-transition:background-position .1s linear;
	transition:background-position .1s linear
}

input[type="submit"]:focus, .action.details a:focus, .btn:focus, .Bandi .tipo_ricerca a:focus, .stop a:focus, .edit a:focus {
	outline:thin dotted #333;
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px
}


.action.details a {
	background-color:#5bb75b;
	background-image:-moz-linear-gradient(top, #62c462, #51a351);
	background-image:-ms-linear-gradient(top, #62c462, #51a351);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
	background-image:-webkit-linear-gradient(top, #62c462, #51a351);
	background-image:-o-linear-gradient(top, #62c462, #51a351);
	background-image:linear-gradient(top, #62c462, #51a351);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
	border-color:#51a351 #51a351 #387038;
	border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
filter:progid:dximagetransform.microsoft.gradient(enabled=false)
}


.action.details a:hover, .action.details a:active {
	background-color:#51a351;
	background-position:0 -36px!important;
}
.action.details a:active {
	background-color:#408140 \9;
}

.stop a, .stop a.hover {
	opacity:0.6;
	
	background:#fcfcfc;
	background:linear-gradient(top, #fdfdfd 0, #fcfcfc 10%, #f6f6f6 60%, #f0f0f0 80%, #ededed 90%);
	background:-webkit-linear-gradient(top, #fdfdfd 0, #fcfcfc 10%, #f6f6f6 60%, #f0f0f0 80%, #ededed 90%);
	background:-webkit-gradient(linear, 0% 0, 0% 100%, color-stop(0, #fdfdfd), color-stop(0.1, #fcfcfc), color-stop(0.6, #f6f6f6), color-stop(0.8, #f0f0f0), color-stop(0.9, #ededed));
	background:-moz-linear-gradient(top, #fdfdfd 0, #fcfcfc 10%, #f6f6f6 60%, #f0f0f0 80%, #ededed 90%);
	cursor:default;
	color:#666 !important;	
	text-shadow:1px 1px 0 #FFF !important;
}


input[type="text"],
input[type="password"],
input[type="email"], 
textarea,
select
{

	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(165,187,82,0.3);
	-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(165,187,82,0.3);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(165,187,82,0.3);
	outline:0;
	outline:thin dotted \9

}

input[type="image"] {
	border:0
}

input, textarea, select {
	display:inline-block;
	
	padding:4px;
	margin-bottom:9px;
	font-size:13px;
	line-height:18px;
	color:#555;
	border:1px solid #ccc;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px
}

input[type="image"], input[type="checkbox"], input[type="radio"] {
	width:auto;
	height:auto;
	padding:0;
	margin:3px 0;
*margin-top:0;
	line-height:normal;
	cursor:pointer;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	border:0 \9
}

input:focus, textarea:focus, select:focus {
	border-color:rgba(82,168,236,0.8);
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
	-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
	outline:0;
	outline:thin dotted \9
}



#customcontacts {

}
#customcontacts .captcha-vf{
	text-align:center;
	margin:10px 0px 10px 0px;
}
#customcontacts h3 {
	background:#fff;
	padding:5px 0px 5px 0px;
	border-bottom:1px solid #eee;	
}

.formricerca .ric {
	margin-right:5px;
}

label {	
	color: #222;
    display: block;
    margin-bottom: 3px;	
}
/* common message */
.NotifyArea li,
.validation-results li,
.notifyitem-success,
.info-vfm,
.smallDescription,
.msgdescrizione,
.attention,
.information,
.success,
.notify,
.warning
 {
	border-style: solid;
    border-width: 1px !important;
    line-height: 1.2em;
    margin: 0px 0px 10px 0px;
    position: relative;	
	list-style:none;
	padding:8px !important;
}
.information p,
.success p,
.notify p,
.attention p,
.warning p {
	margin:0px !important;	
}

/* error color */
.NotifyArea li,
.validation-results li,
.warning,
.attention
 { 
	background-color: #FFD4D4;
    border-color: #D97676 !important;
    color: #CD0A0A;
}
.validation-results ul li{
	margin:0px !important;	
	border:none;
	list-style:none !important;
}
/* success color */
.notifyitem-success,
.success
 {
	background-color: #E5F2C0;
    border-color: #AACF49 !important;
    color: #4A630E;
}

/* warning color */
.info-vfm,
.smallDescription,
.msgdescrizione,
.notify
 {
	background-color: #F8F2CB;
    border-color: #EDCA42 !important;
    color: #8F5C0B;
}
.information {
  background-color: #C2E1EE;
  border-color: #8EC3D9 !important;
  color: #3D5058;
}

/* info color */
.info-vfm,
.smallDescription,
.msgdescrizione
 {
	background-color: #F8F2CB;
    border-color: #EDCA42 !important;
    color: #8F5C0B;
}
.smallDescription {
	margin:10px 0px 10px 0px;	
	display:block;
}


#Stato_Bando label {
	display:inline;	
	margin-left:5px;
}
#SearchForm {
	clear:both;	
}
#SearchForm .vf {
	margin-right:10px;
	display:inline-block;
}

#albopretorio li{
	list-style:none;
	display:inline-block;
	margin-right:10px;
}

/* paginazione */
.pagination {
	padding: 8px 3px 3px 0px;
	margin: 0px 0px 40px 0px;	
}
.pagination .pagination-overview {
	display:none;	
}

.pagination a.pagination-number, .pagination a.pagination-next, .pagination a.pagination-prev, .pagination a.pagination-last, .pagination a.pagination-first, .archivioStorico a {
	padding: 5px 10px 5px 10px;
	margin: 2px;
	border: 1px solid #DBDBDB;
	text-decoration: none; /* no underline */
	
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    background: #f5f5f5; /* Old browsers */
    background: -moz-linear-gradient(top,  #f5f5f5 0%, #f1f1f1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f5f5f5 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f5f5f5 0%,#f1f1f1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f5f5f5 0%,#f1f1f1 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f5f5f5 0%,#f1f1f1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */

}

.pagination a.pagination-number:hover,
.pagination a.pagination-number:active,
.archivioStorico a:hover,
.archivioStorico a:active
 {
	border: 1px solid #c6c6c6;
	color: #666;
	
	-webkit-box-shadow:  0px 1px 1px 1px rgba(0, 0, 0, 0.1);
        
    box-shadow:  0px 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.pagination .current, .pagination .current:hover, .archivioStorico .selected, .archivioStorico .selected:hover {	
    border: 1px solid #01435F;
    color: #FFFFFF;
    font-weight: bold;
    margin: 2px;
	padding: 5px 10px 5px 10px;   	
	
	background: #356aa0; /* Old browsers */
    background: -moz-linear-gradient(top,  #356aa0 0%, #01435f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#356aa0), color-stop(100%,#01435f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #356aa0 0%,#01435f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #356aa0 0%,#01435f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #356aa0 0%,#01435f 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #356aa0 0%,#01435f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#356aa0', endColorstr='#01435f',GradientType=0 ); /* IE6-9 */

}

.button-as-link, .button-as-link:active, .button-as-link:focus, .button-as-link:link {
	background:none !important;	
	text-shadow:none !important;
	color:#0000FF !important;
	border:none !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;
	box-shadow:none !important;
	padding:0px !important;
	text-decoration:underline !important;
}
.button-as-link:hover {color:#7070FF !important;}

