﻿@import "http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css";
@import "http://jquery.com/demo/thickbox/thickbox-code/thickbox.css";
@import "/website/scripts/shared/jquery-ui/css/ui-lightnessjquery-ui-1.8.18.custom.css";
@import url("applicazioni/news.css");
@import url("applicazioni/cstampa.css");
@import url("applicazioni/bandi.css");
@import url("applicazioni/eventi.css");
@import url("applicazioni/faq.css");
@import url("applicazioni/moduli.css");

body {	
	font-family: sans-serif;
	font-size: 62.5%;
}


p,table,address,ul,ol,dl,fieldset,pre,#Where, div {
	font-size:small;	
}
pre {
	overflow:auto;
}
blockquote {

} 
fieldset {
	padding:10px;
	margin-bottom:10px;	
	border:1px solid #ddd;
}
fieldset legend {
	font-weight:bold;
	padding:0px 4px 0px 4px;	
}
p {
margin-bottom:5px;	
}
h1 {
	margin-bottom: .3em;
	padding-right: 8px;
	font-size: 4.6em;
	line-height: .95em;
}

h2 {
	margin-bottom: 2.5em;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 3em;
	line-height: 1.3;
}

h3 {
	margin-bottom: 1.5em;
	padding-left: 8px;
	padding-right: 8px;
}

h4 {
	margin-bottom: .8em;
	font-size: 1.3em;
	line-height: 1.6;
}

h5 {
	margin-bottom: 1em;
	padding-left: 8px;
	padding-right: 8px;	
	font-size: 1.2em;
	line-height: 1.6;
}
strong {
	font-weight:bold;	
}
a {
	text-decoration: none;
	font-weight: bold;
	color: #000;
}

a:hover {
	color: #0F83DB;
}

acronym {
	border-bottom: 1px dotted #eee;
}
#globale {
	margin: 0 auto;
	margin-top: 4em;
}
#Intestazione {
	margin: 0 0 1.2em 0;
	padding: 2.5em 0;
	border-bottom: 1px solid #111;
	border-top: 1px solid #111;
	color: #111;	
}
table
{
	text-align: left;
	border-collapse: collapse;
	width:100%;
}
th
{
	padding: 8px;
	background: #E1F6FB;
	border-top: 4px solid #8FC9E0;
	border-bottom: 1px solid #fff;
}
td
{
	padding: 8px;
	background: #F0F8E6; 
	border-bottom: 1px solid #fff;	
	border-top: 1px solid transparent;
	vertical-align:top;
}
tr:hover td
{
	background: #fff;
}

.left {
	text-align:left;	
}
.left img {
	float: left; 
	clear: left; 
	margin: 0px 4px 0px 0px; 
}
img.left {
	float: left; 
	clear: left; 
	margin: 0px 4px 0px 0px; 
}
.right {
	text-align:right;	
}
.right img {
	float: right; 
	clear: right; 
	margin: 0px 0px 0px 4px; 
}
img.right {
	float: right; 
	clear: right; 
	margin: 0px 0px 0px 4px; 
}
.center {
	text-align:center;	
}
.center img {
	text-align:center;
	margin:4px auto 4px auto;	
}
img.center {
	text-align:center;
	margin:4px auto 4px auto;	
}

#ColDX, #ColSX {
	display:none;
} 	


			.nascosto
			{
				display:none;
			}
			.trasparente 
			{
				visibility:hidden;
			}
			hr 
			{
				display: none;
			}
			.clr
			{
				clear: both;	
				width:100%;
				height:1px;
				display:block;
			}
			.separate
			{
				display:none;
			}
			.menurapido 
		{
			position:absolute;
			left:-99999px;	
		}
				

#corpo
 {
	margin:0px auto;
	clear:both;
	position:relative;
}

#ColSX, #ColDX {

}
#ColSX {
	position:absolute;
	left:10px;
	width:20%;
	top:40px;
}
#ColDX {
	position:absolute;
	right:10px;
	width:20%;
	top:40px;
}

.barratop { 
	position:absolute;
	top:5px;
	right:0px;
}
.barratop .barratop-1 {
}
.barratop .barratop-2 {	
}
.barratop ul {

}
.barratop ul li {
	float:left;
	margin: 0 2.4em 0 0;
	line-height: 1.65;
	float: right;
}
.barratop ul li,
.barratop ul li a
 {

}

.logo {	 

}
.logo p {
	display:block;
	font-size:3em;
}
.logo p a{
	display:block;
	width:100%;
	height:100%;
}
.logo p .titolosito {

}					

			.sottologo {				
			
			}
											
					.gfx1 {
						
					}
					.gfx2 {
						
					}

.dataora {

}

#topmenu
{	
	overflow:hidden;
	position:absolute;
	top:20px;
	left:10px;	
}					
#topmenu_content {

}
#topmenu_content ol {

}
#topmenu_content li{
	margin: 0 2.4em 0 0;
	font-size: 1.4em;
	line-height: 1.65;
	float: left;
}

#topmenu_content li a {		
	
}
#topmenu_content li a:hover {
	
}	

#topmenu_content li.TabSelected a {
	
}




#Where {
	display:none;	
	color:#aaa;
	padding-bottom:40px;
	}
#Where a {
		color:#aaa;
}
#Where strong {
	
}
	

		#Footer 
		{    			
			clear:both;	
			margin:0px auto;
			text-align:center;
			   border-bottom: 1px solid #111111;
    border-top: 1px solid #111111;
    clear: both;
    height: 5.4em;
    margin-bottom: 2em;
    overflow: hidden;
    padding: 1.5em 0 0;	
		}
		#Footer p{
	
}


#opzionivideo {
	position:absolute;
	left:-10000px;
}
#opzionivideo #opzioni-altocontrasto {

}
#opzionivideo #opzioni-altocontrasto a {

}

.SiteMap ul, .SiteMap_Root {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	text-align:left;		
}
.SiteMap #MapRoot {
	background:transparent url("img_mappa/world.gif") no-repeat 0px 2px;
	font-size:1.4em;
	padding-left:20px;
}
li.SiteMap_Root {
	list-style:none !important;	
}
.SiteMap li {
	padding:4px 0px 4px 0px;	
	list-style:none !important;
	height: auto !important;
	height: 0px;
}
.SiteMap li.homepage a{
	background:transparent url("img_mappa/l0.gif") no-repeat 0px 0px;
	padding-left:20px;
}
.SiteMap li.pagine_web a{
	background:transparent url("img_mappa/zero.gif") no-repeat 0px 0px;
	padding-left:20px;
}
.SiteMap li.webdocs a{
	background:transparent url("img_mappa/l1.gif") no-repeat 0px 0px;
	padding-left:20px;
}
.SiteMap li.news a{
	background:transparent url("img_mappa/newspaper.gif") no-repeat 0px 0px;
	padding-left:20px;
}
.SiteMap li.files a{
	background:transparent url("img_mappa/allegati.gif") no-repeat 0px 0px;
	padding-left:20px;
}
.SiteMap li.imagegallery a{
	background:transparent url("img_mappa/image_sunset.gif") no-repeat 0px 0px;
	padding-left:20px;
}
.SiteMap li.comunicati_stampa a{
	background:transparent url("img_mappa/comunicati.gif") no-repeat 0px 0px;
	padding-left:20px;
}
.SiteMap li.eventi a{
	background:transparent url("img_mappa/star.gif") no-repeat 0px 0px;
	padding-left:20px;
}
.SiteMap li.bandi_di_gara a{
	background:transparent url("img_mappa/hammer.gif") no-repeat 0px 0px;
	padding-left:20px;
}
.SiteMap li.faq a,
.SiteMap li.faqs a
{
	background:transparent url("img_mappa/faq.gif") no-repeat 0px 0px;
	padding-left:20px;
}
.SiteMap li.links a,
.SiteMap li.collegamenti_ipertestuali a
{
	background:transparent url("img_mappa/link.gif") no-repeat 0px 0px;
	padding-left:20px;
}
.SiteMap li.questionari a{
	background:transparent url("img_mappa/questionari.gif") no-repeat 0px 0px;
	padding-left:20px;
}
.SiteMap li.modulistica a{
	background:transparent url("img_mappa/modulistica.gif") no-repeat 0px 0px;
	padding-left:20px;
}
.SiteMap li.rassegna a{
	background:transparent url("img_mappa/rassegna.gif") no-repeat 0px 0px;
	padding-left:20px;
}
.SiteMap li.atti a{
	background:transparent url("img_atti/atti.gif") no-repeat 0px 0px;
	padding-left:20px;
}
.SiteMap li a.SiteMap_Rss a{
	background:url("img_mappa/rss.png") 10px 0px no-repeat;	
	padding-left:40px;
}
.SiteMap li .SiteMap_Rss span {
	display:none;	
}
.SiteMap li.vertical a{
	background:transparent url("img_mappa/vertical.gif") no-repeat 0px 0px;
	padding-left:20px;
}
.SiteMap li.areadiscambio a{
	background:transparent url("img_mappa/scambio.gif") no-repeat 0px 0px;
	padding-left:20px;
}
.SiteMap li li {
	margin-left:20px;	
}

.SearchDiv {
	font-size:small;	
}
.highlight { background: #FFFF40; }
.searchheading { font-size: 1.2em; font-weight: bold; 
margin-top:20px;}
.summary { font-size: small; font-style: italic; } 
.results { font-size: small; }
.category { color: #999999; }
.description { font-size: small; color: #008000; }
.context { font-size: small; }
.infoline { font-size: x-small; font-style: normal; color: #808080;margin-bottom:20px;}
.sorting { text-align: right; }
.result_title { font-size: small; }

.zoom_searchform { font-size: small; }
.zoom_options { font-size: small; }
input.zoom_button {  }
input.zoom_searchbox {  }


#PageNavigation {
	padding: 8px 3px 3px 3px;
	margin: 0px;	
	font-size:small;
}

#PageNavigation a.numbers {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #ccc;
	text-decoration: none; /* no underline */
	color: #036CB4;
}

#PageNavigation a.numbers:hover,
#PageNavigation a.numbers:active {
	border: 1px solid #999;
	color: #666;
}
#PageNavigation .selected {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #036CB4;
	font-weight: bold;
	background-color: #036CB4;
	color: #FFF;
}
