﻿@import url("/scripts/shared/jquery-ui/css/ui-lightness/jquery-ui-1.8.18.custom.css");
@import url("thickbox/thickbox.css");
@import url("font/stylesheet.css");
@import url("form.css");
@import url("applicazioni/login.css");
@import url("applicazioni/lang.css");

/*
*CSS Reset
*Eric Meyer's CSS Reset v2.0 
*http://meyerweb.com/eric/tools/css/reset/ 
//-----------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {	
	font-family: 'PTSansCaptionRegular', Arial, sans-serif;
	text-rendering: optimizeLegibility;	
	color:#666;	
	line-height:22px;	
}


p,table,address,ul,ol,dl,fieldset,pre,#Where, div {
	font-size:14px;	
}

h1, h2, h3, h4, h5, h6{ 
	color:#000;
	font-weight:bold;
}

strong  {
	/*font-family: 'DroidSansBold', Arial, sans-serif; */
	font-weight:bold;
}
em {
	font-style:italic;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
blockquote, blockquote p {
}
blockquote {
    border-left: 3px solid #DDDDDD;
}
blockquote {
    margin: 0 0 20px;
    padding: 9px 20px 9px 30px;
}
blockquote, blockquote p {
    font-size: 14px;
    font-style: italic;
    line-height: 24px;
}
blockquote, blockquote p {
    font-family: Georgia,serif;
}
blockquote, q {
    quotes: none;
}
#ColCX li {
	list-style-position:inside;
}
#ColCX ul li {
	list-style-type:disc;
}
#ColCX ol li {
	list-style-type:decimal;
}




#corpo  {	
	position:relative;
	margin:0px auto;
	background:#fff;	
	width:980px;
}
#ColCX, .innerFooter .Block {
	width:980px;
	margin:0px auto;	
}
#inner-infocopyright {
	margin:0px auto;
	position:relative;
	width:96%;
}

/* Base Grid */

.c100 {
	width:99.9999%;	
}
.c100, .c50, .c33, .c25 {
	float: left;
	margin-right: 2.2727%;
	margin-bottom:10px;
}
.c50 {
	width: 47.7291%;	
}
.c33 {
	width: 31.0624%;	
}
.c25 {
	width: 22.7291%;	
}

.col-width { width: 960px; margin: 0 auto; }
.col-4-1 { float: left; margin-left: 10px;}
.col-4-1 { width: 218px; min-height:170px;}
.col-first { margin-left: 0; padding-right:0px;}
.col-last {
	border-right:none;
	padding-right:0px;	
}



.modulo h3, #footer-module h3 {

}


#footer-module h3 {
	color:#5f5f5f;	
}

h1 { font-size: 24px; line-height: 28px; }
h2 { font-size: 20px; line-height: 22px; }
h3 { font-size: 16px; line-height: 20px; }
h4 { font-size: 14px; line-height: 18px; }
h5 { font-size: 12px; line-height: 18px; }
h6 { font-size: 10px; line-height: 16px; }

h1:after {
    clear: both;
}
h1:before, h1:after {
    content: " ";
    display: table;
}
h1:before, h1:after {
    content: " ";
    display: table;
}

	
#ColCX h1 {
	background:url("img/title-bg.png") 0px 6px repeat-x;
	margin-bottom:20px;	
}
#ColCX h1 span{
	background:#fff;
	padding-right:10px;
}
#ColCX h3 {
	margin-bottom:20px;	
}


pre {
	overflow:auto;
}

ol, ul {
	list-style-type:none;	
}

#ColCX p, 
#ColCX ul,  
#ColCX ol, 
#ColCX dl, 
#ColCX pre, 
#ColCX blockquote,
.vf
 { 
	margin-bottom: 20px;
}

a,
.searchFieldset legend
 {
	text-decoration: none;	
	color: #67A4D3;
	
	-webkit-transition: background 0.3s ease 0s, color 0.3s ease 0s;
	-moz-transition: background 0.3s ease 0s, color 0.3s ease 0s;
    -ms-transition: background 0.3s ease 0s, color 0.3s ease 0s;
    -o-transition: background 0.3s ease 0s, color 0.3s ease 0s;
	transition: background 0.3s ease 0s, color 0.3s ease 0s;
}

a:hover,
.News .searchFieldset legend:hover {
	color: #000;
}

#infocopyright a:hover, 
#footer-module a:hover 
{
	color:#FFCC33;
}




#ColCX table { 
	border: 1px solid #fff;
    margin: 18px 0 18px;
    text-align: left;
    width: 100%;
	font-size:12px;
	-webkit-border-radius: 4px;    
    border-radius: 4px;
	
	background:#fff;
	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.20);
	-moz-box-shadow:    0px 0px 2px rgba(0, 0, 0, 0.20);
	box-shadow:         0px 0px 2px rgba(0, 0, 0, 0.20);
}

#ColCX th, thead td { 
	text-align: left;   
	font-weight: bold; 
}

#ColCX table th {
	color: #555555;
    padding: 4px;
	/*font-size: 16px;	*/
	background: #EEE;
}

#ColCX table td { 
	padding: 4px; 
	border-top: 1px solid #E3E3E3;
}

#ColCX table td.action { 
	text-align:center;

}
#ColCX table td.action a{
	font-size:12px;	
}

/* Details */
#ColCX .Details table { 	
    margin: 18px auto;    
    width: 100%;
	clear:both;
	border: 1px solid #ddd;
	border-collapse: collapse;
    border-spacing: 0px;
	color:#4B5159;
	background:#fff;	
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
#ColCX .Details table caption + thead tr:first-child th, 
#ColCX .Details table colgroup + thead tr:first-child th, 
#ColCX .Details table thead:first-child tr:first-child th, 
#ColCX .Details table caption + thead tr:first-child td,
#ColCX .Details table colgroup + thead tr:first-child td,
#ColCX .Details table thead:first-child tr:first-child td {
    border-top: 0 none;
}
#ColCX .Details table > thead > tr > th, #ColCX .Details table > thead > tr > td {
    border-bottom-width: 1px;
	font-weight:bold;
}
#ColCX .Details table > tr > th {
    border-bottom: 1px solid #DDDDDD;
    vertical-align: bottom;
}
#ColCX .Details table thead > tr > th,
#ColCX .Details table tbody > tr > th,
#ColCX .Details table tfoot > tr > th,
#ColCX .Details table thead > tr > td,
#ColCX .Details table tbody > tr > td,
#ColCX .Details table tfoot > tr > td {
    border-top: 1px solid #DDDDDD;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}
#ColCX .Details table > thead > tr > th,
#ColCX .Details table > tbody > tr > th,
#ColCX .Details table > tfoot > tr > th,
#ColCX .Details table > thead > tr > td,
#ColCX .Details table > tbody > tr > td,
#ColCX .Details table > tfoot > tr > td {
    border: 1px solid #DDDDDD;
}
.Details tr.Overtitle > th {
    background-color: #F5F5F5;
    border-color: #DDDDDD;
    color: #333333;
}
#ColCX .Details table td.action {
	width:100px;	
}
#ColCX .Details table>tbody>tr:hover>td, #ColCX .Details table>tbody>tr:hover>th {
	background-color:#f5f5f5
}
#ColCX .Details .DetailsContainer .row td.DetailsLabel {
    text-align: right;
    width: 30%;
}
/* Fine Details */

#ColCX .modulo h3 a {

}

#footer-module {
	padding:30px 0px 25px 0px;

}
#footer-module a {
	color: #0e4179;
	text-shadow: 1px 2px 1px #111111;
}


acronym {
	border-bottom: 1px dotted #eee;
}
#globale {
	position:relative;
	margin:0px auto;	
}
#head-content {
	height:100px;
	background:#fff;
	position: absolute;
	top:0px;
	left:0px;
	width:100%;
	z-index:9997;
	
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-ms-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out     
}


/* on slide bottom */
#head-content.Rid {
	height:70px;	
}
#head-content.Rid .logo{
	-webkit-transform:scale(.75);
	-moz-transform:scale(.75);
	-ms-transform:scale(.75);
	-o-transform:scale(.75);
	transform:scale(.75);
	top:-6px;
}
#head-content.Rid .gfx2 {
	top:67px;
	height:3px;		
}
#head-content.Rid #HeaderShadow {
	background-position:0px -20px;	
}
#head-content.Rid #topmenu,
#head-content.Rid .social2
 {
	top:40px;
}

#head-content.Rid #topmenu li a { 
	font-size:16px;
}



/* allineamento */
.left {
	text-align:left;	
}
.Sinistra img,
.left img {
	float: left; 
	clear: left; 
	margin: 0px 4px 0px 0px; 
}
img.Sinistra,
img.left {
	float: left; 
	clear: left; 
	margin: 0px 4px 0px 0px; 
}
.right {
	text-align:right;	
}
.Destra img,
.right img {
	float: right; 
	clear: right; 
	margin: 0px 0px 0px 4px; 
}
img.Destra,
img.right {
	float: right; 
	clear: right; 
	margin: 0px 0px 0px 4px; 
}
.center {
	text-align:center;	
}
.center img {
	text-align:center;
	margin:4px auto 4px auto;	
}
img.center {
	text-align:center;
	margin:4px auto 4px auto;	
}

#ColDX, #ColSX {
	display:none;
	position:absolute;
	width:160px;
	top:60px;
} 	
#ColSX {
	left:0px;
}
#ColDX {
	right:0px;
}

#ColDX .modulo, #ColSX .modulo{ 
	margin-bottom:30px;
}
#ColCX .modulo ol, #ColCX .modulo ul,
#ColDX .modulo ol, #ColSX .modulo ol,
#ColDX .modulo ul, #ColSX .modulo ul
{ 
	margin-top:10px;
}
#ColCX .modulo li, #ColDX .modulo li, #ColSX .modulo li{ 

}
#ColSX .modulo_menu ol, #ColDX .modulo_menu ol {
	margin-top:0px !important;	
}
#ColDX .modulo_menu li, #ColSX .modulo_menu li
{
	padding-bottom:0px;
	margin-bottom:0px;
	border-bottom:none;	
}
#ColCX .modulo_content, 
#ColSX .modulo li,
#ColDX .modulo li,
#ColDX .modulo .modulo_content  
{		
	overflow:hidden;	
}

#ColCX .modulo_content,
#ColSX .modulo li,
#ColSX .modulo .modulo_content,
#ColDX .modulo li,
#ColDX .modulo .modulo_content 
 {
  	border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
#ColSX .modulo_menu li {
	max-height:auto;
}





			.nascosto
			{
				display:none;
			}
			.trasparente 
			{
				visibility:hidden;
			}
			hr 
			{
				display: none;
			}			
			
			.clr:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } 
			.clr { display: inline-block; } /* Hide from IE Mac \*/ 
			.clr { display: block; } /* End hide from IE Mac */ 
			
			
			
			.separate
			{
				display:none;
			}
			.menurapido 
		{
			position:absolute;
			left:-99999px;	
		}
				


#corpo
 {
	clear:both;	
}

.service {
	position:absolute;
	right:80px;
	top:5px;		
}
.service li {
	padding:0px 10px 0px 10px;
	font-size:12px;
	border-right:1px solid #ccc;
}
.social2 {
	position:absolute;
	right:10px;
	top:5px;	
	
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-ms-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out
}
.social {
	float:right;
}
.social2 li,
.social li,
.service li
 {	
	margin-left:0px;
	float:left;
}
.social li a{
	display:block;
	width:21px;
	height:21px;
	text-indent:-6000px;
	background-image:url("img/social-icon.png");
	background-repeat:no-repeat;
	opacity:0.6;
}
.social li a:hover{ 
	opacity:1;
}
.social2 li a{
	display:block;
	width:21px;
	height:21px;
	text-indent:-6000px;
	background-image:url("img/social-icon-2.png");
	background-repeat:no-repeat;
}

.social li.social-1 a {
	background-position:0px 0px;	
}
.social li.social-2 a {
	background-position:0px -30px;	
}

.social2 li.social-1 a {
	background-position:0px 0px;	
}
.social2 li.social-1 a:hover {
	background-position:0px -31px;	
}
.social2 li.social-2 a {
	background-position:0px -61px;	
}
.social2 li.social-2 a:hover {
	background-position:0px -92px;	
}
.social2 li.social-3 a {
	background-position:0px -220px;	
}
.social2 li.social-3 a:hover {
	background-position:0px -251px;	
}


.logo {	 
	position:absolute;
	left:2%;
	top:34px;
	height:41px;
	width:329px;	
	
	z-index:100;
	
	transition: all 0.2s ease-in-out 0s;	

}
.logo p {
	display:block;
	height:41px;
	width:329px;
}
.logo p a{
	display:block;
	background:url("img/logo.png") 0px 0px no-repeat;
	height:41px;
	width:329px;	
	text-indent:-10000px;
	display:none;
}

.logo a {
	-webkit-transition: All 0.3s ease 0s;
	-moz-transition: All 0.3s ease 0s;
    -ms-transition: All 0.3s ease 0s;
    -o-transition: All 0.3s ease 0s;
	transition: All 0.3s ease 0s;	
}
.logo a:hover {	
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);	
}

.formricerca {
	padding:10px 0px 5px 0px;	
	clear:both;
	width:100%;
	background:#fff;
	border-bottom:2px solid #C7E6E0;
	text-align:right;
	position:relative;
	height:100px;
}
.formricerca .submit {
	margin-right:10px;	
}
.content-formricerca {
	float:right;
	width:270px;
	clear:both;	
}
.content-formricerca input#searchtext,
.content-formricerca input.submit {
	margin-right:10px;
}
.content-formricerca label {
	width:24px;
	height:24px;
	float:left;	
	margin-top:6px;
}

#topmenu {
	position:absolute;
	left:0px;
	top:87px;
	z-index:9998;
	
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-ms-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out
}
#topmenu ol {

}
#topmenu li 
{	
	float:left;
	margin:0px 0px 0px 0px;
	padding:0px 8px 4px 8px;
}
#topmenu li.last {
	border-right:none;	
}			

#topmenu li a {	
	color:#979795;
	font-weight:bold;
	text-shadow:none;
	border-bottom:2px solid #c8e6e0;
	padding:8px;
	
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-ms-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out
}
#topmenu li a:hover,
#topmenu li.TabSelected a:hover
 {
	background-color:transparent;
	color:#333;
	text-decoration:none;
	border-bottom:2px solid #01435F;
}
#topmenu li.TabSelected a{
	background-color:#01435F;
	color:#fff;
	border-bottom:2px solid #01435F;
	-moz-background-clip:padding;
	-webkit-background-clip:padding-box;
	background-clip:padding-box;
	
	-webkit-border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0
}


#Where {
	display:none;	
	position:relative;
	padding:0px 0px 40px 0px;	
	margin-top:20px;	
	}
#Where div {
	white-space: nowrap;
	width: 930px;
	overflow: hidden;
	text-overflow: ellipsis;	
	font-size:11px;
}

#Where a{
	padding:1px 4px 2px;
	font-size:10.998px;
	font-weight:bold;
	line-height:13px;
	color:#fff;
	vertical-align:middle;
	white-space:nowrap;
	text-shadow:0 -1px 0 rgba(0,0,0,0.25);
	background-color:#9AAE4C;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px
}
#Where a:hover {
	color:#fff;
	text-decoration:none;	
}
.WherePart {
	margin-right:-9px;
	color:#9AAE4C;	
}
.WherePart a:hover {
	background:#999 !important;
}
.WherePart strong {
	color:#999;	
}

	

#Footer 
{    			
	clear:both;	
	text-align:center;				
}
#Footer p{
	margin:0px;
}
#Footer .col-4-1 .text p{
	font-size:12px; 	
}
#Footer .col-4-1 h3 {
	text-transform:uppercase;
	min-height:50px;
	font-size:14px;
}

.partsFooter {
	background:#01435f;	
	color:#c6c6c6;
}
#inner-footer h3, #inner-footer a{
	color:#fff;
}
#inner-footer a {
	text-shadow: 1px 2px 0px #333;		
}

#infocopyright {
	padding:5px 0px 25px 0px;
	clear:both;
	background:url("img/sep-col-horizontal.gif") 0px 0px repeat-x;
}
#inner-infocopyright .text {
	float:right;
	clear:both;
}
#inner-infocopyright .text p{	
	text-transform:uppercase;
	font-size:10px;
}

#footer-module .col-4-1 {
	background:url("img/sep-col-vertical.gif") top right repeat-y;
	padding:0px 4px 0px 10px	
}
#footer-module .col-last {
	background:none;	
}

#footer-module .col-4-1 .text span,
.service li.first span
 {
    display: block;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 0px 0 0;
    position: relative;
	clear:left;
}
#footer-module .col-4-1 .text span:before,
.service li.first span:before
{
			background-image: url("img/info-icon.png");
			background-repeat: no-repeat;
			width: 20px;
			height: 20px;
			content: "";
			float: left;			
			opacity: 0.18;
}
#footer-module .col-4-1 .text .icon-1:before {
    background-position: -298px 0px;	
}
#footer-module .col-4-1 .text .icon-2:before {
    background-position: 1px 0px;	
}
#footer-module .col-4-1 .text .icon-3:before {
    background-position: -60px 0px;		
}
.service li.first span:before {
    background-position: -60px -39px;	
	opacity: 0.4;
}
#footer-module .col-4-1 .text .icon-4:before {
    background-position: -317px -2px;	
}
#footer-module .col-4-1 .text .icon-5:before {
    background-position: -40px 0px;	
}

a.toTop:link, a.toTop:visited {
    position:fixed;
    right:10px;
    bottom:9%;
    background:url('img/totop.png') no-repeat left top;
    width:32px;
    height:32px;
    display:block;
    font:0/0 a;
    opacity: 0.6;
    -moz-opacity: 0.6;
    filter:alpha(opacity=60);
    z-index:300;
}
a.toTop:hover, a.toTop:active {
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=100);
}


.SiteMap ul, .SiteMap_Root {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	text-align:left;		
}
.SiteMap #MapRoot {
	background:transparent url("img_mappa/world.gif") no-repeat 0px 2px;
	font-size:1.4em;
	padding-left:20px;
}
li.SiteMap_Root {
	list-style:none !important;	
}
.SiteMap li {
	padding:4px 0px 4px 0px;	
	list-style:none !important;
	height: auto !important;
	height: 0px;
}
.SiteMap li.homepage a{
	background:transparent url("img_mappa/l0.gif") no-repeat 0px 0px;
	padding-left:20px;
}
.SiteMap li.pagine_web a{
	background:transparent url("img_mappa/zero.gif") no-repeat 0px 0px;
	padding-left:20px;
}
.SiteMap li.webdocs a{
	background:transparent url("img_mappa/l1.gif") no-repeat 0px 0px;
	padding-left:20px;
}
.SiteMap li.news a{
	background:transparent url("img_mappa/newspaper.gif") no-repeat 0px 0px;
	padding-left:20px;
}
.SiteMap li.files a{
	background:transparent url("img_mappa/allegati.gif") no-repeat 0px 0px;
	padding-left:20px;
}
.SiteMap li.imagegallery a{
	background:transparent url("img_mappa/image_sunset.gif") no-repeat 0px 0px;
	padding-left:20px;
}
.SiteMap li.comunicati_stampa a{
	background:transparent url("img_mappa/comunicati.gif") no-repeat 0px 0px;
	padding-left:20px;
}
.SiteMap li.eventi a{
	background:transparent url("img_mappa/star.gif") no-repeat 0px 0px;
	padding-left:20px;
}
.SiteMap li.bandi_di_gara a{
	background:transparent url("img_mappa/hammer.gif") no-repeat 0px 0px;
	padding-left:20px;
}
.SiteMap li.faq a,
.SiteMap li.faqs a
{
	background:transparent url("img_mappa/faq.gif") no-repeat 0px 0px;
	padding-left:20px;
}
.SiteMap li.links a,
.SiteMap li.collegamenti_ipertestuali a
{
	background:transparent url("img_mappa/link.gif") no-repeat 0px 0px;
	padding-left:20px;
}
.SiteMap li.questionari a{
	background:transparent url("img_mappa/questionari.gif") no-repeat 0px 0px;
	padding-left:20px;
}
.SiteMap li.modulistica a{
	background:transparent url("img_mappa/modulistica.gif") no-repeat 0px 0px;
	padding-left:20px;
}
.SiteMap li.rassegna a{
	background:transparent url("img_mappa/rassegna.gif") no-repeat 0px 0px;
	padding-left:20px;
}
.SiteMap li.atti a{
	background:transparent url("img_atti/atti.gif") no-repeat 0px 0px;
	padding-left:20px;
}
.SiteMap li a.SiteMap_Rss a{
	background:url("img_mappa/rss.png") 10px 0px no-repeat;	
	padding-left:40px;
}
.SiteMap li .SiteMap_Rss span {
	display:none;	
}
.SiteMap li.vertical a{
	background:transparent url("img_mappa/vertical.gif") no-repeat 0px 0px;
	padding-left:20px;
}
.SiteMap li.areadiscambio a{
	background:transparent url("img_mappa/scambio.gif") no-repeat 0px 0px;
	padding-left:20px;
}
.SiteMap li li {
	margin-left:20px;	
}

.SearchDiv {
	font-size:small;	
}
.highlight { background: #FFFF40; }
.searchheading { font-size: 1.2em; font-weight: bold; 
margin-top:20px;}
.summary { font-size: small; font-style: italic; } 
.results { font-size: small; }
.category { color: #999999; }
.description { font-size: small; color: #008000; }
.context { font-size: small; }
.infoline { font-size: x-small; font-style: normal; color: #808080;margin-bottom:20px;}
.sorting { text-align: right; }
.result_title { font-size: small; }

.zoom_searchform { font-size: small; }
.zoom_options { font-size: small; }
input.zoom_button {  }
input.zoom_searchbox {  }


#PageNavigation {
	padding: 8px 3px 3px 3px;
	margin: 0px;	
	font-size:small;
}

#PageNavigation a.numbers {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #ccc;
	text-decoration: none; /* no underline */
	color: #036CB4;
}

#PageNavigation a.numbers:hover,
#PageNavigation a.numbers:active {
	border: 1px solid #999;
	color: #666;
}
#PageNavigation .selected {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #036CB4;
	font-weight: bold;
	background-color: #036CB4;
	color: #FFF;
}
#ColSX .modulo_menu,
#ColDX .modulo_menu{
	/*width: 200px;*/
}

/* level 1	*/
#ColSX .modulo_menu ol,
#ColDX .modulo_menu ol
{
	list-style: none;	
}

#ColSX .modulo_menu ol li.depth0,
#ColDX .modulo_menu ol li.depth0  {
	margin-bottom:0px !important;
	line-height:15px !important;	
	border-bottom: none;
    margin-bottom: 5px;
    padding-bottom: 0px !important;
}


#ColSX .modulo_menu ol li.depth0 a,
#ColDX .modulo_menu ol li.depth0 a,
.modulo_login h3 a
{
	font-size:13px;
	color:#01425e;
	border-bottom:1px dotted #464646;
	display:block;
	padding:10px 10px 10px 10px;	
	background:url("img/arrow_link_module.png") 0px 14px no-repeat;
}

#ColSX .modulo_menu ol li a:hover,
#ColDX .modulo_menu ol li a:hover,
.modulo_login h3 a:hover
 {

}
#ColSX .modulo_menu ol li a:hover,
#ColDX .modulo_menu ol li a:hover,
.modulo_login h3 a:hover
{

}
.modulo_login h3 a {

}

/* level 2 */
#ColSX .modulo_menu ol ol {
	margin-top:-1px !important;
}
#ColSX .modulo_menu li li,
#ColDX .modulo_menu li li {
	margin-bottom: 1px !important;
    padding-bottom: 0px !important;
}
#ColSX .modulo_menu li li a,
#ColDX .modulo_menu li li a
{
	border:none !important;
	background-image:none !important;
	background-color:#eee !important;
}

#ColSX .modulo_menu li li a:hover,
#ColDX .modulo_menu li li a:hover
{
	color:#000;
}

#ColSX .modulo_menu li li li a,
#ColDX .modulo_menu li li li a
{

}


.TabSelected span.selected {
	font-weight:bold;
}
li li span.selected {

}

.ContentMenuTree ol{
	list-style:none;
	margin:0;
	padding:0;
}
.ContentMenuTree {
	float:left;
	width:100%;
	clear:both;	
}

.ContentMenuTree ol{
	list-style:none;
	margin:0px !important;
	padding:0px !important;	
}
.ContentMenuTree ol li {
	list-style:none;
	margin:0px 0px 5px 0px !important;
	padding:0px 0px 2px -25px !important;	
}
.ContentMenuTree ol li a{
	margin:0;
	padding:0 0 4px 0;
	margin-bottom:15px;
	list-style:none;
}

/* app */
.data_news,
.data_bando,
.News .news-data,
.data_feed,
.data_comunicato,
#ColCX .News p.data,
.city_data,
.Eventi .data,
.data_evento,
.Faq .data {
	display:block;
	font-size:12px;
	color:#000;
}

.data_news:before,
.data_bando:before,
.News .news-data:before,
.data_feed:before,
.data_comunicato:before,
#ColCX .News p.data:before,
.city_data:before,
.Eventi .data:before,
.data_evento:before,
.Faq .data:before {
	float:left;
	
	content: "";	
	width:16px;
	height:16px;
	background-image:url("img/info-icon.png");
	background-repeat:no-repeat;
	background-position:-164px -39px;
	
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	-moz-opacity:0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;	
}
/* app news */
.searchFieldset legend {
	padding-left:20px;
	background:url("img_news/search.gif") 0px 0px no-repeat;
	cursor:pointer;
	
	margin-bottom:10px;
}

#ColCX .c100 .modulo_news {

}






#userRegister fieldset,
.News .searchForm,
.form-changepw,
.NetCms_profileForm,
.Faq 
#ColCX_Content
 {
	padding:10px;
	margin-bottom:20px;
	
	-webkit-border-radius: 4px;    
    border-radius: 4px;
	
	border:1px solid #eee;
	
	background:#fff;
}

#userRegister h5, .Faq legend {
	margin-top:20px;
	background:#eee;
	padding:10px;
	
	margin-left:-10px;
	margin-right:-10px;
	font-size:18px;
}
#userRegister legend,
.form-changepw legend,
.NetCms_profile legend,
.NetCms_profileForm legend
 {
	color: #0059CC;    
    font-weight: bold;
    line-height: 14px;
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    white-space: nowrap;	
	padding:8px;
	font-size:20px;
}
.form-changepw legend {
	margin-bottom:20px;	
}

.News {

}
.News .news-data {
	position:absolute;top:70px;left:0px;

}
.News a[href^="http:"]
{
background: url("img/External-Link.png") no-repeat right center;
padding-right: 1em;
}
body#news #slider #da-slider
 {
	display:none;
	position:absolute;
	left:-1000000px;	
}
#userRegister label {
	margin-top:4px;	
}

table#privacy, table#privacy td,
table#categorie_Default, table#categorie_Default td
 {
	border:none;
	margin:0px;
	width:auto;	
	padding:0px;
	box-shadow:none;
}
table#privacy label,
table#categorie_Default label
 {
	display:inline;
	padding-left:4px;	
}
#customcontacts .submit-vf {
	margin:0px auto;
	text-align:center;	
}
#categorie_Default {
	margin:10px 0px 10px 0px;	
}
#categorie_Default td{
	padding:10px 0px 10px 0px !important;
}
.gfx2 {

}
.type1 li, .type2 li {
	margin:0px 0px 20px 0px;
	padding:0px;
	list-style:none;
	float:left;
	clear:left;	
}
.type1 li strong, .type2 li strong
 {
    display: block;
    float: left;	
	padding: 0px 0px 0px 0px;	
	line-height:38px;
	text-indent:10px;
	text-shadow:1px 1px 0px #fff;
}
.type1 li span, .type2 li span {
	display: block;
}
.type1 li span {
	padding-left:180px;	
}
.type2 li span {
	padding-left:240px;	
}
.type1 li strong {
    background: url("img/ol-type1.png") no-repeat scroll 0 0 transparent;
	width:167px;
}
.type2 li strong {
    background: url("img/ol-type2.png") no-repeat scroll 0 0 transparent;
	width:234px;
}

.faq_barra {
	float:right;
	clear:right;	
}

#provvedimenti .Details fieldset {
	border:1px solid #ccc;
	padding:10px;
	margin-bottom:20px;
	-webkit-border-radius: 6px;
    
    border-radius: 6px;
}
#provvedimenti .Details legend {
	display:none;	
}

