﻿
/****************** Details Sheet Table ********************/
.DetailsTable
{
	padding:0px;
    margin-bottom:20px;
}
.DetailsTable table
{
	padding:0px;
	width:100%;
}

fieldset.DetailsTable
{
border:1px solid #CAD9EA;
width:90%;
text-align:left;
margin:0px auto;
}
fieldset.DetailsTable legend
{
	font-weight:bold;
	
}
.DetailsTable td,
.DetailsTable th
{
	padding:5px;
	border-top:1px solid #CAD9EA;
}

.DetailsTable td a
{
	display:block;
}
.DetailsTable td a:hover
{
	font-weight:bold;
}

.DetailsTable
{
	border-right:1px solid #CAD9EA;
	
}
.DetailsTable Legend
{
	padding:3px;
	margin-left:10px;
	background-color:#fff;
}

.DetailsTable tr {border-top:1px solid #CAD9EA;}

.DetailsTable tr.alternate{background-color:#F0F6FD;}
.DetailsTable th {background-color:#D9EAFD;}
.DetailsTable .fill_red {background-color:#FBE3E4;}
.DetailsTable .fill_green {background-color:#E6EFC2;}
.DetailsTable .fill_yellow {background-color:#FFF6BF;}

.DetailsTable td.first,
.DetailsTable th.first { border-right:1px solid #CAD9EA; }

.DetailsTable a.action 
{  
    display:block;
    padding:4px;
    padding-left:24px;
    background-position:center left;
    background-image:url(/sax/WebResource.axd?d=U8e5vZc7bOAvWOXqP07vW-clsDEgQk9N-9ZEq1yIQsibA9Bx3SQi1D7bfO_ifRXf0&t=634052047345046736);
    text-decoration: none;
    background-repeat:no-repeat;    
}
.DetailsTable a.action:hover
{  
    padding:3px;    
    padding-left:23px;    
    font-weight:normal;
    text-decoration: underline;
    border:1px solid #cccccc;
}
.DetailsTable a.action span
{  
    display:block;
}

.DetailsTable a.ok {background-image:url(/sax/WebResource.axd?d=U8e5vZc7bOAvWOXqP07vW-clsDEgQk9N-9ZEq1yIQsibA9Bx3SQi1D7bfO_ifRXf0&t=634052047345046736);}
.DetailsTable a.details {background-image:url(/sax/WebResource.axd?d=5s_Mw529dCzmoBccXE52cgJSRI_R2z_UxrpemzBZJK7wj7n620la6Kp55J9skKt257xzhgvWnVjBncZXQ12rzA2&t=634052048532376321);}
.DetailsTable a.delete {background-image:url(/sax/WebResource.axd?d=U8e5vZc7bOAvWOXqP07vW0oqu_gM8nA2LPEFLTiBWT6nELTkF6tAfezoko91S-nW0&t=634052047345046736);}
.DetailsTable a.key {background-image:url(/sax/WebResource.axd?d=U8e5vZc7bOAvWOXqP07vWxPV1PiDDPhdlTeMVmn9iU6Fd8TkZUrlqPjDzqY-02KA0&t=634052047345046736);}
.DetailsTable a.modify {background-image:url(/sax/WebResource.axd?d=U8e5vZc7bOAvWOXqP07vW4RP6RRsdGsd1wtLGmIUuqq1aamFY_m6Zjh9HqQL51oI0&t=634052047345046736);}
.DetailsTable a.edit {background-image:url(/sax/WebResource.axd?d=U8e5vZc7bOAvWOXqP07vW4RP6RRsdGsd1wtLGmIUuqq1aamFY_m6Zjh9HqQL51oI0&t=634052047345046736);}
.DetailsTable a.web {background-image:url(/sax/WebResource.axd?d=U8e5vZc7bOAvWOXqP07vW5ztdbo4Ac8ryvPwLeDiv804Eyoj32rEZu-XmMyrm71u0&t=634052047345046736);}
.DetailsTable a.ask {background-image:url(/sax/WebResource.axd?d=U8e5vZc7bOAvWOXqP07vW_Jmhyl0O8uVp4UJ3WcNsle1VhUD71XfjV7gKCHek_hh0&t=634052047345046736);}
.DetailsTable a.stop {background-image:url(/sax/WebResource.axd?d=U8e5vZc7bOAvWOXqP07vWykiRf1Mwgu1EAH9r1EZeuscbAWstevudv_p6Z8RcOiJ0&t=634052047345046736);}
.DetailsTable a.add {background-image:url(/sax/WebResource.axd?d=U8e5vZc7bOAvWOXqP07vW-clsDEgQk9N-9ZEq1yIQshAC2aMev_oozp3SwkCTMPW0&t=634052047345046736);}

.DetailsTable a.big
{
    font-size:16px;    
}

.DetailsTable a.big
{
    font-size:16px;    
}

.activities-table
{
    text-align:left;
}


.Details
{
	padding:0px;
}

.Details fieldset
{
	padding:0px;
}
.Details table
{
	padding:0px;
	width:100%;
}

.Details td,
.Details th
{
	padding:5px;
	border-top:1px solid #CAD9EA;
}

.Details td a
{
	display:block;
}
.Details td a:hover
{
	font-weight:bold;
}

.DetailsLabel
{
	width:15%;
	border-right:1px solid #CAD9EA;
	
}
.Details Legend
{
	padding:3px;
	margin-left:10px;
	background-color:#fff;
}

.Details tr {border-top:1px solid #CAD9EA;}

.Details th ,
.DetailsRowAlternate, .Details .alternate{background-color:#F0F6FD;}

.DetailsText {padding:10px;}

.DetailsText img {padding:3px;border:1px solid #CAD9EA;}

.DetailsTextMiddle
{
	border-top:1px solid #CAD9EA;
	padding:10px;
}
