﻿body.Folder_Vapp {
    background: #fff;
}

    body.Folder_Vapp .breadcrumb {
        background: transparent;
        overflow: hidden;
        -webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0);
        -moz-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0);
        box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0);
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }

#ColCX .panel {
    margin: 0px;
}

.at-ul li {
    list-style: none;
}

    .at-ul li a {
        display: block;
        padding: 10px;
        color: #06c
    }

#ColCX_Content_IS .page-header h1 {
    margin-top: 0px;
}

#PanelGroupDescription .panel-default, .details-div .panel-default, .sub-body .panel-default, #PanelGroupSearch .panel-default {
    background: #ffffff;
    border-radius: 0px;
    box-shadow: 0 0px 0px 0 rgba(50, 50, 50, 0.0);
    overflow: hidden;
}

.details-div .panel-default {
    margin-bottom: 10px;
}

#PanelGroupDescription .panel {
    margin-bottom: 10px;
}

#PanelGroupDescription .panel-heading h4,
#at-searchform .panel-heading h4 {
    text-align: left;
}

#PanelGroupDescription .panel-body ul {
    list-style: none;
}

.DetailSheetController {
    margin-top: 10px;
    margin-bottom: 10px;
}
/*ICON FONTAWESOME*/
#PanelGroupDescription .panel-default .panel-title a:before,
.details-div .panel-default .panel-title a:before,
.sub-body .panel-default .panel-title a:before,
#at-searchform .panel-heading .panel-title a:before,
.at-li a:before,
.at-main-container .panel-title a:before {
    display: block;
    float: left;
    overflow: hidden;
    font-family: 'FontAwesome';
    font-weight: normal;
    margin-right: 10px;
    color: #2079d4;
    width: 28px;
}

.at-main-container .panel-title a:before {
    content: "\f03a";
}

.at-main-container .panel-title {
    text-align: left;
}

.details-div .panel-default .panel-title a:before {
    content: "\f03a";
}

#PanelGroupDescription .panel-default .panel-title a:before {
    content: "\f078";
}

.sub-body .panel-default .panel-title a:before, #at-searchform .panel-heading .panel-title a:before {
    content: "\f002";
}

.at-li a:before {
    color: #2079d4;
    content: "\f061";
}


.ambiti-obbligo-ul li {
    list-style: none;
    display: inline-table;
    margin: 0px 0px 0px 20px;
}

    .ambiti-obbligo-ul li .popover {
        font-size: 13px;
        max-width: 500px;
    }

.table.DetailsContainer > tbody > tr > td,
.table.DetailsContainer > tbody > tr > th,
.table.DetailsContainer > tfoot > tr > td,
.table.DetailsContainer > tfoot > tr > th,
.table.DetailsContainer > thead > tr > td,
.table.DetailsContainer > thead > tr > th {
    border: none;
}

.table.DetailsContainer td,
.table.DetailsContainer th {
    padding: 8px !important;
}

.table.DetailsContainer a.allegato::before, .table.DetailsContainer a.link::before {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    font-size: 0.76rem;
    line-height: 1;
    position: relative;
    top: -1px;
}

.table.DetailsContainer a.link::before {
    content: "\f0c1";
}

.table.DetailsContainer a.allegato::before {
    content: "\f0f6";
}


.table.DetailsContainer a.allegato span, .table.DetailsContainer a.link span {
    padding-left: 6px;
}

.table.DetailsContainer a.allegato, .table.DetailsContainer a.link {
    text-decoration: none;
}

    .table.DetailsContainer a.allegato:hover, .table.DetailsContainer a.link:hover {
        text-decoration: underline;
    }

/*Toolbar Test*/
.titlesectionnav a {
    font-weight: 700;
}

#ToolbarSxButton span {
    padding-left: 6px;
}

.AT-navmenu {
    font-size: 0.86rem !important;
    list-style: none;
    padding: 0px;
}

    .AT-navmenu ul {
        list-style: none;
        padding-left: 10px;
    }

    .AT-navmenu li {
        border-top: .1rem solid #ddd !important;
    }

        .AT-navmenu li .leftpart {
            display: inline;
        }

        .AT-navmenu li a, .AT-navmenu li.open li a {
            padding: 4px !important;
        }

            .AT-navmenu li a:hover {
                background: #d9e6f2;
            }


        .AT-navmenu li.active.open a.current {
            color: #000;
            font-weight: 700;
        }

        .AT-navmenu li.open li a.current {
            background: none;
            color: #000;
            font-weight: 700;
        }

        .AT-navmenu li.open > a > span:after {
            line-height: 1;
            content: "\f077";
        }

        .AT-navmenu li > a > span:after {
            line-height: 1;
            content: "\f078";
        }

        .AT-navmenu li a {
            display: block !important;
            text-decoration: none;
        }

        .AT-navmenu li > a > span:after,
        .AT-navmenu li.open > a > span:after {
            position: relative;
            top: 1px;
            display: inline-block;
            font-family: 'FontAwesome';
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

    .AT-navmenu > li > a > span {
        float: right;
        width: 35px;
        display: inline-block;
        text-align: center;
        margin-top: -3px;
        margin-right: -3px;
    }


.btn-info {
    background-color: #337ab7;
}

    .btn-info a:hover {
        background-color: #004080;
    }

    .btn-info a {
        color: #fff !important;
    }

.DetailSheetContainerElement {
    /*border:1px solid #ddd;margin:20px 0px;*/
}

#chart-container.orgchart.horizontal {
    height: auto !important;
    position: relative;
    width: calc(100% - 80px);
    margin: 0px auto;
    text-align: center;
}

    #chart-container.orgchart.horizontal .node {
        width: 220px;
    }

        #chart-container.orgchart.horizontal .node .toggleBtn {
            bottom: 4px;
            color: rgba(68, 157, 68, 1);
            cursor: pointer;
            font-size: 18px;
        }

        #chart-container.orgchart.horizontal .node .title {
            height: auto;
            line-height: 12px;
            padding: 6px;
            font-weight: normal;
            letter-spacing: 0.05em;
        }

        #chart-container.orgchart.horizontal .node .content {
            font-size: 13px;
        }

        #chart-container.orgchart.horizontal .node .edge {
            color: rgba(0,0,0,1);
            font-size: 22px;
            bottom: -6px;
        }

        #chart-container.orgchart.horizontal .node .title .symbol {
            margin: 0px;
        }


.DetailsRow ul {
    margin: 0px;
    padding: 0px;
}

    .DetailsRow ul li {
        list-style: none;
    }

.node-no_childs {
    padding-left: 15px;
    font-weight: bold;
    color: #204162 !important;
    font-size: 15px;
}

.office-block li {
    margin-bottom: 6px;
}

.office-info {
    padding-left: 20px;
    border-left: 1px solid black;
}

.long-text-column {
    width: 300px;
}

.wordbreak {
    word-break: break-all;
    word-wrap: break-word;
}

.otherRoles {
    border-bottom: 1px solid #ccc;
}

    .otherRoles td {
        font-weight: bold;
        height: 70px;
        vertical-align: bottom !important;
    }

.articolazione-uffici .panel {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 0px !important;
    border: none !important;
    margin: 0px !important;
}

.articolazione-uffici h4 {
    font-weight: normal;
    font-size: 1.2em;
    margin-bottom: 6px;
}

    .articolazione-uffici h4 a {
        color: #23527c;
    }

.articolazione-uffici .office-title {
    font-weight: bold;
    font-size: 1em;
}

.articolazione-uffici .panel-title .office-detail span {
    padding-left: 10px;
}

.articolazione-uffici .panel-heading {
    border: none !important;
    padding: 0px !important;
    margin-top: 4px;
}

.articolazione-uffici .panel-title a::before {
    content: "";
}

.articolazione-uffici .panel-heading .office-title::before {
    font-family: 'FontAwesome';
    content: "\f054" !important;
    ;
    padding-right: 2px;
}

.articolazione-uffici .panel-heading a.collapsed::before {
    font-family: 'FontAwesome';
    content: "\f078" !important;
    padding-right: 2px;
}

.articolazione-uffici .panel-body {
    margin-left: 6px;
    padding: 0px 0px 6px 14px !important;
    border-left: 6px solid #C0E0FF;
}

.at-h4 {
    font-weight: 700;
}

    .at-h4 i {
        margin-right: 6px;
        color: #1FA67A;
    }


#InfoDateAggiornamento {
    font-size: 1.555rem;
}

    #InfoDateAggiornamento span {
        font-weight: bold;
    }

        #InfoDateAggiornamento span::before {
            font-family: 'FontAwesome';
            font-weight: normal;
            content: "\f133" !important;
            color: #06c;
            margin-right: 10px;
        }

.at-main-container legend {
    border-bottom: 1px solid #eee;
}


/**/
@media screen and (max-width: 360px) {

    .breadcrumb-container {
        display: none;
    }

    #MainContentVapp h1 {
        display: none;
    }

    .at-main-container .at-ul {
        padding-left: 0px;
    }

    .at-main-container .at-li a::before {
        margin-right: 0px;
    }

    #PanelGroupDescription .panel-default .panel-title a:before,
    .details-div .panel-default .panel-title a:before,
    .sub-body .panel-default .panel-title a:before,
    #at-searchform .panel-heading .panel-title a:before,
    .at-li a:before,
    .at-main-container .panel-title a:before {
        width: 16px;
    }

    .h2, h2 {
        font-size: 1.2rem;
    }

    .h3, h3 {
        font-size: 1.1rem;
    }

    .h4, h4, #InfoDateAggiornamento {
        font-size: 1rem;
    }
}
/* utility */
.custom_links p {
    font-weight: bold;
    margin-top: 1em;
}

.custom_links ul {
    padding: 0px;
}

    .custom_links ul li {
        list-style: none;
    }

        .custom_links ul li span {
            display: flex;
        }
