*, :after, :before {
    background-color: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important
}

a, a:visited {
    text-decoration: underline
}
