.debug small{ font-size:0.72em;}


/* BREADCRUMB */
.breadcrumb > li + li:before {
    content: "\203A";
}

    .breadcrumb > li + li:before {
        padding: 0px 5px;
    }

.breadcrumb {
    font-weight: 600;/* !important;*/
}
/* END Bredcrumb */

.navbar .close-div {
    background: transparent;
    padding:15px;
}

/* cards template*/
.row [class*="col-"] > .minicard
{
    height:100%;
}

.minicard {
    border: 1px solid #ECEFF1;
    text-decoration: none !important;
    display: flex;
}
.minicard, .minicard a, .minicard h4 {
	font-size: medium !important;
}
.minicard p {
	color: #435a70;
}
.minicard .minicard-text{
	order:1;
	flex:1 1 66%;
}

.minicard .minicard-image {
	order: 2;
	flex: 1 1 33%;
	min-width: 140px !important;
	position:relative;
}
.minicard .minicard-image img{
    height:100%;
    object-fit:cover;
    position:relative;
}
/* menu laterale */
.modulo_menu ul{
    padding:0px;
    list-style-type:none;
}
.modulo_menu ul li a{
    display:block;    
    line-height:2.3em;
    font-size:.889em;
    text-decoration:none;
}
.modulo_menu ul li a:hover:not(.disabled) {
    text-decoration: underline;
}

.modulo_menu ul li a .selected { font-weight:bold;}

.modulo_menu ul > li li 
{
    padding-left:10px;
}
/* fine menu laterale */

/* form reset */

.form-group label {
    width: auto !important;
    /*top: -12px;*/
    padding: 0px;
    transition: none 0s ease 0s;
}
.label-privacy-condition{
    position:relative !important;
}

.form-group .date::-webkit-input-placeholder {
    color: transparent;
}

.form-group .date:-moz-placeholder { /* Firefox 18- */
    color: transparent;
}

.form-group .date::-moz-placeholder { /* Firefox 19+ */
    color: transparent;
}

.form-group .date:-ms-input-placeholder {
    color: transparent;
}
.form-group .dropdown-vf label{}

.form-group .invalid-feedback {
    position: absolute;
    bottom: -26px;
    display:block;
}
.form-group .bootstrap-select-wrapper {
    margin-bottom: 3rem;
}

.form-group.checkbox-vf label {
    margin-left: 30px;
}
/* end form reset */

/*menu item for home section*/
.topmenu-items {
    border-top: 1px solid #e0e0e0;
}
.topmenu-items ul {        
        display: block;
        margin-top: 20px;
        width:100%;
    }

    .topmenu-items li {
        width: 100%;
        text-align: right;
    }
	
.searchFieldset [data-toggle="collapse"]::before
{
	font-size:1.4em;
	font-family:FontAwesome;
	content: "\f107";
	float: right;	
	line-height: .1rem;
	margin-top:10px;
	margin-left:15px;
	-webkit-transition: -webkit-transform .3s;
	transition: transform .3s;
	transition: transform .3s,-webkit-transform .3s;	
}
.searchFieldset [data-toggle="collapse"][aria-expanded="true"]::before{
	content: "\f106";
}

/* owl arrow*/
.owl-nav{
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
}
    .owl-nav .disabled {
        display: none;
    }

    .owl-nav .owl-prev, .owl-nav .owl-next {
        position: absolute;
        height: 190px;
        color: inherit;
        background: none;
        border: none;
        z-index: 100;
    }

        .owl-nav .owl-prev i, .owl-nav .owl-next i {
            font-size: 2.5rem;
            color: #cecece;
        }


    .owl-nav .owl-prev {
        left: 0;
    }

    .owl-nav .owl-next {
        right: 0;
    }

/*end owl arrow*/

/*LoginHeaderControl*/
.LoginHeaderControl .dropdown-menu{
    min-width:12rem !important;
}

.LoginHeaderControl .it-user-wrapper.dropdown .icon {
    margin-left: 0px !important;
}
/*end LoginHeaderControl*/

.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    padding-right: 24px;
    position: relative;
    z-index: 2;
}

.mandatory-vfm {
    text-align: right;
}

#_anagrafica .h4 {
    text-align: center;
    margin-bottom: 6px;
}

#_anagrafica .control-label {
    position: inline-block;
}

#userRegister_user .info-vfm {
    margin-bottom: 10px;
}

.no-rounded {
    border-radius: 0px;
}

.login-page .NotifyArea ul{ list-style:none;}


.form-group input, .form-group optgroup, .form-group textarea {
    color: #fff;
}

#sectioncontent .row {
    margin-left: 0px;
    margin-right: 0px;
}

#ColCX.col-md-12 {
    padding-left: 0px;
    padding-right: 0px;
}

.spid-sp-access-button {
    text-align: center;
}
.spid-button {
    display: block !important;
}
/*.spid-enter-container {
    display: block !important;
}*/

.spid-idp-button * {
    box-sizing: content-box;
}