﻿/*#albo_toolbar
{
    border:1px solid #CAD9EA;  
    margin:20px auto;    
    width:90%;  
    background-color:#eee;
}

#albo_toolbar h1
{
    background:url(images/folder.gif) repeat-x 0px 0px !important; 
    height:30px;
    font-size:1.2em;
    line-height:2.3em;
    margin-bottom:20px;
    margin-top:-1px;
}

#albo_toolbar ul 
{
    height:130px;
    padding:0px;    
    width:540px;
    margin:0px auto;
}

#albo_toolbar ul li
{   
    float:left;
    padding-left:2px;
    padding-right:2px;
    list-style:none;
    
}

#albo_toolbar ul li a
{
    display:block; 
    text-decoration:none;
    font-weight:bold;
    font-size:14px !important;
    padding-top:10px;
    border:1px solid #eee;    
    width:100px;
    height: 86px;    
}
#albo_toolbar ul li a:hover
{
    border:1px solid #ccc;    
    background-color:#fff;
}
#albo_toolbar ul li a span
{
    display:block;
    width:100px;
}

#albo_toolbar .icon
{
    width:48px;
    height:48px;   
    display:block; 
    margin:0px auto;
}

.vertical_application_toolbar .new_atto .icon { background: url(images/new_atto.png) no-repeat 0px 0px; }
.vertical_application_toolbar .archivio_atto .icon { background: url(images/archivio.png) no-repeat 0px 0px; }
.vertical_application_toolbar .registro_atti .icon { background: url(images/registro.png) no-repeat 0px 0px; }
.vertical_application_toolbar .gest_tipologie .icon { background: url(images/tipologie.png) no-repeat 0px 0px; }
.vertical_application_toolbar .gest_office .icon { background: url(images/office.png) no-repeat 0px 0px; }
*/

.tab th
{
	 background:url(images/folder.gif) repeat-x 0px 0px !important; 
}

/* SearchForm */
/*#SearchForm
{
    width:674px;    
    border:1px solid #ccc;
    margin:20px auto;
    padding-left:10px;
}
#SearchForm .title-vfm
{
    margin:-1px 0px 10px 0px !important;
}
#SearchForm .validatedfield
{
    margin-left:10px;    
}*/

.esitoRicerca
{
    width:98%;
    margin:10px auto;    
}

/* Axf Forms and controls */
/*.Axf
{
    padding:0px !important;    
}

.Axf label
{    
    display:block;  
}

.Axf .title-vfm
{
    text-align:center;
    font-size:1.4em;    
    height:30px;
    background:url(images/folder.gif) repeat-x 0px 0px !important; 
    line-height:2.3em;
    font-weight:bold;
    padding:0px;
    margin:-11px -10px 16px -10px;
}

.Axf input
{
    margin-bottom:10px;  
    padding-top:4px;  
}*/

.ui-datepicker-trigger {
    margin-top: 4px;
    padding-left: 2px;
}


#albopretorio .Details
{
    
}
#albopretorio .Details *{
    font-size:110%;
}
#albopretorio .Details .DetailsText
{
    font-size:1.5em !important;
    text-align:center;
}
#albopretorio .Details .DetailsRow
{
    margin-bottom:2px;    
    font-size:1.1em;
}
#albopretorio .Details .DetailsRowLabel
{
    font-weight:bold;    
}

#albopretorio .Details .DetailsContainer
{
    padding-left:10px;
}

#albopretorio .Details .fieldAllegati
{
    margin-bottom:10px;    
}

#albopretorio .Details .fieldAllegati ul li
{ 
    list-style:none; 
    padding-left:10px;
       
}



#albopretorio .Details .fieldAllegati ul li a
{ 
    font-size:0.9em;
    height:38px;
    text-decoration:none;
    display:block;
    line-height:2em;
}
#albopretorio .Details .fieldAllegati ul li span
{
    margin-left:35px;    
}

#albopretorio .Publish *
{
    font-size:110%;
}
#albopretorio .Publish p
{
    margin-bottom:10px;    
}
#albopretorio .Certify *
{
    font-size:110%;
}
#albopretorio .uploadCertify #save
{
    font-size:120%;
    width:100px;
    height:30px;
}



#albopretorio .pdf
{
     background: url(ico/pdf.png) no-repeat;
}
#albopretorio .p7m
{
     background: url(ico/p7m.gif) no-repeat;
}
#albopretorio .doc, #albopretorio .docx, #albopretorio .rtf
{
     background: url(ico/doc.png) no-repeat;
}