
.vertical_application_toolbar li a 
{
	height:80px;
}

/*Form associa medico */
.medico-detail .dropdown-vf{
	width:260px;
	float:left;
	margin-right:4px;
}
.medico-detail .dropdown-vf select{
	width:260px;
}
.medico-detail .submit-vf{
	width:100px;
	margin-top:18px;	
}

/*form importazione massiva*/

.btnContainer{

}