﻿
/*.tab th
{
	 background:url(images/folder.gif) repeat-x 0px 0px !important; 
}*/

.esitoRicerca
{
    width:98%;
    margin:10px auto;    
}


.ui-datepicker-trigger {
    margin-top: 4px;
    padding-left: 2px;
}


#albopretorio .Details
{
    
}
#albopretorio .Details *{
    /*font-size:110%;*/
}
#albopretorio .Details .DetailsText
{
   /* font-size:1.5em !important;*/
    text-align:center;
}
#albopretorio .Details .DetailsRow
{
    margin-bottom:2px;    
    /*font-size:1.1em;*/
}
#albopretorio .Details .DetailsRowLabel
{
    font-weight:bold;    
}

#albopretorio .Details .DetailsContainer
{
    padding-left:10px;
}

#albopretorio .Details .fieldAllegati
{
    margin-bottom:10px;    
}

#albopretorio .Details .fieldAllegati ul li
{ 
    list-style:none; 
    padding-left:10px;
       
}



#albopretorio .Details .fieldAllegati ul li a
{ 
    font-size:0.9em;
    height:38px;
    text-decoration:none;
    display:block;
    line-height:2em;
}
#albopretorio .Details .fieldAllegati ul li span
{
    margin-left:35px;    
}

#albopretorio .Publish *
{
    font-size:110%;
}
#albopretorio .Publish p
{
    margin-bottom:10px;    
}
#albopretorio .Certify *
{
    font-size:110%;
}
#albopretorio .uploadCertify #save
{
    font-size:120%;
    width:100px;
    height:30px;
}



#albopretorio .pdf
{
     background: url(ico/pdf.png) no-repeat;
}
#albopretorio .p7m
{
     background: url(ico/p7m.gif) no-repeat;
}
#albopretorio .doc, #albopretorio .docx, #albopretorio .rtf
{
     background: url(ico/doc.png) no-repeat;
}