.element-legend span {
    margin-left: 0.4em;
    font-weight: bold;
}

.badge-circle {
	width: 15px;
    height: 15px;
    border-radius: 50%;
	float: left;
}

.badge-circle.badge-light {
    color: #000;
    background-color: #e9e6f2;
}

.badge-circle.badge-info {
    color: #000;
    background-color: #979899;
}

.badge-circle.badge-warning {
    color: #fff;
    background-color: #a66300;
}

.badge-circle.badge-primary {
    color: #fff;
    background-color: #06c;
}

.badge-circle.badge-danger {
    color: #fff;
    background-color: #d9364f;
}

.badge-circle.badge-success {
    color: #fff;
    background-color: #008758;
}
.badge-circle.badge-yellow {
    color: #fff;
    background-color: #ffda73;
}
 .tablecommunication {
	/* font-family: FontAwesome !important;
border-color:#999 !important; 
background-color: #FFFFFA;
font-family: "Font Awesome 5 Free";
font-weight: 900;*/	
}
