﻿#side
{
    display:none;    
}

.editorContainer
{
    width:100%;   
    background-color:#fff;    
    padding-top:4px;
}

.bodyContainer
{
    width:1000px;
    height:800px;    
    border:1px solid #DDDDDD;
    border-radius:4px;
    margin:0px auto;
    
}

.bodyContainer .preview
{
    display: none;
}

.bodyContainer .region
{
    border:1px solid #DDDDDD;
    border-radius:4px;
    padding:4px 8px;
    margin:10px;
    min-height:100px;    
}

.bodyContainer .region-label
{
        
}

.bodyContainer .region-element
{
    text-align:left;    
}

.bodyContainer .region-element
{
    position:relative;
}

.bodyContainer .drag
{
    right:60px !important;    
}

/* area widget */

.widgetContainer
{
    width:200px;    
    height:800px;    
    /*border:1px solid black;*/
    margin:2px;
    left:0px;
    top:112px;
    position:absolute;   
}

.widgetContainer .view, .widgetContainer .remove {
    display: none;
}

.widgetContainer .preview {
    color: #666666;
    display: block;
    font-size: 12px;
    line-height: 22px;
    text-align:left;
}

.widgetContainer .region-element
{
    color: #666666;
    display: block;
    font-size: 12px;
    line-height: 22px; 
    padding-left:10px;
}

.label {
    border-radius: 3px 3px 3px 3px;
}

.drag {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
}

.remove {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 10;
    background-color:#953B39 !important; 
    color:#fff !important;       
}

.label{
    background-color: #999999;
    color: #FFFFFF;
    display: inline-block;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    padding: 2px 4px;
    text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    white-space: nowrap;
}

