﻿.allowleft
{
    float: left;
    text-align: center;padding:5px;}

.allowleft select
{
    border: 1px solid #CAD9EA;
}

.allowright
{
    float: left;
    padding:5px;
    height:500px;
    border-left: 1px solid #CAD9EA;
}


.CategoryAllowControl
{
    float: left;
    border-right: 1px solid #CAD9EA;
    padding:5px;height:500px;
}
.CriteriaAllowControl
{
    float: left;
    margin-left:10px;
    padding:5px;height:500px;
}
.AllowsFieldset
{
    width:95%;
}

.clear
{
    clear:both;
}

.hidden
{
    display:none;
}

.listbox
{
    width:150px;
    border:1px solid #cccccc;
    height:100px;
}

.FileChoserTable
{
	width:500px;
	border: 1px solid;
	padding:0px;
	margin:0px;
	border-color:#A5ACB2;
}
.FileChoserTable td
{
	padding:0px;
	margin:0px;
}
.FileChoserTable p
{
	padding:0px;
	margin:0px;
}

.FileChoserTable label
{
	padding:5px;
	text-align:center;
	background-color:#dfdfdf;
}
.FileChoserTable select
{
	width:100%;
	border-color:#A5ACB2;
	border-left: 0px solid;
	border-right: 0px solid;
	border-bottom: 0px solid;
	border-top:1px solid #A5ACB2;
	height:200px;
}

.FileChoserDX
{
	width:200px;
	max-width:200px;
}

.FileChoserSX
{
	width:200px;
}
.FileChoserSX select
{
	width:200px;
	overflow:scroll;
}
.FileChoserDX select
{
	width:200px;
	overflow:scroll;
}

.FileChoserCX
{
	width:100px;
	border-left: 1px solid;
	border-right: 1px solid;
	border-color:#A5ACB2;
}

.FileChoserCX input
{
	width:100%;
	height:74px;
	font-weight:bold;
	border:0px solid;
	border-bottom:1px solid;
	border-color:#A5ACB2;
}

.FileChoserTitle
{
	font-weight:bold;
	margin-bottom:0;
	
}
.FileChoserPreviewBox
{
	width:500px;
	height:300px;
	border:0px;
	display:none;
	padding:0px;
	margin:0px;
	border-top:1px solid #A5ACB2;
}

.FrontUserSelectControl
{

background-color: #D3D6DD;
width:100%;
}

.FrontUserSelectControl_Contents
{
	border: 3px solid  #D3D6DD;
}

.FrontUserSelectControl table
{
margin: 0px auto;
margin-top: 0px;
width:100%;
text-align:left;
background-color: #FFFFFF;
}

.FrontUserSelectControl table th
{
padding:4px;
color:#323E5B;
border-right:1px solid #949AA0;
background-color:  #CAD9EA;
background-color:#CAD9EA;
background-image:url('images/folder_jpg.jpg');
}

.FrontUserSelectControl table td
{
border-bottom: 1px solid #C2CCD9;
border-color:#C2CCD9;
border-right: 1px solid  #CAD9EA;
}


.FrontUserSelectControl .Title
{
	background:url('images/sideelem.jpg') repeat-x;
	background-position:0px 0px;
	text-align:center;
	color:White;
	font-weight:bold;
	padding:3px;
	
}
.FrontUserSelectControl .Search
{
	background:url('images/usersearchback.png') no-repeat;
	background-position:0px 2px;
	text-align:left;
	
	padding-top:8px;
	height:22px;
}

.FrontUserSelectControl .Search .textbox
{		
	margin-left:9px;
	border:0px;
	background-color:Transparent;
	width:437px;

}
.FrontUserSelectControl .btsearch
{		
	background-image:url('images/usersearchbt.png');
	background-repeat:no-repeat;
	padding:4px 17px 6px 0px;
	border: 0px;	
	text-decoration:none;
}
.FrontUserSelectControl .btsearch:hover
{		
	background-image:url('images/usersearchbt_Hover.png');
	background-repeat:no-repeat;
}
.FrontUserSelectControl .btsearch span, .FrontUserSelectControl .btreset span { display:none;}
.FrontUserSelectControl .btreset
{		
	background-image:url('images/usersearchreset.png');
	background-repeat:no-repeat;
	padding:4px 11px 6px 10px;
	border: 0px;	
	text-decoration:none;
}
.FrontUserSelectControl .btreset:hover
{		
	background-image:url('images/usersearchreset_hover.png');
	background-repeat:no-repeat;
}



.PageNavigator
{
}
.PageNavigator a
{
background-color: #FFFFFF;
display:block;
float:left;
height:18px;
border-right:1px solid #C0C7CF;
border-left:0px solid #C0C7CF;
border-bottom:1px solid #C0C7CF;

text-decoration:none;	
padding:6px 6px 0px 6px;
color:black;
background-color:#F2F3F5;
}

.PageNavigator span
{
height:18px;
border-right:1px solid #C0C7CF;
border-bottom:1px solid #C0C7CF;
display:block;
float:left;	text-decoration:none;padding:6px 2px 0px 2px;
color:black;
background-color: #F2F3F5;
}

.PageNavigator .numbers
{
width:20px;
height:18px;
text-decoration:none;
text-align:center;
padding:6px 2px 0px 2px;
color:black;
background-color:#F2F3F5;
}

.PageNavigator .selected
{
display:block;
float:left;
height:20px;
border:1px solid #CAD9EA;
border-left:0px solid #CAD9EA;
text-decoration:none;	
padding:2px 2px 2px 2px;
color:black;
background-color:#F2F3F5;	

}


.PageNavigator a:hover
{
background-color:#FFFFEE;	
color:black;
}

.PageNavigator .clear
{
	clear:both;
}

.EnabledUsersView
{	
	border: 3px solid  #D3D6DD;
	margin-left:3px;
	padding:5px;
}

.EnabledUsersView select
{	
	border: 1px solid  #D3D6DD;
	width:200px;
}

.categoria_forum
{
	background-image:url('images/sidetoolbarback.jpg');
	background-repeat:repeat-y;
	background-position:top right;
	
}

.categoria_forum a
{
	background-image:url('images/cat.png');
	background-position:center left;
	background-repeat:no-repeat;
	padding:5px;
	
	display:block;
	padding-left:20px;
	font-weight:bold;	
	text-decoration:none;
	
}
#forumadmin .off a
{
    background-image:url('images/icons/comment_delete.png');
	background-position:center left;
	background-repeat:no-repeat;
	padding-left:20px;

    color:#ff0000;
}

.categoria_forum a:hover
{
	background-color:#FFFFEE;
}
.singleforum a
{
	background-image:url('images/icons/comments.png');
	
	background-position: 15px 3px;
	background-repeat:no-repeat;
	padding:5px 0px 0px 35px;
	
	display:block;
	font-weight:bold;	
	text-decoration:none;
	
}
.descrizione_forum
{
	padding:0px 0px 5px 40px;
	
}
#divforum .stelle5{
    background-image:url('images/icons/star.png');
    background-repeat:repeat-x;
    width:81px;
    height:15px;
}
#divforum .stelle4{
    background-image:url('images/icons/star.png');
    background-repeat:repeat-x;
    width:65px;
    height:15px;
}
#divforum .stelle3{
    background-image:url('images/icons/star.png');
    background-repeat:repeat-x;
    width:49px;
    height:15px;
}
#divforum .stelle2{
    background-image:url('images/icons/star.png');
    background-repeat:repeat-x;
    width:33px;
    height:15px;
}
#divforum .stelle1{
    background-image:url('images/icons/star.png');
    background-repeat:repeat-x;
    width:16px;
    height:15px;
}
.NetUpDown_ListBox
{
	width:200px;
}

.NetUpDown_UpBt
{
	background-image:url('images/arrow_up.gif');
	background-repeat:no-repeat;
	background-position:top;	
	color:#FFFFFF;
	width:13px;
	height:12px;
	display:block;
	border:1px solid #ffffff;
	margin-top:20px;
}

.NetUpDown_UpBt:hover
{
	border:1px solid #ff0000;
}

.NetUpDown_UpBt span
{
	display:none;	
}

.NetUpDown_DownBt
{
	background-image:url('images/arrow_down.gif');
	background-repeat:no-repeat;
	background-position:top;
	color:#FFFFFF;
	width:13px;
	height:12px;
	display:block;
	border:1px solid #ffffff;
}

.NetUpDown_DownBt:hover
{
	border:1px solid #ff0000;
}

.NetUpDown_DownBt span
{
	display:none;	
}

.NetUpDown
{
	border:1px solid #dddddd;	
	padding: 3px;
	margin: 3px;
}

.NetUpDown tr
{
	border:0px solid;	
}

.NetUpDown td
{
	border:0px solid;	
}


.CRM_UpDx
{
	float:left;
	width:43%;
	margin-left:20px;
}
.CRM_UpSx
{
	float:left;
	width:43%;
	margin-left:20px;
}

.CRM_Contents
{
	clear:left;
}