﻿#modulo_richiesta_global {
	width:760px;
	float:left;
	border-left: 1px solid #777777;	
}	
#modulo_richiesta_global #servizi_famiglia_container,
#modulo_richiesta_global #container-composizione,
#modulo_richiesta_global #container-sottoscrizione {
	width:auto !important;
	text-align:left !important;
	margin:0px auto 20px 0px !important;
	padding-left:20px;
	border:none;
	border-bottom: 2px solid #777777;
}
#modulo_richiesta_global #servizi_famiglia_container label,
#modulo_richiesta_global #container-composizione label,
#modulo_richiesta_global #container-sottoscrizione label{
	padding-right:10px;
}

#modulo_richiesta_global #servizi_famiglia_container input[type="text"],
#modulo_richiesta_global #container-composizione input[type="text"],
#modulo_richiesta_global #container-sottoscrizione input[type="text"],
#modulo_richiesta_global #servizi_famiglia_container select,
#modulo_richiesta_global #container-composizione select,
#modulo_richiesta_global #container-sottoscrizione select
{
	margin:0px 10px 10px 0px;
}

#modulo_richiesta_global #servizi_famiglia_container table,
#modulo_richiesta_global #container-composizione table,
#modulo_richiesta_global #container-sottoscrizione table {
	margin-bottom:10px;
}
#modulo_richiesta_global #servizi_famiglia_container td,
#modulo_richiesta_global #container-composizione td,
#modulo_richiesta_global #container-sottoscrizione td,
#modulo_richiesta_global #servizi_famiglia_container th,
#modulo_richiesta_global #container-composizione th,
#modulo_richiesta_global #container-sottoscrizione th
{
	padding:4px;
}

.dettaglio.richiesta {
	border:1px solid #ccc;	
	float:left;
	margin:10px;
	background:#fff;
}
.info_state_richiesta.workflow {
	font-weight:bold;
	margin:-14px auto 20px;
	padding:4px;
	text-transform: uppercase;
	background:#F4F4F4;
	width:230px;
}
.operazioni_valida_respingi {
	margin-bottom:30px;	
}
.tab .details a {
	background-position:0px 0px;	
}

.validate.button_green,
.reject.button_red
 {
	padding:15px !important;
	height:47px;	
}


.validate.button_green {
	background: #a4b357; /* Old browsers */	
	background: -moz-linear-gradient(top,  #a4b357 0%, #75890c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4b357), color-stop(100%,#75890c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a4b357 0%,#75890c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a4b357 0%,#75890c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a4b357 0%,#75890c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a4b357 0%,#75890c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c',GradientType=0 ); /* IE6-9 */		
}




.reject.button_red {
	background: #ff3019; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}
.tab .delete a {
   padding: 8px 0;
}
.statistiche table {
	width:100%;	
	margin:20px 0px 0px 0px;
}
.statistiche table td, .statistiche table th {
	padding:4px;		
}
.statistiche table td {
	background:#fff;
}
.statistiche .rimuovi_statistica {
	float:right;
	width:48px;
	margin-bottom:10px;	
	display:block;	
	clear:right;
	padding:4px 4px 4px 24px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:1px solid #fff;
	text-decoration:none;
	
	-webkit-box-shadow:  0px 0px 2px 0px rgba(0, 0, 0, 0.5);        
    box-shadow:  0px 0px 2px 0px rgba(0, 0, 0, 0.5);
}
.statistiche .rimuovi_statistica, 
.statistiche .rimuovi_statistica:hover {
	background-position: 0px 0px !important;
	background-repeat:no-repeat !important;
}
.rimuovi_statistica {
background: #6cab26;
background-image: url("images/cancel.png"); /* fallback */
background-image: url("images/cancel.png"), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e5e5e5)); /* Saf4+, Chrome */
background-image: url("images/cancel.png"), -webkit-linear-gradient(top, #ffffff, #e5e5e5); /* Chrome 10+, Saf5.1+ */
background-image: url("images/cancel.png"),    -moz-linear-gradient(top, #ffffff, #e5e5e5); /* FF3.6+ */
background-image: url("images/cancel.png"),     -ms-linear-gradient(top, #ffffff, #e5e5e5); /* IE10 */
background-image: url("images/cancel.png"),      -o-linear-gradient(top, #ffffff, #e5e5e5); /* Opera 11.10+ */
background-image: url("images/cancel.png"),         linear-gradient(top, #ffffff, #e5e5e5); /* W3C */	
}


.statistiche .rimuovi_statistica:hover {
background: #ffffff;
background-image: url("images/cancel.png"); /* fallback */
background-image: url("images/cancel.png"), -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#e5e5e5)); /* Saf4+, Chrome */
background-image: url("images/cancel.png"), -webkit-linear-gradient(top, #e5e5e5, #ffffff); /* Chrome 10+, Saf5.1+ */
background-image: url("images/cancel.png"),    -moz-linear-gradient(top, #e5e5e5, #ffffff); /* FF3.6+ */
background-image: url("images/cancel.png"),     -ms-linear-gradient(top, #e5e5e5, #ffffff); /* IE10 */
background-image: url("images/cancel.png"),      -o-linear-gradient(top, #e5e5e5, #ffffff); /* Opera 11.10+ */
background-image: url("images/cancel.png"),         linear-gradient(top, #e5e5e5, #ffffff); /* W3C */	
}

#statisticheFieldset .reportChart {
	margin:0px auto 50px auto;
	text-align:center;
	border-bottom:2px solid #ccc;	
	padding:30px 0px 30px 0px;
	background:#fff;
	
	-webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.3);        
    box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
#statisticheFieldset .dropdown-vf {
	text-align:right;	
	background:#fff;
	margin-bottom:0px;
	padding:10px;
}



