﻿.AxtTable
{
	width:100%;	
	border:1px solid #eeeeee;
}

.AxtTable *
{
	border-collapse:collapse;
}

.AxtTable th
{
	padding:4px;
	color:#323E5B;
	border-right:1px solid #949AA0;
	background-color:#CAD9EA;	
}
.AxtTable a{text-decoration:none;}

.AxtTable .last
{
	border-right:0px solid #949AA0;	
}

.AxtTable .alternate{ background-color: #F0F6FD;}
.AxtTable tr:hover {background-color: #F0FFED;}

.AxtTable td
{
	border-right: 1px solid #CAD9EA;
	border-bottom: 1px solid #CAD9EA;
	border-color:#CAD9EA;
	height:24px;
}


.AxtTable .action a span{ display:block; padding:3px;font-weight:normal;}
.AxtTable .alternate .action a{border-color:#F0F6FD;}
.AxtTable .action a
{
	display:block;
	float:left;
	background:url(images/icons/error.png) no-repeat center left;
	padding-left:16px;
	
	height:19px;		
	border:1px solid #ffffff;
	margin:1px;	
	font-weight:normal;
	
}
.AxtTable .action a:hover
{
	background-color:#ffffee;
}
.AxtTable .approve a{background-image:url(images/icons/accept.png);}
.AxtTable .approve a:hover{background-color:#F0FFED;border-color:#3B9736;}

.AxtTable .refuse a{background-image:url(images/icons/stop.png);}
.AxtTable .refuse a:hover{background-color:#ED7575;border-color:#AD1514;}
.AxtTable .refuse a:hover span{color:White;}

.AxtTable .new a{background-image:url(images/icons/page_add.png);}
.AxtTable .new a:hover{background-color:#F0FFED;border-color:#3B9736;}

.AxtTable .delete a{background-image:url(images/icons/delete.png);}
.AxtTable .delete a:hover {background-color:#AD1514;color:#FFFFFF;}

.AxtTable .ask a{background-image:url(images/icons/question.png);}
.AxtTable .ask a:hover{background-color:#C1E1F1;border-color:#77C8F1;}

.AxtTable .publish a{background-image:url(images/icons/publish.png);}
.AxtTable .publish a:hover{background-color:#F0FFED;border-color:#3B9736;}

/* Classi per tasto modifica delle tabelle */
.AxtTable .home a{background-image:url(images/icons/house.png);}
.AxtTable .home a:hover {background-color:#FFFFEE;color:#FFFFFF;}

/* Classi per tasto modifica delle tabelle */
.AxtTable .modify a {background-image:url(images/icons/modify.png);}
.AxtTable .modify a:hover {background-color:#FFFFEE;color:#FFFFFF;}

/* Classi per tasto dettagli delle tabelle */
.AxtTable .details a {background-image:url(images/icons/preview.png);}
.AxtTable .details a:hover {background-color:#E9E9E9;color:#444444;}

/* Classi per tasto abilita delle tabelle */
.AxtTable .Abilita a {background-image:url(images/icons/add.png);}
.AxtTable .Abilita a:hover {background-color:#E0F6DC;color:#000000}

/* Classi per tasto disabilita delle tabelle */
.AxtTable .Disabilita a{background-image:url(images/icons/stop.png);}
.AxtTable .Disabilita a:hover {background-color:#AD1514;color:#FFFFFF;}

/* Classi per tasto add delle tabelle */
.AxtTable .add a {background-image:url(images/icons/add.png);}
.AxtTable .add a:hover {background-color:#E0F6DC;color:#000000}

/* Classi per tasto add delle tabelle */
.AxtTable .langs a {background-image:url(images/icons/flags/ue.png); background-position: 5px center;}
.AxtTable .langs a:hover {background-color:#E0F6DC;color:#000000}

/* Classi per Tasto link delle tabelle */
.AxtTable .link a{background-image:none; padding-left:0px;}
.AxtTable .link a:hover {background-color:#FFFFEE;color:#000000;}
.AxtTable .link a:hover span {color:#333333;}
.AxtTable .link span {margin-left:5px;}

.AxtTable .preview a span{ display:none;}
.AxtTable .preview a
{
	display:block;
	background:url(images/icons/details.png) no-repeat center;
	/*width:22px;*/
	padding: 0px 7px;
	
	height:22px;		
}
.AxtTable .preview a:hover
{
	background-color:#C1E1F1;
}

/* Pagination */

.pagination
{
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    font-size:12px;
    padding:4px;
    position:relative;
}
.pagination .pagination-next,
.pagination .pagination-last,
.pagination .pagination-prev,
.pagination .pagination-first,
.pagination .pagination-overview
{
    border-left:1px solid #ccc;
    padding:4px 8px;
    font-size:12px;
}
.pagination a:hover
{
    background-color:#eee;
    color:black;
}

.pagination .pagination-overview
{
    border-left:0px solid #ccc;
}
.pagination .pagination-number
{
    border-left:1px solid #ccc;
    padding:4px 8px;
    font-size:12px;
}
.pagination .pagination-number.current
{
    font-weight:bold;
    background-color:#eee;
}
.pagination .pag-button
{   
    
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	
    text-shadow: 1px 1px 3px #ccc;
    -moz-text-shadow: 1px 1px 3px #ccc;
    -webkit-text-shadow: 1px 1px 3px #ccc;
    
    color: #555;
    border:1px solid #ccc;
    text-decoration:none;
    
    border-top: 0px solid #ccc;
    border-bottom: 0px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 0px solid #ccc;
    padding: 3px 4px 2px 4px;
}

.pagination .pagination-goto
{
   position:absolute;
   top:0px;
   right:0px;
    
}
.pagination .pagination-goto input
{
    font-size: 12px;
}
.pagination .pag-textbox
{
    border-top: 0px solid #ccc;
    border-bottom: 0px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 4px 4px 3px 4px;
    width:30px;
    text-align:center;
}
