﻿.ErrorAlert
{
	background-image:url('images/alert.png');
	background-repeat:no-repeat;
	height:85px;
	padding-left:130px;
	padding-top:45px;
	font-weight:bold;
	font-size:14px;	
}

.DetailTitle
{
	padding:4px 4px 3px 4px;
	color:#323E5B;
	background-color:  #CAD9EA;
	background-color:#CAD9EA;
	background-image:url('images/overtitle.png');
	text-align:center;
	font-weight:bold;
}
.DetailBlock
{
	background-color:#B9D3EA;
}
.DetailFrameContainer
{
	margin:9px;
	border: 1px solid #7692AA;
	text-align:left;	
}
.DetailFrameError
{
	width:100%;
	height:800px;
	border:0px;
	text-align:center;
	color:Red;
	font-weight:bold;
}
.DetailFrame
{
	width:100%;
	height:800px;
	border:0px;
}
.textbox
{
    width:300px;
}
/*Classi per le tabelle generiche
.tab
{
	margin: 0px auto;
	border-top: 1px solid  #CAD9EA;
	border-left: 1px solid  #CAD9EA;
	width:100% ;
	text-align:left;
}

.tab .overtitle
{
	padding:4px;
	color:#323E5B;
	border-right:1px solid #949AA0;
	background-color:  #CAD9EA;
	background-color:#CAD9EA;
	background-image:url(" + ImagesIndexer.GetImageURL(ImagesIndexer.Images.Overtitle) + @");
	text-align:center;
	font-weight:bold;
}*/

.tab th,.GrantReviewTable th
{
	/*
    padding:4px;
	color:#323E5B;
	border-right:1px solid #949AA0;
	background-color:  #CAD9EA;
	background-color:#CAD9EA;
	background-image:url(" + ImagesIndexer.GetImageURL(ImagesIndexer.Images.Folder_Jpg) + @");
*/
}
.GrantReviewInfoTable th
{
	background-image:url('images/overtitle.png');	
}
/*
.tab .alternate,.alterna{ background-color: #F0F6FD;}

.tab td
{
	border-right: 1px solid #CAD9EA;
	border-bottom: 1px solid #CAD9EA;
	border-color:#CAD9EA;
	height:24px;
}
*/
.tab .icon_group
{
	padding:5px;
	background-image:url('images/icons/chart_organisation.png');
	background-position:center;
	background-repeat:no-repeat;
	text-align:center;
	width:20px;
}

.tab .icon_user
{
	padding:5px;
	background-image:url('images/icons/vcard.png');
	background-position:center;
	background-repeat:no-repeat;
	text-align:center;
	width:20px;
}

.tab .delete a
{
display:block;
text-decoration:none;
width:100%;

padding-top:5px;
padding-bottom:6px;

background-image:url('images/cancel.png');
background-position:center left;
background-repeat:no-repeat;
}
.tab .delete a:hover 
{
display:block;
cursor:pointer;
color:#000;
text-decoration:none;
}
.tab .delete a:hover span
{
color:#000;
text-decoration:none;
}
.tab .delete span
{
    margin-left:24px;
    text-decoration:none;
}

.tab .modify a
{
display:block;
text-decoration:none;
width:100%;

padding-top:5px;
padding-bottom:6px;

background-image:url('images/modify.png');
background-position:center left;
background-repeat:no-repeat;
}

.tab .modify a:hover 
{
display:block;

cursor:pointer;
color:#000;
text-decoration:none;
}
.tab .modify a:hover span
{
color:#444444;
text-decoration:none;
}
.tab .modify span
{
margin-left:28px;
text-decoration:none;
}

.tab .service a
{
display:block;
text-decoration:none;
width:100%;

padding-top:5px;
padding-bottom:6px;

background-image:url('images/brick.png');
background-position:center left;
background-repeat:no-repeat;
}

.tab .service a:hover 
{
display:block;
cursor:pointer;
color:#000;
text-decoration:none;
}
.tab .service a:hover span
{
color:#444444;
text-decoration:none;
}
.tab .service span
{
margin-left:28px;
text-decoration:none;
}

.tab .details a
{
display:block;
text-decoration:none;
width:100%;

padding-top:5px;
padding-bottom:6px;

background-image:url('images/preview.png');
background-position:center left;
background-repeat:no-repeat;
}

.tab .details a:hover 
{
display:block;
cursor:pointer;
color:#000;
text-decoration:none;
}
.tab .details a:hover span
{
color:#444444;
text-decoration:none;
}
.tab .details span
{
margin-left:28px;
text-decoration:none;
}
.tab .error a:hover 
{
display:block;
cursor:pointer;
color:#000;
text-decoration:none;
}
.tab .error a:hover span
{
color:#444444;
text-decoration:none;
}
.tab .error span
{
margin-left:28px;
text-decoration:none;
}


.tab .Abilita a
{
display:block;
text-decoration:none;
width:100%;

padding-top:5px;
padding-bottom:6px;

background-position:center left;
background-repeat:no-repeat;
}

.tab .Abilita a:hover 
{
display:block;
cursor:pointer;
color:#000;
text-decoration:none;
}
.tab .Abilita a:hover span
{
color:#444444;
text-decoration:none;
}
.tab .Abilita span
{
margin-left:28px;
text-decoration:none;
}

.tab .Disabilita a
{
display:block;
text-decoration:none;
width:100%;

padding-top:5px;
padding-bottom:6px;

background-position:center left;
background-repeat:no-repeat;
}

.tab .Disabilita a:hover 
{
display:block;
cursor:pointer;
color:#000;
text-decoration:none;
}
.tab .Disabilita a:hover span
{
color:#000;
text-decoration:none;
}
.tab .Disabilita span
{
margin-left:28px;
text-decoration:none;
}

.inner-corpo fieldset
{ 
    padding:10px;  
    margin:25px 5px 40px 5px;
    text-align:left;

	background-color:#fff;	

	border-color:#dfdfdf;
	-moz-box-shadow:inset 0 1px 0 #fff;
	-webkit-box-shadow:inset 0 1px 0 #fff;
	box-shadow:inset 0 1px 0 #fff;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.inner-corpo fieldset legend {
    background-color:#fff;    
    padding:5px 10px 0px 10px !important;
    margin:-26px 0px 0px -6px;
    font-weight:bold;
    border:1px solid #ddd;
    border-color:#dfdfdf #dfdfdf #fff #dfdfdf;
}


.red
{
color:#CC0000;
font-weight:bold;
}
 
.imagetd
{
width:200px;
height:150px;
text-align:right;
background-color:#ffffff;
vertical-align:middle;
}
.imagetd .icon span
{
display:none;
}
.imagetd .iframe
{
width:200px;
height:150px;

}

.imagetd img
{
padding: 0;
margin:0;
border:0;
}
.imagetd a
{
padding: 0;
margin:0;
}

.imagetd a:hover
{
padding: 0;
margin:0;
background-color:#CAD9EA;
}
.aligncenter
{text-align:center;
margin:0px auto;
}

.uploadset
{
border: 1px solid #CAD9EA;
border-bottom: 1px solid #CAD9EA;
padding-bottom:12px;
}

.uploadset .sx
{
border-right: 1px solid #CAD9EA;
float:left;

padding:10px;
}

.uploadset .dx
{
border-left: 1px solid #CAD9EA;
float:left;
padding:10px;
}
.uploadset select
{
width:150px;
border: 1px solid #cccccc;
}
.uploadset .buttons
{
float:left;
padding-top:50px;
}

.AllowSet
{
display:none;

}

.tab .add a
{
display:block;
text-decoration:none;
width:100%;

padding-top:5px;
padding-bottom:6px;

background-image:url('images/add.png');
background-position:center left;
background-repeat:no-repeat;
}

.tab .add a:hover 
{
display:block;

cursor:pointer;
color:#ffffff;
text-decoration:none;
}
.tab .add a:hover span
{
color:#ffffff;
text-decoration:none;
}
.tab .add span
{
margin-left:28px;
text-decoration:none;
}

.tab .stop a{
background-image:url('images/cancel.png') !important;

}

.tab .action a
{
display:block;
text-decoration:none;
width:100%;

padding-top:5px;
padding-bottom:6px;

background-image:url('images/accept.png');
background-position:center left;
background-repeat:no-repeat;

color:#21759B;
}

.tab .action a:hover 
{
display:block;
cursor:pointer;
color:#000;
text-decoration:none;
}
.tab .action a:hover span
{
color:#000;
text-decoration:none;
}
.tab .action span
{
margin-left:24px;
text-decoration:none;
}

.tab .web a
{
background-image:url('images/publish.png');
}

.tab .ok a
{
background-image:url('images/accept.png');
}

.tab .half div
{
	width:49%;
	float:left;
}

.tab .approve a
{
background:url('images/accept.png');
background-position:center left;
background-repeat:no-repeat;
}
.tab .refuse a
{
background:url('images/stop.png');
background-position:center left;
background-repeat:no-repeat;
}
.tab .refuse a:hover
{
	display:block;	
	cursor:pointer;cursor:hand;
	color:#000;
	text-decoration:none;
}
.tab .refuse a:hover span
{
	color:#000;
}

.tab .preview
{
	width:24px;
}
.tab .preview a
{
display:block;
text-decoration:none;
background-image:url('images/preview.png');
background-position:center left;
background-repeat:no-repeat;

padding:0px;
width:100%;
height:22px;
margin:0px;
}

.tab .preview a:hover 
{
display:block;
cursor:pointer;
color:#000;
text-decoration:none;
background-image:url('images/preview.png');
margin:0;
}


/* Classi per Tasto elimina delle tabelle */
.tab .delete a{background-image:url('images/cancel.png');color:#21759B;}
.tab .delete a:hover {color:#000;}
.tab .delete a:hover span {color:#000;}

/* Classi per tasto modifica delle tabelle */
.tab .modify a {background-image:url('images/modify.png');}
.tab .modify a:hover {color:#000;}
.tab .modify a:hover span {color:#000;}

/* Classi per tasto modifica delle tabelle */
.tab .edit a {background-image:url('images/modify.png');}
.tab .edit a:hover {color:#000;}
.tab .edit a:hover span {color:#000;}

/* Classi per tasto modifica delle tabelle */
.tab .table a {background-image:url('images/icons/table.png');}
.tab .table a:hover {color:#000;}
.tab .table a:hover span {color:#000;}

/* Classi per tasto dettagli delle tabelle */
.tab .details a {background-image:url('images/preview.png');color:#21759B;}
.tab .details a:hover {color:#000;}
.tab .details a:hover span {color:#000;}

/* Classi per tasto proprietà delle tabelle */
.tab .prop a {background-image:url('images/icons/cog_edit.png'); background-position:4px center;}
.tab .prop a:hover {color:#000;}
.tab .prop a:hover span {color:#000;}

/* Classi per tasto CRM delle tabelle */
.tab .CRM a {background-image:url('images/icons/world.png'); background-position:4px 4px;}
.tab .CRM a:hover {color:#000;}
.tab .CRM a:hover span {color:#000;}

/* Classi per tasto ICI delle tabelle */
.tab .ICI a {background-image:url('images/ici_png.png');}
.tab .ICI a:hover {color:#000;}
.tab .ICI a:hover span {color:#000;}

/* Classi per tasto abilita delle tabelle */
.tab .Abilita a {background-image:url('images/accept.png');}
.tab .Abilita a:hover {color:#000000}
.tab .Abilita a:hover span {color:#000;}

/* Classi per tasto abilita delle tabelle */
.tab .add a {background-image:url('images/add.png');}
.tab .add a:hover {color:#000000}
.tab .add a:hover span {color:#000000;}

/* Classi per tasto disabilita delle tabelle */
.tab .Disabilita a{background-image:url('images/stop.png');}
.tab .Disabilita a:hover {color:#000;}
.tab .Disabilita a:hover span {color:#000;}

/* Classi per tasto aggiorna delle tabelle */
.tab .update a {background-image:url('images/icons/arrow_refresh.png');}
.tab .update a:hover {color:#000000}
.tab .update a:hover span {color:#000000;}

/* Permessi */
.tab .Grants a{background-image:url('images/key.png'); color:#21759B;}
.tab .Grants a:hover {color:#000000;}
.tab .Grants a:hover span {color:#000000;}

/* Permessi */
.tab .grant a{background-image:url('images/key.png');}
.tab .grant a:hover {color:#000000;}
.tab .grant a:hover span {color:#000000;}

/* Permessi */
.tab .alert a{background-image:url('images/icons/error.png'); background-position: 4px center;}
.tab .alert a:hover {color:#000000;}
.tab .alert a:hover span {color:#000000;}

/* Classi per tasto disabilita delle tabelle */
.tab .users a{background-image:url('images/icons/chart_organisation.png'); background-position: 4px center;}
.tab .users a:hover {color:#000000;}
.tab .users a:hover span {color:#000000;}

/* Classi per tasto Servizi delle tabelle */
.tab .service a{background-image:url('images/icons/brick.png'); background-position: 4px center;}
.tab .service a:hover {color:#000000;}
.tab .service a:hover span {color:#000000;}

/* Classi per tasto newsletter invio delle tabelle */
.tab .send a{background-image:url('images/newspaper_Go.png'); background-position: 4px center;}
.tab .send a:hover {color:#000000;}
.tab .send a:hover span {color:#000000;}

/* Classi per tasto newsletter invio delle tabelle */
.tab .newsletter_preview a{background-image:url('images/email_open_image.png'); background-position: 4px center;}
.tab .newsletter_preview a:hover {color:#000000;}
.tab .newsletter_preview a:hover span {color:#000000;}

/* Classi per tasto gatewaysms invio delle tabelle */
.tab .sendsms a{background-image:url('images/phone_send.png');}
.tab .sendsms a:hover {color:#000000;}
.tab .sendsms a:hover span {color:#000000;}

/* Classi per tasto gatewaysms invio delle tabelle */
.tab .sendmail a{background-image:url('images/icons/email_go.png'); background-position: 4px center;}
.tab .sendmail a:hover {color:#000000;}
.tab .sendmail a:hover span {color:#000000;}

/* Classi per tasto gatewaysms dettaglio delle tabelle 
.tab .smsdetail a{background-image:url(" + ImagesIndexer.GetImageURL(ImagesIndexer.Images.Preview) + @"); background-position: 4px center;}
.tab .smsdetail a:hover {color:#000000;}
.tab .smsdetail a:hover span {color:#000000;}*/

/* Classi per tasto gatewaysms dettaglio delle tabelle */
.tab .editsms a{background-image:url('images/phone_edit.png');}
.tab .editsms a:hover {color:#000000;}
.tab .editsms a:hover span {color:#000000;}

/* Sequences of white space are preserved */
/*.tab tbody tr td span {white-space: pre;}*/

.dateformlabel
{
	margin-left: 10px;
}
.bold
{
	font-weight:bold;
}
.GrantsReview_Link
{
	text-decoration:none;
}
.GrantsReview_FolderCell span
{
	padding:3px 0px 3px 0px;
	display:block;
	float:left;
}

.GrantsReview_Icon
{	
	background-repeat:no-repeat;
	display:block;	
	text-decoration:none;
    background-position: 0px 1px;
}

.GrantsReview_Allowed{background-image:url('images/icons/accept.png');}
.GrantsReview_NotAllowed{background-image:url('images/cancel.png');background-position:-4px -3px;}
.GrantsReview_Inherits{background-image:url('images/inherits.png');background-position:-4px -3px;}
.GrantsReview_NoRecord{background-image:url('images/norecordgrant.png');}
.GrantsReview_User{background-image:url('images/vcard.png'); background-position:4px -1px;}
.GrantsReview_Group{background-image:url('images/icons/chart_organisation.png'); background-position:0px -1px;}
.GrantsReview_Void{background-image:url('images/voidgrant.png');}
.GrantsReview_Void span
{
	color:Gray;
}

.GrantsReview_Icon span{margin-left:22px;}

.GrantsReview_FolderIcon
{
	background-image:url('images/folder_gif.gif');
	/*height:14px;	*/
	background-repeat:no-repeat;
	background-position:-1px ;

	width:20px;
}
.GrantsReview_FolderIcon span{margin-left:18px;}

.GrantsReview_DocIcon
{
	background-image:url('images/icons/page_white');
	/*height:14px;	*/
	background-repeat:no-repeat;

	height:12px;
	width:20px;
}
.GrantsReview_DocIcon span{margin-left:18px;}
.GrantsReview_Hide { display:none;}

.GrantsReview_Lines 
{
	background-repeat:no-repeat;
	width:16px;
	background-image: url('images/line.png');
}
.GrantsReview_LinesBottom {background-image: url('images/joinbottom.gif');}
.GrantsReview_LinesVoid {background-image: none;}

.GrantsReview_Join{background-image: url('images/join.gif');}
.GrantsReview_JoinBottom{background-image: url('images/joinbottom.gif');}
.GrantsReview_Plus{background-image: url('images/plus.gif');}
.GrantsReview_PlusBottom{background-image: url('images/plusBottom.gif');}
.GrantsReview_Minus{background-image: url('images/minus.png')}
.GrantsReview_MinusBottom{background-image: url('images/minusbottom.gif');}

.GrantReviewTable
{
	width:100%;
	text-align:left
}

/*
.GrantReviewTable td
{
	border-bottom:1px solid;
	border-right: 1px solid;
	border-color:#eeeeee;
    
}
.GrantReviewTable tr:hover
{
	background-color:#ffffee;    
}
*/

.GrantReviewTable, .GrantReviewTable table  {
    clear:both; 
    bottom:5px; 
    margin:0px;    
    -moz-box-shadow:0 -1px 0 #ddd;
    -webkit-box-shadow:0 -1px 0 #ddd;
    -khtml-box-shadow:0 -1px 0 #ddd;
    box-shadow:0 -1px 0 #ddd	
}
.GrantReviewTable th {
    background-image:url('images/folder_jpg.jpg');
}
.GrantReviewTable th, .GrantReviewTable td {
    background-color:#fff;
    padding: 2px;
    -moz-box-shadow:0 1px 0 #fff;
    -webkit-box-shadow:0 1px 0 #fff;
    -khtml-box-shadow:0 1px 0 #fff;
    box-shadow:0 1px 0 #fff 
}
.GrantReviewTable td { 
   /* font-size:11px;*/
}
.GrantReviewTable th a {
    color:#444;
}
.GrantReviewTable th {
    border-right: solid 1px #d0d0d0;
    border-bottom: solid 1px #d0d0d0;
    text-align:left;
    border-top:solid 1px #fff;
    font-weight:bold;
    color: #444
}
.GrantReviewTable td {border-bottom:solid 1px #ddd; }

.GrantReviewTable .alternate td, .alternate td  {background-color:#f0f0f0; border-bottom:solid 1px #ddd }

.GrantReviewTable th {
    text-shadow:0 1px 0 #ffffff;
	background:#f1f1f1;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#e8e8e8');
	background:-webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e8e8e8));
	background:-moz-linear-gradient(top, #f1f1f1, #e8e8e8);
	background:-o-linear-gradient(top, #f1f1f1, #e8e8e8);
}

/* fine */

.DetailsContainer {
    text-align:left;   
	margin: 0px auto 10px auto !important;
}
.Details
{
	padding:0px;
}

.Details fieldset
{
	padding:0px;
    border:1px solid #D5D5D5;
}
.Details table
{
	padding:0px;
	width:98%;
}

.Details td,
.Details th
{
	 background-color:#fff;
    padding: 4px;
    -moz-box-shadow:0 1px 0 #fff;
    -webkit-box-shadow:0 1px 0 #fff;
    -khtml-box-shadow:0 1px 0 #fff;
    box-shadow:0 1px 0 #fff 
}

.Details th a {
    color:#444;
}
.Details th, td.DetailsLabel {
    border-right: solid 1px #d0d0d0;
    border-bottom: solid 1px #d0d0d0;
    text-align:left;
    border-top:solid 1px #fff;
    color: #444
}
.Details td {border-bottom:solid 1px #ddd; }


.DetailsLabel
{
	width:15%;	
}
.Details Legend
{
	padding:3px;
	margin-left:10px;	
}




#corpo .DetailsText, #corpo .info {    
    background-image: url('images/icons/lightbulb.png'); 
    margin:10px;  
    background-repeat:no-repeat;
    background-position:5px 9px;
    background-color:#E3F2F7;
    text-align:left;
    padding:10px 10px 10px 25px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:1px solid #B4DBE8;
    color:#444;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
    font-weight:bold;
}

.DetailsText img {padding:3px;border:1px solid #CAD9EA;}

.DetailsTextMiddle
{
	border-top:1px solid #CAD9EA;
	padding:10px;
}

/* TreeColumn */
.TreeColumn_Lines
{	
	background-repeat:no-repeat;
	width:16px;
	background-image: url('images/line.gif');	
	padding:3px 0px 3px 0px;
	display:block;
	float:left;
}
.TreeColumn_LinesBottom {background-image: url('images/joinbottom.gif');}

.TreeColumn_LinesJoin{background-image: url('images/join.gif');}
.TreeColumn_LinesJoinBottom{background-image: url('images/joinbottom.gif');}

.TreeColumn_Icon
{
	background-image:url('images/folder_gif.gif');
	background-repeat:no-repeat;
	background-position:center center;
	background-position:-1px ;

	width:20px;	

	padding:1px;
	padding:3px 0px 3px 0px;
	display:block;	
	text-decoration:none;
	float:left;
}

.TreeColumn_Content
{	
	display:block;	
	text-decoration:none;
	float:left;
	padding-top:2px;
}

.GrantsTableGroupIcon
{
	background-image: url('images/icons/picture_empty.png');
	background-position:0px;
}

.FullSizeFieldset
{
	width:100%;
	text-align:left;
	margin: 0px auto;
	border-top: 1px solid  #CAD9EA;
	border-left: 1px solid  #CAD9EA;
}


.FullSizeFieldset_Title
{

text-align:center;
	position:relative;
	padding:2px 0px 6px 0px;
    font-weight:bold;
    color:#2f2f2f;
    background-image:url('images/overtitle.png');
    background-position: left bottom;
    background-repeat:repeat-x;
    background-color:#f5f5f5;
    text-shadow:0px 1px 2px #999999;
    
}

.FullSizeFieldset_Content
{
	padding:4px;
}


.Semaphore
{
	background-position:center;
	background-repeat:no-repeat;
	width:16px;
	height:16px;
}
.SemaphoreRED{background-image:url('images/red.png');}
.SemaphoreGREEN{background-image:url('images/green.png');}
.SemaphoreYELLOW{background-image:url('images/yellow.png');}

/*Icone dei messaggi nel Messenger*/
.PriorityMessageIcon {padding:2px; display:block;}
.NormalPriorityMessageIcon{background:url('images/icons/email.png') center no-repeat;}
.HighPriorityMessageIcon{background:url('images/email_important.png') center no-repeat;}
.LowPriorityMessageIcon{background:url('images/email_lowp.png') center no-repeat;}

/****************************************** Details Table**********************************************************************/

/****************** Details Sheet Table ********************/
table.DetailsTable, table.tab {
    width:100%;
}
.DetailsTable table, #corpo .tab  {
    font-size:12px; clear:both; bottom:5px; margin:0px auto 10px auto; border:solid 1px #ddd; -moz-box-shadow:0 -1px 0 #ddd; -webkit-box-shadow:0 -1px 0 #ddd;  -khtml-box-shadow:0 -1px 0 #ddd;  box-shadow:0 -1px 0 #ddd;
}
.DetailsTable th, .DetailsTable td, #corpo .tab th, #corpo .tab td
{
/*background:#fff;*/
padding: 4px; -moz-box-shadow:0 1px 0 #fff; -webkit-box-shadow:0 1px 0 #fff;  -khtml-box-shadow:0 1px 0 #fff;  box-shadow:0 1px 0 #fff; text-align:left; 
}
.DetailsTable th, #corpo .tab th {border: solid 1px #d0d0d0; text-align:left; border-top:solid 1px #fff; font-weight:bold; color: #444;}
.DetailsTable td, #corpo .tab td {border-bottom:solid 1px #ddd; }

.DetailsTable .alternate td, .alternate td  {/*background-color:#f0f0f0;*/ border-bottom:solid 1px #ddd; }

.DetailsTable th, #corpo .tab th {
    text-shadow:0 1px 0 #ffffff;
	background:#f1f1f1;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#e8e8e8');
	background:-webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e8e8e8));
	background:-moz-linear-gradient(top, #f1f1f1, #e8e8e8);
	background:-o-linear-gradient(top, #f1f1f1, #e8e8e8);
}

.DetailsTable Legend, #corpo legend
{
	padding:4px;		
}

.DetailsTable .fill_red, 
.DetailsTable .fill_green,
.DetailsTable .fill_yellow,
.DetailsTable .alternate .fill_red, 
.DetailsTable .alternate .fill_green,
.DetailsTable .alternate .fill_yellow
{
    text-align:center;    	
    color:#555;
    border-right:1px solid #fff;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
    font-weight:bold;
    width:100px;    
}

.DetailsTable .fill_red {
    background-color:#F0A8A8 !important;
}
.DetailsTable .fill_green {
    background-color:#A2E8A2 !important;
}
.DetailsTable .fill_yellow {
    background-color:#E8E8A2 !important;
}

.DetailsTable td.first,
.DetailsTable th.first { border-right:1px solid #eee; }

.DetailsTable a.action 
{  
    display:block;
    padding:4px;
    padding-left:24px;
    background-position:center left;
    background-image:url('images/icons/accept.png');
    text-decoration: none;
    background-repeat:no-repeat;    
}

.DetailsTable a.action span
{  
    display:block;
}

.DetailsTable a.ok {background-image:url('images/icons/accept.png');}
.DetailsTable a.details {background-image:url('images/preview.png'); color:#21759B;}
.DetailsTable a.delete {background-image:url('images/icons/delete.png');}
.DetailsTable a.key {background-image:url('images/icons/key.png');}
.DetailsTable a.modify {background-image:url('images/icons/pencil.png');}
.DetailsTable a.edit {background-image:url('images/icons/pencil.png');}
.DetailsTable a.web {background-image:url('images/icons/world_go.png');}
.DetailsTable a.ask {background-image:url('images/icons/hourglass_go.png');}
.DetailsTable a.stop {background-image:url('images/icons/stop.png');}
.DetailsTable a.add {background-image:url('images/icons/add.png');}

.DetailsTable a:hover.details {color:#000;}

.DetailsTable a.big
{
    font-size:16px;    
}

.DetailsTable a.big
{
    font-size:16px;    
}


.tab td.action a,
.tab .action span,
.tab td.action 
{
    cursor: pointer;
}

.activities-table
{
    text-align:left;
}

.long-text-column {
	width:300px;	
}

.DetailsRow ul li {
    list-style: none;
}