#int
{
	width:100%;
	height:112px;
	position:absolute;
	top:0px;
	left:0px;
	margin:0;
	padding:0;
	z-index:0;
	background:#fff;
}
#int #title
{
	display:block;
	background-image:url("images/header.png");
	background-repeat:repeat-x;
	background-position:left top;
	background-color:#E9E9E9;
	width:100%;
	height:62px;
	position:absolute;	
	top:0px;
	margin-top:0px;
}

#int #title h1 {
	height:50px;
	width:208px;
	background:url("images/logo.png") 0px 0px no-repeat;
	position:absolute;
	left:10px;
	top:0px;
}
