﻿.editor h1 {
	font-size:1em;
	background:#E8F0F1;	
	color:#003366;	
	padding:2px 0px 2px 24px;
	margin:0px 0px 4px 0px;
	height: auto !important;	
	height:0px;
}
.editor h2 {
	font-size:1em;
	background:#D8EDFE;	
	color:#333;	
	padding:2px 0px 2px 0px;
	margin:4px 0px 4px 0px;
	height: auto !important;	
	height:0px;
}
.editor h3 {
	font-size:1em;
	background:#eee;	
	color:#333;	
	padding:2px 0px 2px 0px;
	margin:4px 0px 4px 0px;
	height: auto !important;	
	height:0px;
}
.editor p
{
	color:#000;
	font-size:1em;			
	margin:10px 0px 10px 0px;
	padding:0px 10px 0px 10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;	
}
.editor ol, .editor ul
{
	color:#000;
	font-size:1em;		
	margin:0px 10px 0px 0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;	
}
.editor li {
	margin-bottom:3px;
}
.editor li li
{
	color:#000;
	font-size:1.3em;		
	margin-left:0px;
}
.editor li li li 
{
	color:#000;
	font-size:1.6em;		
	margin-left:0px;
}
.editor ol ol, .editor ul ul
{
	font-size:1em;		
}
.editor img {
	padding:6px;
}
.editor .left{ float:left; margin:1px; padding:0px;}
.editor .justify{ text-align:justify;}
.editor .right{ float:right; margin:6px; padding:0px;}
.editor .center{ text-align:center;}

.editor table {
	width:98%;
	margin:0px auto;
}
.editor table th {
	background:#eee;	
}
.editor table td{
	background:#f0f0f0;
}
/* template 02 titolo e due colonne */
#template2 .col47 {
	border:1px dashed #ccc;
	float:left;
	margin:0px 6px 0px 4px;
	padding:0px 4px 0px 4px;
	width:47.5%;
}
/* template 03 titolo e tre colonne */
#template3 .col31, #template4 .col31 {
	border:1px dashed #ccc;
	float:left;
	margin:0px 6px 0px 4px;
	padding:0px 4px 0px 4px;
	width:31%;
}
#template3 .col32 {
	border:1px dashed #ccc;
	float:left;
	margin:0px 6px 0px 4px;
	padding:0px 4px 0px 4px;
	width:31.5%;
}

/* template 04 titolo due colonne di cui una colonna corta */
#template4 .col30, #template5 .col30 {
	border:1px dashed #ccc;
	float:left;
	margin:0px 6px 0px 4px;
	padding:0px 4px 0px 4px;
	width:30%;
}
#template4 .col65, #template5 .col65 {
	border:1px dashed #ccc;
	float:left;
	margin:0px 6px 0px 4px;
	padding:0px 4px 0px 4px;
	width:65%;
}


/* template 6 - opere */
#template6 { 
	font-family:Arial, Helvetica, sans-serif;
}
#template6 h1{
	background:#EEEFF3;
	color:#181818;
	font-size:1.6em;
	height:auto !important;
	margin:0px 0px 4px;
	padding:2px;
	font-family:Helvetica,Arial,Verdana,sans-serif;
	text-align:center;
 }
#template6 .box_dati{ margin-top:10px;font-size:0.8em;}
#template6 .box_dati ul li{ padding:0px 10px 10px 20px; }

#template6 .box_link{ background-color:#F4FDFF; border:1px solid #ccc; padding:20px;font-size:0.8em;text-align:center;}
#template6 .box_link ul { margin:0px auto; width:310px;}

#template6 .box_link ul li{ display:inline; padding-left:20px; padding-right:10px; }


#template6 .anno{ background:url('images/date.gif') no-repeat 0px 0px;}
#template6 .committente{ background:url('images/user_suit.gif') no-repeat 0px 0px;}
#template6 .desc_lavori{ background:url('images/note.gif') no-repeat 0px 0px;}
#template6 .cat_lavori{ background:url('images/page_gear.gif') no-repeat 0px 0px;}
#template6 .importo{ background:url('images/money.gif') no-repeat 0px 0px;}
#template6 .quota{ background:url('images/chart_pie.gif') no-repeat 0px 0px;}
#template6 .aziende{ background:url('images/building_add.gif') no-repeat 0px 0px;}
#template6 .cantiere{ background:url('images/building.gif') no-repeat 0px 0px;}

#template6 .gallery { background:url('images/pictures.gif') no-repeat 0px 0px;}
#template6 .webcam{ background:url('images/webcam.gif') no-repeat 0px 0px;}
#template6 .video{ background:url('images/film.gif') no-repeat 0px 0px;}