﻿.ui-dialog 
{
    background:#fff;    
}
#FileManagerContainer
{
clear:both;
overflow:hidden;
/*background:url("images/linea-filemanager.gif") 20px 0px repeat-y;*/
}

/* file manager*/
.FileManagerLeftPanel,
.FileManagerRightPanel  
{
    float:left;    
}
.FileManagerLeftPanel 
{    
    margin:0px 5px 0px 0px;        
    width: 220px;
    padding: 5px;
    overflow: auto;
}
.FileManagerRightPanel 
{    
    padding-left:5px;    
}  
.FileManagerLeftPanel a{
    display:inline-block;
}
.FileManagerRightPanel .FolderInfo 
{
    font-size:14px; 
    clear:both;
    overflow:hidden;       
}
.FileManagerRightPanel #FolderName,
.FileManagerRightPanel #FolderOther 
{
    display:block;
    float:left;
}
.FileManagerRightPanel #FolderName {
    background:url("images/folder_popup.png") -12px 0px no-repeat;
    padding-left:45px;    
    width:200px;
    line-height:60px;
}
.FileManagerRightPanel #FolderName strong
{
    font-weight:normal;
    color:#006E12;
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 190px;
    display:inline-block;
}
.FileManagerRightPanel #FolderOther  
{
    font-size:12px;    
    color:#4C607A;
}
.FileManagerRightPanel #FolderOther p 
{
    margin:4px 0px 0px 0px;    
}



.FileManagerClass {
    height: 800px;
 
}



#select-button:disabled, #select-button[disabled] {
    cursor: not-allowed;
}

.fileManagerTopbar {
    background-color: #f8f8f8;
    border-color: #8c8c8c;
}

.fileManagerLeftPanel {
    background-color: #f8f8f8;
    border-color: #8c8c8c;
    border-right-color: rgb(140, 140, 140);
    min-height: 730px;
    overflow-y: scroll;
    height: 700px;
}
    .fileManagerLeftPanel .treeview ul {
        background-color: transparent !important;
    }