﻿#PopupControl
    {
		padding:4px;
        position:absolute;
        top:-2000px;
        left:-2000px; 
        background-color:#FFFFFF;
        border: 1px solid #444444;    
    }
    #PopupControl img
    {
		margin: 5px;
    }