﻿.fodertab,
table.foldertab 
{
    width:100%;
    text-align:left;
}
.foldertab, .foldertab table  {
    clear:both; 
    bottom:5px; 
    margin:0px;    
    -moz-box-shadow:0 -1px 0 #ddd;
    -webkit-box-shadow:0 -1px 0 #ddd;
    -khtml-box-shadow:0 -1px 0 #ddd;
    box-shadow:0 -1px 0 #ddd	
}
.foldertab th {
    background-image:url('images/folder_jpg.jpg');
}
.foldertab th, .foldertab td {
    background-color:#fff;
    padding: 4px;
    -moz-box-shadow:0 1px 0 #fff;
    -webkit-box-shadow:0 1px 0 #fff;
    -khtml-box-shadow:0 1px 0 #fff;
    box-shadow:0 1px 0 #fff 
}
.foldertab th a {
    color:#444;
}
.foldertab th {
    border-right: solid 1px #d0d0d0;
    border-bottom: solid 1px #d0d0d0;
    text-align:left;
    border-top:solid 1px #fff;
    font-weight:bold;
    color: #444
}
.foldertab td {border-bottom:solid 1px #ddd; }

.foldertab .alternate td, .alternate td  {background-color:#f0f0f0; border-bottom:solid 1px #ddd }

.foldertab th {
    text-shadow:0 1px 0 #ffffff;
	background:#f1f1f1;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#e8e8e8');
	background:-webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e8e8e8));
	background:-moz-linear-gradient(top, #f1f1f1, #e8e8e8);
	background:-o-linear-gradient(top, #f1f1f1, #e8e8e8);
}


.foldertab .FS_Icon
{
    padding:10px;
    background-position:center;
    background-repeat:no-repeat;
    text-align:center;
    width:16px;
}

.icon_questionari{background-image:url('images/icons/help.png');}
.icon_folder{background-image:url('images/icons/folder.png');}
.icon_folder_reserved_area{background-image:url('images/folder_gif.gif'); background-color:#FFF8BB;}
.icon_folder_negate{background-image:url('images/icons/folder.png');}
.icon_folder_system{background-image:url('images/folder_system.gif');}
.icon_WebDocs{background-image:url('images/icons/page_world.png');}
.icon_Gallery{background-image:url('images/icons/image.png');}
.icon_VideoGallery{background-image:url('images/film.gif');}
.icon_news{background-image:url('images/icons/newspaper.png');}
.icon_Faq{background-image:url('images/icons/help.png');}
.icon_comunicato{background-image:url('images/icons/newspaper.png');}
.icon_link{background-image:url('images/icons/link.png');}
.icon_eventi{background-image:url('images/icons/bell.png');}
.icon_bandi{background-image:url('images/icons/script.png');}
.icon_homepage{background-image:url('images/icons/house.png');}
.icon_file{background-image:url('images/icons/page_white_error.png');}
.icon_jpg,.icon_gif,.icon_png{	background-image:url('images/icons/page_white_paint.png');}
.icon_pdf{background-image:url('images/icons/page_white_acrobat.png');}
.icon_doc{background-image:url('images/icons/page_white_word.png');}
.icon_txt{background-image:url('images/fsi_text.png');}
.icon_exe{background-image:url('images/icons/plugin.png');}
.icon_xls{background-image:url('images/icons/page_white_excel.png');}
.icon_zip,.icon_rar{background-image:url('images/icons/page_white_zip.png');}
.icon_flag {background-image: url('images/icons/flag_yellow.png');}
.icon_flag_all {background-image: url('images/icons/flag_green.png');}

.alterna
{
background-color:#F0F6FD;
}


.foldertab .delete a
{
display:block;
text-decoration:none;
width:100%;

padding-top:5px;
padding-bottom:6px;

background-image:url('images/cancel.png');
background-position:center left;
background-repeat:no-repeat;
}

.foldertab .delete a:hover 
{
display:block;
background-color:#AD1514;
cursor:auto;
color:#FFFFFF;
text-decoration:none;
}
.foldertab .delete a:hover span
{
color:#FFFFFF;
text-decoration:none;
}
.foldertab .delete span
{
margin-left:28px;
text-decoration:none;
}

.foldertab .modify a
{
display:block;
text-decoration:none;
width:100%;

padding-top:5px;
padding-bottom:6px;

background-image:url('images/modify.png');
background-position:center left;
background-repeat:no-repeat;
}
.foldertab .modify_folder a
{
background-image:url('images/prop.png');
}


.foldertab .modify a:hover 
{
display:block;
background-color:#E9E9E9;
cursor:auto;
color:#FFFFFF;
text-decoration:none;
}
.foldertab .modify a:hover span
{
color:#444444;
text-decoration:none;
}
.foldertab .modify span
{
margin-left:28px;
text-decoration:none;
}

.foldertab .details a
{
display:block;
text-decoration:none;
width:100%;

padding-top:5px;
padding-bottom:6px;

background-image:url('images/details.jpg');
background-position:center left;
background-repeat:no-repeat;
}

.foldertab .details a:hover 
{
display:block;
background-color:#E9E9E9;
cursor:auto;
color:#444444;
text-decoration:none;
}
.foldertab .details a:hover span
{
color:#444444;
text-decoration:none;
}
.foldertab .details span
{
margin-left:28px;
text-decoration:none;
}

.foldertab .Abilita a
{
display:block;
text-decoration:none;
width:100%;

padding-top:5px;
padding-bottom:6px;

background-image:url(images/disabled.jpg);
background-position:center left;
background-repeat:no-repeat;
}

.foldertab .Abilita a:hover 
{
display:block;
background-color:#E9E9E9;
cursor:auto;
color:#444444;
text-decoration:none;
}
.foldertab .Abilita a:hover span
{
color:#444444;
text-decoration:none;
}
.foldertab .Abilita span
{
margin-left:28px;
text-decoration:none;
}

.foldertab .Disabilita a
{
display:block;
text-decoration:none;
width:100%;

padding-top:5px;
padding-bottom:6px;

background-image:url('images/enabled.jpg');
background-position:center left;
background-repeat:no-repeat;
}

.foldertab .Disabilita a:hover 
{
display:block;
background-color:#AD1514;
cursor:auto;
color:#FFFFFF;
text-decoration:none;
}
.foldertab .Disabilita a:hover span
{
color:#FFFFFF;
text-decoration:none;
}
.foldertab .Disabilita span
{
margin-left:28px;
text-decoration:none;
}

.foldertab .grant a
{
display:block;
text-decoration:none;
width:100%;

padding-top:5px;
padding-bottom:6px;

background-image:url('images/key.png');
background-position:center left;
background-repeat:no-repeat;
}

.foldertab .grant a:hover 
{
display:block;
background-color:#E2AE18;
cursor:auto;
color:#FFFFFF;
text-decoration:none;
}
.foldertab .grant a:hover span
{
color:#FFFFFF;
text-decoration:none;
}
.foldertab .grant span
{
margin-left:28px;
text-decoration:none;
}/**/


.foldertab .reserved_area
{
	text-decoration:none;

	background-image:url('images/lock.jpg');
	background-position:center right;
	background-repeat:no-repeat;
	background-color:#FFF8BB;
}

.foldertab .half a
{
	width:48%;
	float:left;
	padding-left:0px;
}


.foldertab .half .HalfProperies
{
background-image:url('images/prop.png');
}

.foldertab .half a hover
{
	padding-left:0px;
}
.foldertab a
{
	text-decoration:none;
	padding-left:0px;
	padding-top:5px;
	padding-bottom:6px;
	display:block;
    color:#21759B;
}

.foldertab a:hover
{
	color:#000;
	text-decoration:none;
}

.foldertab .backrow a
{
	display:block;
	padding-top:5px;
	padding-bottom:6px;
	padding-left:15px;
	background-image:url('images/backrow.png');
	background-position:center left;
	background-repeat:no-repeat;
}


.foldertab .backrow
{
	padding-left:5px;
}

.foldertab .Where_PathLink
{
	display:inline;
}
.Where_PathLink:hover
{
	display:inline;	
	
	background-color:Transparent;
	text-decoration:underline;
}

.FoldersGUI .ColapseActionLink
{
	display:block;	
	height:24px;
	width:24px;
	background-repeat:no-repeat;	
	background-position:center;
	float:left;
}

.FoldersGUI tr:hover .ColapseActionLink
{

}
.FoldersGUI .alternate .ColapseActionLink
{

}
.FoldersGUI .ColapseActionCell a:hover
{
	
}

.FoldersGUI .ColapseActionLink span
{
	display:none;	
}

.FoldersGUI .ColapseActionLink_Label
{
	padding:5px;
	float:left;	
}

.FoldersGUI .ColapseActionLink_Prop{background-image:url('images/prop.png');}
.FoldersGUI .ColapseActionLink_Modify{background-image:url('images/modify.png');}
.FoldersGUI .ColapseActionLink_Reviews{background-image:url('images/modify.png');}
.FoldersGUI .ColapseActionLink_Delete{background-image:url('images/cancel.png');}
.FoldersGUI .ColapseActionLink_Grants{background-image:url('images/key.png');}
.FoldersGUI .ColapseActionLink_MultiLang {background-image: url('images/icons/flag_yellow.png');}
.FoldersGUI .ColapseActionLink_MultiLang_All {background-image: url('images/icons/flag_green.png');
}

a.HeadRowSortLink
{
	padding:0px;
	display:inline;
	padding-right:15px;
	
}
a.HeadRowSortLinkSelected
{
	background-image:url('images/icons/bullet_arrow_down.png'); 
	background-position:right;
	background-repeat:no-repeat;
	
}

a.HeadRowSortLinkSelectedTop
{
	background-image:url('images/icons/bullet_arrow_up.png'); 
	background-position:right;
	background-repeat:no-repeat;
	
}



.folderInfo{
    background-color:#fff;
    padding:10px;
    text-align:left;
}
.folderInfo p{
    margin:0px;
}
.folderInfo span{
    font-weight:bold;
}