﻿body
{
margin:0;
padding:0;
font-family:Verdana,Georgia;
font-size:11px;
/*background:url("images/linea-filemanager.gif") 10px 0px repeat-y;*/
}


.folders_tree
{
	position:absolute;
	top:0;
	left:0;
	width:175px;
	height:525px;
	background-color:#efefef;
	border: 1px solid gray;
	padding-left:5px;
	overflow:auto;
	
}

.folders_tree .sideTree{
    width:675px;
}

.docs_block
{
	margin-left:180px;
	border-top: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	height:525px;
}
.preview_block
{
	margin-left:180px;
	border-top: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	height:225px;
	display:none;
}
.preview_frame
{
	width:100%;
	height:225px;
	border: 0px ;
}

.table_gallery
{
	table-layout:fixed;		
	border-collapse:collapse;
	width:100%;
}

.table_gallery td
{
	border-bottom:1px solid gray;
	border-collapse:collapse;
	padding:5px;
}

.table_gallery th
{
	background-color:Gray;
	color:White;
	border-collapse:collapse;
	padding:5px;
}

.over
{
	overflow:scroll;
}
.send_imageblock
{
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	height:69px;
	padding-top:3px;
	background-color:#cccccc;
}

/* blocco correlato alla gallery flash */

.folders_tree_flash
{
	position:absolute;
	top:0;
	left:0;
	width:175px;
	height:510px;
	background-color:#efefef;
	border: 1px solid gray;
	padding-left:5px;
	overflow:auto;
	
}

.docs_block_flash
{
	margin-left:180px;
	border-top: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	height:310px;
}

#anteprima
{
   margin-left:180px;
}

#send_imageblock_dx
{
	position:absolute;
	top: 550px;
	left: 500px;
	text-align:right;
	
}

#send_imageblock_dx_flash
{
	position:absolute;
	bottom: 20px;
	right: 30px;
	text-align:right;
	
}
#send_flashblock
{
	padding:6px;
	background-color:#F2F7FA;	
}

/* file manager
.FileManagerLeftPanel,
.FileManagerRightPanel  
{
    float:left;    
}
.FileManagerLeftPanel 
{    
    margin:0px 5px 0px 0px;        
    float: left;
    width: 21%;
    padding: 5px;
    overflow: auto;
}
.FileManagerRightPanel 
{
    width:76%;
    padding-left:1%;    
}  
.FileManagerLeftPanel a{
    display:inline-block;
}
.FileManagerRightPanel .FolderInfo 
{
    font-size:14px; 
    clear:both;
    overflow:hidden;       
}
.FileManagerRightPanel #FolderName,
.FileManagerRightPanel #FolderOther 
{
    display:block;
    float:left;
}
.FileManagerRightPanel #FolderName {
    background:url("images/folder_popup.jpg") 0px 0px no-repeat;
    padding-left:60px;    
    width:420px;
    line-height:60px;
}
.FileManagerRightPanel #FolderName strong
{
    font-weight:normal;
    color:#006E12;
}
.FileManagerRightPanel #FolderOther  
{
    font-size:12px;    
    color:#4C607A;
}
.FileManagerRightPanel #FolderOther p 
{
    margin:4px 0px 0px 0px;    
}*/