﻿/*
.GenericTable
{
	margin: 0px auto;
	border: 1px solid  #CAD9EA;
	width:100% ;
	text-align:left;
	border-collapse: collapse;
}

.GenericTable .overtitle
{
	padding:4px;
	color:#323E5B;
	border:1px solid #949AA0;
	background-color:#CAD9EA;
	background-image:url(" + ImagesIndexer.GetImageURL(ImagesIndexer.Images.Overtitle) + @");
	text-align:center;
	font-weight:bold;
}

.GenericTable th
{
	padding:4px;
	color:#323E5B;
	border:1px solid #949AA0;
	background-color:#CAD9EA;
	background-image:url(" + ImagesIndexer.GetImageURL(ImagesIndexer.Images.Folder_Jpg) + @");
}
.GenericTable .alternate,.alterna{ background-color: #F0F6FD;}

.GenericTable td
{
	border: 1px solid;
	border-color:#CAD9EA;
	border-right-color:#EEEEEE;
}

.GenericTable .action a
{
	display:block;
	text-decoration:none;
	width:100%;
	padding: 4px 0px 4px 0px;
	background-image:url(" + ImagesIndexer.GetImageURL(ImagesIndexer.Images.Go) + @");
	background-position:center left;
	background-repeat:no-repeat;
}

.GenericTable .action a:hover 
{
	display:block;
	background-color:#FFFFEE;
	cursor:pointer;
}

.GenericTable .action span
{
	margin-left:26px;
	margin-right:6px;
}
*/

.GenericTable,
table.GenericTable 
{
    width:100%;
    text-align:left;

    clear:both; 
    bottom:5px; 
    margin:0px;    
    -moz-box-shadow:0 -1px 0 #ddd;
    -webkit-box-shadow:0 -1px 0 #ddd;
    -khtml-box-shadow:0 -1px 0 #ddd;
    box-shadow:0 -1px 0 #ddd	
}
.GenericTable th, .GenericTable td {
    background-color:#fff;
    padding: 4px;
    -moz-box-shadow:0 1px 0 #fff;
    -webkit-box-shadow:0 1px 0 #fff;
    -khtml-box-shadow:0 1px 0 #fff;
    box-shadow:0 1px 0 #fff 
}
.GenericTable th a {
    color:#444;
}
.GenericTable th {
    border-right: solid 1px #d0d0d0;
    border-bottom: solid 1px #d0d0d0;
    text-align:left;
    border-top:solid 1px #fff;
    font-weight:bold;
    color: #444
}
.GenericTable td {border-bottom:solid 1px #ddd; }

.GenericTable .alternate td, .alternate td  {background-color:#f0f0f0; border-bottom:solid 1px #ddd }

.GenericTable th {
    text-shadow:0 1px 0 #ffffff;
	background:#f1f1f1;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#e8e8e8');
	background:-webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e8e8e8));
	background:-moz-linear-gradient(top, #f1f1f1, #e8e8e8);
	background:-o-linear-gradient(top, #f1f1f1, #e8e8e8);
}
.GenericTable a
{
	text-decoration:none;
	padding-left:23px;
	padding-top:3px;
	padding-bottom:5px;
	display:block;
    color:#21759B;
    background-repeat:no-repeat;
}

.GenericTable a:hover
{
	color:#000;
	text-decoration:none;
}


/* Permessi */
.GenericTable .grants a{background-image:url('images/key.png');}
.GenericTable .grants a:hover {}
.GenericTable .grants a:hover span {color:#000000;}

.GenericTable .networkgrants a{background-image:url('images/netkey.png');}
.GenericTable .networkgrants a:hover {}
.GenericTable .networkgrants a:hover span {color:#000000;}

/* Classi per Tasto elimina delle tabelle */
.GenericTable .delete a{background-image:url('images/cancel.png');}
.GenericTable .delete a:hover {color:#000;}
.GenericTable .delete a:hover span {color:#000;}

/* Classi per tasto modifica delle tabelle */
.GenericTable .modify a {background-image:url('images/modify.png');}
.GenericTable .modify a:hover {color:#000;}
.GenericTable .modify a:hover span {color:#000;}

/* Classi per tasto dettagli delle tabelle */
.GenericTable .details a {background-image:url('images/preview.png');}
.GenericTable .details a:hover {color:#000;}
.GenericTable .details a:hover span {color:#000;}

/* Classi per tasto CRM delle tabelle */
.GenericTable .CRM a {background-image:url('images/icons/world.png'); background-position:4px 4px;}
.GenericTable .CRM a:hover {color:#000;}
.GenericTable .CRM a:hover span {color:#000;}

/* Classi per tasto ICI delle tabelle */
.GenericTable .ICI a {background-image:url('images/ici_png.png');
.GenericTable .ICI a:hover {color:#000;}
.GenericTable .ICI a:hover span {color:#000;}

/* Classi per tasto abilita delle tabelle */
.GenericTable .abilita a {background-image:url('images/accept.png');}
.GenericTable .Abilita a:hover {color:#000000}
.GenericTable .Abilita a:hover span {color:#000;}

/* Classi per tasto abilita delle tabelle */
.GenericTable .add a {background-image:url('images/add.png'); background-repeat:no-repeat;}
.GenericTable .add a:hover {color:#000000}
.GenericTable .add a:hover span {color:#000000;}

/* Classi per tasto disabilita delle tabelle */
.GenericTable .disabilita a{background-image:url('images/stop.png');}
.GenericTable .disabilita a:hover {color:#000;}
.GenericTable .disabilita a:hover span {color:#000;}
