﻿.grants
{
    margin-top:20px;
    text-align: left;
}

.grants .grantsSx
{
    float:left;
    width: 50%;
    margin-top:10px;
}
.grants .grantsDx
{
    float:left;
    width: 49%;
    margin-top:10px;
}

.grants .grantsEnd
{
    margin-top:20px;
    clear:left;  
}

.grants .grantsEnd input
{
    margin:10px;
}


.grants select
{
   width:100%;
   border: 1px solid #cccccc;
}

.grants table
{
   width:100%;
   border: 1px solid #bbbbbb;
   border-collapse:collapse;
}

.grants td
{
   border-bottom: 1px solid #eeeeee;
   border-collapse:collapse;
   padding:5px;
   text-align:center;
}
.grants  .text
{
  width:100%;
  text-align:left;
  font-weight:bold;
}

.grants th
{
   padding:5px;
   border-collapse:collapse;
   background-color:#eeeeee;text-align:center;
}

#GrantsWizard,.GrantsWizard
{
	border-bottom:1px solid #C2CCD9;
	height:600px;
}

#GrantsWizardState
{
	float:left;
	width:35%;
	background-color:#ffffff;
}

#GrantsWizardControls
{
	border-left:1px solid #C2CCD9;
	float:left;
	width:65%;
	margin-left:-1px;
	height:600px;
}

#GrantsWizardState ol
{
	list-style-type:none;	
	margin:0;
	padding:0;
	text-align:left;
}

#GrantsWizardState ol li
{
	list-style-type:none;
	/*list-style-position:inside;
	*/
	border-collapse:collapse;
	clear:left;
	border-bottom:1px solid #C2CCD9;
	border-top:0px;
	display:block;
	
	height:30px;
	margin:0;
	padding:0;
	
}

#GrantsWizardState .GrantsWizard_StateText
{
	display:block;
	float:left;
	padding:10px 0px 10px 4px;
}


#GrantsWizardState .GrantsWizard_StateIcon
{
	background-image:url('images/arrow_gray_gif.gif');
	background-position:center;
	background-repeat:no-repeat;	
	border-right:1px solid #C2CCD9;
	width:30px;
	height:30px;
	display:block;
	float:left;
}
#GrantsWizardState .GrantsWizard_StateSelected .GrantsWizard_StateIcon{background-image:url('images/arrow_gif.gif');}

#GrantsWizardState .GrantsWizard_StateLink
{
	height:30px;
	display:block;
	text-decoration:none;
}
#GrantsWizardState .GrantsWizard_StateLink:hover {background-color:#ffffee;}
#GrantsWizardState .GrantsWizard_StateSelected {background-color:#eeffee; font-weight:bold;}

#GrantsWizardState ol li .undone
{
	background-image:none;
	background-position:center;
	background-repeat:no-repeat;
	border-right:1px solid #C2CCD9;
	width:20px;
	height:25px;
	display:block;
	float:left;
	font-size:16px;
	font-weight:bold;
	padding-left:10px;
	padding-top:5px;
}/**/

#GrantsWizardState .GrantsWizardHead
{
	background-color:#EDF3F5;
	border-bottom:1px solid #C2CCD9;
	font-weight:bold;
	padding-top:4px;
	padding-bottom:4px;
		
}



#GrantsWizardControls
{
	
}

#GrantsWizardControls table
{
	width:100%;
	
}

#GrantsWizardControls .GrantsWizardHead
{
	background-color:#EDF3F5;
	font-weight:bold;
	padding-top:4px;
}

#GrantsWizardControls th
{
	background-color:#EDF3F5;
	border-bottom:1px solid #C2CCD9;
	font-weight:bold;
	padding-top:4px;
}

#GrantsWizardControls .text
{
	text-align:left;
	padding-left:7px;	
	border-left:0px solid #C2CCD9;	
	
}

#GrantsWizardControls td
{
	border-left:1px solid #C2CCD9;
	border-bottom:1px solid #C2CCD9;
	padding: 5px ;		
}
#GrantsWizardControls a,#GrantsWizardControls a:link,#GrantsWizardControls a:visited,#GrantsWizardControls a:focus
{
	text-decoration:none;
	padding:3px;
}

#GrantsWizardControls a:hover
{
	text-decoration:underline;
}

#GrantsWizardControls .ButtonContainer
{
	text-align:center;	
	border-bottom:1px solid #C2CCD9;	
	background-color:#EDF3F5;
	padding:5px;
	font-weight:bold;
}