﻿.HomepageContainer
{
	background-color:#ffffff;
	padding:0px;	
	border:1px solid #90A0B7;
	margin:3px;
	
	min-height: 150px;
	/*height: auto !important;*/
	/*height: 150px;*/
    
    font-size:10px;
    color:#000;    
}
.HomepageContainer p,
.HomepageContainer h3
{
    font-size:10px !important;
}
.HomepageContainer_radice
{
	width:100%;
	background-color:#ffffff;
	margin:0px;
	border:0px;
}

.HomepageContainer_Colcx
{
	background-color:#E8E9ED;
	background-image:url('images/thbg2.gif');
	background-repeat:repeat-x;
	border:1px solid #90A0B7;
	
	float:left;	
}
.HomepageContainer_ColcxSmall{width:60%;}
.HomepageContainer_ColcxBig{width:96%;}
.HomepageContainer_ColcxHalf{width:78%;}


.HomepageContainer_Colsx,
.HomepageContainer_Coldx
{
	width:18%;
	background-color:#DAE4ED;
	border:1px solid #90A0B7;
	
	float:left;	
}

.HomepageContainer_Footer
{	
	clear:left;
    margin-top:20px;
    background-color:#DAE4ED;
	border:1px solid #90A0B7;
	width:98%;  
}

.HomepageContainer_SystemTitle
{
    margin-left:0px;	
	background-image:url('images/Thbg2.gif');
} 
.HomepageContainer_SystemTitle span
{
	display:block;
	font-weight:bold;
	padding:5px;
} 
.HomepageContainer_Title
{	
    padding:5px;
    margin-left:0px;
	border-bottom:1px solid #90A0B7; 
	font-weight:bold;
	background-color:#FFFFEE;
} 
.HomepageContainer_TitleRed
{	
	background-image:url('images/disabled.jpg');
	background-position:center;
	background-repeat:repeat-y;
	color:#ffffff;
} 
.HomepageContainer_Hover
{	
    background-color:#E1FFC4;
}
.HomepageContainer_Hover .HomepageContainer_Title
{	
    background-color:#D2EEB7;
}

.HomepageClear
{	
	clear:left;
}


.HomepageModulo_Center{text-align:center;}
.HomepageModulo_Right{text-align:right;}
.HomepageModulo_Left{text-align:left;}

.HomepageContainer_Colcx .HomepageContainer_1 .HomepageModulo {width:92%;}
.HomepageContainer_Colcx .HomepageContainer_2 .HomepageModulo {width:45%;}
.HomepageContainer_Colcx .HomepageContainer_3 .HomepageModulo {width:31%;}
.HomepageContainer_Colcx .HomepageContainer_4 .HomepageModulo {width:23%;}
.HomepageContainer_Colcx .HomepageContainer_5 .HomepageModulo {width: 19%;}
.HomepageContainer_Colcx .HomepageContainer_6 .HomepageModulo {width: 16%;}
.HomepageContainer_Colcx .HomepageContainer_7 .HomepageModulo {width: 14%;}
.HomepageContainer_Colcx .HomepageContainer_8 .HomepageModulo {width: 12%;}

.HomepageContainer_Footer .HomepageContainer_1 .HomepageModulo {width:99%;}
.HomepageContainer_Footer .HomepageContainer_2 .HomepageModulo {width:48%;}
.HomepageContainer_Footer .HomepageContainer_3 .HomepageModulo {width:32%;}
.HomepageContainer_Footer .HomepageContainer_4 .HomepageModulo {width:24%;}

.HomepageContainer_ButtonSwitch{background-image:url('images/icons/arrow_switch.png');}
.HomepageContainer_ButtonDelete{background-image:url('images/icons/delete.png');}
.HomepageContainer_ButtonEdit{background-image:url('images/icons/application_form_edit.png');}
.HomepageContainer_ButtonAdd{background-image:url('images/icons/application_add.png');}
.HomepageContainer_ApplicationCascade{background-image:url('images/icons/application_cascade_add.png');}
.HomepageContainer_ApplicationCascadeDelete{background-image:url('images/icons/application_cascade_delete.png');}

.HomepageContainer_ContainerButton span
{
	display:none;
}

.HomepageContainer_ContainerButton
{
	display:block;
	width:16px;
	height:16px;
	padding:2px;
	border: 1px solid #DAE4ED;
	background-position:center;
	background-repeat:no-repeat;
	background-color:#EDF4FA;
	float:right;
}
.HomepageContainer_ContainerButtonAdd{background-image:url('images/icons/add.png');}
.HomepageContainer_ContainerButton:hover
{
	background-color:#C8DFC4;
	border: 1px solid #3CA228;
}
/*MODULI*/



.HomepageModulo_Shield
{	
    background-color:#FFFFFF;
	border:1px solid #687B99; 
	margin:5px 3px 5px 3px;
}
.HomepageContainer_Colcx .HomepageModulo
{
	margin-right:0px; 	
}

.HomepageModulo
{	
	border:0px solid #687B99; 	
	float:left;
}

.HomepageModulo_Head
{	
    background-color:#D6E1F4;
	background-image:url('images/thbg.gif');
	background-position:center;
	border-bottom:1px solid #000;
}

.HomepageModulo_HeadRed
{	
	background-image:url('images/thbg2.gif');
} 
.HomepageModulo_Content
{	
    background-color:#FFFFFF;
    text-align:left;
     
	height:111px; 
	border:0px;
	margin-right:25px;
    line-height:12px;
}
.HomepageModulo_Content div
{	
	margin:2px;
}

.HomepageModulo_Hover .HomepageModulo_Shield,
.HomepageModulo_Hover .HomepageModulo_Content
{	
    background-color:#E1FFC4;
}
.HomepageModulo_Title
{	
    padding:2px 0px 2px 0px;	
    margin-right:20px;
	color:#ffffff;  
	font-weight:bold;
} 
.HomepageModulo_TitleRed
{	
	color:#cc0000;
} 
.HomepageModulo_Hover .HomepageModulo_Title
{	
    background-color:#D2EEB7;
    color:#000000;
}

/* Bottoni dei moduli */

.HomepageModulo_Bar
{
	border:0px;
	border-left:1px solid #90A0B7;
	border-bottom:1px solid #90A0B7;
	background-color:#fff;
	float:right;
	z-index:2;
	margin-top:17px;
}
.HomepageContainer_Bar
{
	background-color:#FFFFEE;	
	height:155px;
	border-right:1px solid #90A0B7; 
	float:left;
	margin-top:22px;
}

.HomepageContainer_BarButton,
.HomepageModulo_BarButton
{
	display:block;
	width:18px;
	height:18px;
	padding:2px;
	border: 1px solid #fff;
	background-position:center;
	background-repeat:no-repeat;
}
.HomepageContainer_BarButton
{
	border: 1px solid #FEFFD3;
}
.HomepageContainer_BarButton span,
.HomepageModulo_BarButton span
{
	display:none;	
}
.HomepageContainer_BarButton:hover,
.HomepageModulo_BarButton:hover
{
	background-color:#C8DFC4;
	border-color:#3CA228;
}
.HomepageModulo_ButtonMove{background-image:url('images/icons/application_go.png');}
.HomepageModulo_ButtonSwitch{background-image:url('images/icons/arrow_switch.png');}
.HomepageModulo_ButtonDelete{background-image:url('images/icons/delete.png');}
.HomepageModulo_ButtonEdit{background-image:url('images/icons/application_edit.png');}
.HomepageModulo_ButtonTranslate{background-image:url('images/icons/flag_orange.png');}


/*************************************/
/*      container sortable  		 */
/*************************************/


.handle_container{ 
	width:20px; 
	height:20px; 
	padding:4px; 
	float:right; 
	cursor:move;
	display:none;
}
.handle_container_active
{
	display:block;
}


.ui-state-highlight {
	height: 4em;
	line-height: 1.2em;
	border:1px dashed #3CA228;
	margin:3px;
	padding:0px;
	background-color:aliceblue;
}

#abortSortRows{
	
}