

/*CSS minimale per il menu*/
/*
ul.language,ul.language li,ul.language ul{margin: 0;padding: 0;list-style: none;line-height: 1.8em}
ul.language a{display: block;padding: 0 1em;text-decoration: none;color:#3B5998}
ul.language a:hover{color: #121B36}
li#defaultLanguage span:hover{color: #000066}
ul.language li{float: left;position: relative}
ul.language li li{float: none}
ul.language ul{position: absolute;top: 1.7em;left: -9999px;width: 12em}

li#defaultLanguage:hover +li.languageControl ul{left: auto;}

*/
.languageControl span:before {
	/*background:url("../img/info-icon.png") -353px -39px no-repeat;	*/
		background-image: url("../images/Red.png");
}


.languageList{
	display:none;		
}
.languageList li {
	float:none;	
}
#defaultLanguage {
	margin-right:5px;	
}
#defaultLanguage span {
    display: block;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 0px 0 0;
    position: relative;
	clear:left;
}
.languageList li {
	border-bottom: 1px dotted #CCCCCC;
    margin-bottom: 5px;
    padding-bottom: 5px;	
}
#defaultLanguage span:before, .languageList li {
	margin-bottom:10px;	
}
#defaultLanguage span:before, .languageList li a:before, .languageControl span:before{
			/*background-image: url("../img/info-icon.png");*/
			background-image: url("../images/Red.png");
			background-repeat: no-repeat;
			width: 20px;
			height: 20px;
			content: "";
			float: left;			
			opacity: 0.18;
}


