﻿.ListTree * 
{
	padding:0px;
	margin:0px;
	border:0px;
	font-size: 10px;
}
.ListTree ul
{
	list-style-position:outside;
	list-style-type:none;
	font-size: 10px;
}

	
.ListTree li
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	clear:left;
}
.ListTreeNode_Tree{background-image: url('images/join.gif');}
.ListTreeNode_TreePlus{background-image: url('images/plus.gif');}
.ListTreeNode_TreeMinus{background-image: url('images/minus.gif');}
.ListTreeNode_TreeMinusBottom{background-image: url('images/minusbottom.gif');}
.ListTreeNode_TreePlusBottom{background-image: url('images/plusBottom.gif');}
.ListTreeNode_TreeBottom{background-image: url('images/joinbottom.gif');}

.ListTreeNode_Icon {background-image: url('images/folder_gif.gif');}
.ListTreeNode_IconRoot {background-image: url('images/root.gif');}
.ListTreeNode_IconOpen {background-image: url('images/folderopen.gif');}
.ListTreeNode_Line{background-image: url('images/line.gif');}

.ListTreeNode_Tree,
.ListTreeNode_Icon,
.ListTreeNode_Void,
.ListTreeNode_Line
{
	width:18px;
	height:18px;
	display:block;
	float:left;
	background-repeat:no-repeat;
}

.ListTreeNode_Content
{
	padding-top:3px;
	height:15px;
	display:block;
	float:left;
	text-decoration:none;
	padding-left:3px;
}
.ListTreeNode_ContentLink:active,
.ListTreeNode_ContentLink:link,
.ListTreeNode_ContentLink
{
	color:#000000;
}

.ListTreeNode_ContentLink:hover
{
	text-decoration:underline;
	color:#440000;
	
}

.ListTreeNode_Highlight .ListTreeNode_ContentLink
{
	font-weight:bold;
	
}