﻿body
{
	text-align:center;	
	background-image:url('images/topback.jpg');
	background-repeat:repeat-x;
	margin:0;
	padding:0;	
	background-color:#C4CEDA;
}
*
{
	font-family: Tahoma,Verdana,Arial,sans-serif;
	font-size:10px;
}/*
#PageForm
{
	margin:0;
	padding:0;
	display:block;
	padding-top:1px;
	background-image:url(" + ImagesIndexer.GetImageURL(ImagesIndexer.Images.Header) + @");
	background-repeat:no-repeat;
}*/
#corpo
{	margin:0;
	padding:0;
	display:block;
	margin-top:90px;
	background-color:#C4CEDA;/**/
}
.LoginControl
{
	margin:0px auto;
	
	background-image:url('images/login.png');
	background-repeat:no-repeat;
	background-position:center;
	
	height:318px;
	width:400px;
	
	
}

.LoginControls
{
	background-color:#FFFFFF;
	border: 1px solid #C3D9FF;
	text-align:left;
	width:300px;
	padding-left:10px;	
	padding-right:10px;	
}

.LoginControlTitle
{	
	font-weight:bold;
	padding:7px;
	text-align:center;
	padding-top:30px;
	padding-bottom:30px;
}

.LoginFormContainer
{	
	height:180px;	
	padding-left:10px;	
	padding-right:10px;	
}

.LoginControl p label
{
	width:106px;
	display:block;
	float:left;
	padding-top:3px;
	text-align:right;
}

.textbox
{
	width:200px;
	display:block;
	float:left;
	margin-left:4px;
}

.LoginControl .FormContainer
{
	clear:left;
	padding-bottom:35px;
	text-align:left;
}

.LoginControl p
{
	padding-bottom:10px;
}
.LoginControl .LoginInfo
{
	margin:0px;
	padding:0px;
	font-weight:bold;
	color: #ff0000;
}