﻿#Newsletter 
{
	padding:10px 10px 0px 10px;
}

#Newsletter .channel, #Newsletter .archivio, #Newsletter .elencodoc
{
	background-image:url('images/dark_table_head.gif');	
	background-repeat:no-repeat;
	height:35px;
	line-height:3em;
	margin-bottom:0px;
	
}
#Newsletter .channel .channel-name, #Newsletter .archivio .archivio-name, #Newsletter .elencodoc .elencodoc-title, #Newsletter .elencoart .elencoart-title
{
	font-size:1.2em;
	font-weight:bold;
}

#Newsletter .elencoart
{
	background-image:url('images/green_table_head.gif');	
	background-repeat:no-repeat;
	height:35px;
	line-height:3em;
	margin-bottom:0px;
	
}
#Newsletter .lista_canali
{
	width:350px;
	border:1px solid #ccc;
}
#Newsletter .lista_canali dl
{
	margin:0px;
}

#Newsletter .lista_canali dt
{
	background-color:#d9ecfb;
	margin:0px;
	font-size:2em;
}


#Newsletter .lista_articoli
{
	font-size:12px;
}

#Newsletter .tab
{
	margin-bottom:20px;	
}
#Newsletter .recipients p
{
    margin:10px 0px;
}
#Newsletter .recipients p label
{
    padding-left:4px;
}
#Newsletter .recipients ol
{
    padding-left:35px;
}
#Newsletter .tab .recipients a 
{
	background-image:url('images/icons/group.png');
	background-position:left center;
	background-repeat:no-repeat;
}
#Newsletter .tab .item
{
	margin-left:4px;
	padding-left:18px;
	background:url('images/icons/tag_blue.png') no-repeat 0px 0px;
}

#Newsletter .divDesc
{
	font-size:1.2em !important;
}

#Newsletter .delbutton
{
	float:right;
}
.FrontUserSelectControl
{
	width:90% !important;
	margin:0px auto;
}

/* Controllo Rubrica */

.RubricaControl
{
background-color: #D3D6DD;
width:90%;
margin:10px auto;
}

.RubricaControl_Contents
{
	border: 3px solid  #D3D6DD;
}

.RubricaControl table
{
margin: 0px auto;
margin-top: 0px;
width:100%;
text-align:left;
background-color: #FFFFFF;
}

.RubricaControl table th
{
padding:4px;
color:#323E5B;
border-right:1px solid #949AA0;
background-color:  #CAD9EA;
background-color:#CAD9EA;
background-image:url('images/folder_jpg.jpg');
}

.RubricaControl table td
{
border-bottom: 1px solid #C2CCD9;
border-color:#C2CCD9;
border-right: 1px solid  #CAD9EA;
}


.RubricaControl .Title, .FrontUserSelectControl .Title, #ListMember .Title
{
	background:url('images/sideelem.jpg') repeat-x;
	background-position:0px 0px;
	text-align:center;
	color:White;	
	padding:3px;
	font-weight:normal !important;
	font-size:1.3em !important;
	font-family:Verdana !important;		
}
.RubricaControl .Search
{
	background:url('images/usersearchback.jpg') no-repeat;
	background-position:0px 2px;
	text-align:left;
	
	padding-top:8px;
	height:22px;
}
.RubricaControl .Search .textbox
{		
	margin-left:9px;
	border:0px;
	background-color:Transparent;
	width:437px;

}
.RubricaControl .btsearch
{		
	background-image:url('images/usersearchbt.jpg');
	background-repeat:no-repeat;
	padding:4px 17px 6px 0px;
	border: 0px;	
	text-decoration:none;
}
.RubricaControl .btsearch:hover
{		
	background-image:url('images/usersearchbt_hover.jpg');
	background-repeat:no-repeat;
}

.RubricaControl .btsearch span, .RubricaControl .btreset span { display:none;}
.RubricaControl .btreset
{		
	background-image:url('images/usersearchreset.jpg');
	background-repeat:no-repeat;
	padding:4px 11px 6px 10px;
	border: 0px;	
	text-decoration:none;
}

.RubricaControl .btreset:hover
{		
	background-image:url('images/usersearchreset_hover.jpg');
	background-repeat:no-repeat;
}

/* Fine Controllo Rubrica */

/* paginazione controllo rubrica */
#Rubrica_pager
{
}
#Rubrica_pager span a,
#Rubrica_pager a:link,
#Rubrica_pager a:active,
#Rubrica_pager a:visited
{		
	text-decoration:none;
	padding:4px 8px 4px 8px;
	color:#000;	
	background-color:#ffffff;
	border-right:1px solid #C1CDDC;

	display:block;
	float:left;
}
/**/
#Rubrica_pager a:hover
{
	color:#000;
	background:#C9EBF4;	
	text-decoration:none;
	font-weight:normal;
}
#Rubrica_pager span
{		
	background-color:#ffffff;
	border-right:1px solid #C1CDDC;
	display:block;
	float:left;
	padding:4px 8px 4px 8px;
	color:#000;	
	text-decoration:none;
	font-weight:bold;
}
#Rubrica_pager .numbers 
{
	text-decoration:none;
}

#Rubrica_pager .selected
{	
	background:#E4F6FA;
	font-weight:bold;
	text-decoration:none;
}

#Rubrica_pager .sep
{
	display:none;	
}

#Rubrica_pager .clear
{
	clear:both;
}


/* Fine Paginazione Controllo Rubrica */


/* Rubrica SearchControl */
#Newsletter .SearchControl
{
	background-color:#1F567F;
	list-style:none;
	padding-top:6px;
	
}
#Newsletter .SearchControl li
{
	display:inline;
	padding:0px;
	margin:0px;
}

#Newsletter .SearchControl .formlabel
{
	display:none;	
}

#Newsletter .SearchControl input#ricerca
{
	background:transparent url('images/searchbox_bkg.gif') no-repeat scroll left top;
	border:0 none;
	color:#0A434A;
	font-size:11px;
	height:20px;
	padding:3px 10px 3px 23px;
	width:187px;
}
#Newsletter .SearchControl input#search
{
	width:60px;
	/*padding:1px;*/
	font-size:1.1em;
	
}


#ListMember
{
	background-color:#D3D6DD;
	width:90%;
	margin:10px auto;
}



#ListMember table
{
	margin: 0px auto;
	margin-top: 0px;
	width:100%;
	text-align:left;
	background-color: #FFFFFF;
}

#ListMember table th
{
	padding:4px;
	color:#323E5B;
	border-right:1px solid #949AA0;	
	background-color:#CAD9EA;
	background-image:url('images/folder_jpg.jpg');
}

#ListMember table td
{
	border-bottom: 1px solid #C2CCD9;
	border-color:#C2CCD9;
	border-right: 1px solid  #CAD9EA;
}

/* Spedizione */ 

.tab .tick
{
	background-image:url('images/icons/tick.png');
	background-repeat:no-repeat;
	width:16px;
	height:16px;
}


/* controllo anteprima newsletter*/

#Newsletter iframe
{
	border:none !important;
}

#Newsletter .TplLegend{
    border:1px solid #cad9ea; 
    margin: 20px auto;
    padding: 10px; 
    width: 90%; 
    list-style:none; 
    text-align:left; 
    font-size:1em;
}

#Newsletter .TplLegend ul{}

#Newsletter .TplLegend ul li
{
    list-style:none;
    padding-bottom:3px;
}