#GaraDesertaControl input[type=checkbox],
#GaraSenzaEsitoControl input[type=checkbox]
{
	float:left;
    margin-right: 5px;
}
#StrutturaProponente {
    margin-right: 5px;
}
#OperatoriInvitatiControl {
	padding:10px;
	background:#fff;	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:1px solid #eee;
}
#OperatoriInvitati td {
	padding:10px 0px 10px 0px;	
}
/*
.tooltip-cms3{
display: inline-block;
position: relative; 
margin:0px 4px 0px 4px;

-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px;
padding:0px 5px;



-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;

	color:#fff !important;
	text-decoration:none;
	text-shadow:1px 1px 0px #666;




}
.tooltip-cms3:hover:after{
    		background: #333;
    		background: rgba(0,0,0,.8);
    		border-radius: 5px;
    		bottom: 26px;
    		color: #fff;
    		content: attr(title);
    		left: 20%;
    		padding: 5px 15px;
    		position: absolute;
    		z-index: 98;
    		width: 220px;
		}
		
.tooltip-cms3:hover:before{
    		border: solid;
    		border-color: #333 transparent;
    		border-width: 6px 6px 0 6px;
    		bottom: 20px;
    		content: "";
    		left: 50%;
    		position: absolute;
    		z-index: 99;
		}
*/
input#add_operator_button {
	margin-left:10px;	
}



