﻿/* CSS Document */

.scheda
{
width:100%;
padding:0px 0px 7px 0px;
/*margin-top: 12px ;*/
	text-align:left;

}

.scheda span
{
font-weight:bold;
}

.scheda p
{
	text-align:left;
	/*border-bottom:1px solid #AEB2BD;*/
	margin:0px;
	padding: 10px;
}
.scheda .content 
{
	margin:0px;
	margin-top:7px;
	padding-bottom: 3px;
	border-color:#cccccc;
}
.scheda .content  p
{
	text-align:left;
	border-bottom:0px solid;
	margin:0px;
	margin-top:7px;
	padding-bottom: 3px;
}

.SchedaDT
{
	background-position:center left;
	padding:3px 0px 5px 20px;
	font-weight:bold;
	
}

.scheda dd
{
	padding:5px;
	margin-left:10px;
	border-bottom: 1px solid #EEEEEE;
	
}