﻿.SheetsControl
{	
	background-color:#eeeeee;	
	border: 1px solid #cccccc;
	position:relative;
	padding:4px;
	padding-top:22px;
}

.SheetsContainer
{
	border: 1px solid #cccccc;
	background-color:#ffffff;	
	clear:left;
	padding:7px;
}


.SingleSheet
{
	
}

.SingleLabels
{	
}

.SheetsLabels
{
	height:20px;
	position:absolute;
	top:4px;
}

.SheetLabelContainer
{
	float:left;
	border: 1px solid #cccccc;
	border-bottom:0px solid;
	z-index:1;
	margin-left:5px;
	margin-bottom:-1px;
	background-color:#cccccc;
}

.SheetsLabelsEnd div
{
}

.SheetLabelSelected
{
	background-color:#ffffff;	
}
.SheetLabelSx{}
.SheetLabelDx
{
}
.SheetLabelBody
{
	padding:3px;
}

.SheetLabelBody a
{
	text-decoration:none;
}