﻿.sideHide
{
	margin-left:-194px;	
}
.sideHide .sideContainer
{
	visibility:hidden;
}
.sideHide .sideClicker strong{display:none;}
.sideHide .sideClicker
{
	position:absolute;
	top:0px;
	width:22px;
	display:block;
	right:0px;
	background-repeat:repeat-y;
	background-image:url('images/sidehideback.jpg');	
	border-bottom:1px solid #747B83;
	background-position:right;
	height:90%;
}

.sideHide .sideClicker span{background-image:url('images/arrowopen.gif');}
.sideClicker
{
	background-image:url('images/folder_jpg.jpg');		
	background-repeat:repeat-x;
	background-color:#CAD9EA;
	color:#323E5B;
	
}
.sideClicker strong
{	
	padding:4px;
	margin:0px;
	display:block;
}
.sideClicker span
{
	float:right;
	width:22px;
	height:19px;
	
	background-image:url('images/arrowclose_gif.gif');
	
}
.sideContainer
{
	
}
#side .SideBlock .SideBlock_Title 
{

background-image:url('images/sidetitlebackdark.png');
    
    text-align:center;
    position:relative;
	padding:2px 0px 6px 0px;
    font-weight:bold;
    color:#ffffff;
    background-position: left bottom;
    background-repeat:repeat-x;
    background-color:#555;
    text-shadow:1px 1px 0px #2f2f2f;
    cursor:pointer;
}

#side .SideBlock .SideBlock_Title a:hover
{	
    color:#FFFFBF !important;
    background-position:209px 4px;
}

#side .SideBlock .SideBlock_Title a
{
	background-repeat:no-repeat;	
    display:block;  	

/*text-decoration:none;
	text-align: center;
	height:20px;
	
	margin-right:0px;
    padding-left: 5px;*/
}

#side .SideBlock_Opened
{
	background-image:url('images/side_open.gif');
    background-position:209px 4px;
}

#side .SideBlock_Collapsed
{
	background-image:url('images/side_close.gif');
    background-position:209px 4px;
}

#side .SideBlock .SideBlock_Title span
{
color:#FFFFFF;
display:block;

}

#side .Notice .SideBlock_Title
{
padding-bottom:0px;
padding-left: 5px;
/*background-image:url(" + ImagesIndexer.GetImageURL(ImagesIndexer.Images.Sideelem) + @");*/
color:#FFFFFF;
font-weight:bold;
	height:20px;
}

#side .Notice .SideBlock_Title a
{
	background-image:url('images/side_open.gif');
	text-decoration:none;
	height:20px;
	display:none;
	width:9px;
	float:right;
	margin-right:5px;
}

#side .Notice .SideBlock_Title span
{
color:#FFFFFF;
font-weight:bold;
padding-top:3px;
display:block;

}

#side .Notice .content
{
	background-color:#FFFFee;
	font-weight:bold;
	color:#990000;
	
	padding-top:10px;	
	padding-bottom:10px;
	padding-left:5px;
	border:2px solid #990000;
}

#side .Notice ul
{
	padding-top:5px;
	margin-top:0;
	
	padding-bottom:5px;
	margin-bottom:0;

}

#side .Commands ul
{
	margin-left:0px;
	padding-left:0px;
	margin:0;
}

#side .Commands .child a div
{
	margin-left:15px;
}

#side .Commands ul li
{
	margin-left:0px;
	padding-left:0px;
	list-style-position: outside;
	list-style-type:none;	
	display:block;		
}
#side .Commands ul li a
{
	display:block;	
	text-decoration:none;
	
	display:block;	
	padding:0px 0px 0px 3px;
    border-bottom:1px solid #D5D5D5;
/*    
	background-image: url(" + ImagesIndexer.GetImageURL(ImagesIndexer.Images.Sidetoolbarback) + @");
*/
}
#side .Commands ul li a span
{
    display:block;
	background-repeat:no-repeat;
	background-position:0px 5px;	
}
#side .Commands ul li a div
{
	background-repeat:no-repeat;
	background-position:center left;	
}
#side .Commands ul li .alternate span
{
}
#side .Commands a div span
{
	display:block;	
	padding:5px 0px 5px 2px;	
	padding-left:20px;
}
#side .Commands a span strong
{
	display:block;	
	padding:5px 0px 5px 2px;	
	padding-left:20px;
}
#side .Commands a:hover
{
	background-position:bottom left;
}

#side .CurentObjectSideInfo ul
{
	margin-left:0px;
	padding-left:0px;
	margin:0;
}

#side .CurentObjectSideInfo ul li
{
	margin-left:0px;
	padding-left:0px;
	list-style-position:outside;
	list-style-type:none;	
	display:block;		
}
#side .CurentObjectSideInfo ul li
{
	display:block;	
	text-decoration:none;
	border-bottom:1px solid #DDDDDD;
	display:block;		
	background-position:top right;
	padding:5px 0px 5px 3px;	
}

#side .CurentObjectSideInfo a
{
	text-decoration:none;
}

#side .CurentObjectSideInfo a:hover
{
	background-position:bottom right;
}

/*****************Folders***********************************************************************/
#side .SideFolders .content
{
	/*background-image: url(" + ImagesIndexer.GetImageURL(ImagesIndexer.Images.Folderback) + @");
	background-repeat:repeat-y;
	background-color:#E8E9ED;*/
	padding:10px;
	padding-right:0px;    
	overflow-x: scroll;
}
#side .SideFolders li
{
	width:1200px;
}
#side .ListTreeNode_ContentLink
{
	width:1000px;
}

#Tree_Content
{
	background-color:#FFFFFF;	
}
#Tree_Content strong 
{
    color:#000;     
    
    -webkit-box-shadow: inset 3px 0px 2px 1px #888;        
    box-shadow: inset 0px 0px 2px 1px #888; 
    
    padding:6px;
}

#side .SideSearchCriteriaInfo .content
{	
	background-image: url('images/folderback.jpg');
	padding:10px;
	padding-right:0px;
}

#side .SideBlockAccount .SideBlock_Title
{
	padding:1px;
}
#side .SideBlockAccount div
{	
	padding-top:3px;
	padding-left:5px;
}
#side .SideBlockAccount select
{
	font-weight:normal;
	font-size:10px;
	padding:0px;
	margin:0px;
	width:178px;
}

#side .SideBlockAccount input
{
	font-weight:bold;
	font-size:10px;
	padding:0px;
	border:0px;
	background-color:Transparent;
	color:White;
	
}

.MessengerInfo
{
	
	font-weight:bold;
	text-align:center;
	border-bottom:1px solid #DDDDDD;
	
}
.MessengerInfo a
{
	background:#ffffff url('images/sidetoolbarbackhid.jpg') right repeat-y;
	padding:10px;
	text-decoration:none;	
	display:block;
}
.MessengerInfo a:hover
{
	background:#ffffff url('images/sidetoolbarback2.jpg') right repeat-y;
	text-decoration:underline;	
}

.FATN
{
	padding:5px;
	padding-left:22px;
	background-image:url('images/folder_gif.gif');
	background-repeat:no-repeat;
	background-position: center left;
}
.FATN a{text-decoration:none;}
.FATN_1 { background-image:url('images/root.gif');}
.FATN_TRASH { background-image:url('images/trash.gif');}

#FoldersTreeAjax{ margin-left:-22px;}

#side .Commands a span span.SideToolbarButton_Label
{
	display:block;	
	padding:5px 0px 5px 2px;	
	padding-left:20px;
}


#side .net-service-logo
{
	display:block;
	height: 35px;
	background-image:url('images/netservice.jpg');
    border-bottom:1px solid #DDDDDD;
}
/* xTreeView */

.xTreeView 
{
    padding:0px;
    margin :0px;
    font-size:12px;
}

.xTreeView ul
{
    padding:0px;
    margin :0px;
    list-style: none;
    margin-left:18px;
    white-space: nowrap;
}

.xTreeView li
{
    background-color:White;
    background-image: url(images/line.gif);
    background-repeat:repeat-y;
    white-space: nowrap;
    list-style:none;
}

.xTreeView .nonext
{
    background-image: none;
    background-color:White;
    white-space: nowrap;
}

.xTreeView {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	white-space: nowrap;
	border: 0px;
}
.xTreeView img {
	border: 0px;
	vertical-align: middle;
}
.xTreeView .xNodeSelected
{
    background-color:Gray;
	
	
}
.xTreeView .checkbox
{
    border: 0px;
	white-space: nowrap;
	font-size: 12px;
	padding:0px;
    margin :0px;
    height : 14px;
    
    width:14px;
}

.SideNetworkButton_Network a span {background-image:url('images/icons/world.png');}
.SideNetworkButton_Network a:hover span {background-image:url('images/icons/world_go.png');}

.SideNetworkSearch
{
	background-image:url('images/usersearchback.jpg');
    background-position: left center;
    background-repeat: no-repeat;
    display: block;
    font-size: 12px;
    padding:3px 2px 4px 2px;
    position:relative;
    
    width: 213px;
}

.SideNetworkSearch #netSearch
{
    padding:5px;
    padding-left:10px;
    background-color:transparent;
    border:0px;
}

.SideNetworkSearch #networkSearchButton:hover
{
	background-image:url('images/usersearchbt_hover.jpg');
}
.SideNetworkSearch #networkSearchButton
{
    font-size:0px;
    width:21px;
    height:25px;
    position:absolute;
    right:0px;
    top:3px;
    border:0px;
    
	background-image:url('images/usersearchbt.jpg');
}