/********######## /newsletter/templates/templates.aspx ########********/
#btnRescan {
	position:absolute;
	right:10px;	
	top:132px;
}
#tplTable {
	width:100%;
	background:#fff;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	position:relative;
}
#tplTable p {
	margin:0px;	
}
#tplTable td{
	padding:10px;
	vertical-align:top;
	border:1px solid #DDDDDD;
}
#tplTable .imgContainer {
	width:200px;	
}
#tplTable .tplName, .tplInfo .tplName{
	background-color: #F3F5F6;
    border-color: #E9E9E9;
    color: #5BC0DE;	
	display:block;
	text-transform: uppercase;
	font-size:18px;
	font-weight:bold;
}
#tplTable tr:hover td{
	background:#F3F5F6;	
	transition: background 0.4s ease 0s;	
}
#defaultTr, #tplTable tr#defaultTr:hover td{
	background:#DFF0D8 !important;		
}
#defaultTr .imgContainer {
	border-left:4px solid #7AD03A;	
}
#defaultTr {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:    0px 0px 5px 0px rgba(0, 0, 0, 0.25);
	box-shadow:         0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}
#defaultTr .tplName{
	color:#000;
	background:none;
}
#tplTable .tplName, #tplTable .tplDesc, #tplTable .tplStato {
	padding: 10px 15px;
}
#tplTable .tplStato {display:block;}
#defaultTr h1 {
	display:none;	
}
#tplTable .tplStato {
	position:absolute;
	left:56px;	
	color:#fff;
}
#tplTable .tplStato.Installed,
#tplTable .tplStato.NotInstalled {
	padding-left:30px;	
	background-repeat:no-repeat;
	background-position:8px 8px;
	background-color:rgba(0,0,0,0.8);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size:11px;
}
#tplTable .tplStato.Installed {
	background-image:url("newsletter/installed.png");	
	display:none;
}
#tplTable .tplStato.NotInstalled {
	background-image:url("newsletter/not-installed.png");	
}



/* disinstalla */
input[type="submit"].uninstallButton {
	background-color: #D9534F;
    border-color: #D43F3A;
}
input[type="submit"].uninstallButton:hover {
	text-shadow:none;	
	background-color: #D2322D;
    border-color: #AC2925;
}
/* installa/reinstalla */
input[type="submit"].installButton,
input[type="submit"].reinstallButton
 {
    background-color: #5CB85C;
    border-color: #4CAE4C;
	}
input[type="submit"].installButton:hover,
input[type="submit"].reinstallButton:hover
 {
	text-shadow:none;	
	 background-color: #47A447;
    border-color: #398439;
}
/* associa */
#tplTable a.btn-link {
	background-color: #5BC0DE;
    border-color: #46B8DA;
}
#tplTable a.btn-link:hover {
	background-color: #39B3D7;
    border-color: #269ABC;
	text-shadow:none;	
}
#tplTable .btn-link {
    line-height: 22px !important;
}
/* imposta */
input[type="submit"].setDefaultButton:hover {
	background-color: #3276B1;
    border-color: #285E8E; 
	text-shadow:none;
}

/********######## /newsletter/templates/asstemplatechannel.aspx ########********/

.tplInfo img {
	float:left;
}
.tplInfo .tplName, .tplInfo .tplDesc{
	width:68%;
	float:right;
}

.tplInfo {
	clear:both;	
	display:block;
}
.tplInfo:after {
	display:block;
	width:100%;
	height:20px;
	content:" ";	
	overflow:hidden;
	clear:both;	
}
.reinstallInfo {
	margin-top:20px;
	padding:10px 10px 10px 24px;	
	display:block;
	background:url("newsletter/refresh.png") 0px 10px no-repeat;
}