﻿.sm-table,
table.sm-table 
{
    width:100%;
    text-align:left;

    clear:both; 
    bottom:5px; 
    margin:0px;    
    -moz-box-shadow:0 -1px 0 #ddd;
    -webkit-box-shadow:0 -1px 0 #ddd;
    -khtml-box-shadow:0 -1px 0 #ddd;
    box-shadow:0 -1px 0 #ddd	
}
.sm-table th, .sm-table td {
    background-color:#fff;
    padding: 4px;
    -moz-box-shadow:0 1px 0 #fff;
    -webkit-box-shadow:0 1px 0 #fff;
    -khtml-box-shadow:0 1px 0 #fff;
    box-shadow:0 1px 0 #fff 
}
.sm-table th a {
    color:#444;
}
.sm-table th {
    border-right: solid 1px #d0d0d0;
    border-bottom: solid 1px #d0d0d0;
    text-align:left;
    border-top:solid 1px #fff;
    font-weight:bold;
    color: #444
}
.sm-table td {border-bottom:solid 1px #ddd; }

.sm-table .alternate td, .alternate td  {background-color:#fafafa; border-bottom:solid 1px #ddd }

.sm-table th {
    text-shadow:0 1px 0 #ffffff;
	background:#f1f1f1;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#e8e8e8');
	background:-webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e8e8e8));
	background:-moz-linear-gradient(top, #f1f1f1, #e8e8e8);
	background:-o-linear-gradient(top, #f1f1f1, #e8e8e8);
}
.sm-table a
{
	text-decoration:none;
	padding-left:0px;
	padding-top:5px;
	padding-bottom:6px;
	display:block;
    color:#21759B;
}

.sm-table a:hover
{
	color:#000;
	text-decoration:none;
}


.sm-table .action span
{
margin-left:28px;
text-decoration:none;
}/**/
.sm-table a
{
	text-decoration:none;
	display:block;
}
.sm-table .FS_Icon
{
    padding:5px;
    background-position:center;
    background-repeat:no-repeat;
    text-align:center;
    width:16px;
}

.toggle-button
{
	text-align:center;
	position:relative;
	padding:2px 0px 6px 0px;
    font-weight:bold;
    color:#2f2f2f;
}
.toggle-button{ 
    background-image:url('images/overtitle.png');
    background-position: left bottom;
    background-repeat:repeat-x;
    background-color:#f5f5f5;
    text-shadow:0px 1px 2px #999999;
    cursor:pointer;
}
.toggle-button.light{ background-image:url('images/overtitle.png'); }

.toggle-button.dark{ 
    background-image:url('images/sidetitlebackdark.png'); 
    color:#ffffff;
    background-position: left bottom;
    background-repeat:repeat-x;
    background-color:#555;
    text-shadow:1px 1px 0px #2f2f2f;
    cursor:pointer;
}
.toggle-button.dark:hover {
    color:#FFFFBF;
}
.toggle-button a
{
	position:absolute;
	right:0px;
}


.sm-table .action a
{
    display:block;
    text-decoration:none;
    width:100%;

    padding-top:5px;
    padding-bottom:6px;

    background-image: url('images/key.png');
    background-position:center left;
    background-repeat:no-repeat;
}


.toggle-button a
{
	background-position: 5px 6px;
	background-repeat:no-repeat;
	display:block;
	width:20px;
	height:20px;
	top:0px; 
	background-image: url('images/side_open.gif');
}
.toggle-button a:hover
{
	background-position: 5px 6px !important;
}

#corpo .toggle-button a {
	background-image: url('images/side_open_dark.gif');
}
#corpo .toggle-button:hover {
    color:#000;
}
#corpo .toggle-button.collapsed a { background-image: url('images/side_close_dark.gif');}

.toggle-button span
{
	display:none;
}

.toggle-button.collapsed a { background-image: url('images/side_close.gif');}