﻿body, #corpo
{
	background-color:#F4F4F4 !important; 

}

#slider, #avvisi_toolbar
{
	padding-top:20px;
    width: 660px;
    margin: 0 auto;
    position: relative;
}
#avvisi_toolbar {
	padding-top:0px;
	margin-top:40px;
}
#slider .scroll, #avvisi_toolbar {
    width: 660px;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    clear: left;
    background: #FFFFFF;
	border:1px solid;
	border-color:#cccccc;
	margin-bottom:18px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}

#slider .scrollContainer div.panel {
    width: 662px;
}

#slider ul.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 9px;
}

#slider ul.navigation li {
    display:block;
    float:left;
	font-size:15px;
}

#slider ul.navigation a {
    color: #444;
    display:block;
    text-align:center;
    text-decoration: none;
	
	border:1px solid;
	border-color:#cccccc #cccccc #ffffff #cccccc;	
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	padding:14px;
	margin-bottom:-4px;
	margin-left:8px;	
	
	font-weight:bold;	
	text-shadow:0 1px 0 #ffffff;
	
	background:url(images/startpage/sftab.png) 0px 0px repeat-x;	
}


#slider ul.navigation a:hover {
	background:#fff;
	color:#000;
}

#slider ul.navigation a:focus {
    outline: none;
}

#slider .scrollButtons {
    position: absolute;
    top: 150px;
    cursor: pointer;
}

#slider .scrollButtons.left {
    left: -20px;
    display:none;
}

#slider .scrollButtons.right {
    right: -20px;
    display:none;
}

#slider .hide {
    display: none;
}

#slider .navigation  a.selected { 
	background:url(images/startpage/sftab.png) 0px -183px repeat-x;
	color:#000;
}

#slider .navigation .activity a { position:relative;}
#slider .navigation .activity a .count
{
	background-image:none; 
	display:inline;
	position: absolute;
	color:#000;
	top:10px;
	font-weight:bold;
}

#slider .navigation .activity a .count {
	background-repeat:no-repeat;
	background-position:0 0;
	display:block;
	font-size:12px;
	font-weight:bold;
	line-height:100%;
	text-align:center;
	padding:7px 0;
	height:19px;
	width:26px;
	right:-7px;
	top:-7px;
	position:absolute;	
	
	text-shadow:0 1px 1px #666;
	color:#fff;
	background-image:url(images/startpage/bg_notification.png);
}

/**************************** Tab Applicazioni *******************************/

#slider .applications *
{
	padding:0px;
	margin:0px;
}

#slider .applications .StartpageRowTitle,
#avvisi_toolbar h1
{	
	border-top:1px solid;
	display:block;
	font-size:15px;
	margin:0;
	padding:15px 10px;
	border-top-color:#ffffff;
	color:#444444;
	font-weight:700;	
	text-shadow:0px 1px 0 #ffffff;
	background:url(images/startpage/sftab.png) 0px -384px repeat-x;
	text-align:left;
}
#slider .applications .StartpageRowContainer
{
	background-position:bottom left; 
	background-repeat:no-repeat;
	padding:5px;
}

#slider .applications .StartpageBox,
#avvisi_toolbar li
{
	display: block;
	float:left;
}

#slider .applications .StartpageClear{clear:left;}

#slider .applications .StartpageRow .StartpageBoxIcon,
#avvisi_toolbar li img
{    
    display:block;
    width:32px;
    height:32px;
    margin:0px auto;
    text-align:center;
    }


#slider .applications .StartpageRow span
{
	display:block;
	height:45px;
	width:110px;	
	line-height:14px;
}

#slider .applications .StartpageRow .StartpageBox,
#avvisi_toolbar li a
{	
	margin:10px 16px 10px 16px;
	-webkit-box-shadow:0 0 3px #b3b3b3;
	-moz-box-shadow:0 0 3px #b3b3b3;
	box-shadow:0 0 3px #b3b3b3;
	border:1px solid #EEEEEE;

	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	
	background:url(images/startpage/sftab.png) 0px -371px repeat-x;
}


#slider .applications .StartpageRow .StartpageBox a:hover,
#avvisi_toolbar li a:hover
{
	background:url(images/startpage/sftab.png) 0px -612px repeat-x;
	color:#000;
}
#slider .applications .networks_fullsizerow .StartpageRow2Boxes span
{
	display:block;
	float:left;
	font-size:14px;
}

#slider .applications .networks_fullsizerow .StartpageRow2Boxes em
{
	padding-top:15px;
	display:block;
}
#slider .applications .networks_fullsizerow .StartpageRow2Boxes .StartpageBox
{
	width:36%;
	margin-right:10px;
}
#slider .applications .StartpageBox a,
#avvisi_toolbar li a
{	
	text-decoration:none;		
	padding:10px;	
	display:block;	
	text-align:center;
	color:#545454;
	text-shadow:0 1px 1px #fff;
	font-weight:bold;	
}

#slider .applications .networks_fullsizerow .StartpageRow2Boxes .StartpageBoxIcon{width:66px;}

#slider .applications .networks_column 
{
	display:block;
	float:right;
	border-left: 1px solid #CED4E2;
	height:600px;
	background-color:#ffffff;
	padding:0px;
	margin:0px;
	overflow:auto;
	width:350px;
}
#slider .applications table 
{
	width:100%;
	border-collapse:collapse;
}
#slider .applications table tr{
	border-bottom: 1px solid #CED4E2;
}
#slider .applications .networks_column .StartpageCell 
{
	padding:3px;
}
#slider .applications .networks_column .StartpageCell span { display:none;}
#slider .applications .networks_column .StartpageCell .StartpageCellIcon { display:block; width:20px; height:20px;}
#slider .applications .networks_column .StartpageCell .StartpageCellIcon { background-repeat:no-repeat; background-position:center; }
#slider .applications .networks_column .StartpageTableRowTitle { width:100%; text-align:left; }
#slider .applications .networks_column tr:hover
{
	background-position:center right;
	background-color:Aqua;
}
#slider .applications .networks_column .StartpageTableRowTitle a 
{ 
	font-size:12px;
	color:#000033;
	font-weight:bold;
	text-decoration:none;
	display:block;
}

/**************************** Tab Preferiti *******************************/
#slider .favorites
{
	list-style-type: none;	
}
#slider .favorites .SideToolbarButton
{
	border-bottom:1px solid #eee;
}
#slider .favorites .SideToolbarButton a
{
	display:block;
	text-decoration:none;
}
#slider .favorites .SideToolbarButton a:hover
{
	background-color:#F6F7F9;
}
#slider .favorites .SideToolbarButton a div
{
	background-repeat:no-repeat;
	background-position:5px 9px;
	padding:10px;	
}
#slider .favorites .SideToolbarButton a div span
{
	display:block;	
	text-align:left;
	padding-left: 15px;
	color:#21759B;
}
#slider .favorites .SideToolbarButton a:hover div span {
	color:#000;	
}
.StartpageBoxPUBAPPALTIEXT .StartpageBoxIcon{
	background:url(monitoraggio-acquisti-in-economia/icona.png) 0px 0px no-repeat !important;
}
/* ALBO Fornitori */

.StartpageBoxALBO_FORNITORI .StartpageBoxIcon{
	background:url(images/startpage/albo-fornitori.png) 0px 0px no-repeat !important;
}
.StartpageBoxAVVISI-EMERGENZE .StartpageBoxIcon {
	background:url(images/startpage/avvisiemergenze.png) 0px 0px no-repeat !important;
}
.StartpageBoxLETTURACONTATORI .StartpageBoxIcon {
	background:url(../admin/letturacontatori/images/letturacontatori.png) 0px 0px no-repeat !important;
}
.StartpageBoxPUBBLICITA-APPALTI .StartpageBoxIcon {
	background:url(../admin/pubblicita-appalti/images/anac.png) 0px 0px no-repeat !important;
}
.StartpageBoxPROVVEDIMENTI .StartpageBoxIcon {
	background:url(../admin/provvedimenti/images/provvedimenti.png) 0px 0px no-repeat !important;
}
.StartpageBoxORGANIGRAMMA .StartpageBoxIcon {
	background:url(../admin/organigramma/images/organigramma.png) 0px 0px no-repeat !important;
}
.StartpageBoxSEDUTECONSIGLIO .StartpageBoxIcon {
	background:url(../admin/seduteconsiglio/images/consiglio.png) 0px 0px no-repeat !important;
}
.StartpageBoxCUSTOMANAGRAFE .StartpageBoxIcon {
	background:url(../admin/generazioneanagraficacustom/anagrafica.png) 0px 0px no-repeat !important;
}
.StartpageBoxGENERICJOBSAPP .StartpageBoxIcon {
	background:url(../admin/taskscheduler/task.png) 0px 0px no-repeat !important;
}
.StartpageBoxELENCO-ANALISI .StartpageBoxIcon {
	background:url(../admin/elenco-analisi/elenco.png) 0px 0px no-repeat !important;
}
.StartpageBoxRICHIESTEMEDICI .StartpageBoxIcon {
	background:url(../admin/richiestemedici/images/richieste-cao.png) 0px 0px no-repeat !important;
}
.StartpageBoxCONDIVISIONEDOCUMENTI .StartpageBoxIcon {
    background:url(../admin/condivisionedoc/cd.png) 0px 0px no-repeat !important;
}

.StartpageBoxBONUSSPESACOVID19 .StartpageBoxIcon { background: url('images/startpage/app-bonusspesa.png') 0px 0px no-repeat !important;}
.StartpageBoxSIDRAPRATICHE .StartpageBoxIcon {
	background: url('images/startpage/app-sidrapratiche.png') 0px 0px no-repeat !important;
}

#slider .applications .StartpageBox .StartpageBoxIcon {
	background-image: url('images/startpage/cms_internet.png')
}
#slider .applications .StartpageBoxNEWSLETTER .StartpageBoxIcon{ background-image:url('images/startpage/Newsletter.jpg')}
#slider .applications .StartpageBoxFORUM .StartpageBoxIcon{ background-image:url('images/startpage/Forum.jpg')}
#slider .applications .StartpageBoxLOG .StartpageBoxIcon{ background-image:url('images/startpage/Log.jpg')}
#slider .applications .StartpageBoxLOGVIEWER .StartpageBoxIcon{ background-image:url('images/startpage/Log.jpg')}
#slider .applications .StartpageBoxLOG4NETVIEWER .StartpageBoxIcon{ background-image:url('images/startpage/log.png')}
#slider .applications .StartpageBoxCRM .StartpageBoxIcon{ background-image:url('images/startpage/Crm.jpg')}
#slider .applications .StartpageBoxFRONTUSERS .StartpageBoxIcon{ background-image:url('images/startpage/Frontusers.jpg')}
#slider .applications .StartpageBoxUSERS .StartpageBoxIcon{ background-image:url('images/startpage/users.png')}
#slider .applications .StartpageBoxGROUPS .StartpageBoxIcon{ background-image:url('images/startpage/groups.png')}
#slider .applications .StartpageBoxBACHECA .StartpageBoxIcon{ background-image:url('images/startpage/Bacheca.jpg')}
#slider .applications .StartpageBoxAPP .StartpageBoxIcon{ background-image:url('images/startpage/Bacheca.jpg')}
#slider .applications .StartpageBoxPREREGISTRATION .StartpageBoxIcon{ background-image:url('images/startpage/Frontusers.jpg')}
#slider .applications .StartpageBoxRESTRICTEDAREAS .StartpageBoxIcon{ background-image:url('images/startpage/Frontusers.jpg')}
#slider .applications .StartpageBoxCONTACTS .StartpageBoxIcon{ background-image:url('images/startpage/Frontusers.jpg')}
#slider .applications .StartpageBoxOFFICES .StartpageBoxIcon{ background-image:url('images/startpage/Offices.jpg')}
#slider .applications .StartpageBoxCLARIFY .StartpageBoxIcon{ background-image:url('images/startpage/Offices.jpg')}
#slider .applications .StartpageBoxSMSGATEWAY .StartpageBoxIcon{ background-image:url('images/startpage/Sms.jpg')}
#slider .applications .StartpageBoxICI .StartpageBoxIcon{ background-image:url('images/startpage/ici_jpg.jpg')}
#slider .applications .StartpageBoxCFORMS .StartpageBoxIcon{ background-image:url('images/startpage/customforms.jpg')}
#slider .applications .StartpageBoxADVANCEDTOOLS .StartpageBoxIcon{ background-image:url('images/startpage/toolconfigure.png')}
#slider .applications .StartpageBoxINSTALLER .StartpageBoxIcon{ background-image:url('images/startpage/appzinstaller.png')}
#slider .applications .StartpageBoxIMPORTER .StartpageBoxIcon{ background-image:url('images/startpage/importer.png')}
#slider .applications .StartpageBoxGRANTS .StartpageBoxIcon{ background-image:url('images/startpage/grants.png')}
#slider .applications .StartpageBoxPORTALS .StartpageBoxIcon{ background-image:url('images/startpage/Networks.jpg')}
#slider .applications .StartpageBoxNETWORKSMANAGER .StartpageBoxIcon{ background-image:url('images/startpage/networks.png')}
#slider .applications .StartpageBoxMONITORING .StartpageBoxIcon{ background-image:url('images/startpage/monitoring.png')}
#slider .applications .StartpageBoxMESSAGGISTICA .StartpageBoxIcon{ background-image:url('images/startpage/messaggistica.png')}
#slider .applications .StartpageBoxUSERSAGGREGATOR .StartpageBoxIcon{ background-image:url('images/startpage/listeUtenti.png')}
#slider .applications .StartpageBoxALBOPRETORIO .StartpageBoxIcon{ background-image:url('images/startpage/albopretorio.png')}
#slider .applications .StartpageBoxATTIAMMINISTRATIVI .StartpageBoxIcon{ background-image:url('images/startpage/attiamministrativi.png')}
#slider .applications .StartpageBoxCMSPORTALS .StartpageBoxIcon{ background-image:url('images/startpage/gestioneistituti.png')}
#slider .applications .networks_column .StartpageTableRow .FrontIcon .StartpageCellIcon {background-image:url('images/icons/world_go.png');}
#slider .applications .networks_column .StartpageTableRow .AdminIcon .StartpageCellIcon {background-image:url('images/icons/world_edit.png');}
#slider .applications .networks_column .StartpageTableRow .NewsletterIcon .StartpageCellIcon {background-image:url('images/icons/newspaper.png');}
#slider .applications .StartpageBoxINDICATORI-TURISMO .StartpageBoxIcon{ background-image:url('images/startpage/indicatori-turismo.png');}
#slider .applications .StartpageBoxFILTROINTERNET .StartpageBoxIcon{ background-image:url('images/startpage/filtro-internet.png');}
#slider .applications .StartpageBoxRUBRICA .StartpageBoxIcon { background-image: url('images/startpage/address-book.png');}
#slider .applications .StartpageBoxREFERTIONLINE .StartpageBoxIcon { background-image: url('images/startpage/app-referti.png');}
