﻿#PopupControl
    {
		padding:4px;
        background-color:#FFFFFF;
        border: 1px solid #C2CCD9;    
        border-top: 0px solid #C2CCD9;    
    }
        
    #PopupControl .PopupImage
    {
		margin: 5px;
		float:left;
		
		min-height: 200px;
		height: auto !important;
		height: 200px;
				
    }
    
    #PopupControl .PopupContents
    {
		margin: 5px;
		float:left;
		text-align:left;
		padding-left:10px;
		
		min-height: 200px;
		height: auto !important;
		height: 200px;
        border-left: 1px solid #C2CCD9;  
		
    }