﻿/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext);*/
@import url(contents.css);
@import url(appz.css);
@import url(foldertab.css);
@import url(toolbar.css);
@import url(startpage.css);
@import url(scheda.css);
@import url(grantspage.css);
@import url(login.css);
@import url(listtreeview.css);
@import url(homepage.css);
@import url(GenericTable.css);
@import url(sheets.css);
@import url(avvisiemergenze.css);
@import url(assegnifamiglia.css);
@import url(lang.css);
@import url(site-newsletter.css);
@import url('/scripts/shared/font-awesome-4.7.0/css/font-awesome.css');


html, body {
    height: 100%;
}
body {
margin:0;
padding:0;
background-image:url('images/sideback_jpg.jpg');
background-repeat:repeat-y;
color:#333;
font-family: sans-serif;
text-rendering:optimizelegibility;
}

body, textarea {
    line-height: 1.4em;
}
#PageForm {
    height: auto;
    min-height: 100%;
    position: relative;
    width: 100%;
}

body, textarea, input, select, h1 {    
    font-size: 13px;
}
p, ul, ol, blockquote, input, select, td {
    font-size: 12px;
}
.empty 
{
    position:absolute;
    left:-9999px;    
}
fieldset {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: left;
    clear: both;
    background-color: #fff;    
}
fieldset legend{
	text-transform:uppercase;	
	text-shadow:1px 1px 1px #fff;
	font-weight:bold;
	padding:0 5px 0 5px;	
	line-height:18px;
    font-size:12px;
    color:#000;
    font-family: 'Open Sans', sans-serif;
	margin:10px 0;
    border:none;
    width:auto;
}
/*fieldset p, .validatedfield {
    margin-bottom:20px;
}*/

.radiobutton-vf label, .checkboxlist-vf label, .checkbox-vf label, .addremovelist-vf label{
    display:inline !important;    
}
.radiobutton-vf input, .checkboxlist-vf input {
    margin-right:5px;
}
.bodyNoBG
{
background-image:none;
	
}
#globale
{
background-image:url('images/sideback_jpg.jpg');
background-repeat:repeat-y;
background-position:top right;
background-color:Aqua;
}
form
{
margin:0px;
padding:0px;

}
#PageForm
{
margin:0px;
padding:0px;
}

#side
{
position:absolute;
top: 112px;
left:0;
width:224px;
/*width:214px;
min-height: 700px;
height: auto !important;
height: 700px;
*/
z-index:0;
overflow:auto;
}
#side a {
    color:#21759B;
    text-decoration:none;
}
#side a:hover {
    color:#000;
    text-decoration:none;
}
#side .sideContainer li a span
{
    background-repeat: no-repeat;
}
#corpo
{
background-color:#ffffff;
/*
min-height: 600px;
height: auto !important;
height: 600px;
*/
width:auto;
margin-left:225px;
text-align:center;
margin-top:0px;
padding:112px 0px 10px 0px;
z-index:2;
border-left:1px solid #fff;
}

/*#corpo a{
    color:#21759B;
}*/
/*#corpo a:hover{
  color:#000;  
    text-decoration:none;
}*/
.CorpoFull
{
width:100%;
display:none;
margin:0px;
}

* html #corpo
{
	
margin-top:2px;
}

.box
{
float:left;
width:100px; height:80px;
margin-left:10px;
text-align:center;
border:1px solid #ffffff;
}

#corpo .box a
{
display:block;
color:#00328D;
text-decoration:none;
}

.box a
{
display:block;
color:#00328D;
text-decoration:none;
border:1px solid #ffffff;
}

img
{
border:0;
}

.box a:hover
{
border:1px solid #aaaaaa;
border-collapse:collapse;
font-weight:bold;
}

.clearleft
{
clear:left;
}
.clearright
{
clear:right;
}

.bigbox
{
text-align:left;
padding:10px;
width: 48%;
width: 100%;
}
.floatright
{
float:right;width:48%;
}
.floatleft
{
float:left;
}
.bordeleft
{
border-left:1px solid #CAD9EA;
border-collapse:collapse;
}
.borderight
{
border-right:1px solid #CAD9EA;
border-collapse:collapse;
}

label,legend
{
font-weight:bold;
}

.hide
{display:none;
}

.center
{
text-align:center;
}
.section .hr
{
background-color:#CAD9EA;
background-image:url('images/hr.jpg');
background-repeat:no-repeat;
background-position: top right;
height:1px;
font-size:0px;}
.section 
{
	margin-top:20px;
	text-align:left;
}

.section div strong
{
	margin-left:10px;
	font-size:12px;
	font-family:Arial;
	
}

.formlabel, .validatedfield label
{
	display:block;
}


/*
#UserLoginInfo
{
	position:absolute;	
	z-index: 3;
	right:5px;	
    text-shadow: 0px 1px 1px #FFFFFF
}
#UserLoginInfo a {
    color:#21759B;
    text-decoration:none;
}
#UserLoginInfo a:hover {
    color:#000;
    text-decoration:none;
}
#UserLoginInfo span
{
	
}

#UserLoginInfo .Date,
#UserLoginInfo .Clock,
#UserLoginInfo .Logout
{	
	
	font-weight:bold;
	padding-right:4px;
	margin-right:4px;
}

#UserLoginInfo .Logout
{
	font-weight:bold;
}

#UserLoginInfo .Logout a
{
	
	text-decoration:none;
}
#UserLoginInfo .Logout a:hover
{
	font-weight:bold;
}
#UserLoginInfo .Date,
#UserLoginInfo .Clock
{
	border-right:1px solid #ccc;
}

#UserLoginInfo .User,
#UserLoginInfo .User strong
{
	
	
}
*/
#footer .debug
{
	background-color:#E5ECF5;
	border-top:1px solid #AEB2BD;
	border-bottom:1px solid #AEB2BD;
	margin-left:215px;
	padding:7px;
}
#footer
{
	/*background-color: #647895;
	
	text-align:center;
	height:13px;
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;*/
}

div.tooltip { 
    background-color:#000; 
    outline:1px solid #669; 
    border:2px solid #fff; 
    padding:10px 15px; 
    width:500px; 
    display:none; 
    color:#fff; 
    text-align:left; 
    font-size:12px; 
 
    /* outline radius for mozilla/firefox only */ 
    ☺☺outline-radius:4px; 
    -moz-outline-radius:4px; 
    -webkit-outline-radius:4px; 
}

.error, .notice, .success,
.error td, notice td, .success td
{
	border:2px solid #DDDDDD !important;
	margin-bottom:1.6em !important;
	padding:0.8em !important;    
}
.not-valid li
{
	border:2px solid #DDDDDD !important;	
	padding:0.8em !important;    
}
.error td, notice td, .success td
{
	border:1px solid #DDDDDD !important;
}

.error ,.error td, .error a, .not-valid li 
{
	background:#FBE3E4 !important;
	border-color:#FBC2C4 !important;
	color:#8A1F11 !important;
    list-style:none;
}

.notice ,.notice  td ,.notice a 
{
	background:#FFF6BF !important;
	border-color:#FFD324 !important;
	color:#514721 !important;
}

.success ,.success td ,.success a 
{
	background:#E6EFC2 !important;
	border-color:#C6D880 !important;
	color:#264409 !important;
}

.big,.big a,.big span{ font-size: 14px !important; }
.strong,.strong a { font-weight:bold !important; }

/* the overlayed element of jtools */
div.overlay {
	
	/* growing background image */
	background-image:url('images/overlay/white.png');
	
	/* dimensions after the growing animation finishes  */
	width:600px;
	height:470px;		
	
	/* initially overlay is hidden */
	display:none;
	
	/* some padding to layout nested elements nicely  */
	padding:55px;
	z-index:9;
}

/* stile form */
input[type='text'], select, textarea, input[type='password'] {
	border:1px solid #ccc;
	padding:4px 5px;
	background-color:#fff;
    background-image:url('images/input-bg.gif');
    background-position: 0px 0px;
    background-repeat: repeat-x;

    -webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px
}
input[type='text']:hover, select:hover, textarea:hover, input[type='password']:hover {
	border:1px solid #999
}
input[type='text']:focus, select:focus, textarea:focus, input[type='password']:focus {
	border:1px solid #777
}
input[type='radio'], input[type='checkbox'] {
	vertical-align:top;
    display:inline !important;
}

input[type='submit']
{
border:1px solid #cccccc;
background:url('images/border_header_top.gif') bottom;
padding: 4px;
margin:0px 5px 0px 0px;
color:#555;
cursor:pointer;
 }
 
.ui-autocomplete-input {
    /*margin-right: 5px;*/
	width: 500px;
}

.addremovelist-vf .search-add-element {
	margin-top:6px;	
}
.list {
	margin-top:10px;	
}
.list {
	float:left;
	width:100%;
	margin-bottom:20px;
}
.list li{
	border:1px solid #ccc;
	background:#fff;
	margin-top:-1px;	
	line-height:30px;
	min-height:30px;
	padding-left:6px;
	
	min-width:300px;
	float:left;
	clear:left;
}
.deletex {
	float:right;
	clear:both;	
}
.deletex input[type="submit"] {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	-webkit-border-top-left-radius:2px;
	-moz-border-radius-topleft:2px;
	border-top-left-radius:2px;
	-webkit-border-top-right-radius:2px;
	-moz-border-radius-topright:2px;
	border-top-right-radius:2px;
	-webkit-border-bottom-right-radius:2px;
	-moz-border-radius-bottomright:2px;
	border-bottom-right-radius:2px;
	-webkit-border-bottom-left-radius:2px;
	-moz-border-radius-bottomleft:2px;
	border-bottom-left-radius:2px;
	text-indent:0;
	border:1px solid #d02718;
	display:inline-block;
	height:24px;
	width:24px;
	opacity:0.5;
}
.deletex input[type="submit"]:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
	opacity:1;
}

.deletex input[type="submit"]:active {
	position:relative;
	top:1px;
}

.open-modal, .btn-link 
{
   color:#fff !important;     
   line-height:23px !important;
   /*height:20px !important;*/
}

input[type='submit'], .open-modal, .btn-link
 {	
	/*line-height:1em;*/
	display: inline-block;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	white-space: nowrap;
	/*padding:2px 4px 4px 4px !important;*/
    
	margin:0px 10px 0px 0px;
	position:relative;
	outline: none;
	overflow: visible; 
	cursor: pointer;	
	border: 0px solid #adadad;
	border: rgba(0, 1, 1, .1) 1px solid;
	border-bottom: rgba(0, 1, 1, .2) 1px solid;
	box-shadow:0 1px 2px rgba(51, 51, 51, 0.1);
	
	color:#fff;
	text-decoration:none;
	text-align:center;
	white-space: nowrap;
	min-width: 0;
	/*height: 28px;*/
    
    background-position: top;
    background-repeat: repeat-x;     
    background-image:url('images/button.png');
    background-color:#1381c7;

    padding:.375rem .75rem!important;
    line-height: 1.5;
    border-radius: .25rem;
    height:auto;
}
input[type='submit']:hover, .open-modal:hover, .btn-link:hover
{ 
    background-position: bottom;
    background-repeat: repeat-x; 
    background-image:url('images/button_on.png');
    background-color:#5c5c5c;
    
    text-shadow:0px 1px 1px rgba(51, 51, 51, 0.7);    
    filter: dropshadow(color=#333333, offx=0, offy=1);
        
    -webkit-box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.3);        
    box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.3);
}
.remove-button {
	margin-top:10px !important;
}

.button-as-link, .button-as-link:active, .button-as-link:focus, .button-as-link:link {
	background:none !important;	
	text-shadow:none !important;
	color:#0000FF !important;
	border:none !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;
	box-shadow:none !important;
	padding:0px !important;
	text-decoration:underline !important;
}
.button-as-link:hover {color:#7070FF !important;}

/* default close button positioned on upper right corner */
div.overlay div.close {
	background-image:url('images/overlay/close.png');
	position:absolute;
	right:5px;
	top:5px;
	cursor:pointer;
	height:35px;
	width:35px;
}


/* black */
div.overlay.black {
	background:url('images/overlay/transparent.png') no-repeat !important;
	color:#fff;
}

/* petrol */
div.overlay.petrol {
	background:url('images/overlay/petrol.png') no-repeat !important;
	color:#fff;
}

div.black h2, div.petrol h2 {
	color:#ddd;		
}
/***************************************/
/*   Messaggio di notifica x NetForm   */
/***************************************/

.Form_Message
{	
	background-color:#FFFFD9;
	font-size:1.2em;
	font-weight:bold;	
	text-align:center;
	border:1px solid #FFCC66;
	padding:10px;
	margin-bottom:10px;		
}
.form-error ul li{
    list-style:none;
}

#div_allegati ul li,
#div_allegati li {
    list-style:none;
}
#div_allegati li {
    padding-left:20px;
}
#div_allegati .file
 {    
    background-image:url('images/icons/attach.png') !important;
    background-position:center left !important;
    background-repeat:no-repeat !important;
}
#div_allegati .del {
    padding-bottom:4px;
    margin-left:20px;
}
#allegati .buttons {
    margin-bottom:20px;
}
#allegati .btn_del_all a {
    width:200px;
    border-radius:2px;
}.vf {
	/*margin:10px 0px 10px 0px;*/
	float:left;
}


/* Grafica barra applicazioni */

#netApplicationBar a {
	color: #4b4b4b;
	padding: 4px;	
	background:#fafafa;
	background: -moz-linear-gradient(
		top,
		#eeeff1 0%,
		#d7d7d7);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#eeeff1),
		to(#d7d7d7));
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #a8a8a8;
	-moz-box-shadow:
		0px 1px 1px rgba(255,255,255,0.5),
		inset 0px 1px 0px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		0px 1px 1px rgba(255,255,255,0.5),
		inset 0px 1px 0px rgba(255,255,255,0.6);
	box-shadow:
		0px 1px 1px rgba(255,255,255,0.5),
		inset 0px 1px 0px rgba(255,255,255,0.6);
	text-shadow:
		0px 0px 0px rgba(000,000,000,0),
		0px 1px 0px rgba(255,255,255,0.9);
		width:82px;
		display:block;
}
#netApplicationBar a:hover  
{
    color: #ffffff;	
	background:#D92215;
	background: -moz-linear-gradient(
		top,
		#ff2819 0%,
		#ab0000);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ff2819),
		to(#ab0000));
	border: 1px solid #7d0000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	text-shadow:
		0px 0px 0px rgba(000,000,000,0),
		0px 1px 0px rgba(000,000,000,0.4);
	
}






#netApplicationBar span.FS_Icon 
{
    width:32px;
    height:32px;
    display:block;
    margin:0px auto;
    text-align:center;    
}
/*
#netApplicationBar a:hover  
{
    color:#F2D61B;
}
*/
#netApplicationBar ul {
	margin:10px;
	padding:0px;
	list-style:none;
}
#netApplicationBar li {
	display:block;
	float:left;
	margin-left:5px;
	text-align:center;
}
#netApplicationBar li .app {
	position:relative;
	width:102px;
	height:70px;
	display:block;
	cursor:pointer;
	border: 1px solid #ccc;
	background: #d1d1d1;
	background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#d1d1d1));
	background: -webkit-linear-gradient(top, #f7f7f7, #d1d1d1);
	background: -moz-linear-gradient(top, #f7f7f7, #d1d1d1);
	background: -ms-linear-gradient(top, #f7f7f7, #d1d1d1);
	background: -o-linear-gradient(top, #f7f7f7, #d1d1d1);
	background-image: -ms-linear-gradient(top, #f7f7f7 0%, #d1d1d1 100%);
	padding: 10.5px 21px;
	/*-webkit-border-radius: 6px;
	-moz-border-radius: 6px;*/
	border-radius: 6px;
	/*-webkit-box-shadow: inset rgba(255,255,255,1) 0px 0px 1px;
	-moz-box-shadow:  inset rgba(255,255,255,1) 0px 0px 1px;*/
	box-shadow: inset rgba(255,255,255,1) 0px 0px 1px;
	text-shadow: #f5f5f5 0 1px 0;
	color: #000000;
	font-size: 11px;
	font-family: helvetica, serif;
	text-decoration: none;
	vertical-align: middle;
	line-height:10px;
}
    #netApplicationBar li .app span {
        display: block;

    }

#netApplicationBar li .app span.icon {
        display: block;
        width: 100%;
        height: 32px;
        clear: both;
        background: url("images/system-users.png") 50% 0px no-repeat;
        margin-bottom: 4px;
 }
#netApplicationBar .content {
	position:relative;
	margin:5px auto;
	width:100%;
	height:100px;
	overflow:auto;
	background:#eee;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
#netApplicationBar .overlay {
	opacity:0.8;
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	width:102px;
	border-radius:4px;
	background-image:none !important;
	padding:0px !important;
	z-index:0;
}
#netApplicationBar .ic_caption {
	position:absolute;
	opacity:0.8;
	overflow:hidden;
	margin:0px;
	padding:0px;
	left:0px;
	right:0px;
	cursor:default;
 filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	width:102px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
#netApplicationBar .ic_category {	
	font-size:10px;
	padding:5px;
	margin:0px;
}

/********** tooltip *************/

.tooltip-cms3 
{
    background:#ffa72a !important;
	color:#fff !important;	
	display: inline-table;
	*zoom: 1;
	*display: inline;
	border-radius:30px;
	height:20px;
	line-height:20px;
	width:20px;
	margin:0 auto 5px 10px;
	overflow:hidden;
	padding:0;
	text-align:center;
	font-size:14px;	
}
a.tooltip-cms3 span{
    z-index: 10;
    display: none; 
    border-radius:4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
} 
a.tooltip-cms3:hover span{ 
    display: inline; 
    position: absolute; 
    border: 1px solid #8c8c8c; 
    background: #f4f4f4;
} 
a.tooltip-cms3 > span{
    width: 250px; 
    padding: 4px 6px; 
    opacity: 0; 
    visibility: hidden; 
    z-index: 10; 
    position: absolute; 
    font-size: 12px; 
    font-style: normal; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; -o-border-radius: 3px; 
    border-radius: 3px; 
    -webkit-box-shadow: 4px 4px 4px #d9b3c3; 
    -moz-box-shadow: 4px 4px 4px #d9b3c3; 
    box-shadow: 4px 4px 4px #d9b3c3; 
    color: #000000; 
    background: #f4f4f4; 
    background: -moz-linear-gradient(top, #FBF5E6 0%, #FFFFFF 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBF5E6), color-stop(100%,#FFFFFF)); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FBF5E6', endColorstr='#FFFFFF',GradientType=0 ); 
    border: 1px solid #8c8c8c; 
    line-height:16px;
    text-align:left;
}
a.tooltip-cms3:hover > span{ 
    opacity: 1; 
    text-decoration:none; 
    visibility: visible; 
    overflow: visible; 
    margin-top: 40px; 
    display: inline; 
    margin-left: -200px;
}
a.tooltip-cms3 span b{ 
    width: 15px; 
    height: 15px; 
    margin-left: 20px; 
    margin-top: -19px; 
    display: block; 
    position: absolute; 
    -webkit-transform: rotate(-45deg); 
    -moz-transform: rotate(-45deg); 
    -o-transform: rotate(-45deg); 
    transform: rotate(-45deg); 
    -webkit-box-shadow: inset -1px 1px 0 #fff; 
    -moz-box-shadow: inset 0 1px 0 #fff; -o-box-shadow: inset 0 1px 0 #fff; 
    box-shadow: inset 0 1px 0 #fff; 
    display: none\0/; *display: none; 
    background: #f4f4f4; 
    border-top: 1px solid #8c8c8c; 
    border-right: 1px solid #8c8c8c; 
} 
/****************************/
/* netimagepicker control */
/****************************/
.netimagepicker .imageContainer
{
    margin-top: 4px;
    width: 100%;
}
.netimagepicker .imageContainer img{
    padding:4px;
    border: 1px solid #ccc;
}

/****************************/

.application_newsletter
{
    background:url("images/newsletter.png") 0px 0px no-repeat !important;    
}
.application_importer 
{
    background:url("images/Importer1.png") 0px 0px no-repeat !important;    
}
.application_forum
{
    background:url("images/Forum1.png") 0px 0px no-repeat !important;    
}
.application_urp-online 
{
    background:url("images/urp.png") 0px 0px no-repeat !important;    
    }
.application_assegnifamiglia 
{
    background:url("images/afamily.png") 0px 0px no-repeat !important;        
    }
.application_assegnimaternita
{
    background:url("images/assmaternita.png") 0px 0px no-repeat !important;        
    }
.application_filtrointernet {
    background:url("images/filtro-internet.png") 0px 0px no-repeat !important;        
}
.application_borsedistudio
{
    background:url("borsedistudio/borsedistudio.png") 0px 0px no-repeat !important;    
    }	
.application_documentaleintegration {
    background:url("../default/documentaleintegration/images/documentale.png") 0px 0px no-repeat !important;        
}

.checkboxlist-vf {
    position: relative;
}

.checkboxlist-vf span {
    display: block;
    margin: 10px 0px;
}

.checkboxlist-vf .checkbox-inline label {
    font-weight: normal;
}

.checkboxlist-vf .control-label {
    margin: 20px 0px;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    display: inline-table !important;
    width: 100%;
}

.checkboxlist-vf .checkbox-inline input[type="checkbox"] {
    vertical-align: middle;
}

.checkboxlist-vf table {
    width: 100%;
}

.checkboxlist-vf table td {
    min-width: 33%;
}

.checkboxlist-vf table .checkbox-inline label a img {
    display: none;
}

.checkboxlist-vf table .checkbox-inline label a {
    width: 16px;
    height: 16px;
    background: url(/cms/css/admin/images/icons/page_white_put.png) 0px 0px no-repeat;
    display: inline-table;
}

.checkboxlist-vf .title-vfm {
    position: absolute;
    right: 20px;
    top: 10px;
}

/* PlUpload */
.multiuploadify-vf2 {
    width:520px;
}

.multiuploadify-vf2 .plupload_logo, .multiuploadify-vf2 .plupload_header_text, .multiuploadify-vf2 .plupload_start {
    display: none;
}
.multiuploadify-vf2 .plupload_header_content {
    padding: 0px 10px !important;
    height: 34px !important;
}

.multiuploadify-vf2 .filelist {
    border: 1px solid #eee;
    background-color: #fff;
}
.multiuploadify-vf2 .filelist li{
    list-style:none;
}

.multiuploadify-vf2 .filelist .file {
    margin: 4px;
    border-bottom: 1px dashed #eee;
    height: 36px;
}

.multiuploadify-vf2 .filelist .filename {
    font-weight: bold;
}

.multiuploadify-vf2 .filelist .fileinfo {
    margin-left: 36px;
}

.multiuploadify-vf2 .filelist .fileinfo a {
    float: right;
    margin-right: 10px;
}


.multiuploadify-vf2 .filelist .pdf {
background: url("/scripts/shared/plupload/icons/pdf.png") no-repeat;
}

.multiuploadify-vf2 .filelist .p7m {
        background: url("/scripts/shared/plupload/icons/p7m.png") no-repeat;
}

.multiuploadify-vf2 .filelist .doc, .multiuploadify-vf2 .filelist .docx {
    background: url("/scripts/shared/plupload/icons/doc.png") no-repeat;
}

.multiuploadify-vf2 .filelist .flv {
    background: url("/scripts/shared/plupload/icons/flv.png") no-repeat;
}

.multiuploadify-vf2 .filelist .jpg, .multiuploadify-vf2 .filelist .gif, .multiuploadify-vf2 .filelist .png {
    background: url("/scripts/shared/plupload/icons/image.png") no-repeat;
}

.multiuploadify-vf2 .fileslist_header {
    background:url(/scripts/shared/jquery-ui/css/ui-lightness/images/ui-bg_highlight-soft_100_eeeeee_1x100.png) repeat-x;
    height: 34px;
    padding: 0px 10px;
}
.multiuploadify-vf2 .title_header {
    line-height: 19px;
    color: #004276;
    font-size: 18px;
    font-family: sans-serif;
    padding:6px 0 3px;
}

.multiuploadify-vf2 .control-label{
    margin-bottom:16px;
}

.netformtable .multiuploadify-vf2 {
    width: 100%;
}
/**/
/*#corpo fieldset {
    padding-left: 10px;
    background-color: #eee;
}*/
.nettags tags {
    background-color: white !important;
    width: auto;
}

/**/

.content_left {
    text-align: left;
}

.content_right{
    text-align:right;
}

/*.section_title {
    background-image: url('images/sidetitlebackdark.png');
    color: #ffffff;
    background-position: left bottom;
    background-repeat: repeat-x;
    background-color: #555;
    text-shadow: 1px 1px 0px #2f2f2f;
    cursor: pointer;
    padding: 2px 0px 6px 0px;
    margin-bottom:10px;
}*/

.section_title {
    border-top: 1px solid #d7dceb;
    border-bottom: 1px solid #d7dceb;
    background-color: rgba(0,0,0,.08);
    padding: 8px !important;
    
    margin-bottom: 10px;
    height: 40px;
    line-height: 1.6em;
}

    .section_title h1 {
        text-transform: none;       
        font-size: 1.2em;
        font-weight:bold;
    }

/************************** Error Page CMS ******************************/
/*
.systemError {
    width: 70%;
    color: #364151;
    margin: 0px auto;
    margin-top: 40px;
    text-align: left;
    min-height: 400px;
}

    .systemError h1 {
        font-size: 1.4em;
        color: #364151;
        padding-top: 15px;
    }

    .systemError p {
        font-size: 1.1em;
        margin-bottom: 30px;
    }


    .systemError .alert {
        width: 60px;
        float: left;
    }

    .systemError ul {
        margin-left: 60px;
    }

        .systemError ul li {
            color: #555555;
        }

    .systemError p a {
        font-weight: bold;
        color: #555555;
    }
    */

.radiobutton-vf{
    background-color:#fff;
    padding:4px;
   /* border:1px solid #bbb;*/
}



.overlay{
    width:660px !important;
    height:530px !important;
}

    .overlay .close {
        float:none;
        opacity:1;
    }
    
/* fix per overlay dialog */
.ui-dialog {
    z-index: 101 !important;
}
.ui-widget-overlay {
    z-index: 100 !important;
}

/*fix user controlo in head */
#UserLoginInfo {
    right: 4px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin: 0px !important;
    width:260px;
    text-align:left;
}
    #UserLoginInfo .user-avatar{
        font-size:1.8em !important;        
    }

    #UserLoginInfo .user-info, #UserLoginInfo .dropdown-menu {
        font-size: 1em;
    }
    #UserLoginInfo .dropdown-toggle {
        display: inline-block;              

    }
    #UserLoginInfo .dropdown-menu {
        border-top: none !important;
        border-radius: 0px 0px .25rem .25rem;
        top: 5px !important;     
        width:260px;
        left:24px!important;
    }



/* modale */
@media (min-width: 1200px) {
    .modal-xlg {
        width: 90%;
        max-width: 1200px;
    }
}

#filebrowser .close, #file_browser-modal .close, #docPicker .close  {
    position: absolute;
    cursor: pointer;
    top: -15px;
    right: -15px;
    z-index: 10;
    background-color: #fff;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    opacity: 1;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
}

#file_browser-modal {
    z-index: 10011;
    
}
/***********************************************/
/*             net form                        */
/***********************************************/

.contentForm .Axf {
    /*border: 1px solid #d7dceb;
    border-left: 1px solid #d7dceb;
    border-right: 1px solid #d7dceb;*/
    background-color: #fff;
    padding:10px;
}
.contentForm .vf{
    float:none;
}

.contentForm .not-valid li, .Axf .not-valid li{
    background-color: transparent !important;
    border: none !important;
    color: transparent !important;
    padding: 0px !important;
}

    .netformtable .innerContent {
        padding: 15px 15px 15px 15px;        
    }

.netform-title{
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid #d7dceb;
    border-top: 1px solid #d7dceb;
    padding: 10px;
    font-size: 1.2em;
}

.netformtable_review{ display:none;}

.netform .buttonscontainer {
    margin-top: 6px;
}
.contentForm .buttonscontainer {
    padding:15px;
}

.coldx {
    margin-top:40px;
}
.coldx .netformtable {
    border-left: 1px solid #d7dceb;
    border-right: 1px solid #d7dceb;
    border-bottom: 1px solid #d7dceb;
}
.coldx .otherfield
{
    margin-bottom:20px;
}



.news_highlightimages, .eventi_locandine {
    border-bottom: 1px solid #d7dceb;
}

.container-fluid .contentForm{
    margin-top:30px;
}

.container-fluid fieldset {
    padding: 10px !important;
    margin: 20px 0px 0px 0px !important;
    background-color: #fff;
    position: relative;
}
.container-fluid fieldset {
   
    border-top: none !important;
    border-radius: 2px;
    border-left: 1px solid #d7dceb;
    border-right: 1px solid #d7dceb;    
}
.container-fluid legend {
    border-top: 1px solid #d7dceb;
    border-bottom: 1px solid #d7dceb;
    /*
    border-left: 1px solid #d7dceb;
    border-right: 1px solid #d7dceb;
     background-color: #CAD9EA;*/
    background-color: rgba(0,0,0,.08);
    text-transform: none;
    font-weight: normal;
    font-size: 1.2em;
    padding: 8px !important;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px !important;
    height: 40px;
    line-height: 1.6em;
}

    .container-fluid legend:before {
        content: "\f2d0";
        font-family: "Font Awesome 5 Free";
        padding-right: 6px;
    }

.netform_fieldrequired{ position:absolute; right:10px;}

.netformtable .NetCheckBox label {
    display: inline;
    margin-left: 4px;
    margin-right: 4px;
}

.columnLimit{width:50% !important;}

.eventi_locandine .description textarea {
    width: 100%;
}

.cmsstatus
{
    position:absolute;
    top:12px;
    left:300px;
}

.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    padding-right: 24px;
    position: relative;
    z-index: 2;
}

#corpo .page {
    margin: 20px 0px 0px 0px !important;
    padding: 10px !important;
}

#corpo .page-wrapper {
    border-top: none !important;
    border-radius: 2px;
    border-left: 1px solid #d7dceb;
    border-right: 1px solid #d7dceb;
    border-bottom: 1px solid #d7dceb;
}
    #corpo .page-wrapper h1:before {
        content: "\f2d0";
        font-family: "Font Awesome 5 Free";
        padding-right: 6px;
    }
    #corpo .page-wrapper h1 {
        border-top: 1px solid #d7dceb;
        border-bottom: 1px solid #d7dceb;
        background-color: rgba(0,0,0,.08);
        text-transform: none;
        text-align:left;
        font-weight: normal;
        font-size: 1.2em;
        padding: 8px !important;
        width: 100%;
        margin: 0px !important;
        height: 40px;
        line-height: 1.6em;
    }

.page-wrapper .profile-image img{ 
    width:200px; height:200px;
}

.page-wrapper input.download::before {
    font-family: "Font Awesome 5 Free";
    content: "\f019";
}

/* fix per componente VfMultiUpload*/

.ui-button-text {
    color: #000 !important;
    font-weight: bold;
}

.plupload_filelist_content {
    padding-top: 20px !important;
}

.plupload_file {
    border: 1px solid #ccc !important;
}

.plupload_file_action .ui-icon-circle-check {
    background-image: url('images/cancel.png') !important;
    background-position: -5px -3px !important;
}

.Axf .addremovelist-vf {
    width: 680px;
    padding-top: 6px;
    margin-bottom: 1.3rem !important;
    border: 1px solid #ccc;
}

    .Axf .addremovelist-vf .control-label {
        padding-left: 6px;
    }

    .Axf .addremovelist-vf .tooltip-cms3 {
        margin-right: 3px !important;
        margin-left: 3px !important;
    }

    .Axf .addremovelist-vf .search-add-element {       
        padding: 0px 4px 6px 4px;
    }

        .Axf .addremovelist-vf .search-add-element .add-button {
            margin-left: 6px;
            margin-right: 0px !important;
        }

    .Axf .addremovelist-vf .list {
        margin-top: 1px !important;
    }

        .Axf .addremovelist-vf .list li {
            width: 100%;
            border-left: none;
            border-right: none;
        }

            .Axf .addremovelist-vf .list li .item-delete-button {
                height: auto !important;
                width: auto !important;
                margin: 0px !important;
            }

.Axf #OperatoriInvitati, .Axf #OperatoriAggiudicatari, .Axf #Normative {
    height: 400px;
    overflow-y: auto
}
