﻿#tpl_list {
    margin:0px auto;
    text-align:center;
    font-family:Trebuchet ms,Helvetica,Arial,sans-serif;
	background:#EDEDED url(images/sf.jpg) 0px 0px repeat-x;
}
#tpl_list h1 {
	text-align:center;
	font-family:Helvetica,Verdana, Arial, sans-serif;
	font-size:1.2em;
	border-bottom:1px solid #C5DEF5;
	width:98%;
	padding-bottom:5px;
	margin:20px auto;
}
#tpl_list ul {
	margin:0px 25% 0px auto;
	padding:0px;
	list-style:none;
	font-size:1em;
	letter-spacing:1px;
}
#tpl_list ul li{
	margin:0px auto;
	padding:0px;
	float:left;
	text-align:center;
}
#tpl_list ul li span {	
	width:100px;
	display:block;
	text-align:center;
}
#tpl_list ul li input:hover {
	background:#000;
}
#tpl_list ul li a
{
    display:block;    
}