﻿#AppToolbar
{
	text-align:left;
	top:62px;
	left:0px;
	position:absolute;

	background-image:url('images/toolbarback.png');
	padding: 2px 0px 0px 0px;
	height:48px;
	width:100%;
}
.toolbarButton
{
	float:left;
	margin: 12px 6px 0px 6px;
}
.Where_FrontLink span
{
	display:none;
	
}
#Toolbar_JSLabels
{
	float:right;
	padding:2px;
	height:22px;
	display:block;
	font-weight:bold;
}
.Where_FrontLink
{
	float:right;
	
	background-image:url('images/icons/page_white_world.png');
	background-position:3px 3px;
	
	background-repeat:no-repeat;	
	
	border-left: 1px solid #96969D;
	background-color:#ffffff;
	height:22px;
	display:block;
	width:22px;	
}

.toolbarButton img
{
	width:40px;
	height:32px;
	border:0;
}
.Back, .Home {
    position:absolute;
    top:-64px;    
}
.Back 
{	
    left:220px;       
}
.Back a {   
	background-image:url('images/back.png');
    background-position: 0px 0px;
    background-repeat:no-repeat;
    width:38px;
	height:42px;
    display:block;
}
.Back a:hover {   
	background-image:url('images/back.png');
    background-position: 0px -46px;
}
.Back img
{
	width:38px;
	height:42px;
	border:0;
    visibility:hidden;
}

.Home {
   left:258px;
}
.Home a {
    background-image:url('images/back.png');
    background-position: -38px 0px;
    background-repeat:no-repeat;
    width:38px;
	height:42px;
    display:block;    
}
.Home a:hover {    
    background-image:url('images/back.png');
    background-position: -38px -46px;
}
.Home img
{
width:25px;
height:42px;
border:0;
visibility:hidden;
}

#toolbarCaption
{
text-align:left;
padding: 2px 0px 0px 28px;
}


.Where_Back {
    margin-top:0px;
	margin-left:5px;	
	padding:1px 10px 0px 8px;
	border:1px solid #b3b3b3;
	border-radius:20px 20px 20px 20px;
	width:94%;
    background:#fff;

    top:14px;
    left:0px;
    position:absolute;
    height:27px;
}


.Where_Right
{
background-image:url('images/right_search.jpg');
background-position:top left;
background-repeat:no-repeat;
}

.Where_Left
{	
background-image:url('images/right_search.jpg');
background-color:transparent;
background-position:top left;
height:20px;
background-repeat:no-repeat;	
float:left;
}
.Where_Icon_Custom
{
background-position: 5px 3px
}
.Where_Path
{	
    background-image:url('images/folder_search.jpg');
    background-position:top left;
    height:20px;
    background-repeat:no-repeat;	
    float:left;
    margin-right:1px;
    padding: 2px 15px 0px 28px;
    border-right: 1px solid #96969D;
}
.Where_Path a {
    color:#21759B;
}
.Where_Path a:hover {
    color:#000;
    text-decoration:none;
}

.Where_Icon_Folder {background-image:url('images/folder_search.jpg');}
.Where_Icon_Home {background-image:url('images/home_search.jpg');}
.Where_Icon_Mail {background-image:url('images/mail_search.jpg');}
.Where_Icon_Office {background-image:url('images/office_search.jpg');}
.Where_Icon_Utenti {background-image:url('images/utenti_search.jpg');}
.Where_Icon_Gruppi {background-image:url('images/gruppi_search.jpg');}
.Where_Icon_FrontUser {background-image:url('images/frontuser_search.jpg');}
.Where_Icon_Forum {background-image:url('images/forum_search.jpg');}

.Where_Icon_News {background-image:url('images/news_search.jpg');}
.Where_Icon_Bandi {background-image:url('images/bandi_search.jpg');}
.Where_Icon_WebDoc {background-image:url('images/webdoc_search.jpg');}
.Where_Icon_Stampa {background-image:url('images/stampa_search.jpg');}
.Where_Icon_Attach {background-image:url('images/attach_search.jpg');}
.Where_Icon_Eventi {background-image:url('images/eventi_search.jpg');}
.Where_Icon_Faq {background-image:url('images/faq_search.jpg');}
.Where_Icon_Questionari {background-image:url('images/questionari_search.jpg');}
.Where_Icon_Link {background-image:url('images/link_search.jpg');}
.Where_Icon_Modulistica {background-image:url('images/modulistica_search.jpg');}
.Where_Icon_Galleria {background-image:url('images/galleria_search.jpg');}
.Where_Icon_Trash {background-image:url('images/trash_search.jpg');}
.Where_Icon_Grants {background-image:url('images/grants_search.jpg');}
.Where_Icon_Bacheca {background-image:url('images/bacheca_search.jpg');}
.Where_Icon_Search {background-image:url('images/search_search.jpg');}
.Where_Icon_Star {background-image:url('images/star_search.jpg');}
.Where_Icon_Meta {background-image:url('images/meta_search.jpg');}
.Where_Icon_Prop {background-image:url('images/prop_search.jpg');}
.Where_Icon_ICI {background-image:url('images/ici_search.jpg');}
.Where_Icon_Error {background-image:url('images/error_search.jpg');}
.Where_Icon_Sms {background-image:url('images/sms_search.jpg');}
.Where_Icon_Log {background-image:url('images/log_search.jpg');}


.Where_PathLink{text-decoration:none;}
.Where_PathLink:hover{text-decoration:underline;}

.Where_NetworkInfo {background-image:url('images/icons/world.png');}

/* Start Breadcrumbs */

.module:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.breadCrumb { float: left; display: block; height: 21px; overflow: hidden; }
.breadCrumb ul { margin: 0; padding: 0; height: 21px; display: block; }
.breadCrumb ul li { display: block; float: left; position: relative; height: 21px; overflow: hidden; line-height: 21px; margin: 0px 6px 0px 0; padding: 0px 12px 0px 2px; font-size: .9167em; background: url('images/Chevron.gif') no-repeat 100% 0; }
.breadCrumb ul li span { display: block; overflow: hidden; }
.breadCrumb ul li a { display: block; position: relative; height: 21px; line-height: 21px; overflow: hidden; float: left; }
.breadCrumb ul li.lastB { background: none; margin-right: 0; padding-right: 0; }

/* End Breadcrumbs */