#nuovoitem,
#modificaElemento
 {	
	border:1px solid #ddd;
    margin:10px;
	padding:10px;	
    
    -webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;

    text-align:left;	
	
	float:left;	
	width:95%;	
}
#nuovoitem .title-vfm,
#modificaElemento .title-vfm
 {
	text-transform:uppercase;	
	text-shadow:1px 1px 1px #fff;
	font-weight:bold;
	padding:0 5px 0 5px;	
	line-height:18px;
    font-size:12px;
    color:#000;
    font-family: 'Open Sans', sans-serif;
	margin:0px 0px 10px 0px;
}

#nuovoitem .vf,
#modificaElemento .vf
 {
	float:left;	
}