﻿
.boardsContainer label
{
    display:inline;          
}
.forumCategory .categoryRow
{
    background-color:#DDD; 
    text-align:left;    
}
.forumCategory .categoryRow .namecat
{
    font-weight:bold;
    font-size:medium; 
    padding:4px;   
}

.forumCategory .categoryRow .edit, 
.forumCategory .categoryRow .delete
{
    padding:4px;    
}