.indicatore-controls fieldset td {
	padding-bottom:5px;	
}
.indicatore-controls fieldset label {
	color:#666;	
}
.indicatore-controls fieldset label:hover {
	color:#000;	
}

.indicatore-controls fieldset.tag-field #new-Tags {
	margin-top:10px;
}

.indicatore-controls .select-all {
	margin:0px auto;
	text-align:center;	
	width:100%;
	display:block;
}
.indicatore-controls .select-all label {
	line-height:2.2em !important;
	font-weight:normal;
}
.indicatore-controls .select-all label:hover {
	color:#fff;	
}
.indicatore-controls .select-all input[type="checkbox"] {
	position:absolute;
	left:-1000px;
	visibility:hidden;
}

.indicatore-controls fieldset.base-info, .indicatore-controls fieldset.tag-field, .indicatore-controls fieldset.fattori-field , .indicatore-controls fieldset.parameters-field{
	width:22.0368%;
	float:left;
	margin:0px 10px 0px 0px;
	clear:none;

}
.indicatore-controls fieldset.parameters-field, .indicatore-controls #ranges-fieldset {
	margin:0px 0px 0px 0px;
	overflow:hidden;
}
.indicatore-controls .insert-btn {
	margin-top:40px;
	float:right;
	clear:right;
}
.indicatore-controls #ranges-fieldset .button{
	display:inline-block;
}
.indicatore-controls .fattori-checklist {
	position:relative;	
}
.indicatore-controls .tooltip-fattore {
	position:absolute;
	left:100px;
	width:160px;
	z-index:9999;
	
	-webkit-box-shadow:  0px 0px 4px 0px rgba(0, 0, 0, 0.2);        
     box-shadow:  0px 0px 4px 0px rgba(0, 0, 0, 0.2);		
}
.indicatore-controls .tooltip-fattore {
	background-color: #D9EDF7;
	color: #3A87AD;	
	padding: 8px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border: 1px solid #BCE8F1;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.indicatore-controls .tooltip-fattore p {
	margin:0px;
	padding:0px;	
}
.indicatore-controls #new-ElencoFattori {
	margin:5px 0px 5px 0px;
}

.indicatore-controls input[type='text'], input[type='password'] {
	width:94.9%;
}
.indicatore-controls select {
	width:100%;	
}

.indicatore-controls .singlerange-f input {
	margin-bottom:10px;	
}

input[type="submit"]#indicatori {
	position:absolute;
	top:132px;	
	left:500px;
}
ul.ul-sottotipologie {
	margin-top:10px;
}
.ul-sottotipologie li {
	margin-bottom:5px;
	padding-left:14px;
	background:url(images/arrow.png) 0px 4px no-repeat;	
}
.legenda .legend-field {
	clear:left;
	margin-bottom:5px;	
}
.legenda .legend-field div {
	float:left;
	margin-right:10px;
} 
#update {
	margin-left:0px !important;	
}
.range {
	width:25%;
	float:left;
}
.range label {
	font-weight:normal;
}

/* ############# parte per indicatori ############## */
#Tags-associati label.ui-state-default,
#Tags-associati label.ui-state-active,
#Tags-associati label.ui-state-hover,
#Tags-associati label.ui-state-focus,
#indicatori-accordion-search span.ui-state-default,
#indicatori-accordion-search span.ui-state-active,
#indicatori-accordion-search span.ui-state-hover,
#indicatori-accordion-search span.ui-state-focus
 {
	padding:4px 20px;
/*	float:left;	*/
}
#Tags-associati label span.ui-icon,
#indicatori-accordion-search span.ui-icon
 {
	left:4px;	
}
#Tags-associati #Tags {
	margin-top:0px;
}
#Tags-associati #Tags td {
	padding:4px 13px;
}
#Tags-associati br {
	display:block !important;
	margin:8px 0px;
}
#insert .validatedfield input[type="checkbox"] {
	margin-right:10px;	
}
#indicatori-accordion-search {
	margin-top:10px;	
}

/* steps */
.WzTitle, .survey-title {
	border-top:1px solid;
	display:block;
	font-size:15px;
	margin:0px 0px 30px;
	padding:15px 10px;
	border-top-color:#ffffff;
	color:#444444;
	font-weight:700;	
	text-shadow:0 1px 0 #ffffff;
	background:url(../images/startpage/sftab.png) 0px -384px repeat-x;
	text-align:left;
}
.survey-title:before {
	background:url(/cms/css/admin/images/icons/tag_blue.png) 0px 0px no-repeat;
	display:block;
	height:16px;
	width:16px;
	overflow:hidden;
	content:" ";
	float:left;
}
.netWizard-default, span.questionario-container {
	margin:30px auto;	
	padding:0px 0px 30px;
	width:90%;
	background:#fff;	
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:    0px 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow:         0px 1px 3px rgba(0, 0, 0, 0.1);

-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;	

background: #ffffff; 
position:relative;
}
span.questionario-container {
	display:block;	
}
.mandatory-vfm {
	color:#F00;	
	font-size:11px;
	margin:20px 0px;
	clear:both;
}

.const-container {
	margin:0px 0px;	
	position:absolute;
	top:135px;
}
.const-container .error {
	clear:both;	
}
#type-choose .validatedfield{
	margin-bottom:0px;
}
#type-choose label,
.base-info-container label,
.input-container label,
.const-container label,
#choose-form label
 {
	border-right:none !important;	
	background:#f4f4f4;
}
#type-choose label, #type-choose select, .search-add-element input[type="text"],
.base-info-container label, .base-info-container input[type="text"],
.input-container label, .input-container input[type="text"],
.base-info-container textarea,
.const-container input[type="text"], .const-container label,
#choose-form label, #choose-form select
{
	display:inline;
	border:1px solid #ccc;
	padding:6px 12px;
}
.search-add-element input[type="submit"], 
.base-info-container input[type="submit"],
.input-container input[type="submit"],
.const-container input[type="submit"],
#choose-form select,
#choose-form label
{
	padding: 7px 4px 6px !important;
}
.search-add-element {
	display:inline-table;
}
.search-add-element input[type="text"],
.base-info-container input[type="text"],
.input-container input[type="text"],
.const-container input[type="text"]
 {
	padding:7px 0px 6px 10px !important;
}
#type-choose select, .search-add-element input[type="text"],
.base-info-container input[type="text"],
.input-container input[type="text"],
.base-info-container textarea,
.const-container input[type="text"]
{
	border-radius:0px;	
	padding-bottom:5px;
	width: 650px !important;
	background-image:none;
	background-color:#f8f8f8;
}
#type-choose select {
	
}
.input-container input[type="text"] {
	width:486px !important;	
}
.steptitle, p.wizard-current-page {
	position:absolute;
	top:10px;
	right:10px;	
}

.steptitle .current, .steptitle .ntotal, .steptitle .description-a, .steptitle .description-b, .tooltip-cms3 {
	display: inline-table;
	*zoom: 1;
	*display: inline;
} 
.steptitle .current, .steptitle .ntotal, .tooltip-cms3, p.wizard-current-page {
	border-radius:30px;
	height:30x;
	line-height:30px;
	width:30px;
	margin:0 auto 5px;
	overflow:hidden;
	padding:0;
	text-align:center;
	font-size:14px;
	background:#fafafa;
	color:#AAA;	
}
p.wizard-current-page {
	width:100px;	
}
.steptitle .ntotal, p.wizard-current-page  {
-webkit-box-shadow: inset -1px -1px 1px rgba(0, 0, 0, 0.4);
-moz-box-shadow:    inset -1px -1px 1px rgba(0, 0, 0, 0.4);
box-shadow:         inset -1px -1px 1px rgba(0, 0, 0, 0.4);	
}
.steptitle .current {
	background:#1fae66;
	color:#fff;	
}
.tooltip-cms3 {
	background:#ffa72a;
	color:#fff !important;	
}
#type-choose #SottoFattori {
	margin:0px auto;	
}
#SottoFattori .list {
	float:none;	
	margin:10px auto;
	width:726px;
}
#SottoFattori .list li {
	float:none;	
	padding-left:0px;
}
.base-info-container .textbox-vf {
	position:relative;	
}
.base-info-container .textbox-vf textarea {
	width:600px !important;
}
.search-add-element #SottoFattori-autocomplete-input {
	width:505px !important; 	
}
.base-info-container .textbox-vf label {

}
.base-info-container #Nome {

}
.const-container input[type="text"] {
	width:40px !important;
	margin-right: 5px;	
	padding-left:3px !important;
}
.formula-container {
	float:right;
	width:400px;
}
.bottom-container {
	width:690px;	
	margin:20px auto;
	padding:10px 19px;
	background:#f7f7f9;
	border:1px solid #e1e1e8;
	position:relative;
}
.bottom-container:after {
	overflow:hidden;
	clear:both;
	width:100%;
	height:20px;
	display:block;
	content:"";
}
#operators {
	width:160px;
	float:left;	
	text-align:left;
}
#operators input[type="submit"] {
	margin-bottom:10px;	
}
.formula-container textarea, .base-info-container textarea{
	width:96% !important;	
	margin-bottom:-7px;
}
/* Chrome Hack only */
@media screen and (-webkit-min-device-pixel-ratio:0) {    
.formula-container textarea, .base-info-container textarea{
	margin-bottom:-10px;
	}      
}



#choose-form select {
	width:58%;	
}
.questionario-container {
	text-align:left;	
}
.questions-container {
		border-bottom: 1px solid #dadfea;
	padding-bottom:20px;	
}
.questions-container li {
	list-style:decimal;	
	list-style-position:inside;
}
.domanda-text-content {
	margin-bottom:10px;	
}
.questions-ordered-list {margin:0px 20px;}
.questionario-container .survey-page-title {
	text-align:center;
	font-weight:bold;	
	font-size: 20px;
	border-bottom: 1px solid #dadfea;
	padding-bottom:10px;
	margin-bottom:10px;
	text-transform:uppercase;
}
h2.survey-page-subtitle {
	font-size:18px;
	border-color:transparent;
	margin-top:20px;
}

h3.survey-section-title {
	color:#3498db;
	font-size: 16px;
    margin: 20px auto 0px;
	text-align:center;
	
	border-top:3px solid #ccc;
	background:#eee;
	padding:20px 0px;
}

.questions-ordered-list li li {display:inline-table;}
.questions-container .risposta-content {
	margin-left:20px;	
	color:#8b97b1;
}
.pagination-container {
	text-align:center;
	margin:20px auto;	
}
.pagination-container input[type="submit"] {
	min-width:90px;
	margin:0px 10px;
	background:#fff;
	color:#1381c7;
	border-color:#1381c7;
	text-shadow:none;
}
.pagination-container input[type="submit"]:hover {
	background:#1381c7;
	color:#fff;
	border-color:#1381c7;
	text-shadow:none;
}


.questionario-container fieldset {
	position:relative;
	border:none;
}
.questionario-container fieldset legend {margin:20px 0px 0px;}

/* verde */
.survey-page-title.positivita, legend.positivita, .survey-section-title.positivita  {color:#1AAB20;}

/* rosso */
.survey-page-title.criticita, legend.criticita, .survey-section-title.criticita  {color:#d9534f;}


.questionario-container .button-container {
	position:absolute;
	top:0px;
	right:0px;
}

.controlpanel {text-align:left;margin-left: 22px;}

/* solo per Chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
 .questionario-container .button-container {
	top:26px;	
}
}

/* bottone arancione */

.questionario-container .button-container input[type="submit"]{
  background: #f0ad4e;
  background-image: -webkit-linear-gradient(top, #f0ad4e, #e6a64c);
  background-image: -moz-linear-gradient(top, #f0ad4e, #e6a64c);
  background-image: -ms-linear-gradient(top, #f0ad4e, #e6a64c);
  background-image: -o-linear-gradient(top, #f0ad4e, #e6a64c);
  background-image: linear-gradient(to bottom, #f0ad4e, #e6a64c);
  text-shadow:none;
  min-width:90px;
  padding-top:5px !important;
}
.questionario-container .button-container:hover input[type="submit"]{
  background: #f0ad4e;
  background-image: -webkit-linear-gradient(top, #f0ad4e, #f2b45c);
  background-image: -moz-linear-gradient(top, #f0ad4e, #f2b45c);
  background-image: -ms-linear-gradient(top, #f0ad4e, #f2b45c);
  background-image: -o-linear-gradient(top, #f0ad4e, #f2b45c);
  background-image: linear-gradient(to bottom, #f0ad4e, #f2b45c);
  text-shadow:none;
}


.output.table table{
	border-collapse: collapse!important;
	width: 100%;
	max-width: 100%;
	margin-top:24px;
}
.output.table th {font-weight:bold;}
.output.table td, .output.table th{
	padding:10px 15px;
	border: 1px solid #ddd!important;
	color:#555555;
}





