img.imageLogoReport 
{
	height: 200px;
	width:   20%;
	background-repeat: no-repeat !important;
	background-image: url("/templates/pdf/SeoStm/Logo.png");
}
img.imageLogoSubject
{
	height: 200px;
	width:   20%;
	background-repeat: no-repeat !important;
	margin-left: 60%;
}
div#dialogPreview {
	
	height: 90% !important;
	width: 90%; !important
}
.divImageReport
{
	height: 200px;
	
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable.ui-resizable 
{
	height: 90% !important;
	width: 90% !important;
}
.divContentReport
{
	width: 90% !important;
	height: 90% !important;
}
h1.titlePdfReport
{
	font-family: monospace;
    font-size: xx-large;
    text-decoration: overline;
}