div.overlay
{
	background-image: url("images/white.png");
    display: none;
    height: 420px;
    padding: 55px;
    width: 544px;
}

/* default close button positioned on upper right corner */
div.overlay a.close, div.overlay div.close {
	background-image: url("images/close.png");
	position:absolute;
	right:5px;
	top:5px;
	cursor:pointer;
	height:35px;
	width:35px;
}
/* black */
div.overlay.black {
	background:url("images/transparent.png") no-repeat !important;
	color:#fff;
}

/* petrol */
div.overlay.petrol {
	background:url("images/petrol.png") no-repeat !important;
	color:#fff;
}

div.black h2, div.petrol h2 {
	color:#ddd;		
}