﻿@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext);
@import url("axt.css");
/*@import url("axf.css");*/
/*@import url("vf.css");*/
@import url("details.css");

/* RESET */
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th,figcaption { font-size: 1em; font-weight: normal; font-style: normal; }
fieldset,iframe { border: none; }
caption,th { text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }
article,aside,footer,header,hgroup,nav,section,figure,figcaption { display: block; }


body { 
	font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif; 
	color: #333; 
	-webkit-font-smoothing: antialiased; 
	background:#f2f2f2;
}
strong {
	font-weight:bold;	
}
.stepwarning, .validation-results li {
	background:#F8D9D7 url("img/exclamation-red.png") 5px 9px no-repeat;
	display:block;
	padding:8px 8px 8px 26px !important;
	margin:4px 0px 4px 0px;	
	
	
	border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	-o-border-radius: 5px; 
	-khtml-border-radius: 5px; 
	-webkit-box-shadow: rgba(0,0,0,0.35) 0 0px 3px;
	-moz-box-shadow: rgba(0,0,0,0.35) 0 0px 3px;
	 box-shadow: rgba(0,0,0,0.35) 0 0px 3px;
	 border: 1px solid;
	 border-color: #e5e5e5 #dbdbdb #d2d2d2;
}
#intestazione {
	background:url(img/bg-prvct.jpg) 0px 0px repeat-x;
	height:260px;
	width:100%;
	margin:0px auto;
	text-align:center;	
	position:relative;
}
#logo {
	position:absolute;
	left:1%;
	top:40px;
	background:url(img/logo.jpg) 0px 0px no-repeat;	
	width:422px;
	height:66px;	
}
#logo h3 {
	text-indent:-10000px;	
}
#inner-intestazione {
	width:779px;
	height:152px;
	background:url(img/intestazione.jpg) center no-repeat;
	position:absolute;
	top:108px;
	width:100%;	
}

#globale 
{
	width:980px;
	margin:20px auto 20px auto;	
	padding: 3px; 
	text-align: left; 
	background: #fff; 
	border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	-o-border-radius: 5px; 
	-khtml-border-radius: 5px; 
	-webkit-box-shadow: rgba(0,0,0,0.45) 0 1px 3px;
	-moz-box-shadow: rgba(0,0,0,0.45) 0 1px 3px;
	 box-shadow: rgba(0,0,0,0.45) 0 1px 3px;
	 border: 1px solid;
	 border-color: #e5e5e5 #dbdbdb #d2d2d2;
	
}

#head
{
	height:200px;
	background:url("img/int.jpg") left bottom no-repeat;
	margin-bottom:4px;	
}
#head h1
{

}
#sx
{
	float:left;
	width:200px;
}
#cx
{
	border-left:1px solid #D6D6D6;	
	margin-left:200px;
	min-height:600px;
	padding:0px 10px 0px 10px;
}

#cx h1, #cx h2, #cx h3, #cx h4, #cx h5, #cx h6, .reportview th, .questionario_element_title, .view_questionario legend, .MainPageContenuto, .MainPageIntestazione,
.elenco-servizi th, .elenco-providers th, .tabella_valutazioni_servizi_ente th, .elenco-periodi th, .elenco-utenti th, .elenco-familiari th, .tabella_servizi_fruiti_utente th, .elenco-questionari th, .tabella_domande_questionario th, .tabella_risposte_domanda th, .elenco-questionari-compilabili th, #StepContainer th
 {
	font-family: 'Open Sans', sans-serif;		
}
#cx h1, #cx h2 {
	font-weight:bold;
	text-align:center;
	margin-bottom:10px;
}
#cx h1, .MainPageIntestazione {
	font-size:24px;	
}
.MainPageIntestazione {
	font-weight:bold;
	text-align:center;
	color:#02547E;
}
#cx h2 {
	font-size:20px;
	text-shadow:1px 1px 1px #999;
}
#cx h3, .view_questionario legend{
	font-size:16px;
	margin:10px 0px 10px 0px;
	font-weight:bold;
	color:#4D82AC;
	text-shadow:1px 1px 1px #999;
}
.view_questionario legend {
	color:#444;
}
.questionario_element_title {
	font-size:16px;
	margin:0px 0px 10px 0px;	
	color:#000;
}
.view_questionario legend{
	line-height:40px;
}
#accordion h3 {	
	margin:1px 0px 0px 0px;
	font-size:12px;
}
#sx ul li {
	width:100%;
	min-height:30px;
	text-align:left;
	background:#fff;
	background:url(img/nav_bg.png) no-repeat 0 0;
	background:-moz-linear-gradient(center bottom, rgba(223,223,223,1) 0%, rgba(242,242,242,1) 66%, rgba(242,242,242,1) 90%, rgba(230,230,230,1) 93%, rgba(190,190,190,1) 96%, rgba(150,150,150,1) 100%);
	background:-webkit-gradient(linear, left bottom, left top, from(rgba(223,223,223,1)), color-stop(66%, rgba(242,242,242,1)), color-stop(90%, rgba(242,242,242,1)), color-stop(93%, rgba(230,230,230,1)), color-stop(96%, rgba(210,210,210,1)), to(rgba(140,140,140,1)));
	border-bottom:1px solid #ebebeb;	
}

#sx ul,
.risultati-details ul
{
	list-style-type:none;
	margin:0px;
	padding:0px;
}
#sx ul li a
{
	text-decoration:none;
	display:block;
	color:#333;
	text-shadow: #fff 0 1px 0;
}
#sx ul li a:hover {
	color:#0088cc;
	text-decoration:none;
}


#sx ul li a span
{
	background-position:4px 6px;
	background-repeat:no-repeat;
	padding:2px 5px 2px 25px;
	padding-left:25px;
	display:block;
}
#sx ul li a span span
{
	padding-left:0px;
}

#fx
{
	color:#2f2f2f;
	padding:5px;
	font-size:10px;
	text-align:right;
}

.InfoBoxItem
{
	background-color:#FFF6BF;
	border:1px solid #FFD324;
	color:#514721;
}

.InfoBoxItem span
{
	padding:10px;
	padding-left:25px;
	background-repeat:no-repeat;
	display:block;
	background-position: 5px center ;
}

.pages .current,
.pages a
{
	display:block;
	padding:3px;
	float:left;
	margin:3px;
	border:1px solid #ccc;
	
}

.pages .current
{
	background-color:#333333;
	color:White;
}

#MyTree .menuTree:before {
content: "[+] ";
}

#MyTree .expanded:before {
content: "[-] ";
}

#MyTree .collapsed {
display: none;
}

.error, .notice, .success ,
.error td, notice td, .success td
{
	border:2px solid #DDDDDD !important;
	margin-bottom:1.6em !important;
	padding:0.8em !important;
}
.error td, notice td, .success td
{
	border:1px solid #DDDDDD !important;
}

.error ,.error  td ,.error a 
{
	background:#FBE3E4 !important;
	border-color:#FBC2C4 !important;
	color:#8A1F11 !important;
}

.notice ,.notice  td ,.notice a 
{
	background:#FFF6BF !important;
	border-color:#FFD324 !important;
	color:#514721 !important;
}

.success ,.success td ,.success a 
{
	background:#E6EFC2 !important;
	border-color:#C6D880 !important;
	color:#264409 !important;
}

.big,.big a,.big span{ font-size: 14px !important; }
.strong,.strong a { font-weight:bold !important; }

/* cx */
.pagination {
	margin-top:10px;	
}
.title-vfm {
	font-size:24px;
	line-height:1.35em;
	margin-bottom:5px;
	text-align:left;	
	color:#000;
	text-shadow:1px 1px 1px #999;
}

#nuovoServizio label,
#modificaServizio label,
#modificaEnte label,
#nuovoEnte label,
#nuovaPersona label,
#modificaPeriodo label,
#nuovoPeriodo label,
#modificaFamiliare label,
#nuovoFamiliare label,
#modificaServizioRichiesto label,
#modificaUtente label,
#nuovoUtente label,
#nuovoQuestionarioBase label,
.elenco-questionari label,
#nuovoQuestionarioDatiExtra label,
#formStruttura label,
.questionario_dati_extra label,
#modificaQuestionario label,
#modificaDomanda label,
#nuovaRisposta label,
#modificaRisposta label,
#nuovaDomanda label,
.elenco-utenti label,
.questionario_vuoto label,
#copiaQuestionario label,
#modificaProfiloUtente label,
#modificaPersona label,
.questionario_sondaggio_chart label
 {
	display:block;
}
#nuovoServizio input[type=text],
#modificaServizio input[type=text],
#modificaEnte input[type=text],
#nuovoEnte input[type=text],
#nuovaPersona input[type=text],
#modificaPeriodo input[type=text],
#nuovoPeriodo input[type=text],
#modificaFamiliare input[type=text],
#nuovoFamiliare input[type=text],
#modificaServizioRichiesto input[type=text],
#modificaUtente input[type=text],
#nuovoUtente input[type=text],
#nuovoQuestionarioBase input[type=text],
#nuovoQuestionarioDatiExtra input[type=text],
#formStruttura input[type=text],
.questionario_dati_extra input[type=text],
#modificaQuestionario input[type=text],
#modificaDomanda input[type=text],
#nuovaRisposta input[type=text],
#modificaRisposta input[type=text],
#nuovaDomanda input[type=text],
#modificaPersona input[type=text]
{
	display:block;
	margin-bottom:10px;
}
/*
#nuovoServizio .submit-vf,
#nuovoServizio .back-vf,
#modificaServizio .submit-vf,
#modificaServizio .back-vf,
#modificaEnte .submit-vf,
#modificaEnte .back-vf,
#nuovoEnte .submit-vf,
#nuovoEnte .back-vf,
#nuovaPersona .submit-vf,
#nuovaPersona .back-vf,
#nuovoPeriodo .submit-vf,
#nuovoPeriodo .back-vf,
#modificaServizioRichiesto .submit-vf,
#modificaServizioRichiesto .back-vf,
#nuovoQuestionarioBase .submit-vf,
#nuovoQuestionarioBase .back-vf,
#nuovoQuestionarioDatiExtra .submit-vf,
#nuovoQuestionarioDatiExtra .back-vf,
#modificaQuestionario .submit-vf,
#modificaQuestionario .back-vf,
#modificaDomanda .submit-vf,
#modificaDomanda .back-vf,
#nuovaRisposta .submit-vf,
#nuovaRisposta .back-vf,
#modificaRisposta .submit-vf,
#modificaRisposta .back-vf,
#nuovaDomanda .submit-vf,
#nuovaDomanda .back-vf,
#copiaQuestionario .submit-vf,
#copiaQuestionario .back-vf,
#modificaPeriodo .submit-vf,
#modificaPeriodo .back-vf, 
#modificaPersona .submit-vf,
#modificaPersona .back-vf 
 
 {
	float:left;
	width:120px;	
}
*/
#risorseAssociate label
{
	display:inline;	
	padding:4px;
}
#modificaEnte .checkbox-vf,
#nuovoEnte .checkbox-vf,
#nuovaPersona .checkbox-vf,
#nuovoServizio .checkbox-vf,
#nuovoQuestionarioBase .checkbox-vf,
#nuovoQuestionarioDatiExtra .checkbox-vf,
#modificaQuestionario .checkbox-vf,
#modificaRisposta .checkbox-vf,
#nuovaDomanda .checkbox-vf,
#SearchForm,
#modificaPersona .checkbox-vf

 {
	margin:10px 0px 10px 0px;	
}
#modificaEnte .checkbox-vf label,
#nuovoEnte .checkbox-vf label,
#nuovaPersona .checkbox-vf label,
#nuovoServizio .checkbox-vf label,
#nuovoQuestionarioBase .checkbox-vf label,
#nuovoQuestionarioDatiExtra .checkbox-vf label,
#modificaQuestionario .checkbox-vf label,
#nuovaRisposta .checkbox-vf label,
#modificaRisposta .checkbox-vf label,
.MultipleAnswersMultipleChoice label,
#modificaPersona .checkbox-vf label,
table#gruppi label
{
	display:inline;	
	padding:4px;
}
table#risorseAssociate  {
	margin-bottom:10px;
}
#nuovoServizio .textbox-vf,
#modificaServizio .textbox-vf,
#modificaEnte .textbox-vf,
#nuovoEnte .textbox-vf,
#nuovaPersona .textbox-vf,
#modificaPeriodo .textbox-vf,
#modificaFamiliare .textbox-vf,
#nuovoFamiliare .textbox-vf,
#modificaServizioRichiesto .textbox-vf,
#modificaUtente .textbox-vf,
#nuovoUtente .textbox-vf,
#nuovoQuestionarioBase .textbox-vf,
#nuovoQuestionarioBase .dropdown-vf,
#nuovoQuestionarioDatiExtra .textbox-vf,
#nuovoQuestionarioDatiExtra .dropdown-vf,
.questionario_vuoto .textbox-vf,
.questionario_vuoto .dropdown-vf,
.questionario_dati_extra .textbox-vf,
.questionario_dati_extra .dropdown-vf,
#modificaQuestionario .textbox-vf,
#modificaQuestionario .dropdown-vf,
#modificaDomanda .textbox-vf,
#modificaDomanda .dropdown-vf,
#nuovaRisposta .textbox-vf,
#nuovaRisposta .dropdown-vf,
#modificaRisposta .textbox-vf,
#modificaRisposta .dropdown-vf,
#nuovaDomanda .textbox-vf,
#nuovaDomanda .dropdown-vf,
#copiaQuestionario .dropdown-vf,
#modificaProfiloUtente .dropdown-vf,
#modificaPersona .textbox-vf, 
#modificaPersona .dropdown-vf 
 {
	padding:10px 0px 4px 0px;
	border-bottom:1px solid #E8E8E8;
}
.elenco-servizi table,
.elenco-providers table,
.elenco-periodi table,
.elenco-utenti table,
.elenco-familiari table,
.tabella_servizi_fruiti_utente table,
.elenco-questionari table,
.tabella_domande_questionario table,
.tabella_risposte_domanda table,
.elenco-questionari-compilabili table,
#StepContainer table,
table.servizi-table,
.questionario_sondaggio_chart table,
.view_questionario table
 {
	width:100%;	
}
.elenco-servizi td, .elenco-servizi th,
.elenco-providers td, .elenco-providers th,
.tabella_valutazioni_servizi_ente th,
.elenco-periodi th,
.elenco-utenti th,
.elenco-familiari th,
.tabella_servizi_fruiti_utente th,
.elenco-questionari th,
.tabella_domande_questionario th,
.tabella_risposte_domanda th,
.elenco-questionari-compilabili th,
#StepContainer th,
.questionario_sondaggio_chart table th,
.questionario_sondaggio_chart table td
 {
	padding:4px;	
}

.questionario_sondaggio_chart table th {
	border-bottom:1px solid #000 !important;
}

.elenco-servizi th,
.elenco-providers th,
.tabella_valutazioni_servizi_ente th,
.elenco-periodi th,
.elenco-utenti th,
.elenco-familiari th,
.tabella_servizi_fruiti_utente th,
.elenco-questionari th,
.tabella_domande_questionario th,
.tabella_risposte_domanda th,
.elenco-questionari-compilabili th,
#StepContainer th,
.questionario_sondaggio_chart table th
 {
	font-weight:bold;
	text-align:center;
	border-bottom:2px solid #f0f0f0;
	text-shadow:1px 1px 1px #999;
}
.elenco-servizi .details span,
.elenco-servizi .edit span,
.elenco-servizi .delete span,
.elenco-providers .details span,
.elenco-providers .edit span,
.elenco-providers .delete span,
.elenco-providers .table span,
.tabella_valutazioni_servizi_ente .delete span,
.elenco-periodi .delete span,
.elenco-periodi .edit span,
.elenco-utenti .details span,
.elenco-utenti .edit span,
.elenco-utenti .delete span,
.elenco-utenti .table span,
.elenco-familiari .delete span,
.elenco-familiari .edit span,
.elenco-familiari .details span,
.tabella_servizi_fruiti_utente .delete span,
.tabella_servizi_fruiti_utente .edit span,
.elenco-questionari .details span,
.elenco-questionari .edit span,
.elenco-questionari .delete span,
.elenco-questionari .table span,
.tabella_domande_questionario .edit span,
.tabella_domande_questionario .delete span,
.tabella_domande_questionario .table span,
.tabella_risposte_domanda .edit span,
.tabella_risposte_domanda .delete span,
.elenco-questionari-compilabili .edit span
{
	display:none;
}
.elenco-servizi .details a,
.elenco-servizi .edit a,
.elenco-servizi .delete a,
.elenco-providers .details a,
.elenco-providers .edit a,
.elenco-providers .delete a,
.elenco-providers .table a,
.tabella_valutazioni_servizi_ente .delete a,
.elenco-periodi .delete a,
.elenco-periodi .edit a,
.elenco-utenti .details a,
.elenco-utenti .edit a,
.elenco-utenti .delete a,
.elenco-utenti .table a,
.elenco-familiari .delete a,
.elenco-familiari .edit a,
.elenco-familiari .details a,
.tabella_servizi_fruiti_utente .delete a,
.tabella_servizi_fruiti_utente .edit a,
.elenco-questionari .details a,
.elenco-questionari .edit a,
.elenco-questionari .delete a,
.elenco-questionari .table a,
.tabella_domande_questionario .edit a,
.tabella_domande_questionario .delete a,
.tabella_domande_questionario .table a,
.tabella_risposte_domanda .edit a,
.tabella_risposte_domanda .delete a,
.elenco-questionari-compilabili .edit a
{
	text-align:center;
	background-repeat:no-repeat;
	display:block;
	width:16px;
	height:16px;
}
.elenco-servizi .details a,
.elenco-providers .details a,
.elenco-utenti .details a,
.elenco-familiari .details a,
.elenco-questionari .details a
{
	background-image:url(img/ico-details.png);	
}
.elenco-servizi .edit a,
.elenco-providers .edit a,
.elenco-periodi .edit a,
.elenco-utenti .edit a,
.elenco-familiari .edit a,
.tabella_servizi_fruiti_utente .edit a,
.elenco-questionari .edit a,
.tabella_domande_questionario .edit a,
.tabella_risposte_domanda .edit a,
.elenco-questionari-compilabili .edit a
{
	background-image:url(img/ico-modify.png);	
}
.elenco-servizi .delete a,
.elenco-providers .delete a,
.tabella_valutazioni_servizi_ente .delete a,
.elenco-periodi .delete a,
.elenco-utenti .delete a,
.elenco-familiari .delete a,
.tabella_servizi_fruiti_utente .delete a,
.elenco-questionari .delete a,
.tabella_domande_questionario .delete a,
.tabella_risposte_domanda .delete a 
{
	background-image:url(img/ico-delete.png);	
}

.legenda-compilazione label {
	cursor:default !important;
}

.elenco-providers .table a,
.elenco-utenti .table a,
.elenco-questionari .table a,
.tabella_domande_questionario .table a
{
	background-image:url(img/table.png);	
}
#SearchForm {
	display:block;
	border:1px solid #d6d6d6;
	padding:4px;
	background:#f6f6f6;
}
#SearchForm div {
	margin-bottom:10px;	
}
.elenco-servizi table,
.elenco-providers table,
.tabella_valutazioni_servizi_ente table,
.elenco-periodi table,
.elenco-utenti table,
.elenco-familiari table,
.tabella_servizi_fruiti_utente table,
.elenco-questionari table,
.tabella_domande_questionario table,
.tabella_risposte_domanda table,
.elenco-questionari-compilabili table,
#StepContainer table
{
	margin-top:20px;
	border-collapse:separate;
	border-spacing:1px;		
}
.elenco-servizi table td,
.elenco-providers table td,
.tabella_valutazioni_servizi_ente table td,
.elenco-periodi table td,
.elenco-utenti table td,
.elenco-familiari table td,
.tabella_servizi_fruiti_utente table td,
.elenco-questionari table td,
.tabella_domande_questionario table td,
.tabella_risposte_domanda table td,
.elenco-questionari-compilabili table td,
#StepContainer table td
{
	padding: 4px;
	background: #f1f1f1;
	color: #669;		
	text-align:center;
	
-webkit-transition: color 0.5s ease;
-moz-transition: color 0.5s ease;
-ms-transition: color 0.5s ease;
-o-transition: color 0.5s ease;
transition: color 0.5s ease;

-webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out;
}

.elenco-servizi table td:hover,
.elenco-providers table td:hover,
.tabella_valutazioni_servizi_ente table td:hover,
.elenco-periodi table td:hover,
.elenco-utenti table td:hover,
.elenco-familiari table td:hover,
.tabella_servizi_fruiti_utente table td:hover,
.elenco-questionari table td:hover,
.tabella_domande_questionario table td:hover,
.tabella_risposte_domanda table td:hover,
.elenco-questionari-compilabili table td:hover,

.elenco-servizi table tr.alternate td:hover,
.elenco-providers table tr.alternate td:hover,
.tabella_valutazioni_servizi_ente tr.alternate td:hover,
.elenco-periodi tr.alternate td:hover,
.elenco-utenti tr.alternate td:hover,
.elenco-familiari tr.alternate td:hover,
.tabella_servizi_fruiti_utente tr.alternate td:hover,
.elenco-questionari tr.alternate td:hover,
.tabella_domande_questionario tr.alternate td:hover,
.tabella_risposte_domanda tr.alternate td:hover,
.elenco-questionari-compilabili tr.alternate td:hover
{
	color:#000;
	
	-moz-transform:scale(1.2);
	-webkit-transform:scale(1.2);		
}
/*
#StepContainer table td:hover,
#StepContainer tr.alternate td:hover
*/
.elenco-servizi table tr.alternate td,
.elenco-providers table tr.alternate td,
.tabella_valutazioni_servizi_ente tr.alternate td,
.elenco-periodi tr.alternate td,
.elenco-utenti tr.alternate td,
.elenco-familiari tr.alternate td,
.tabella_servizi_fruiti_utente tr.alternate td,
.elenco-questionari tr.alternate td,
.tabella_domande_questionario tr.alternate td,
.tabella_risposte_domanda tr.alternate td,
.elenco-questionari-compilabili tr.alternate td,
#StepContainer tr.alternate td
 {
	background:#F6F6F8;	
}

.elenco-servizi table td.action,
.elenco-servizi table tr.alternate td.action,
.elenco-providers table td.action,
.elenco-providers table tr.alternate td.action,
.tabella_valutazioni_servizi_ente td.action,
.tabella_valutazioni_servizi_ente tr.alternate td.action,
.elenco-periodi td.action,
.elenco-periodi tr.alternate td.action,
.elenco-utenti td.action,
.elenco-utenti tr.altrnate td.action,
.elenco-familiari td.action,
.elenco-familiari tr.alternate td.action,
.tabella_servizi_fruiti_utente td.action,
.tabella_servizi_fruiti_utente tr.alternate td.action,
.elenco-questionari table td.action,
.elenco-questionari table tr.alternate td.action,
.tabella_domande_questionario td.action,
.tabella_domande_questionario tr.alternate td.action,
.tabella_risposte_domanda td.action,
.tabella_risposte_domanda tr.alternate td.action,
.elenco-questionari-compilabili td.action,
.elenco-questionari-compilabili tr.alternate td.action
 {
	background:#fff !important;
	text-align:center;
	margin:0px auto;	
}





.elenco-servizi table td.action a,
.elenco-providers table td.action a,
.tabella_valutazioni_servizi_ente td.action a,
.elenco-periodi td.action a,
.elenco-utenti td.action a,
.elenco-familiari td.action a,
.tabella_servizi_fruiti_utente td.action a,
.elenco-questionari table td.action a,
.tabella_domande_questionario table td.action a,
.tabella_risposte_domanda td.action a,
.elenco-questionari-compilabili td.action a
{
	text-align:center;
	margin:0px auto;	
}

.tabella_valutazioni_servizi_ente fieldset,
.tabella_servizi_fruiti_utente fieldset,
fieldset.risultati 
{
	margin:20px auto 0px auto;	
} 
.tabella_valutazioni_servizi_ente legend,
.elenco-familiari legend,
#modificaFamiliare legend,
#nuovoFamiliare legend,
.tabella_servizi_fruiti_utente legend,
#modificaUtente legend,
#nuovoUtente legend,
.elimination_confirm legend,
.tabella_domande_questionario legend,
.risposte_domanda legend,
.elenco-questionari-compilabili legend,
.questionario_vuoto legend,
.questionario_dati_extra legend,
.risultati legend,
.dettaglio-risultati legend,
.info_feedback
 {
	font-weight:bold;	
}
fieldset.elimination_confirm  {
	padding:10px;	
}
fieldset.elimination_confirm p
{
	color:#FF0000;	
}
.validation-results li {
	/*list-style:none;
	padding-left:20px !important;
	background:url(img/exclamation-red.png) 0px 0px no-repeat;*/	
}
li.InfoBoxItem {
	height:auto !important;	
}
#nuovoFamiliare_ruoloFamiliare,
#modificaFamiliare_ruoloFamiliare,
.domande_questionario,
.risposte_domanda
 {
	margin:10px 0px 10px 0px;	
}
#modificaUtente_account {
	border:1px solid #ccc;
	padding:10px;
}
.star_user_fieldset {
	margin-bottom:10px;	
}

.steptitle-inner {
	background:url(img/step.gif) 0px 0px no-repeat;
	padding:8px 0px 8px 13px;	
}

.questionario_vuoto .description-b,
.questionario_dati_extra .description-b
 {
	display:none;	
}
.questionario_vuoto .ntotal,
.questionario_dati_extra .ntotal
 {
	padding-left:9px;
	margin-right:10px;
}


.questionario_vuoto .current,
.questionario_vuoto .ntotal,
.questionario_dati_extra .current,
.questionario_dati_extra .ntotal
 {
	font-size:14px;	
}
.questionario_vuoto .description-c,
.questionario_dati_extra .description-c
 {
	padding-left:3px;	
	font-weight:bold;
}
.questionario_vuoto .current,
.questionario_dati_extra .current
 {
	font-weight:bold;
}

/* questionario */ 
.questionario_dati_extra #StepContainer table,
.questionario_vuoto #StepContainer table,
table.servizi-table 
 {
	border-collapse:collapse;	
}

.questionario_dati_extra #StepContainer ul li,
.questionario_vuoto #StepContainer ul li
 {
	padding:0px;
	margin:0px;
	list-style:none;
}
.questionario_dati_extra #StepContainer table td,
.questionario_vuoto #StepContainer table td,
table.servizi-table th
{
	padding: 4px;
	background:#fff;
	color: #000;		
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	text-align:left;
	border:1px solid #999;
	vertical-align:top;	
}
.questionario_dati_extra #StepContainer table table td,
.questionario_vuoto #StepContainer table table td
{
	border:0px;
}
.questionario_dati_extra #StepContainer table table,
.questionario_vuoto #StepContainer table table
 {
	margin-top:0px;
}
.questionario_dati_extra #StepContainer label {

}
.elimination_confirm {
	border:1px solid #D6D6D6;	
}
.Molto_Soddisfatto label,
.Abbastanza_Soddisfatto label,
.Soddisfatto label,
.Più_o_meno_soddisfatto label,
.Per_niente_soddisfatto label
{
	display:block;
	width:55px;
	height:55px;
	text-indent:-100000px;
	margin-bottom:2px;
	cursor:pointer;
	padding:4px;

}

.Molto_Soddisfatto input,
.Abbastanza_Soddisfatto input,
.Soddisfatto input,
.Più_o_meno_soddisfatto input,
.Per_niente_soddisfatto input
{
	visibility:hidden;
}


.Molto_Soddisfatto label,
.Abbastanza_Soddisfatto label,
.Soddisfatto label,
.Più_o_meno_soddisfatto label,
.Per_niente_soddisfatto label
{
	filter:alpha(opacity=50);
  	opacity:0.5;	
	padding-bottom:14px;
}
.Molto_Soddisfatto.LabelSelected label,
.Abbastanza_Soddisfatto.LabelSelected label,
.Soddisfatto.LabelSelected label,
.Più_o_meno_soddisfatto.LabelSelected label, 
.Per_niente_soddisfatto.LabelSelected label
{
	display:block;
	filter:alpha(opacity=100);  
	opacity:1;
	padding-bottom:14px;
	-webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;

    -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.4);        
    box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.4);
}

.legenda-compilazione label {
	padding-bottom:0px;
	width:22px;
	height:22px;
	background-image:url(img/faccine-t.png) !important;	
}
.legenda-compilazione .Molto_Soddisfatto label {
	background-position:0px 0px;
}
.legenda-compilazione .Abbastanza_Soddisfatto label {
	background-position:0px -28px;
}
.legenda-compilazione .Soddisfatto label {
	background-position:0px -56px;
}
.legenda-compilazione .Più_o_meno_soddisfatto label {
	background-position:0px -84px;
}
.legenda-compilazione .Per_niente_soddisfatto label {
	background-position:0px -112px;
}

.Molto_Soddisfatto.LabelSelected label{
	background:#B2D9C5 url(img/faccine.png) -7px 0px no-repeat;	
}
.Abbastanza_Soddisfatto.LabelSelected label{
	background:#E5F2BD url(img/faccine.png) -7px -74px no-repeat;	
}
.Soddisfatto.LabelSelected label{
	background:#FFFF80 url(img/faccine.png) -7px -148px no-repeat;
}
.Più_o_meno_soddisfatto.LabelSelected label{
	background:#FFC880 url(img/faccine.png) -7px -222px no-repeat;
}
.Per_niente_soddisfatto.LabelSelected label{
	background:#F9B7B9 url(img/faccine.png) -7px -296px no-repeat;
}

.Molto_Soddisfatto label{
	background:url(img/faccine.png) -7px 0px no-repeat;	
}
.Abbastanza_Soddisfatto label{
	background:url(img/faccine.png) -7px -74px no-repeat;	
}
.Soddisfatto label{
	background:url(img/faccine.png) -7px -148px no-repeat;	
}
.Più_o_meno_soddisfatto label{
	background:url(img/faccine.png) -7px -222px no-repeat;	
}
.Per_niente_soddisfatto label{
	background:url(img/faccine.png) -7px -296px no-repeat;	
}
.Molto_Soddisfatto input,
.Abbastanza_Soddisfatto input,
.Soddisfatto input,
.Più_o_meno_soddisfatto input,
.Per_niente_soddisfatto input {
	text-align:center;
	margin:0px auto;
	display:none;	
}
.MultipleAnswersSingleChoice label,
.MultipleAnswersSingleChoice input
 {
	margin:0px auto;
	text-align:center;	
	display:block;
}
.questionario_dati_extra .textbox-vf,
.questionario_vuoto .textbox-vf,
.questionario_dati_extra .dropdown-vf,
.questionario_vuoto .dropdown-vf 
 {
	padding:0px !important;
	border:none !important;	
}
.steptitle {
	margin:10px 0px 10px 0px;
	display:block;	
}
table.servizi-table .empty-Star,
table.servizi-table .full-Star {
	text-indent:-100000px;
	padding:4px;
	display:block;
	width:21px;
	height:21px;
	margin:0px auto;
	text-align:center;
}
span.full-Star {
	background:url(img/star.png) 0px 0px no-repeat;	
}
span.empty-Star {
	background:url(img/star.png) 0px -29px no-repeat;	
}
tr.feedback_date td {
	color:#808080;
}
/* commenti */
.info_feedback {
	margin-top:6px;
	display:block;	
}
.risultati-details ul {
	background:url(img/arrow-up.png) 17px 0px no-repeat;	
	padding-top:3px;	
}
.risultati-details ul table {
	margin-top:2px;	
	width:100%;
	background:#EDEFF4;
	border-bottom:1px solid #E5EAF1;
}
.risultati-details ul table td,
.risultati-details ul table th {
	padding:2px 0px 0px 4px;	
}
.risultati-details ul table th {
	font-weight:bold;	
}
#nuovoFeedback {
	margin-top:10px;
	padding:4px;
	background:#ECF8BC;
	border-bottom:1px solid #D3DDAA;	
}
.risultati-details ul table .delete {
	text-align:right;
	display:block;
	width:16px;
	height:16px;
	background:url(img/delete.png) 0px 0px no-repeat;
	text-indent:100000px;	
}

/* login */

.login, .login input {
	margin-bottom:5px;	
}
input[type=text],
input[type=password] {
	padding:4px;	
}
.login label{
	display:block;	
}

th.nomeEnteHead {
	width:300px;	
}
.DetailsText {
	font-weight:bold;
	color:#004376;	
}
div[class="risultati"] {
	padding-top:80px;
	background:url(img/logo_politiche_sociali.gif) top right no-repeat;
}

.MainPage {
	font-size:14px;
	color:#000;
}
div[class="MainPageIntestazione"] {
	padding:40px;		
	background-color: #f2f9fe; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2f9fe 0%, #d6f0fd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f9fe), color-stop(100%,#d6f0fd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f2f9fe 0%,#d6f0fd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f2f9fe 0%,#d6f0fd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f2f9fe 0%,#d6f0fd 100%); /* IE10+ */
	background: linear-gradient(top,  #f2f9fe 0%,#d6f0fd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9fe', endColorstr='#d6f0fd',GradientType=0 ); /* IE6-9 */
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; 	
	
	text-shadow: 1px 1px 1px #888;
	filter: dropshadow(color=#fff, offx=1, offy=1); 
}

div[class="MainPageIntestazione"] span {
	height:90px;
	width:90px;
	background:url(img/logo_politiche_sociali.gif) top right no-repeat;
	display:block;
	float:right;
	padding-left:20px;
	
}

div[class="MainPageContenuto"] {
	padding-top:20px;	
}

div[class="MainPageFirma"] {
	padding-top:80px;
	font-weight:bold;
}

.breadcrumbs {
		font-size:14px;
		padding:6px;
		background:#f0f0f0;
		margin:4px 0px 4px 0px;
		
		-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.reportChart {
	margin-bottom:20px;
	padding-bottom:20px;
	margin-top:20px;
	border-bottom:1px solid #ccc;	
}
table.reportview  {
	margin-bottom:20px;
	border:1px solid #ccc !important;
}
table.reportview th {
	border:1px solid #ccc !important;
}
table.reportview td {
	background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	border:1px solid #ccc !important;
}
.questionario_element {
	margin:5px 0px 5px 0px;
	padding:4px 4px 4px 140px;
	border:1px solid #CDCDCD;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-bottom-width:2px;
	
	float:left;
	clear:both;
	width:550px;
}
.questionario_element span {
	display:block;
	margin-bottom:5px;	
}

.questionario_element_desc,
.questionario_element_data,
.questionario_element_title
 {
	
}
.questionario_element_data { 
	border-top:1px solid #f0f0f0;
	padding-top:5px;
	font-size:11px;
	color:#777;
}
.questionario_element_image {
	background:url("img/quest.png") 0px 0px no-repeat; 	
	width:128px;
	height:128px;
	float:left;
	clear:left;
	margin-left:-134px;
}


/*buttons*/

input[type="submit"], .export-buttons a{ margin-right: 5px }
input[type="submit"], .export-buttons a, .export-buttons a span
{
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
input[type="submit"], .export-buttons a span {
    white-space: nowrap;
    nowhitespace: afterproperty;
    line-height: 1em;
    position: relative;
    outline: none;
    overflow: visible;
    /* removes extra side padding in IE */
	cursor: pointer;
	nowhitespace: afterproperty;
	border:1px solid #999; /* IE */
	border:rgba(0,0,0,.1) 1px solid;
	/* Saf4+,Chrome,FF3.6 */
	border-bottom:rgba(0,0,0,.3) 1px solid;
	nowhitespace: afterproperty;
	background:-moz-linear-gradient(center top,rgba(255,255,255,.1) 0%,rgba(0,0,0,.1) 100%);/* FF3.6 */
	background:-webkit-gradient(linear,center bottom,center top,from(rgba(0,0,0,.1)),to(rgba(255,255,255,.1)));/* Saf4+,Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF',EndColorStr='#19000000'); /* IE6,IE7 */
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF',EndColorStr='#19000000')"; /* IE8 */
	-moz-user-select:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	user-select:none;
	margin:10px 5px 10px 0px;	
	min-height:30px;
	text-decoration: none;	
}

input[type="submit"]:hover, .export-buttons a:hover
{
	-moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;	
	
}
input[type="submit"]:active, .export-buttons a:active
{
	top: 1px;
}
input[type="submit"], .export-buttons a span {
    position: relative;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0,0,0,0.25);
    border-top: rgba(255,255,255,.4) 1px solid;
    padding: 0.4em 0.8em;
    line-height: 1.3em;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
	background-color: #025D8C
}
.export-buttons span {
	visibility:hidden;	
}
.export-buttons a span {
	padding: 0.8em 0.8em;
	min-height:16px;	
	visibility:visible !important;
}
.view_questionario ol,
.view_questionario ul, 
.view_questionario li{
	list-style:none;
	margin:0px;
	padding:0px;
}
.view_questionario li {
	margin-bottom:10px;	
}
.view_questionario td {
	padding:10px 10px 10px 10px;
	border-bottom:1px solid #ccc;
	color:#666699;
}
.view_questionario tr:hover td {
	color:#000099;	
}
.view_questionario td table td {
	border:none;	
}

/* new */
.legenda-compilazione legend {
	padding-top:20px;	
}
.legenda-compilazione table {
	width:230px !important;
	margin-bottom:20px;
}

.testo_domanda {
	text-align:center;
	font-size:14px;	
	font-weight:bold;
	padding:10px 0px 10px 0px;
}
ul.MultipleAnswersMultipleChoice,
.MultipleAnswersSingleChoice ul
 { 
padding-left:20px !important;
}
.MultipleAnswersMultipleChoice li,
.MultipleAnswersSingleChoice li {
	color:#666;	
	clear:both;
	padding:4px 0px 4px 0px !important;
}
.MultipleAnswersSingleChoice li input[type="radio"],
.MultipleAnswersSingleChoice li input[type="checkbox"],
.MultipleAnswersMultipleChoice li input[type="checkbox"]
 { 
	/*float:left;*/
	display:inline;
}
.MultipleAnswersMultipleChoice li label {
	display:inline !important;
	padding-left:10px;
}
.MultipleAnswersSingleChoice li label {
	text-align:left;	
	clear:both;
	float:right;
	width:97%;
}
.openedExtraAnswers {
	color:#666;
	margin-top:20px;
}
.questionario textarea{
	width:98%;	
}
.questionario legend {
	font-size:20px;
	line-height:24px;	
	width:100%;
}
.smile li {
	display:inline-block !important;	
	width:100px;
}
.smile li label {
	width:60px !important;
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
.MultipleAnswersMultipleChoice li label {
	padding-left:40px;
}
.MultipleAnswersSingleChoice li label
{
	padding-left:0px;
	width:96%;
}
	
.MultipleAnswersSingleChoice li input[type="radio"],
.MultipleAnswersSingleChoice li input[type="checkbox"],
.MultipleAnswersMultipleChoice li input[type="checkbox"] {width:20px;height:20px;}


.MultipleAnswersSingleChoice li input[type="checkbox"],
.MultipleAnswersMultipleChoice li input[type="checkbox"] {
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}

}


@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
	
.MultipleAnswersSingleChoice li,
.MultipleAnswersSingleChoice li,
.MultipleAnswersMultipleChoice li {
	padding-bottom:20px !important;	
}

.MultipleAnswersSingleChoice li input[type="radio"],
.MultipleAnswersSingleChoice li input[type="checkbox"],
.MultipleAnswersMultipleChoice li input[type="checkbox"] {width:20px;height:20px;}

.MultipleAnswersSingleChoice li label
{
	padding-left:0px;
	width:96%;
}

.MultipleAnswersSingleChoice li input[type="checkbox"],
.MultipleAnswersMultipleChoice li input[type="checkbox"] {
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}
.MultipleAnswersSingleChoice li input[type="radio"] {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

}