﻿
.files-selected-container {
    width:98%;
    height:160px;
    margin:10px;
    border: 1px solid #bbb;    
    position:relative;
    background-color:white;
    overflow:auto;
}

.files-selected-container .files-selected-list{
    
    position:absolute;
    top:0;
    left:0;
    overflow:auto;
}

.files-selected-container .file-selected {    
    width:140px;
    height:140px;
    box-sizing: border-box;
    color: #464646;
    cursor: pointer;
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 8px;
    position: relative;
    text-align: center;
}

.file{
    background: none repeat scroll 0 0 #eee;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1) inset, 0 0 0 1px rgba(0, 0, 0, 0.05) inset;
    cursor: pointer;
    position: relative;
}
.file:before {
    content: "";
    display: block;
    padding-top: 100%;
}
.file-selected .icon {
    margin: 0 auto;
    overflow: hidden;
}
.file-selected .file-container {
    bottom: 0;
    left: 0;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.1s ease 0s;
}

.file-selected .file-container:after {
    bottom: 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
    content: "";
    display: block;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}
.file-selected .file-container img {
    left: 0;
    top: 0;
    position: absolute;
}
.file-selected .file-container .document {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(50%, 50%);
    width: 100%;
}
.file-selected .file-container .document img {
    transform: translate(-50%, -50%);
}
.file-selected .file-container .document img.icon {
    transform: translate(-50%, -70%);
}

.file-selected .filename {
    background: rgba(120, 170, 230, 0.7);
    bottom: 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
    font-weight: 700;
    left: 0;
    max-height: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
    word-wrap: break-word;
}
.file-selected .filename div {
    padding: 5px 10px;
}

.file .status {
    text-align:left;
    font-weight:bold;
    padding:2px 0 0 4px;
}

.file .done {
    color:green;    
}

.file .failed {
    color:red;    
}

.progressbar{
    display:block;
    width:88%;
    height:10px;    
    margin:0px 8px;
    position:absolute;
    top:45%;
    left:0;
    right:0;   
    border:1px solid #4f4f4f;
}
.progressbar div{
    background-color:#0d4e9f;
    width:0%;
    height:10px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
}



.dropArea .btnHide{
    display:none!important;
}

.dropArea .btnGreen {
    background-color:green;
    width:140px;
    height:40px;
    font-weight:bold;
}

.btns_confirm{
    margin-top:20px;

}


.dropArea
{
    width:98%;
    height: 250px;/*400px;*/
    border: 1px solid #bbb;    
    margin:10px;
    background-color:#fff;
}

.dropArea .uploadui{
    margin:2em auto;
    position:absolute;
    top:22%;/*30%;*/
    left:0;
    right:0;
}
.dropArea .uploadui .upload-instruction-msg {
    font-size:1.8em;
    color:#4f4f4f;
}
.dropArea .uploadui .upload-instruction-msg2 {
    margin-top:10px;
}

.dropArea .uploadui .btns{

}

.dropzone{
    /*border:1px dashed #808080;    */
    background-color:#808080;
    opacity:0.4;
    filter:alpha(opacity=40);
}



.consoleArea
{
    width:98%;
    height: 100px;
    background-color:#fbe3e4;
    border:1px solid #fbc2c4;
	color:#8a1f11;
	margin:10px;
    overflow: auto;
    text-align:left;
    padding-top:10px;
}
.consoleArea li{
    margin-left:10px;
}

.hide{
    display:none;
}






