﻿/* gui applicazione */
/*#organigramma h1 
{
    font-family: 'Open Sans',sans-serif; 
    background:#f0fafa;
    padding:4px;
    margin:4px;   
    
    -moz-box-shadow: 0px 0px 2px #aaa;
    -webkit-box-shadow: 0px 0px 2px #aaa;
    box-shadow: 0px 0px 2px #aaa;
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    
    border:2px solid #fff;
}*/
#organigramma .option-filetree 
{       
    background:url(images/gear.png) right top no-repeat;
    padding:0px 0px 4px 16px;   
    width:16px;
    margin-left:10px;
    display:inline !important;    
    
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}
#organigramma .option-filetree:hover 
{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;
} 
#organigramma .option-filetree span
{       
    display:none;    
}
#organigramma .option-filetree-div 
{    
    padding:4px;
    background:#fff;        
    position:relative;    
    width:155px;
    height:20px;
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border:1px solid #eee;
    
    -moz-box-shadow: 3px 4px 4px -2px #555;
    -webkit-box-shadow: 3px 4px 4px -2px #555;
    box-shadow: 3px 4px 4px -2px #555;

}
#organigramma .option-filetree-div .chiudi 
{
    position:absolute;
    top:0px;
    right:0px;
    width:10px;
    height:10px;
    background:url(images/closebox.gif) 0px 0px no-repeat;
    text-indent:-9999px;    
}
#organigramma .option-filetree-div .delete,
#organigramma .option-filetree-div .add,
#organigramma .option-filetree-div .modify,
#organigramma .option-filetree-div .add-people,
#organigramma .option-filetree-div .add-content,
#organigramma .delete-content, 
#organigramma .view-content,
#organigramma .delete 
{
    width:16px;
    height:18px;
    float:left;
    display:block;
    margin-right:14px;
    text-indent:-9999px;    
}

#organigramma .option-filetree-div .delete,
#organigramma .delete-content, 
#organigramma .delete
{
    background:url(images/option-filetree-div-icons.png) no-repeat 0px 3px;
}

#organigramma .option-filetree-div .add 
{
    background:url(images/option-filetree-div-icons.png) no-repeat 0px -40px;
    }

#organigramma .option-filetree-div .modify 
{
    background:url(images/option-filetree-div-icons.png) no-repeat 0px -83px;
    }

#organigramma .option-filetree-div .add-people 
{
    background:url(images/option-filetree-div-icons.png) no-repeat 0px -128px;
    }

#organigramma .option-filetree-div .add-content 
{
    background:url(images/option-filetree-div-icons.png) no-repeat 0px -173px;
    } 
    
#organigramma .view-content 
{
    background:url(images/option-filetree-div-icons.png) no-repeat 0px -218px;
    margin-left:10px;
} 

#organigramma li .persona
{
    background:url(images/user.png) no-repeat 0px 2px;
    width:150px;
}
#organigramma li .persona .nomecognome
{
    margin-left:18px;    
}
#organigramma li .persona .ruolo
{
    margin-left:18px;
    display:block;
}
#organigramma li .persona .remove_persona
{
    background:url(images/bin.png) no-repeat 0px 2px;
    width:16px;
    height:18px;
    float:right;
    display:block;
}
#organigramma li .persona .remove_persona span
{
    display:none;
}

/*--------------------------------------------------------------------*/

.lite 
{
    font:12px sans-serif;    
}
.lite  a {
    color: #21759B;
    text-decoration: none;
}
.lite  a:hover {
    color: #000000;
    text-decoration: none;
}

#corpo_lite 
{
    padding:0px;    
}
#corpo_lite #albero 
{
    float:left;
    width:300px;
    overflow-x:auto;    
}
#corpo_lite .documenti 
{
    float:right;    
    clear:right;   
}
#corpo_lite .documenti table
{
    text-align:left;    
    border-spacing:1px;
}
#corpo_lite .documenti table td,
#corpo_lite .documenti table th  
{
    padding:4px;
    background:#f0f0f0;    
}
#corpo_lite #ContentForm 
{
    clear:left;
    margin-top:200px;    
    padding:6px;
    background:#f0f0f0;
    text-align:center;
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#corpo_lite #ContentForm label 
{
    display:block;
    margin-bottom:4px    
}
#corpo_lite #ContentForm input 
{
    margin-bottom:4px      
}

#corpo_lite fieldset
{
   border:none;     
}
/* fine gui */