/******************************************************************/
/*	CSS Alto Contrasto Net.Service		  */
/******************************************************************/
/*				Realizzazione Net.Service S.r.l.				  */
/*  			http://www.net-serv.it							  */
/*  ------------------------------------------------------------  */
html {
	font-size: 100% !important;
}	
body {
	padding-right: 1em;
	padding-left: 1em;
	background: #000;
	padding-bottom: 1em;
	margin: 0px;
	font: 120% Arial, Verdana, helvetica, sans-serif;
	color: #fff;
	padding-top: 1em;
}
.clr {
	clear:left;
	width:100%;	
	height:1px;
}
/************* per gli acronomi e abbreviazioni *************/
acronym {
	cursor: help;	
	border-bottom: #fff 1px dashed;
}
abbr {
	cursor: help;
	border-bottom: #fff 1px dashed;
}
#ColSX {
	border-top:2px dashed #ccc;
	border-bottom:2px dashed #ccc;
}
#ColSX ol li li {
	list-style:none;
}
ul.SiteMap li{
	list-style:none;
}
a:link {
	background: #000;
	color: #0ff
}
a:visited {
	background: #000;
	color: #f0f
}
a:hover {
	background: #900;
	color: #ff0
}
a:active {
	background: #900;
	color: #ff0
}

h6 {
	font-size: 1em
}
h5 {
	font-size: 1.2em
}
h4 {
	font-size: 1.3em
}
h3 {
	font-size: 1.5em
}
h2 {
	font-size: 1.8em
}
h1 {
	font-size: 2em
}
h6 {
	background: #000;
	color: #ff0
}
h5 {
	background: #000;
	color: #ff0
}
h4 {
	background: #000;
	color: #ff0
}
h3 {
	background: #000;
	color: #ff0
}
h2 {
	background: #000;
	color: #ff0
}
h1 {
	background: #000;
	color: #ff0
}

p {
	color: #fff;	
}
table {
	margin:10px;
	width:90%;
	padding:10px;
	border:4px solid #000;
}
table th {	
	background:#222;
	margin:10px;
	padding:10px;
}
table td {	
	margin:10px;
	padding:10px;
}
.separate {
	display: none;
}
.logo {
	text-align:center;
	border:2px solid #ccc;	
	margin:2%;
}
.logo p .titolosito {
	font-size:3em;	
	font-weight:bold;	
	font-family:Georgia, "Times New Roman", Times, serif;
}
fieldset {
	padding:30px;
	margin:10px;
}
input {
	font-size:1em;
	padding:10px 10px 10px 0px;;
	margin:0px 0px 0px 10px;
	font-weight:bold;
}
select {
	font-size:1em;
	padding:2px;
	font-weight:bold;
}
label {	
	cursor:pointer;
	margin:0px 0px 0px 0px;
}
.span_Login_User label {
	padding:0px 10px 0px 20px;
}
.span_Login_User input {
	margin-right:20px;
}
.ric {	

}
.submit { }
.comuniprogettoselect select{}
#Where {
	border-bottom:2px dashed #ccc;
	padding:0.5em 0em 0.5em 0em;
}
.menurapido ol li, .barratop ul li, #opzionivideo  ul li, .servizi-comuni ul li{
	display:inline;
	padding:0px 15px 0px 10px;	
	background:url("img/sfondo_form.jpg") no-repeat 0px 0px;
}
.formricerca {
	border-bottom:1px solid #ccc;
	margin-bottom:1em;
}
#opzioni-altocontrasto, #descrizionefoto {
	display:none !important;	
}