/* tag generali */
html {
	font-size: 105% !important;
}	
body {	
	background: #fff;	
	font: 115% arial, verdana, helvetica, sans-serif;
	color: #000;	
}
h1,h2,h3,h4,h5,h6,p,blockquote,td,ul,ol,dt,dd,caption {
	font-family:Verdana, Arial, Helvetica, sans-serif;	
}
h2,h3,h4,h5,h6 {
	padding:4px;
	height:auto !important;
	height:0px;	
	margin:0px;
}
h1 {
	height:auto !important;
	height:0px;	
	background:#1C3054;
	color:#fff;
	margin:0px;
}
input {
	font-size:1em;
	padding:4px;
	margin:0px;
	font-weight:bold;
}
.formricerca input#searchtext{
	width:80%;
}
select {
	font-size:1em;
	padding:2px;
	font-weight:bold;
}
label {
	cursor:pointer;
	padding:4px;
	margin:4px;
}
acronym, abbr {
	cursor: help;	
	border-bottom: #aaa 1px dashed;
}
a:link {
	color:#00f;
	background:transparent;
	text-decoration:underline;
	
}
a:visited {
	color:#000080;
	background:transparent;
	text-decoration:none;	
}
a:hover {
	color:#fff;
	background:#000;	
	text-decoration:none;
}
a:active {
	color:#dd0000;
	background:transparent;
	text-decoration:none;	
}

/* elementi da nascondere */
.nascosto, hr, .separate, #descrizionefoto 
{
	display:none;
}
.trasparente 
{
	visibility:hidden;
}						
/* x il problema dei float */
.clr
{
	clear: both;	
	width:100%;
	height:1px;
	display:block;
}
.menurapido 
		{
			padding:0px;
			width:0px;
			height:0px;
			visibility:hidden;
			position:absolute;
		}
				.menurapido ol
				{
					margin:0px;
					padding:0px;
					list-style:none;
				}
				.menurapido li
				{
					margin:0px;
					padding:0px;	
				}
#stampa {	
	position:absolute;
	top:0px;
	right:0px;
}
.dataora {
	text-align:right;	
}
/* inizio */
#globale
{							
	position:relative;
	margin:0px auto;		
	border:1px solid #000;
	padding:10px 10px 10px 10px;
	background:#f0f0f0; 							
}
.barratop {
	clear:left;	
	float:right;
	margin-bottom:20px;
}
.barratop ul,
.barratop ul li
{
	margin:0px;
	padding:0px;
	list-style:none;
}

#opzionivideo {
	position:absolute;
	left:0px;
	top:0px;
}
#opzionivideo ul,
#opzionivideo ul li
{
	margin:0px;
	padding:0px;
	list-style:none;
}
#opzionivideo ul li {
	display:block;
	float:left;
	margin-right:10px;
}
#opzionivideo li#opzioni-altocontrasto a{
	background:#333;	
	color:#FFFF00;		
}
#opzionivideo li#opzioni-altocontrasto a:hover{
	background:#000;	
	color:#fff;
}
#opzionivideo li#opzioni-ripristina {
	border-left:1px solid #000;
	margin-left:5px;
	padding-left:10px;
}
#opzionivideo li#opzioni-caratteregrande {
	display:none !important;	
}

.logo {
	background:#fff;
	text-align:center;	
	border:1px solid #000;
	clear:left;
	margin:30px 25% 0px 0px;	
}
.logo .titolosito {
	font-size:1.7em;
}
#Where {

	background:#FFF8DC;
	margin:0px 0px 20px 0px !important;
	padding:0px 0px 0px 0px !important;
	border-bottom:1px dashed #aaa;
	border-top:1px dashed #aaa;
}
.BlockTitle {
	font-size:2em;
	margin:1em 0px 1em 0px;
	background:#f0f0f0;
}
#topmenu { 
	margin:20px 0px 20px 0px;
	padding:0px;
	text-align:left;
	border-bottom:1px solid #000;
	border-top:1px solid #000;
	background:#fff;
}
#topmenu ol li {
	display:inline;		
	margin:0px;
	padding:0px 10px 0px 5px;
	border-left:1px solid #444;
}
#corpo { 
	position:relative;
}
#ColCX {
	padding: 10px !important;
	background-color: #ffffff;  	
}
#ColDX {	

}
#ColSX {	

}
#ColCX #ColCX_Content {	

}


#ColSX li span.selected a, #ColSX span.selected {
		background:#333;
		color:#fff;		
	}
#ColSX ol {
	list-style:none;
	margin:0px;
	padding:0px;
}
#ColSX ol li{	
	margin:2px 0px 0px 0px;
	padding:2px 0px 2px 4px;
	background:#fff;
	border-bottom:1px solid #999;
}
#ColSX ol li li {	
	border:none;
	background:#FFF8DC;
	padding:1px 0px 1px 0px;
}
#ColSX ol li li li{	
	border:none;
	background:#FFFDF2;
}
#ColSX ol li a{
	display:block;
	text-decoration:none;
}
#ColSX ol li li a{ 

}
#Footer {		
	clear:both;
}

/* posizionamento elementi */
.left {
	text-align:left;
	margin:0px;
	padding:0px;
}
.left img, .Sinistra {
	float:left;
	margin:0px 6px 0px 0px;
	padding:2px 0px 0px 6px;
	clear:left;
}
.right {
	text-align:right;
	margin:0px;
	padding:0px;
}
.right img, .Destra {
	float:right;
	margin:0px 0px 0px 6px;
	padding:2px 6px 0px 0px;
	clear:right;
}
.center {
	text-align:center !important;
}
.center img, .Centrato {
	text-align:center text-align:center !important;
	margin:0px auto;
}
table {
	width:100%;	
}
