﻿#jMonthCalendar .WeekCalendar
{
 min-height:60px;
 height:60px;	
}

#jMonthCalendar #HeadCal th,#jMonthCalendar #MyCalendar th
{
 background-color: #FFEFC2;
 border:solid 1px #000000;
 min-width:80px;	
 width:80px;
}

#jMonthCalendar .WeekDay
{
 border:solid 1px #000000;
 min-width:40px;
 width:40px;	
 background:#fff url("img/sf-calendario-2.gif") 0px 0px repeat-x;
}

#jMonthCalendar .Selected
{
	background:#FF9999 url("img/sf-calendario-1.gif") 0px 0px repeat-x !important;
	font-weight:bold;
	font-size:larger !important;
}

#jMonthCalendar .End
{
	background:#D5DEFD url("img/sf-calendario-3.gif") 0px 0px repeat-x !important;
}

#jMonthCalendar .Unused
{
	background-color: #fff !important;
	background-image:none !important;
	border:none !important;
}

#jMonthCalendar table {
	color:#444;
	font-size:0.9em !important;
	margin:0px 10px 0px 10px !important;
	text-align:center;
	width:97% !important;
	border-spacing:0px !important;
	border-collapse:collapse !important;	
}
#jMonthCalendar table td p {	
	margin:0px auto;
	text-align:center;
}
#jMonthCalendar table td p label {

}
#jMonthCalendar table td p input {

}
#jMonthCalendar table td {
	color:#000 !important;
}
div#legendaCalendario {
	padding:0px;
	margin:0px;
	clear:left;
	width:100%;
	display:block;
	height:50px;
}
#legendaCalendario ul {
	padding:0px;
	margin:0px 0px 0px 5px !important;
}
#legendaCalendario ul li {
	padding-left:4px;
	float:left;
	margin:0px 0px 0px 5px;
	font-size:x-small !important;
}
div#legendaCalendario li.vacanza {
	border-left:15px solid #ED8E8E;		
	list-style: none outside none;
}
div#legendaCalendario li.fineSettimana {
	border-left:15px solid #AEBEED;		
	list-style: none outside none;
}