﻿#regFoglioTable
{
	border:solid 1px #DCDCDC;	
	border-spacing:0;
}

#regFoglioTable th,td
{
	font-size:13px;
	padding:0;
	margin:0;
	border:solid 1px #DCDCDC;
	min-width:26px;	
	height:28px;
}

#regFoglioTable tr.alt
{
	background-color:#F5F5F5;
}

#regFoglioTable td.day_content
{
	color:#0000CD;
}