#ColCX {

}
#ColSX {
	top:285px;	
}
#ColCX ul, #ColCX ol{
	margin-left:25px;
	text-align:left;
	padding-top:10px;
}
#ColCX ul li{
	font-size:0.8em;
}
#ColCX ul li p{
	font-size:small;
}
#ColCX ul li li{
	font-size:1em;
	}
#ColCX ol li{
	list-style:decimal;
	font-size:0.8em;}

#ColCX table{
	border-collapse:separate;
	border-spacing:1px;
	width:99%;
	padding:4px auto;
	}
#ColCX tbody tr th{
	color:#00496E;
	border:1px solid #bbb;
	font-size:small;
	background:#EEF6FC;
	font-weight:bold;
	padding:6px;
	text-align:center;
}
#ColCX tbody tr th p{
	color:#00496E;
	text-align:center;
	font-size:0.9em;
	}
#ColCX tbody tr td {
	color:#00496E;
	border:1px solid #bbb;
	padding:6px;
	font-size:small;
}
#ColCX tbody tr td p{
	color:#00496E;
	text-align:center;
	font-size:0.9em;
	}
#ColCX tbody tr th:hover {
	background:#EEF6FC;
	}
#ColCX fieldset {
	border:1px solid #D6D6D6;
	margin:20px 0px 20px 20px;
	width:90%;
}

.codicehtml{
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #CCCCCC;
	color:#000000;
	padding-bottom:10px;
	margin-left:15px;
	margin-right:15px;
	}

/* semplice */
#template1 {
	position:relative;
	width:100%;
}
/* 2 colonne pari */
#template2 {
	position:relative;
	width:100%;
	clear:left;
}
#template2 .col47 
{
	float:left;
	width:48%;
}
#template2 .col47 {	
	margin-right:0.5%;
	margin-left:0.5%;
}
/* 3 colonne pari */
#template3 {
	position:relative;
	width:100%;	
	clear:left;
}
#template3 .col31
{
	float:left;
	width:31%;
}
#template3 .col32 {
	float:left;
	width:32%;
	margin-left:1%;
	margin-right:1%;
}
/* 2 colonne 80|20 e 20|80 */
#template4, #template5 {
	position:relative;
	width:100%;
	clear:left;
}
#template4 .col65,
#template5 .col65
{
	float:left;
	width:65%;
	margin-right:1%;
}
#template4 .col30,
#template5 .col30
{
	float:left;
	width:30%;
	}
