html {
	background:#081c27 url("img/sf-html.jpg") left top repeat-x;	
}
body{	
	background:url("img/sf-body.jpg") center top no-repeat;
	color:#FFFFFF;
	font-size:100%;
	margin:0px auto;
	padding:43px 0px 0px 0px;
	text-align:center;
}
#globale{	
	color:#000000;
	background:#ecebe6;
	margin:0px auto 0px auto;	
	position:relative;
	text-align:left;
	width:960px;
	}
.ContentMenuTree ol, .ContentMenuTree ol li {
	list-style:none !important;
	margin:0px !important;
	padding:0px 0px 0px 0px !important;	
}
#ColCX .ContentMenuTree ol li {
	background:#fff url("img/ContentMenuTree.gif") 0px 2px no-repeat;
	padding:0px 0px 0px 20px !important;
}
a:link {
	color:#0033CC;
	text-decoration:none;
	outline:none;
}
a:visited {
	text-decoration:none;
	outline:0;
	color:#0033CC;
}
a:hover {
	color:#0033CC;
	text-decoration:none;
	outline:0;
	text-decoration:underline;
}
a:active {
	text-decoration:none;
	outline:0;
	color:#0033CC;
}
h1 {
	font-size:0.8em;	
	color:#333;
	padding:5px 0px 20px 0px;
	display:block;
	background:url("img/sf-h1-pagine.gif") 0px 0px no-repeat;
	text-align:left;
	text-transform:uppercase;
	font-weight:bold;
	padding-left:30px;
}
h1 a {
	display:block;
}
h1:hover {
	color:#000;
	background:url("img/sf-h1-pagine-h.gif") 0px 0px no-repeat;
}
h2 {
	font-size:1em;	
}
#ColCX {	
	background:url("img/colcx_repeat-y.jpg") 0px 0px repeat-y;	
}
#ColCX .ColCX_Gfx2 {
	background:url("img/colcx_bottom.jpg") 0px 100% no-repeat;
	margin-top:0px;
	height:100%;
}
#ColCX_Content {	
	background:url("img/colcx_top.jpg") 0px 0px no-repeat;
	height:100%;
}

#ColCX_Content .SearchDiv .infoline {
	visibility:hidden;	
}
#ColCX p {
	text-align:left;
	color:#333;
	font-size:small;	
	}

.barratop {
	font-size:0.7em;	
	text-align:right;
	left:278px;
	position:absolute;
	top:-30px;
}

.barratop ul li{
	display:inline;
	padding:0px 8px 0px 8px;
	}
.barratop li.mappa{
	background:url("img/ico-mappa.gif") no-repeat 10px 0px;
		}
.barratop li.aiuto{
	background:url("img/ico-help.png") no-repeat 10px 0px;	
}
.barratop li.faq{
	background:url("img/ico-faq.png") no-repeat 10px 0px;	
}
.barratop li.datiistituto {
	background:url("img/ico-datiistituto.png") no-repeat 10px 0px;	
}
.barratop li.mappa a, 
.barratop li.aiuto a,
.barratop li.faq a,
.barratop li.datiistituto a
{
	color:#fff;
	text-decoration:none;
	padding-left:20px;
		}
.barratop li.aiuto a:hover,
.barratop li.mappa a:hover,
.barratop li.faq a:hover,
.barratop li.datiistituto a:hover
 {
	text-decoration:none;
	color:#F90;
		}

#opzionivideo {
	position:absolute;
	right:125px;
	top:5px;
	z-index:15;	
}
#opzionivideo ul#opzioni {
	position:relative;
	background:url("img/barra-accessibilita.gif") no-repeat;
	width:79px;
	height:21px;
}
#opzionivideo ul#opzioni li {
	display:block;
	position:absolute;	
}
#opzionivideo li#opzioni-altocontrasto {
	left:1px;
	top:1px;
	width:21px;
	height:17px;	
}
#opzionivideo li#opzioni-caratteregrande {	
	left:28px;
	top:1px;
	width:21px;
	height:17px;	
}
#opzionivideo li#opzioni-ripristina {
	left:55px;
	top:1px;
	width:21px;
	height:17px;	
}
#opzionivideo #opzioni a {
	display:block;
	width:100%;
	height:100%;	
}
#opzionivideo #opzioni a:hover {
	border:1px solid #006;
}
#stampa {
	background:url("img/ico-stampa.gif") 0px 0px no-repeat;
	width:45px;
	height:21px;
	top:5px;
	right:36px;
	padding-left:30px;
	font-size:0.74em;
}
#stampa a {
	color:#293757;
	text-decoration:none;
}
#stampa a:hover {
	color:#FC0;
	text-decoration:underline;
}
.logo {
	
	top:0px;
	left:0px;
	height:216px;
	width:714px;    
	position:absolute;
	z-index:0;
}
.logo p {
	height:216px;
	width:714px; 
	position:relative;
}
.logo p a {
	font-size:3em;
	color:#444;
	display:none;
	height:146px;
	width:146px; 
	display:block;
	position:absolute;
	border:1px solid #000;
	position:absolute;
	top:17px;
	left:15px;	
	}
.logo a span.titolosito {
	display:none;
}
.sottologo{	
	width:100%;
	position:relative;
	}
#descrizionefoto {
	width:714px;
	height:216px;
	position:absolute;
	top:0px;
	left:0px;	
	padding:4px 0px 0px 4px;
	z-index:0;
}
#Intestazione {
	background:url("img/sf-intestazione.jpg") 0px 0px no-repeat;
	height:250px;
}
.descrizionefoto {

}
.formricerca {
	position:absolute;
	top:-35px;
	right:0px;
	z-index:101;
	background:url("img/sf-ricerca.gif") 0px 0px no-repeat;
	width:300px;
	height:25px;
	}
.formricerca:hover {
	background:url("img/sf-ricerca-h.gif") 0px 0px no-repeat;
	width:300px;
	height:25px;
}
.formricerca input.ric {
	background:none;
	margin:4px 0px 0px 30px;
	border:none;
	font-size:0.74em;
	width:180px;
	float:left;
}
.formricerca input.submit {
	margin:0px 0px 0px 10px;
	font-size:0.70em;
	background:url("img/sf-button-ricerca.gif") 0px 0px no-repeat;
	border:none;
	width:76px;
	height:25px;
	font-weight:bold;
	cursor:pointer;
}

.dataora {
	position:absolute;
	top:-30px;
	left:0px;
	}
.dataora p {
	font-size:0.7em;	
	color:#fff;
	background:url("img/ico-calendar.gif") 0px 0px no-repeat;
	padding-left:20px;
}


#Where {		
	font-size:0.7em;
	text-align:left;
	color:#5f5f5f;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#Where a{
	color:#4396CA;
	}
#Where a:hover{
	text-decoration:underline;
}

#topmenu {
	display:none;	
}
#Footer {
	
}
#infocopyright {
	font-size:0.7em;	
	color:#fff;
	background:#081C27;
	padding-top:7px;
	}
#infocopyright a {	
	color:#FC0;
	}
.iniziopagina {
	text-align:left;
	margin-bottom:15px;
	position:relative;
	}
.iniziopagina a{	
	padding:0px 0px 0px 25px;
	color:#3f3f3f;
	background:url("img/ico-su.gif") 4px 0px no-repeat;
	font-size:0.7em;
}
.iniziopagina a:hover{
	text-decoration:none;
	color:#FC0;
}
p#w3c{
	position:absolute;
	bottom:7px;
	right:5px;
	width:45px;
}
#w3c a.xhtml{
	background:url("img/ico-html.gif") 0px 0px no-repeat;
	width:16px;
	height:11px;
	display:block;
	float:left;
	margin-right:5px;
	}
#w3c a.css{
	background:url("img/ico-css.gif") 0px 0px no-repeat;
	width:16px;
	height:11px;
	display:block;
	float:left;
}
#w3c a.xhtml, #w3c a.css {
	border:1px solid #003061;
}
#w3c a:hover.xhtml, #w3c a:hover.css {
	border:1px solid #FC0;	
}
#w3c a.xhtml span,
#w3c a.css span{
	display:none;
}
#w3c a.da span{
	display:none;
	}
/* profiloistituto */

#IstitutiSearch .Details table
{
	color:#444;
	font-size:0.9em !important;
	margin:0px 10px 0px 10px !important;
	text-align:center;
	width:97% !important;
	border-spacing:0px !important;
	border-collapse:collapse !important;
}

#IstitutiSearch .Details table td:hover{
	background:#fff url("img_sax/table-dettaglio-ist.gif") left top repeat-x;
	color:#000;
}

#IstitutiSearch .Details fieldset 
{	
	border-top:20px solid #fff !important;
	border-left:none !important;
	border-right:none !important;	
	background:#f3f7fa url("img_sax/sf-fieldset.gif") left bottom repeat-x;
	font-size:small;
	margin:10px 10px 10px 10px !important;
	width:auto !important;
}
#IstitutiSearch .Details fieldset legend {	
	padding:0px 10px 0px 10px;
	font-weight:bold;	
}

