body { margin:0 1em }
body,#globale,ColCX { color:#000; background: #FFF; font:10pt georgia, serif; }
#ColCX {
	width:96%;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
hr, .nascosto, .menurapido, #ColSX, #ColDX, #opzionivideo, #topmenu, #LoginForm, .formricerca, .servizi-comuni, .barratop, .sottologo, #Footer, #stampa, .dataora, #descrizionefoto { display:none; }
h1, h2,h3,h4,h5,h6 { font-family: verdana, helvetica, sans-serif; margin:0px 0px 0px 0px;padding:20px 0px 10px 0px;  }
pre { font: 8pt verdana, helvetica, sans-serif; text-align: left;}
pre { border:1pt dashed #336; padding:2em; }
.logo a span.titolosito {
	color:#000;
	font-size:3em;
	text-align:center;
	text-decoration:none;
}
#Where {
	border-top:2px dashed #ccc;
	border-bottom:2px dashed #ccc;
	padding-top:5px;	
	padding-bottom:5px;
}
#Where a {
	text-decoration:none;
}
a:link, a:visited { 
  font-weight:bold;
  text-decoration: underline;
  color:#009;  
  background:#fff
}

a[rel="esterno"]:after {
  content: " [" attr(href) "]";
}

#logo a:after,#locazione a:after { content:"" }

acronym:after{
  content: " [acronimo: " attr(title) "]";
}
abbr:after{
  content: " [abbrev.: " attr(title) "]";
}

img { border: none; }
code { font: bold 1em "courier new", monospace; color:#600;background:#fff }
/* posizionamento elementi */
.left {
	text-align:left;
	margin:0px;
	padding:0px;
}
.left img, .Sinistra {
	float:left;
	margin:0px 30px 0px 0px;
	padding:2px;
	clear:left;
}
.right {
	text-align:right;
	margin:0px;
	padding:0px;
}
.right img, .Destra {	
	float:right;
	margin:0px 0px 0px 30px;
	padding:2px;
	clear:right;
}
.center {
	text-align:center;
}
.center img, .Centrato {
	text-align:center;
	margin:0px auto;
}
ul.SiteMap, ul.SiteMap ul, ul.SiteMap ul ul, ul.SiteMap ul ul ul, ul.SiteMap ul ul ul ul, ul.SiteMap ul ul ul ul ul  {
	list-style:none;	
}