﻿#TabelloneVotiTable
{
	border:solid 1px #DCDCDC;	
	border-spacing:0;
}

#TabelloneVotiTable th,td
{
	font-size:13px;
	padding:0;
	margin:0;
	border:solid 1px #DCDCDC;
	min-width:26px;	
	height:28px;
}

#TabelloneVotiTable tr.alt
{
	background-color:#F5F5F5;
}

#TabelloneVotiTable td.altcol
{
	background-color:#F0FFFF;
}

#TabelloneVotiTable td.voto_content
{
	color:#0000CD;
}