#Where {
	display:none;
}
#ColSX, #ColDX {
	
}
#corpo {	
}
#ColCX {
	background-color:transparent !important;
}
#ColCX .riga1 {
	background:url("img/sf-inevidenza.gif") 0px 0px no-repeat;
}
#ColCX .riga1 .BlockTitle {	
	text-align:left;
	padding:4px 0px 4px 24px;
	color:#002245;
	font-size:0.8em;
	font-weight:bold;
	margin-bottom:10px;
}
#ColCX .riga1 .BlockTitle {
	background:url("img/ico-inevidenza.png") 6px 6px no-repeat;
}
#ColSX {
	top:270px;	
}