/* semplice */
#template1 {
	
}
/* 2 colonne pari */
#template2 {
	position:relative;	
}
#template2 .col47, 
#template2 .col48 {
	position:absolute;
	width:40%;
}
#template2 .col47 {
	left:0px;	
	margin-right:1%;
}
#template2 .col48 {
	left:50%;	
}

/* allineamento */
/* posizionamento elementi */

.left {
	text-align:left;
	margin:0px;
	padding:0px;
}
.left img, .Sinistra {
	float:left;
	margin:0px 6px 0px 0px;
	padding:2px;
	clear:left;
}
.right {
	text-align:right;
	margin:0px;
	padding:0px;
}
.right img, .Destra {
	float:right;
	margin:0px 0px 0px 6px;
	padding:2px;
	clear:right;
}
.center {
	text-align:center !important;
}
.center img, .Centrato {
	text-align:center text-align:center !important;
	margin:0px auto;
}