body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}
.collapsible .glyphicon:hover {cursor:pointer;}
.modulo {
	word-break: break-all;
}

/* Menù Sidebar */
.modulo_menu {}

.modulo_menu ul {
	padding-left: 0;
	margin-bottom: 20px
}
.modulo_menu ul ul {margin-bottom: 0px}
.modulo_menu li li {list-style: none;padding-left:8px;}
.modulo_menu .depth0 {
	position: relative;
	display: block;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #ddd
}
.modulo_menu .depth0 a {
	display: block;
	padding: 10px 15px;
	text-decoration:none;
}
.modulo_menu .depth0.first:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px
}
.modulo_menu .depth0.last:last-child {
	margin-bottom: 0;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px
}

.modulo_menu .depth0 a:focus, .modulo_menu .depth0 a:hover {
	color: #555;
	text-decoration: none;
	background-color: #f5f5f5
}
@media screen and (max-width: 480px) {

    

	#ColSX
	{
		/*right: 100%;
		z-index:1000;*/
		/*position: absolute;*/
		/*-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;*/
		/*display: block!important;*/
		background-color: #f5f5f5;

		padding-top: 10px;
		padding-left: 25px;
				

	
		  
	}
	#colSxButton
	{
		z-index:1001;
		position:fixed;
		
	}

}


