﻿.accordion h3
{
    height:30px;
}
.accordion h3 .title
{
    display:block;
    padding:6px 24px;
    float:left;
    width:400px;
}
.accordion h3 .action
{
    float:right;
    display:block;
}
.ui-accordion .ui-accordion-header a
{
    font-size: 0.8em;    
}
.ui-accordion-content
{
    clear:both;    
}