﻿@import url(spacing.css);
html, body {
    font-family: 'Titillium Web', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Lucida Grande', Helvetica, Arial, sans-serif;        
	font-variant-ligatures: common-ligatures;
}

body{font-size:1.8rem;}

ul, ol{
	margin:0px;
	padding:0px;
}


.page-header {
    margin: 0px;
    border-color: transparent;
}

.element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    overflow: hidden;
    height: 1px;
}

    .element-invisible.element-focusable:active, 
	.element-invisible.element-focusable:focus {
        position: static !important;
        clip: auto;
        overflow: visible;
        height: auto;
    }

.element-focusable {
    background-color: #e5e5e5;
    text-align: center;
    width: 100%;
    display: inline-block;
}


/****************************************/
/*              header                  */
/****************************************/

.header-banner {
    background-color: #30373d;
    padding: 1em 0em 1em 0em;
    padding-left: 2em;
    padding-right: 2em;
}

.header-banner a {
    color: white;
    font-weight: 600 !important;
}

.header-banner .header-lang {
    float: right;
    color: white;
    font-weight: 600 !important;
}

.header-navbar {
    background-color: #06c;
    padding-top: 2.6em;
    padding-bottom: 2.6em;
	
}
@media screen and (max-width: 768px) {
	.header-navbar {
		padding-top: 1.6rem;
		padding-bottom: 1.6rem;
	}	
}


.header-navbar .site-name a, .header-navbar .follow {
    color: white;
}

.header-navbar .site-name h1 {
	font-weight:700;
	margin: 0;
}  



@media screen and (max-width: 768px) {
    .header-navbar .site-name h1 {
        font-size: 1.6rem;/*1.5em;*/		
    }
}

@media screen and (max-width: 992px) and (min-width:769px) {
    .header-navbar .site-name h1 {
        font-size: 2.1rem;/*1.6em;*/		
    }
}
/*(min-width: 1200px)*/
@media screen and (min-width: 993px) {
    .header-navbar .site-name h1 {
        font-size: 2.8rem;/*1.8em;*/		
    }    
}

.header-navbar .navbar-default {
    border-color: transparent;
    background-color: transparent;
    border-radius: 0px;
    min-height: 0px;
    margin-bottom: 0px;
}
/*


/* ========================================== */
/* Logo image
  ========================================== */

.header-navbar .logo  {
  height: 4.5rem;
  width: 4.5rem  
}

@media screen and (min-width: 768px) and (max-width: 991px), screen and (min-width: 992px) and (max-width: 1200px), screen and (min-width: 1201px) {

  .header-navbar .logo{
    width: 4.6rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px), screen and (min-width: 992px) and (max-width: 1200px), screen and (min-width: 1201px) {
  .header-navbar .logo {
    height: 7.5rem;
    width: 7.5rem;
  }
}

/* ========================================== */
/* End Logo image
  ========================================== */
  

.header-navbar .utils{
    text-align: right !important;
}

.header-navbar .utils{
	float:right !important;
}

.header-navbar .utils > *{
		width:100%;
}

.header-navbar .social ul{
	padding-left:10px;
}

.header-navbar .social [class*="Icon-"] {
	color:#06c;
	background-color:#fff;
	
}
 .box_text_footer .social [class*="Icon-"] 
 {
	 background-color:#65dde0;
	 color:#00264d;
 }

.header-navbar .social [class*="Icon-"], .box_text_footer .social [class*="Icon-"] {
	border-radius:100% !important;
	padding:0.4rem;
}

    .header-navbar .social .follow {
        display: inline-block !important;
    }

    .header-navbar .social ul, 
	.header-navbar .social ul li, 
	.box_text_footer .social ul li {
        display: inline-block;
    }
	.header-navbar .social li a{
		padding-left:1.2rem;
	}
	 .box_text_footer .social li a
	 {
		padding-right:1.2rem;
	 }

/* ==================================*/	
/*       form ricerca header         */
/* ==================================*/		
	
	.header-navbar .formricerca{		
		display:block;
		max-width:20em;		
		float:right !important;
	}
			
	.header-navbar .formricerca .form-group {
		background-color: #fff;
		border-radius: 2px !important;
		padding: 4px;		
	}
	.header-navbar .formricerca .form-group{
		display:flex;
	}
	@media screen and (min-width: 768px) and (max-width: 991px){
		.header-navbar .formricerca .form-group{
			margin-top:15px;
		}
	}
	
    .header-navbar .formricerca .form-control {
		border: none !important;
		box-shadow: none !important;
	}	

	.header-navbar .formricerca .form-control {
        border: none !important;
        box-shadow: none !important;
    }

    .header-navbar .formricerca button,  .header-navbar .search-trigger button{
        background-color: transparent;
        border: none;
        color: #333;
    }
	
	.header-navbar .search-trigger{
		text-align: right !important;			
	}
	.header-navbar .search-trigger button{
		font-size:2rem;
		padding:1.6rem !important;
		color:#fff;
		font-weight:700 !important;
	}
	.mobile-searchform .formricerca{
		display:none;
	}	
		
	/* trick form ricerca su mobile */
	@media screen and (max-width: 768px){
			.mobile-searchform .formricerca{
			float:none !important;
			max-width: 100%;			
			margin-top:1em;
		}	
	}
	
	#header-search .is-active  {
		display: block !important;
	}	
	
/* ==================================*/	
/*       form ricerca header         */
/* ==================================*/		
	

.custom-menu {
    background: #1173d4;
}

.Offcanvas-toggleContainer .Hamburger-toggleContainer{
	padding: 4rem 0 4rem 1.6rem;
	display:block !important;
}

/****************************************/
/*          end header                  */
/****************************************/
    
/* BREADCRUMB */
    .breadcrumb > .active {
        color: #777;
    }

    .breadcrumb > li + li:before {
        content: "\203A";
    }

    .breadcrumb {
        font-weight: 600 !important;
    }
    /* END Bredcrumb */

    /* Menù Sidebar */

    .modulo_menu ul {
        padding-left: 0;
        margin-bottom: 20px;
    }

        .modulo_menu ul ul {
            margin-bottom: 0px;
            border: none;
        }

    .modulo_menu .depth0 {
        position: relative;
        display: block;
        margin-bottom: -1px;
    }

        .modulo_menu .depth0 a {
            display: block;
            padding: 10px 15px;
            text-decoration: none;
        }

        .modulo_menu .depth0.first:first-child {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }

        .modulo_menu .depth0.last:last-child {
            margin-bottom: 0;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        .modulo_menu .depth0 a:focus, .modulo_menu .depth0 a:hover,
        #ColSX .modulo_menu ul li ul li a:hover, #ColSX .modulo_menu ul li ul li a:focus {
            color: #555;
            text-decoration: none;
            background-color: #f5f5f5;
        }

    .modulo_menu .TabSelected a {
        background: #2079D4;
        color: #fff;
    }

    #ColSX .modulo_menu ul li ul li a {
        background: inherit;
        color: inherit;
    }

    .modulo_menu > li {
        text-indent: 1em;
        border: none;
    }

    .modulo_menu .TabSelected .selected {
        font-weight: bold;
    }

    /********************************/
    /*          footer              */
    /********************************/
	#Footer{font-size:1.5rem;}
	
    #Footer.panel-footer {
        background: #00264d;
        color: white;
        padding-bottom: 40px;
        padding-top: 40px;
    }

        #Footer.panel-footer a {
            color: #65dde0;
        }

        #Footer.panel-footer h3, #Footer.panel-footer h4, #Footer.panel-footer .site-name {
            color: #fff;
        }

    #Footer .logo {
        padding-right: 32px;
        float: left;
    }

    #Footer .site-name {
        font-size: 1.70em;
        margin: 15px auto;
    }

    .box_text_footer {
        font-size: 0.88em;
    }

        .box_text_footer ul {
            padding-left: 0px;
        }

        .box_text_footer li {
            list-style: none;
        }

    .footer_links {
        border-top: 1px solid #65dbde;
        padding-top: 10px;
    }

        .footer_links li {
            margin-right: 1em;
        }

            .footer_links li a {
                font-weight: 600;
            }

    .Footer-socialIcons {
        color: #00264d;
    }

    .scrollup {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        text-align: center;
        background: #00264d;
        color: #ffffff;
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;        
        line-height: 40px;
        border: 2px solid #ffffff;
        z-index: 900;
        box-shadow: 1px 1px 2px #aaa !important;
        -webkit-box-shadow: 1px 1px 2px #aaa !important;
    }

        .scrollup:hover {
            text-decoration: none;
            color: #ffffff;
        }

        .scrollup span:before {
            position: relative;
            bottom: 3px;
        }

    .scrolltoup {
        position: fixed;
    }

    /*end footer*/


    /* utility */
    .img-responsive, 
	.img-thumbnail, 
	.table, label {
        max-width: 100%;
    }

    .figcaption_modulo_statico {
        text-align: center;
    }
	
	.site-name small {
		color: white;
	}
	
	.vcenter{
		display: flex;
		align-items: center;		
	}
	
	.u-hidden{
		display: none !important;
	}
	/* color & 	   */
	.background-white{
		background-color:#fff !important;
	}
	.background-blue{
		background-color:#004c99 !important;
	}
	.u-color-white{
		color:#fff !important;
	}
	
	/* icons */
	/*.Icon-search:before {
		content: "\1f50d";
	}
	.logo img {
		max-height: 150px;
		max-width: 150px;
		background: #fff;
	}

	@media (max-width:768px) {
		.logo {
			margin: 0px auto;
			text-align: center;
		}
	}*/
	
	/*.Megamenu-subnavGroup li{
		display:inline-table !important;
	}
	.Megamenu-subnavGroup li li{
		display:block !important;
	}*/
    ul.Megamenu-pageLink {
        border-top: 1px solid #e0e0e0;
        display: block !important;
        margin-top: 20px;
    }
    ul.Megamenu-pageLink li {
        width: 100%;
        text-align: right;
    }
.Megamenu--default .Megamenu-subnavGroup > li > a{
      text-transform: none !important; 
}

.Dropdown-arrow {
    display: block;
    font-size: 2rem;
    height: 3rem;
    left: 50%;
    margin-left: -1rem;
    position: absolute;
    text-shadow: 0 -1px 1px #bbb;
    top: -1.5rem;
    width: 3rem;
}

    /* article - news - webdocs*/

#content .data{

}
#content .description {
    font-size: 1.6rem;
    border-left: 10px solid #ccc;
    padding-left: 10px;
    margin-bottom:10px;
}
/* override stile botstrap per i moduli  */

/*#ColCX .panel,
#ColCX .panel .panel-footer,
#ColCX .panel-heading {
    border: none !important;
}*/

#ColCX .panel .panel-body,
#ColCX .panel .panel-footer {
    padding: none !important;
}
    #ColCX .panel-heading,
    #ColCX .panel .panel-footer {
        background: none !important;
    }

#ColCX .panel .panel-footer {
    
    border-bottom-right-radius: none !important;
    border-bottom-left-radius: none !important;
}

@media screen and (min-width: 1201px) {
    .u-text-h3 a {
        font-size: 3.2rem !important;
    }
}

/*************************/
/*  Result Search Page   */
/*************************/

.SearchDiv, .result_block {
    padding: 1em 0em;
}

.searchheading {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 40px;
}

    .searchheading br, .result_pagescount br {
        height: 0px;
        display: block;
        width: 100%;
    }

.result_title b, .description, .infoline {
    display: none;
}

.result_title a {
    font-size: 1.2em;
    font-weight: 700;
    color: #0066cc;
    margin-top: 0px;
    margin-bottom: 40px;
    display: inline-table;
}

.result_block, .result_altblock {
    border-top: 1px solid #d9dfe2;
    padding: 40px 0 40px 0;
}

.summary, .result_pagescount {
    font-size: 1.167em;
    font-weight: 700;
    letter-spacing: 0.005em;
    margin-top: 0px;
    display: inline-table;
}

.result_pagescount {
    margin-bottom: 25px;
}

.sorting {
    padding: 1em 0em;
    margin: 1em 0em;
}

.infoline {
    color: #00c5ca;
}

.result_pages {
    display: block;
    border-top: 1px solid #d9dfe2;
    margin: 1em 0em;
    padding: 1em;
    text-align: center;
}

    .result_pages a {
        padding: 1em !important;
        display: inline-block !important;
        text-align: center !important;
        font-size: 2.3rem !important;
        letter-spacing: .007em !important;
    }
    
/******************/
/* mappa portale  */
/******************/
.SiteMap #MapRoot a {
    font-weight: 700 !important;
}
.SiteMap li,
.SiteMap li li,
.SiteMap li li li {
margin-left: 26px;
}

/**************************/
/* accordion h2 override  */
/**************************/

.Accordion h2 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}


/******************/
/* bg-color       */
/******************/
.Green {
    background-color: green !important;
}
.Orange{
    background-color:orange !important;
}
.Red{
    background-color:red !important;
}

/********************************/
/* wrapper container homepage   */
/********************************/

.wrapper-section{
    margin:0px;
}

.doc-tags {
    border-top: 1px solid #e4e6e8;
    margin-bottom: 10px;
    clear: both;
}
.doc-tag{
    font-size:0.7em;
    background-color:#e1ecf4;
    color:#39739d;
    display:inline-block;
    padding:.4em .5em;
    margin:4px 4px 4px 0px;
    white-space:nowrap;
    text-decoration:none;
}

.no-gutter {
    margin: 0px !important;
    padding: 0px !important;
}


.Share-reveal, .Share-revealText, .Share > ul > li {
    font-size: 2rem !important;
}

@media screen and (max-width: 420px) {
    .Share-reveal, .Share-revealText, .Share > ul > li {
        font-size: 1.5rem !important;
    }
}

.login-header{
    float:right;
    color:white;
    font-weight:600 !important;
}

.login-header li a{
    padding-top:0px!important;
    padding-bottom:0px!important;
}

.login-form{
    padding:0px 20px;
}

.login_box .NotifyArea {
    text-align:center;
}


.modulo_news .category {
    text-transform: capitalize;
}
@media screen and (min-width: 1200px) {
 
    #amministrazione_trasparente #ColCX .container {
        width: auto !important;
    }

    /*#ColCX .container {
        width: auto !important;
    }*/
}