﻿body.Folder_Vapp {
    background: #fff;
}

    body.Folder_Vapp .breadcrumb {
        background: transparent;
        overflow: hidden;
        -webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0);
        -moz-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0);
        box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0);
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }

#ColCX_Content_IS .page-header h1 {
    margin-top: 0px;
}

#PanelGroupDescription .panel-default {
    background: #ffffff;
    border-radius: 0px;
    box-shadow: 0 0px 0px 0 rgba(50, 50, 50, 0.0);
    overflow: hidden;
}

    #PanelGroupDescription .panel-default .panel-title a:before {
        display: block;
        float: left;
        overflow: hidden;
        font-family: 'FontAwesome';
        content: "\f055";
        font-weight: normal;
        margin-right: 10px;
        color: #5bc0de;
    }

.ambiti-obbligo-ul li {
    list-style: none;
    display: inline-table;
    margin: 0px 0px 0px 20px;
}

    .ambiti-obbligo-ul li .popover {
        font-size: 13px;
        max-width: 500px;
    }

.table.DetailsContainer > tbody > tr > td,
.table.DetailsContainer > tbody > tr > th,
.table.DetailsContainer > tfoot > tr > td,
.table.DetailsContainer > tfoot > tr > th,
.table.DetailsContainer > thead > tr > td,
.table.DetailsContainer > thead > tr > th {
    border: none;
}



/*Toolbar Test*/

.AT-navmenu, .AT-navmenu ul, .AT-navmenu li {
    list-style: none;
}
.AT-navmenu li li{
	padding:10px 0px;
}
.AT-navmenu .open > a, .AT-navmenu .open > a:focus, .AT-navmenu .open > a:hover {
	background:#eee;
	color:#000;
}
.AT-navmenu li.open li a.current {background:none; color:#000;}

.AT-navmenu li.open > a > span::after {
    line-height: 1;
    font-size: 1.23em;
    content: "\e260";
}

.AT-navmenu li > a > span::after {
    line-height: 1;
    font-size: 1.23em;
    content: "\e259";
}

.AT-navmenu li > a > span::after,
.AT-navmenu li.open > a > span::after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.AT-navmenu li a span {
     text-indent: 0;
}

.AT-navmenu > li> a > span {
   
    float: right;
    font-size: 1.23em;
    text-align: right;
    width: 35px;
    text-align: center;
    display: inline-block;
    margin-top: -3px;
    margin-right: -3px;
}


.AT-navmenu li a.current {
    font-weight: bold;
}
.titlesectionnav a {padding:10px 0px;}


#chart-container.orgchart.horizontal{height:auto !important;position:relative; width: calc(100% - 80px);margin:0px auto;text-align:center;}
#chart-container.orgchart.horizontal .node {width:220px;}
#chart-container.orgchart.horizontal .node .toggleBtn {bottom:4px;color:rgba(68, 157, 68, 1);cursor:pointer;font-size:18px;}
#chart-container.orgchart.horizontal .node .title {height:auto;line-height:12px;padding:6px;font-weight:normal;letter-spacing:0.05em;}
#chart-container.orgchart.horizontal .node .content {font-size:13px;}
#chart-container.orgchart.horizontal .node .edge {color:rgba(0,0,0,1);font-size:22px;bottom:-6px;}
#chart-container.orgchart.horizontal .node .title .symbol {margin:0px;}


.DetailsRow ul {
    margin: 0px;
    padding: 0px;
}

.DetailsRow ul li {
    list-style: none;
}

.node-no_childs {padding-left:15px;font-weight:bold;color:#204162 !important;font-size:15px;}

.office-block li{
    margin-bottom:6px;
}
.office-info {
    padding-left: 20px;
    border-left: 1px solid black;
}

.long-text-column {
    width: 300px;
}

.wordbreak{
    word-break:break-all;
    word-wrap:break-word;
}
.otherRoles {
    border-bottom:1px solid #ccc;
}
.otherRoles td {
    font-weight: bold;
    height: 70px;
    vertical-align: bottom !important;
}

.articolazione-uffici .panel {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 0px !important;
    border: none !important;
    margin: 0px !important;
}

.articolazione-uffici h4 {
    font-weight: normal;
    font-size: 1.2em;
    margin-bottom: 6px;
}

    .articolazione-uffici h4 a {
        color: #23527c;
    }

.articolazione-uffici .office-title {
    font-weight: bold;
    font-size: 1em;
}

.articolazione-uffici .panel-title .office-detail span {
    padding-left: 10px;
}

.articolazione-uffici .panel-heading {
    border: none !important;
    padding: 0px !important;
    margin-top: 4px;
}

.articolazione-uffici .panel-title a::before {
    content: "";
}

.articolazione-uffici .panel-heading .office-title::before {
    font-family: 'FontAwesome';
    content: "\f054" !important;
    ;
    padding-right: 2px;
}

.articolazione-uffici .panel-heading a.collapsed::before {
    font-family: 'FontAwesome';
    content: "\f078" !important;
    ;
    padding-right: 2px;
}

.articolazione-uffici .panel-body {
    margin-left: 6px;
    padding: 0px 0px 6px 14px !important;
    border-left: 6px solid #C0E0FF;
}

.at-h4 {
    font-weight: 700;
}

    .at-h4 i {
        margin-right: 6px;
        color: #1FA67A;
    }