/*				Realizzazione Net.Service S.r.l.				  */
/*  			http://www.net-serv.it							  */
/*  ------------------------------------------------------------  */

#ColCX .cstampa {
	font-size:small;
}
/* zona ricerca */
#ColCX .cstampa fieldset.cstampa_ricerca {
	border-top:1px solid #ccc;
	border-left:none;
	border-right:none;
	border-bottom:1px solid #ccc;
	padding:10px;
}
#ColCX .cstampa fieldset.cstampa_ricerca legend {
	font-weight:bold;
	padding:0px 10px 0px 23px;
	background:url("../img_news/newspaper.png") no-repeat 4px 2px;
}
/* zona archivio */
#ColCX .cstampa fieldset.cstampa_archivio {
	margin:20px 0px 0px 0px;
	border-top:1px solid #ccc;
	border-left:none;
	border-right:none;
	border-bottom:1px solid #ccc;
	padding:10px;
}
#ColCX .cstampa fieldset.cstampa_archivio legend {
	font-weight:bold;
	padding:0px 10px 0px 23px;
	background:url("../img_news/archivio.png") no-repeat 4px 0px;
}
.cstampa_archivio strong{
	color:#000;
}
.cstampa_archivio #Mesi {
	text-transform:uppercase;		
}