.dirigenti label {
	cursor:pointer;
	display:block;
}
.dirigenti ul {
	margin:15px 0px 15px 0px;
	padding:5px 0px 0px 0px;
	clear:both;
	border-top:1px dotted #ccc;
	border-bottom:1px dotted #ccc;
	height:20px;
	display:block;
}
.dirigenti ul li{ 
	float:left;
	margin:0px 1px 0px 0px;
	padding:0px;
	list-style:none;
	font-size:12px;
	text-align:center;
}
.dirigenti ul li span {
		
}
.dirigenti ul li a {	
	background:url("../img/sf-paginazione.gif") 0px 0px no-repeat;
	text-decoration:none !important;
	width:14px;
	padding:0px 0px 0px 0px;
	height:14px;
	display:block;
	color:#fff !important;
}
.dirigenti ul li a:hover {	
	background:url("../img/sf-paginazione.gif") 0px -14px no-repeat;
	text-decoration:none !important;	
	color:#000 !important;
}
.dirigenti ul li.selected a {	
	background:url("../img/sf-paginazione.gif") 0px -28px no-repeat;
	text-decoration:none !important;	
	color:#fff !important;
}

.dirigenti p.search-msg {
	border:1px solid #ff930c;
	background:#FFF3BF;
	color:#000 !important;
	padding:10px;
}

.dirigenti table{
	width:auto !important;	
	font-size:0.7em !important;
}
.dirigenti table th {
	background:#6488A9 !important;
	color:#fff;
}

/* scheda dettagli */
ul.retrib {
	margin:10px 0px 0px 0px;
	padding:0px 0px 0px 35px;
	clear:both;
	border:none;
	height:auto;
	display:block;	
	background:url("../img/retrib.png") 0px 40% no-repeat;
}
ul.retrib li {
	float:none;
	margin:0px 0px 1px 0px;
	padding:4px;
	list-style:none;
	font-size:12px;
	text-align:left;
	border-left:2px solid #ccc;
}
.dirigenti p.back {
	text-align:right;	
}
.dirigenti p.back a {
	padding-left:20px;
	background:url("../img/indietro.png") 0px 0px no-repeat;
}
p.nomecognome {
	background:url("../img/nomecognome.png") 0px 0px no-repeat;	
}
p.qualifica {
	background:url("../img/qualifica.png") 0px 0px no-repeat;
}
p.pre_serv {
	background:url("../img/pre_serv.png") 0px 0px no-repeat;
}
p.data_nasc {
	background:url("../img/data_nasc.png") 0px 0px no-repeat;
}
p.cv {
	background:url("../img/cv.png") 0px 0px no-repeat;
}
p.nomecognome,
p.qualifica,
p.pre_serv,
p.data_nasc,
p.cv {
	padding:12px 10px 10px 35px;
	margin:0px 0px 3px 0px !important;
	border-bottom:1px solid #ccc;
}
