﻿#ColCX p{ text-align:center;}



fieldset.fld_errori {
	width:80%;
	padding:10px;
}
fieldset.fld_errori legend {
	background:url("../img_helpdesk/exclamation.png") 2px 0px no-repeat;	
}
fieldset.fld_errori {
padding-bottom:20px;
text-align:left;
}
fieldset.fld_errori ul {
	list-style:none;
}
fieldset.fld_errori ul li{
	background:url("../img_helpdesk/error.png") 0px 0px no-repeat;
	padding:0px 0px 0px 20px;
}



fieldset.fld_Informazionipersonali legend{background:url("../img_helpdesk/info.gif") 2px 0px no-repeat; }
fieldset.field_intervento legend{background:url("../img_helpdesk/calendar.png") 2px 0px no-repeat; }
fieldset.fld_escBene legend{background:url("../img_helpdesk/ingr.png") 2px 0px no-repeat; }

.richiesta_intervento fieldset { border:0px; border-top:1px solid black;}
.richiesta_intervento legend { padding-left:24px; padding-right:6px; font-size:1.0em; font-weight:bold;  }
.richiesta_intervento label { display:block;}
.richiesta_intervento p.p_button{ text-align:center;}
.richiesta_intervento .button { padding:4px; font-size:1em; margin:2px; font-weight:bold;}

#ColCX_Content fieldset p{ text-align:left; }