#VApp legend {
	font-weight:bold;	
}
.validatedfield, .vf {
	margin:20px 0px;
}
#VApp label {
	display:inline-table;
	width:240px;
	vertical-align:top;	
}
#VApp input[type="text"], #VApp textarea {width:30%;}
#VApp select {
	width:52%;	
}
#VApp #Telefono, #VApp #Cellulare
 {
	width:10%;	
}
#VApp select {	
	display:block;
}
#VApp #Peso, #VApp #Altezza, #VApp #PesoIdeale, #VApp #Obesita, #VApp #SuperficieCorporea {
	width:5%;	
}
.info {
	border-left-color:#1b809e !important;
	padding:20px;
	margin:20px 0;
	border:1px solid #eee;
	border-left-width:5px;
	border-radius:3px
}
#VApp .CampoFamiliareObbligatorio label {
	font-weight:bold;
	color:#1b809e;	
}
#VApp .CampoFamiliareObbligatorio input[type="text"] {
	border-color:#1b809e;	
} 






