/* galleria thumb */
#ColCX #GalleryTable
{
	margin:0px;
	padding:0px;
	min-height: 0px;
	height: auto !important;
	height: 0px;	
}
#ColCX #GalleryTable .gallery_barra {
	background:url("../img_gallery/images.png") no-repeat 0px 0px;
	padding:0px 0px 0px 20px;
}
#ColCX #GalleryTable a{
	min-height: 0px;
	height: auto !important;
	height: 0px;	
}
#ColCX #GalleryTable ul
{
	list-style-position:inside;
	list-style-type:none;
	margin:0px;
	padding:0px;
}

#ColCX #GalleryTable .imgcontainer
{
	width: 120px;
	height: 120px;
	text-align:center;
}

#ColCX #GalleryTable .imgcontainer img {
	background:#fff;
	padding:6px;
}


#ColCX #GalleryTable .detailcontainer
{
	width: 120px;
	background:#fff;
	margin:5px 0px 5px 0px;
}
#ColCX #GalleryTable li
{
	display:block;		
	margin:10px 9px 20px 9px;	
	float: left;
	height: 140px;		
	text-align:center;
	background:url("../img_gallery/bg_gallery.gif");	
}
#ColCX #GalleryTable div a
{
	text-decoration:none;			
}
#ColCX #GalleryTable div a:hover
{
	text-decoration:underline;	
}
#ColCX #GalleryTable .clear
{
	clear:left;
}
#ColCX #GalleryTable img
{
	
}
#ColCX #GalleryTable .imgcontainer a:hover img
{
	border:2px solid #84D511;
	background:#F2FAE7;
}
#ColCX #GalleryTable .imgcontainer a img
{
	background:#fff;
}
/* pagina dettaglio */
#ColCX .Gallery .img p{
	margin:10px auto 0px auto;
	text-align:center;	
}
#ColCX .Gallery p.ris {
	background:url("../img_gallery/size.png") 0px 4px no-repeat;
	padding:0px 0px 0px 14px;
}
#ColCX .Gallery p.link {
	background:url("../img_gallery/ico_img.png") 0px 4px no-repeat;
	padding:0px 0px 0px 14px;	
}
#ColCX .Gallery p.data {
	background:url("../img_gallery/data.png") 0px 4px no-repeat;
	padding:0px 0px 0px 14px;
}
#ColCX .Gallery p.desc {
	background:url("../img_gallery/desc.png") 0px 4px no-repeat;
	padding:0px 0px 0px 14px;
}
#ColCX .Gallery p.ris, #ColCX .Gallery p.link, #ColCX .Gallery p.data, #ColCX .Gallery p.desc {
	width:30em;
	text-align:left;	
}
#ColCX .Gallery .photonav {
	border-top:1px dotted #ebebeb;
	font-size:0.7em;
}
#ColCX .Gallery .photonav a.fotoprecenente {
	background:url("../img_gallery/prev.gif") 0px 0px no-repeat;
	padding-left:16px;
}
#ColCX .Gallery .photonav a.fotosuccessiva {
	background:url("../img_gallery/succ.gif") 0px 0px no-repeat;
	padding-left:16px;
}
#ColCX .Gallery .detail {
	margin:0px auto;
	text-align:center;	
}
#ColCX .Gallery .img_preview {
	border-bottom:1px dotted #ebebeb;
}
#ColCX .Gallery .img_data {
	margin:0px auto;
	width:100px;
}