/* tab */

.c100, .c50, .c33, .c25, #ColSX .modulo_feed, #ColDX .modulo_feed, #ColDX .modulo { 
	background:#F0F2EF url(../img/bg-tab.jpg) left bottom repeat-x;	
	border: 1px solid;
	border-color: #e5e5e5 #dbdbdb #d2d2d2;
	-webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
	-moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
	box-shadow: rgba(0,0,0,0.3) 0 1px 3px; 
}
.c100:nth-child(1n), .c50:nth-child(1n), .c33:nth-child(1n), .c25:nth-child(1n), .SheetsControl:nth-child(1n), .modulo_feed:nth-child(1n), #ColDX .modulo { border: none; } /* reset border for smart browsers */
.c100, .c50, .c33, .c25, .SheetsControl, #ColSX .modulo_feed, #ColDX .modulo_feed, #ColDX .modulo {
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	-khtml-border-radius: 6px;
	padding:6px;
	margin-bottom:10px;
}
.SheetsControl {
	padding:0px;
	background:url(../img/bg-tab.jpg) left bottom repeat-x;	
	border: 1px solid;
	border-color: #e5e5e5 #dbdbdb #d2d2d2;
	-webkit-box-shadow: rgba(0,0,0,0.3) 0 2px 2px 0px;
	-moz-box-shadow: rgba(0,0,0,0.3) 0 2px 2px 0px;
	box-shadow: rgba(0,0,0,0.3) 0 2px 2px 0px; 	
}
.SheetsControl .modulo {
	padding:6px;	
}

.SheetsControl .modulo{
	background: none;
	border: none;
	border-color: transparent;
	-webkit-box-shadow: rgba(0,0,0,0) 0 0px 0px;
	-moz-box-shadow: rgba(0,0,0,0) 0 0px 0px;
	box-shadow: rgba(0,0,0,0) 0 0px 0px; 	
	clear:both;
}

.SheetLabelBody a span{
	display:none;	
}
.SheetLabelBody a {
	display:block;	
	background-image:url("../img/tab.png");
	background-repeat:no-repeat;	
	height:96px;
}
.SheetsLabels .SheetLabelContainer {
	float:left;
	margin:0px 0px 0px 0px;
}

#Sheets_41_Sheet0_Label .SheetLabelBody a
 {
	width:262px;
	background-position: 0px 0px;	
}
#Sheets_41_Sheet0_Label .SheetLabelBody a:hover
{
	background-position: 0px -99px;	
}

#Sheets_41_Sheet0_Label.SheetLabelContainer.SheetLabelSelected a {
	background-position: 0px -195px;	
}




#Sheets_41_Sheet1_Label .SheetLabelBody a
 {
	width:278px;	
	background-position: -261px 0px;	
}
#Sheets_41_Sheet1_Label .SheetLabelBody a:hover
{
	background-position: -261px -99px;	
}
#Sheets_41_Sheet1_Label.SheetLabelContainer.SheetLabelSelected a {
	background-position: -261px -195px;	
}

#Sheets_41_Sheet2_Label .SheetLabelBody a
 {
	width:226px;	
	background-position: -540px 0px;	
}
#Sheets_41_Sheet2_Label .SheetLabelBody a:hover
{
	background-position: -540px -99px;	
}
#Sheets_41_Sheet2_Label.SheetLabelContainer.SheetLabelSelected a {
	background-position: -540px -195px;	
}

#Sheets_41_Sheet3_Label .SheetLabelBody a
 {
	width:194px;	
	background-position: -766px 0px;	
}
#Sheets_41_Sheet3_Label .SheetLabelBody a:hover
{
	background-position: -766px -99px;	
}
#Sheets_41_Sheet3_Label.SheetLabelContainer.SheetLabelSelected a {
	background-position: -766px -195px;	
}

.SheetsControl .SheetLabelBody a:hover {
	text-decoration:none;
	color:#000;
}
.SheetsControl .SheetLabelBody a {
	color:#444;
}

.modulo,
.modulo_feed
 {
	font-size:small;	
	line-height:18px;
	overflow:auto;
}
.modulo h3{ 
	margin-bottom:4px;
} 
.modulo li,
.modulo_feed li
 {
	padding-bottom:4px;
	margin-bottom:4px;
	border-bottom:1px solid #c9c8c6;	
}
.modulo.modulo_menu {
	background-image:none;
	height:auto !important;	
}
.modulo.modulo_menu li{
	border-bottom:1px dotted #C9C8C6;
}
.modulo.modulo_menu li li{
	border-bottom:none;
}
.modulo.modulo_menu li a:hover {
	text-decoration:none;	
	font-weight:bold;
}
.modulo.modulo_menu li.TabSelected a .selected {
	font-weight:bold;
	color:#000;	
}
.depth1 {
	padding-left:10px;	
	border-bottom:none;
}
.depth2 {
	padding-left:20px;	
}
.depth3 {
	padding-left:30px;	
}
.depth4 {
	padding-left:40px;	
}
.depth5 {
	padding-left:50px;	
}
.depth6 {
	padding-left:60px;	
}
.data_news,
.data_bando,
.News .news-data,
.data_feed,
.data_comunicato,
#ColCX .News p.data,
.city_data,
.Eventi .data,
.data_evento,
.Faq .data
{
	display:block;
	padding-left:20px;	
	background:url(../img/barratop.png) 0px -94px no-repeat;
	color:#257f01;
}
.formcontatti {
	margin:0px auto;
	text-align:center;	
}
.formcontatti fieldset {
	text-align:left;	
}
.formcontatti label{
	display:block;
	margin-top:10px;
	color:#000;
	font-weight:bold;
}
.formcontatti input, .formcontatti textarea, .formcontatti select,
#Registrazione input, #Registrazione textarea, #Registrazione select
 {
	background:#fafafa;
	border:1px solid #888;
	border-right:1px solid #ccc;	
	border-bottom:1px solid #ccc;
	padding:4px;	
}
.formcontatti #send,
#Registrazione #registra,
#Registrazione #invia,
#Registrazione #login_Reserved
 {
	background:#ccc;
	border:1px solid #fafafa;
	border-right:1px solid #aaa;	
	border-bottom:1px solid #aaa;	
	padding:6px;
	cursor:pointer;	
}
.formcontatti .msg_form {
	margin-bottom:10px;
	border-bottom:1px dotted #ccc;
	padding-bottom:10px;	
}
.formcontatti .msg_form li,
.fld_errori li
{
	padding-left:20px;
	background:url(../img/error.png) 0px 0px no-repeat;
}
.formcontatti .msg_form li strong {
	color:#D90000;	
}
.Bandi ul {
	list-style:none !important;
	margin:0px !important;	
}
.Bandi .tipo_ricerca a{
	background:url(../img/find.png) 0px 0px no-repeat;
	padding-left:18px;	
}
#Registrazione legend {
	color:#000;	
}
#Registrazione label,
#Registrazione .campi
{
	display:block;
	font-weight:bold;
}
#Registrazione .disclamer_registrazione {
	overflow:auto;
	height:200px;
	border:1px solid #ccc; 	
	padding:4px;
	background:#fff;
}
#Registrazione .campi {
	text-align:center;
	font-size:1em;
	color:#900;	
}
#Registrazione .span_Login_Password_Reserved,
#Registrazione .registra
{
	display:block;
	margin-bottom:10px;
}
#Registrazione .registra {
	margin-top:20px;	
}