.News {	
	overflow:hidden;
}
.News p {
	
}
.News a {
	
}
#ColCX .News .News_barra {
	margin:20px 0px 30px 0px;
	padding:0px 0px 10px 0px;
	border-bottom:1px dashed #ccc;	
}
#ColCX .News .News_barra a.scope,
#ColCX .News .News_barra a.search,
#ColCX .News .News_barra a.show
 {
	padding:0px 0px 0px 20px;
	display:block;
}
#ColCX .News .News_barra a.scope {	
	background:url("../img_news/page.gif") no-repeat 0px 0px;
}
#ColCX .News .News_barra a.search {
	background:url("../img_news/search.gif") no-repeat 0px 0px;	
}
#ColCX .News .News_barra a.show  {
	background:url("../img_news/cancel.png") no-repeat 0px 0px;
}

#ColCX .News p.titolo a {
	background:url("../img_news/page_white.png") no-repeat 0px 0px;
	padding:0px 0px 0px 20px;
	margin:0px 0px 0px 0px;
	height:auto !important;
	height:0px;	
}

#ColCX .News p.testo {
	margin:0px 0px 30px 0px;
} 
#ColCX .News p.desc {
	font-style:italic;
	letter-spacing:1px;
	margin:15px 0px 15px 0px;
}	

/* ricerca */ 
#ColCX .News fieldset.SearchSet {
	border-top:1px solid #444;
	border-left:none;
	border-right:none;
	border-bottom:none;	
}
#ColCX .News fieldset.SearchSet legend {
	font-weight:bold;
	padding:0px 10px 0px 23px;
	background:url("../img_news/search.gif") no-repeat 4px 2px;
}
#ColCX .News fieldset.SearchSet label {
	display:block;
	cursor:pointer;
	margin:12px 0px 2px 0px;
}
