#PageNavigation {
	font-size:0.8em;
	border:1px solid #ccc;
	padding:10px;
	margin:10px 0px 0px 0px;
}
#PageNavigation span.selected{
	margin:0px 8px 0px 4px;
	padding:0px 0px 0px 0px;
	font-weight:bold;	
}
#PageNavigation a {
	margin:0px 0px 0px 0px;
	line-height:25px;	
}
#PageNavigation a.firstpage {
	padding:0px 0px 0px 0px;
}
#PageNavigation a.previouspage {
	padding:0px 0px 0px 0px;
}
#PageNavigation a.nextpage {
	padding:0px 0px 0px 0px;
}
#PageNavigation a.lastpage {
	padding:0px 0px 0px 0px;
}
#PageNavigation a.numbers {
	text-align:center;
	height:auto;
	width:auto;
	border:1px solid #666699;
	padding:2px 5px 2px 5px;
	text-decoration:none;
	margin:0px 8px 0px 4px;
}
#PageNavigation a:link.numbers {
	background:#fff;
	color:#001B75;
}
#PageNavigation a:visited.numbers {
	background:#eee;	
}
#PageNavigation a:hover.numbers {
	background:#003882;
	color:#fff;
}
#PageNavigation a:active.numbers {
	background:#FF0000;
}
