﻿#pubblicita-appalti fieldset > legend {
    background-color: #48A75B;
    color: #FFFFFF;
    display: table;
    font-size: 16px;
    padding: 4px 0;
    width: 100%;
}
#pubblicita-appalti fieldset > legend:before {
    content: " ";
    display: block;
    float: left;
    height: 20px;
    width: 20px;
}
