﻿#seduteconsiglio ol,
#seduteconsiglio ul 
{
	font-size:small !important;
}
#seduteconsiglio ul 
{
	margin:0px 0px 0px 0px !important;
}
#seduteconsiglio ul li
{
	margin:0px 0px 7px 0px !important;
	
}
#seduteconsiglio h2
{
	padding:0px !important;
	margin:10px 0px 5px 0px !important;
	background:none !important;
}
#seduteconsiglio .sedute_prog h2
{
	background:url("../img_sedute/calendar_month.png") 0px 0px no-repeat !important;
	padding-left:20px !important;
}
#seduteconsiglio .archivio_sedute h2
{
	background:url("../img_sedute/database.png") 0px 0px no-repeat !important;
	padding-left:20px !important;
}
#seduteconsiglio .ricerca-sedute h2
{
	background:url("../img_sedute/ico-search.png") 0px 2px no-repeat !important;
	padding-left:20px !important;	
	margin-left:20px !important;	

}
#seduteconsiglio .ricerca-sedute h2 a
{
    font-size:1.1em !important;
}

#seduteconsiglio .archivio_sedute h3
{
	margin:0px !important;
	font-size:small;
	padding:5px 0px 5px 25px;
		margin-top:6px!important;

}
#seduteconsiglio .sedute_prog h3
{
	margin:0px !important;	
	font-size:small;
	padding:5px 0px 5px 25px;
}

#seduteconsiglio .arg_overflow
{
	overflow:auto;	
}

#seduteconsiglio .argomenti_seduta h3{
	margin:0px 0px 5px 0px !important;
	padding:0px !important;
	background:none !important;
	font-size:small !important;
	border-bottom:1px dotted #ccc;
}
#seduteconsiglio .elenco_allegati {

}
#seduteconsiglio .argomenti_seduta li {
	background:url("../img_sedute/document.png") 0px 0px no-repeat;
	padding:0px 0px 0px 20px;
	font-size:0.85em;
	line-height:1.6em;
}
#seduteconsiglio .argomenti_seduta li.alternate {
	color:#333;	
}

.ui-state-active, .ui-widget-content .ui-state-active { 
	border: 1px solid #aaaaaa; 
	background: #ffffff url(../img_sedute/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x !important; 
	font-weight: normal; 
	color: #212121; 
	outline: none; 
}
.ui-state-default, .ui-widget-content .ui-state-default {
	border: 1px solid #d3d3d3;
	background: #e6e6e6 url(../img_sedute/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x !important;
	font-weight: normal; 
	color: #555555; 
	outline: none; 
}
.ui-accordion .ui-accordion-content { 
	padding: 10px !important; 
}
#seduteconsiglio .elenco_video {
	height:195px;
	overflow:auto;
}
#seduteconsiglio .elenco_video li span strong
{
	background:url("../img_sedute/film.png") 0px 0px no-repeat !important;	
	padding-left:20px;
}
#seduteconsiglio .elenco_video li a {
	background:url("../img_sedute/film.png") 0px 0px no-repeat !important;	
}
#seduteconsiglio .elenco_video li a:hover {
	background:url("../img_sedute/film_arrow.png") 0px 0px no-repeat !important;	
}
#seduteconsiglio .sedute_prog
{
	width:40%;
	float:left;
	padding-right:10px;
	margin-left:20px;
		margin-top:20px;
		border-top:1px solid #CCCCCC;

}
#seduteconsiglio #box_diretta {
	float:right;
	width:40%;
	border:1px solid #CCCCCC;

	margin-right:20px;
	text-align:center;
	padding:20px;
	margin-top:20px;
}

#seduteconsiglio #box_diretta p {
	text-align:center;
}



#seduteconsiglio .archivio_sedute {
	margin:20px;	
}
#seduteconsiglio a.pdf {
	background:url("../img_sedute/document-pdf-text.png") 0px 0px no-repeat !important;
}
#seduteconsiglio a.doc {
	background:url("../img_sedute/page_word.png") 0px 0px no-repeat !important;
}
#seduteconsiglio a.zip {
	background:url("../img_sedute/icon_zip.gif") 0px 0px no-repeat !important;
}

#seduteconsiglio .container
{
margin:20px;
	/*width:820px;
	margin:0px auto;	*/
}

#seduteconsiglio .video
{
	
	float:left;	
	text-align:center;
	margin-right:20px;
}

#seduteconsiglio #mediaspace
{
	margin-bottom:20px;
}
#seduteconsiglio .infoSeduta
{
	width:214px;
	float:right;
	padding:10px 20px 10px 0px;
}

#seduteconsiglio .infoSeduta h3
{
	margin:0px 0px 6px 0px;
	background-color:#fff !important;
}

#seduteconsiglio .titolo_seduta
{
	font-size:1.3em;
	line-height:1.5em;
	font-family:Trebuchet MS;
	border-bottom:1px dotted #E5E5E5;
	padding:0px;
	color:#333;
}

#seduteconsiglio .argomenti_details
{
	height:400px;
	overflow:auto;
}

#seduteconsiglio .box_diretta
{
	margin:0px auto;	
	width:220px;
	height:168px;
}

#seduteconsiglio .diretta_off{background:url("../img_sedute/tv-prv.jpg") 0px 0px no-repeat;}
#seduteconsiglio .diretta_on{background:url("../img_sedute/tv-prv.jpg") 0px -168px no-repeat;}

#seduteconsiglio .box_diretta a
{
	display:block;
	width:220px;
	height:168px;
}

/*, #seduteconsiglio #boxdiretta .msg_diretta*/

#seduteconsiglio .box_diretta a span
{
	display:none;
}

#seduteconsiglio .btn_back
{
	text-align:left !important;
	width:90%;
	padding:0px;
}
#seduteconsiglio .btn_back a
{	
	padding-left:18px;
	background:url("../img_sedute/btn-indietro.gif") 0px 0px;
	width:63px;
	height:17px;
	display:block;
	text-decoration:none;
	color:#666;
	line-height:20px;
}
#seduteconsiglio .btn_back a:hover
{		
	background:url("../img_sedute/btn-indietro.gif") 0px 21px;	
	text-decoration:none;
	color:#000;
}
#seduteconsiglio .hidden
{
	display:none !important;
}

#seduteconsiglio .ui-datepicker-trigger{
	padding: 0px 0px 0px 3px;
}
#seduteconsiglio .container_btn
{
    text-align:center;    
}