﻿/*  Siscs elenco richieste */
#ColCX #siscs {	
	
}
#ColCX #siscs #menuRichieste {
      float:left;
      width:100%;
      background:#fff;      
      line-height:normal;	  	 
      }
#ColCX #siscs #menuRichieste ol {
	  margin:0;
	  padding:10px 10px 0px 50px;
	  list-style:none;
      }
#ColCX #siscs #menuRichieste li {
      display:inline;
      margin:0px;
      padding:0px;
      }
#ColCX #siscs #menuRichieste a {
      float:left;
      background:url("../img_siscs/tableftb.gif") no-repeat left top;
      margin:0px;
      padding:0px 0px 0px 4px;
      text-decoration:none;	 
	  cursor:pointer; 
      }
#ColCX #siscs #menuRichieste a span {
      float:left;
      display:block;
      background:url("../img_siscs/tabrightb.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#333;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
#ColCX #siscs #menuRichieste a span {float:none;}
    /* End IE5-Mac hack */
#ColCX #siscs #menuRichieste a:hover span {
      color:#000;
      }
#ColCX #siscs #menuRichieste a:hover {
      background-position:0% -42px;
      }
#ColCX #siscs #menuRichieste a:hover span {
      background-position:100% -42px;
}
#ColCX #siscs #menuRichieste a.aselected {
      float:left;
      background:url("../img_siscs/tableft.gif") no-repeat 0px 0px;
      margin:0px;
      padding:0px 0px 0px 4px;
      text-decoration:none;
      }
#ColCX #siscs #menuRichieste a span.selected {
      float:left;
      display:block;
      background:url("../img_siscs/tabright.gif") no-repeat 100% 0px;
      color:#333;
	  border-bottom:1px solid #C0E2FF;
	  font-size:1.1em;
      }
#ColCX #siscs #menuRichieste a.aselected:hover {
      background-position:0% -42px;
      }
#ColCX #siscs #menuRichieste a:hover span.selected {
      background-position:100% -42px;
}
#ColCX #siscs #menuRichieste a:hover span.selected {
      color:#000;
}

#ColCX #siscs #elenco_pratiche {
	background:#C0E2FF;
	clear:left;
	padding:4px;
	margin:-4px auto;
	text-align:center;
}
#ColCX #siscs #elenco_pratiche p{
	margin:0px;
	padding:4px;
	background:#fff;
}
#ColCX #siscs #elenco_pratiche table {
	margin:0px auto;
	text-align:center;
	background:#fff;
	width:100%;
}
#ColCX #siscs #elenco_pratiche table th {
	background:#eee;
	padding:4px;
}
#ColCX #siscs #elenco_pratiche table td {	
	padding:4px;
	font-size:0.8em;
}
#ColCX #siscs #elenco_pratiche table tr {
	background:#fafafa;
}
#ColCX #siscs #elenco_pratiche table tr.alternate { 
	background:#fff;
	color:#666;
}
#ColCX #siscs #elenco_pratiche .allegato_richiesta {
	background:url("../img_siscs/attach.png") no-repeat 4px 4px;	
	padding-left:24px;
	text-align:left;
}

/* Elenco moduli modulistica */
#ColCX .modulistica {
	text-align:center;
	margin:0px auto;
}
#ColCX .modulistica p a.modulo_cartella {
	padding-left:20px;
	background:url("../img_siscs/archivio.png") no-repeat 0px 0px;
}
#ColCX .modulistica p a.modulo_file {
	padding-left:20px;
	background:url("../img_siscs/page_news.png") no-repeat 0px 0px;
}


#ColCX .modulistica p.desc span, #ColCX .modulistica p.formato span, #ColCX .modulistica p.ufficio span, #ColCX .modulistica p.tel span, #ColCX .modulistica p.email span, #ColCX .modulistica p.note span {
	border-bottom:1px solid #ccc;
	width:97%;
	display:block;
	font-weight:bold;
	font-family: "Trebuchet ms", Helvetica, Arial, sans-serif;
	letter-spacing:1px;
	padding:0px 0px 0px 20px;
	margin:0px 0px 0px 0px;
}
#ColCX .modulistica p.desc span {
	background:url("../img_siscs/page_news.png") no-repeat 0px 0px;	
}
#ColCX .modulistica p.formato span {
	background:url("../img_siscs/style_edit.png") no-repeat 0px 0px;	
}
#ColCX .modulistica p.ufficio span {
	background:url("../img_siscs/office.png") no-repeat 0px 0px;	
}
#ColCX .modulistica p.tel span {
	background:url("../img_siscs/telephone.png") no-repeat 0px 0px;	
}
#ColCX .modulistica p.email span {
	background:url("../img_siscs/contatti.gif") no-repeat 0px 2px;	
}
#ColCX .modulistica p.note span {
	background:url("../img_siscs/note.png") no-repeat 0px 0px;	
}
#ColCX .modulistica p.allegato a {
	background:url("../img_siscs/attach.png") no-repeat 0px 0px;	
	padding-left:20px;
}

#ColCX .modulistica fieldset.fld_fill {
	border-top:1px solid #ccc;
	border-bottom:none;
	border-left:none;
	border-right:none;
	padding:10px;	
}
#ColCX .modulistica fieldset.fld_fill legend {
	padding:0px 10px 0px 20px;
	background:url("../img_siscs/user_edit.png") no-repeat 0px 0px;
}

/* modulistica on-line */
#ColCX .modulistica {}

#ColCX .modulistica fieldset.legenda_modulo {
	padding:10px;
	margin-top:10px;
}
#ColCX .modulistica span.num_legenda {
	vertical-align:top;
	font-size:0.8em;
	padding:0px 0px 0px 14px;
	background:url("../img_siscs/bullet_blue.png") 0px 0px no-repeat;	
}
#ColCX .modulistica fieldset.legenda_modulo legend{
	padding:0px 10px 10px 20px;
	background:url("../img_siscs/help.png") 0px 0px no-repeat;
	font-weight:bold;
}
#ColCX .modulistica fieldset.legenda_modulo ol {
	text-align:left;
}
#ColCX .modulistica fieldset.legenda_modulo ol li {
	margin:0px 0px 5px 0px;
}
#ColCX .modulistica p {
	margin:10px 10px 10px 10px;
	padding:4px 4px 14px 4px;
	height:auto !important;
	height:0px;
}
#ColCX .modulistica p input {
	padding:4px;
	color:#666;
	border:1px solid #ccc;
	background:#fff url("../img/sfondo_form.jpg") top repeat-x;
	margin:4px;
}
#ColCX .modulistica div.modulistica_formato {
	background:#FFF8F0;
	margin:0px auto;
}
#ColCX .modulistica p.modulo_submit {
	text-align:center;
	margin:0px auto;
	border-top:1px solid #fff;
}
#ColCX .modulistica p.modulo_submit input {
	border-top:1px solid #ccc;
	background:#CECECE url("../img/sfondo_button.jpg") top repeat-x;
	padding:4px;						
	font-weight:bold;
	color:#222;
}
