﻿<%@ Page Language="C#" AutoEventWireup="true" Async="true" enableViewStateMac="false" EnableEventValidation="false" validateRequest="false" CodeFile="async.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
    <script type="text/javascript" language="javascript">   
function disableBackButton()
{
//window.history.forward()
//}  
//disableBackButton();  
//window.onload=disableBackButton();  
//window.onpageshow=function(evt) { if(evt.persisted) disableBackButton() }
//window.onunload = function() {
//    void (0) 
}  
</script>
</head>
<body>
    <form id="form1" runat="server">
    
<asp:ScriptManager runat="server" id="ScriptManager1">
</asp:ScriptManager>
    </form>
</body>
</html>
