﻿<%@ Page Language="C#" AutoEventWireup="true" Async="true" enableViewStateMac="false" EnableEventValidation="false" validateRequest="false" CodeFile="default.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head runat="server">
    <title>Untitled Page</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	 <!--<script type="text/javascript" src="/scripts/front/language.js"></script>-->
     <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
    <form id="form1" runat="server"></form>
</body>
</html>
