@import url(""newLogin.css"");

/* use a semi-transparent image for the overlay */
#overlay {
	color:#efefef;
}

/* container for external content. uses vertical scrollbar, if needed */
div.wrap {
	height:441px;
	overflow-y:auto;
}

.SideNetworkButton_Network, 
.SideNetworkButton_Network a,
.SideNetworkButton_Network span
{
	display:block;
}
.SideNetworkButton_Network a { overflow:hidden; }
.SideNetworkButton_Network a span
{
	padding-left:20px;
	background-repeat:no-repeat;
	background-position:center left;
	font-size:12px;
	font-weight:bold;
	/*width:300px;*/
}
.SideNetworkButton_Network span
{
	padding: 5px;
}

/******************************* New Table *****************************************/
.Where_NetworkInfo
{
	float:right;	
	background-repeat:no-repeat;	
	background-position:3px 3px;
	border-left: 1px solid #96969D;
	background-color:#ffffff;
	height:22px;
	display:block;
}
.Where_NetworkInfo span 
{ 
	display:block; 
	padding-top:2px;
	padding-left: 22px;
	padding-right: 2px;
}

/************************** Error Page CMS ******************************/
/*
.systemError
{
    background-image: url('error.png');
    background-repeat:no-repeat;
    background-position:right top;
    width: 500px;
    color: #364151;
    margin: 0px auto;
    margin-top:40px;
    padding-right:300px;
    text-align: left;
    min-height:400px;
}

.systemError h1
{
    font-size: 30px;
    color: #364151;
    margin-bottom:30px;
}

.systemError p
{
    font-size: 16px;
    margin-bottom:30px;
}

.systemError ul li
{
    font-size: 14px;
    font-weight:bold;
    color: #555555;
}

.systemError p a
{
    font-size: 14px;
    font-weight:bold;
    color: #555555;
}*/

a.open_alert_button span { display:none; }
a.open_alert_button
{
    display:none;
    width:32px;
    height:32px;
    position:absolute;
    top:10px;
    right:5px;
    background-position:center;
    background-repeat:no-repeat;    
}
a.open_alert_button:hover
{
    background-image:url("info_grey.png");       
}

    
a.open_alert_button_green { background-image:url("info_green.png"); display: block;}
a.open_alert_button_yellow { background-image:url("info_yellow.png"); display: block;}
a.open_alert_button_blue { background-image:url("info_blue.png"); display: block;}
a.open_alert_button_red { background-image:url("info_red.png");display: block; }

span.overlay_info_icon
{
    display:block;
    width:128px;
    height:128px;
    position:absolute;
    bottom:30px;
    right:25px;
    background-position:center;
    background-repeat:no-repeat;  
    background-image:url("bigInfoT.png");       
}
.activities-table
{
    text-align:left;
}

.radioontab
{
	display:block;
	float:left;
	padding:3px;
	margin:3px;
	border:1px solid #dddddd;
}
.radioontab label
{
	font-size:14px;
	font-weight:normal;
	
}

.radioontab label.current
{
	font-size:14px;
	font-weight:bold;
}

/*  ------------------------------------------------------------  */
/*							Paginazione							  */
/*  ------------------------------------------------------------  */

.FolderNavigationControls
{
	padding:0px;
	margin:0px;
}

.PageNavigation
{
}
.PageNavigation span a,
.PageNavigation a:link,
.PageNavigation a:active,
.PageNavigation a:visited
{		
	text-decoration:none;
	padding:4px 8px 4px 8px;
	color:#000;	
	background-color:#ffffff;
	border-right:1px solid #C1CDDC;

	display:block;
	float:left;
}
/**/
.PageNavigation a:hover
{
	color:#000;
	background:#C9EBF4;	
	text-decoration:none;
	font-weight:normal;
}
.PageNavigation span
{		
	background-color:#ffffff;
	border-right:1px solid #C1CDDC;
	display:block;
	float:left;
	padding:4px 8px 4px 8px;
	color:#000;	
	text-decoration:none;
	font-weight:bold;
}
.PageNavigation .numbers 
{
	text-decoration:none;
}

.PageNavigation .selected
{	
	background:#E4F6FA;
	font-weight:bold;
	text-decoration:none;
}

.PageNavigation .sep
{
	display:none;	
}

.PageNavigation .clear
{
	clear:both;
}



/******** AXF ****************/

.Axf
{
	margin:0px auto;
	padding:0px 10px;
	text-align:left;
}

/*.Axf .Axf_Control
{
	display:block;
	border: 1px solid #dddddd;
	border-left-width: 5px;
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	margin-bottom:15px;
	background-color:#eeeeee;
	position:relative;
}*/

.Axf .Axf_Control label
{
	display:block;
	margin:2px;	
	font-weight:bold;
}
.Axf .Axf_TextBox input
{
	margin:2px;	
	margin-top:0px;
}

.Axf .Axf_DropDownList select
{
	margin:2px;	
	margin-top:0px;
}

.Axf .Axf_ValidationError
{	
	display:block;
	border: 1px solid #cc0000;
	border-left-width: 5px;
	margin-bottom:15px;
	background-color:#ffffee;
	background-image:url(img/warning.png);
	background-repeat:no-repeat;
	background-position:6px 4px;
	padding:4px 4px 4px 4px;
}

.Axf .Axt_ErrorList
{
	border-bottom:1px dotted #cc0000;
	padding-top:5px;
	padding-bottom:10px;
	padding-left:35px;
}

.Axf .Axt_ErrorList ul
{
	list-style-position:inside;
}
.Axf .Axf_ValidationOk
{
	background-color:#F0FFED;
	border-color:#5EBC69;
}

/*.Axf .Axf_SubmitButtons{padding:5px; 
	border-color:#586C8F;
	background-color:#E8F0FF;}*/
.Axf .Axf_SubmitButtons input{padding:5px;}
.Axf .Axf_RequiredInfo{padding:5px;}
.Axf .Axf_RequiredInfo strong
{
	padding:5px;
	font-size:12px;
}
.Axf .Axf_FieldBox
{
	display:block;
	/*float:left;*/
}

.Axf .Axf_InfoButton
{
	display:block;
	/*float:right;*/
	position: absolute;
	bottom: 0px;
	right: 0px;
	width:100px;
	background-color:Aqua;
	height:30px;
	background: url(info_blue.png) no-repeat -2px -3px;
	padding-left:30px;text-decoration:none;
}
.Axf .Axf_InfoButton:hover { text-decoration:underline; }

.Axf .Axf_Clear
{
	
}

