
.tabbedPanels {
	width: 48%;
	float: left;
	margin-right: 10px;	
}
.leftmain {
	float: left;
	margin-right: 10px;	
}
.panelContainer 
{
    position:fixed;
    top:120px;
    right:30px;
	clear: both;
	margin-bottom: 25px;	
	border: 1px solid rgb(153,153,153);
	background-color: white;
	padding: 10px;
}

.left_panel {
	clear: both;
	margin-bottom: 25px;	
	background-color: white;
	padding: 10px;
}
.sortable_panel {
	clear: both;
	margin-bottom: 25px;	
	border: 1px solid rgb(153,153,153);	
	background-color: white;
	padding: 10px;
}
.content_panel{
	clear: both;
	margin-bottom: 25px;	
	/*border: 1px solid rgb(153,153,153);	*/
	background-color: white;
	padding: 10px;
}
.drag { width:114px; height:114px; margin-bottom:5px; z-index:2; cursor:move; }
.activated { min-height:100px; /*border:3px solid #339900;*/ background-color:#ccffcc; }
.allowSortable { min-height:300px;}
.temporanea { border:2px solid;}
.over_tmp { height:114px; /*border:3px solid;*/ background-color:#ccffcc;}
.sortable_placeholder { height:114px; /*border:3px solid;*/ background-color:#ccffcc;}
.content_buttons {display:none; min-height: 60px;border:0px;}
.content_buttons_inline {display:inline; position:absolute; left:5px; top:5px; background-color:#ccffcc;}
td{margin: 5px; position:relative; height: 80px; }
.table_content{width:100%;}

#imgSlider{  width:300px; float: right;}
#imgSlider_caption{  width:300px; float: right;}
#inputText{ width:114px; height:114px; cursor:move; background:url(imgs/text.png) no-repeat; }
#inputImage{ width:114px; height:114px; cursor:move; background:url(imgs/image.png) no-repeat; }
#inputButton{ width:114px; height:114px; cursor:move; background:url(imgs/button.png) no-repeat; }
#inputCaption{ width:114px; height:114px; cursor:move; background:url(imgs/caption.png) no-repeat; }



.bodyContainer
{
    float:left;    
}

#myTabs
{
   /* width:500px;*/
    float:right;
    
}

.configuration
{
    display:inline;
    width: 600px;
    float:right;
    border:1px solid;
    position:fixed;
    top:120px;
    right:30px;   
}

.ButtonsReview
{
 margin:10px auto;
 text-align:center;
}
.templateContent
{
    width: 780px;    
    float:left;
    /*border: 1px solid black;*/
}

.editorManage
{
    width: 600px;
    background-color:white;    
    /*border: 1px solid black;*/
    float: right;
}



button, #save_exit, #annulla_exit, #close_exit
 {	
	line-height:1em;
	display: inline-block;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	white-space: nowrap;
	padding:2px 4px 4px 4px !important;
	margin:0px 10px 0px 0px;
	position:relative;
	outline: none;
	overflow: visible; 
	cursor: pointer;	
	border: 0px solid #adadad;
	border: rgba(0, 1, 1, .1) 1px solid;
	border-bottom: rgba(0, 1, 1, .2) 1px solid;
	box-shadow:0 1px 2px rgba(51, 51, 51, 0.1);
	
	color:#fff;
	text-decoration:none;
	text-align:center;
	white-space: nowrap;
	min-width: 0;
	height: 28px;
    
    background-position: top;
    background-repeat: repeat-x;     
    background-image:url('/cms/css/admin/images/button.png');
    background-color:#1381c7;
}
button:hover, #save_exit:hover, #annulla_exit:hover, #close_exit:hover
{ 
    background-position: bottom;
    background-repeat: repeat-x; 
    background-image:url('/cms/css/admin/images/button_on.png');
    background-color:#5c5c5c;
    
    text-shadow:0px 1px 1px rgba(51, 51, 51, 0.7);    
    filter: dropshadow(color=#333333, offx=0, offy=1);
        
    -webkit-box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.3);        
    box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.3);
}

button#salva_html, #save_exit {
    background-color: #5CB85C;
    border-color: #4CAE4C;
	}
button#salva_html:hover, #save_exit:hover {
	text-shadow:none;	
	background-color: #47A447;
    border-color: #398439;
	
}
button#exit, #annulla_exit {
	background-color: #79859B;
	border-color: #79859B;
	text-shadow:none;	
}
button#annulla_exit:hover { 
	background-color: #657187;
    border-color: #5C677B;
}

button#anteprima:hover {
	background-color: #3276B1;
    border-color: #285E8E; 
	text-shadow:none;
}
#close_exit {
	background-color: #D9534F;
    border-color: #D43F3A;
}
#close_exit:hover {
	text-shadow:none;	
	background-color: #D2322D;
    border-color: #AC2925;
}



#question h1 {
	font-size: 18px;
	font-family:sans-serif;
	margin:0px 0px 20px 0px;
}
.blockPage {
 	border-radius: 4px !important;
    padding: 20px !important;
	background-color: #FDEFDE !important; 
    border-color: #FBE3C6 !important;
    color: #444 !important;	
    line-height: 1.42857;
	width:auto !important;
}
