.formcontatti {
	/*font-size:0.74em;
	margin:0px 20px 0px 20px;*/
	margin:0 40px 0 auto;
	padding:4px;
	text-align:center;
}
.formcontatti fieldset{
	border:1px solid #D6D6D6;
	margin:20px auto;
	width:90%;
}
.formcontatti fieldset legend{
	background:url(../img/desc.png) no-repeat 10px 8px;
	border:1px solid #D6D6D6;
	color:#003366;
	font-size:0.8em;
	font-weight:bold;
	margin-left:4px;
	padding:2px 12px 4px 24px;	
	}
.formcontatti p {
	margin:12px 0px 12px 0px;
}
.formcontatti label {
	float:left;
	width:110px;
	display:block;
	text-align:right;
	padding-right:10px;
	cursor:pointer;
}
.formcontatti label.formlabel {
	cursor:pointer;
	display:block;
	float:left;
	font-size:100%;
	margin:6px 5px 0 10px;
	text-align:right;
	width:190px;
}

.formcontatti .DisclaimerControl {
	overflow:auto;
	height:100px;
	width:100%;
}
.formcontatti textarea {
	width:100%;
}
.formcontatti input{
	width:76.5%;	
}
.formcontatti input#accettazione1, 
.formcontatti input#accettazione2,
.formcontatti input#send
{
	width:auto;
}
.formcontatti p.accettazione label, .formcontatti p.textcontact label {
	float:none;	
	width:auto;
	text-align:left;
}
.formcontatti p.accettazione {
	border-bottom:1px solid #ccc;	
}