#ColCX .Faq .faq_barra {
	margin:20px 0px 10px 0px;
	padding:0px 0px 10px 0px;
	border-bottom:1px dashed #ccc;	
}
#ColCX .Faq .faq_barra a.scope {	
	background:url("../img_faq/page.gif") no-repeat 0px 0px;
	padding:0px 0px 0px 20px;
	margin:0px 0px 0px 0px;
}
#ColCX .Faq .faq_barra a.search  {
	padding:0px 0px 0px 20px;
	margin:0px 0px 0px 20px;
	background:url("../img_faq/search.gif") no-repeat 0px 0px;
}
#ColCX .Faq .faq_barra a.show  {
	padding:0px 0px 0px 20px;
	margin:0px 0px 0px 20px;
	background:url("../img_faq/cancel.png") no-repeat 0px 0px;
}

#ColCX .Faq .richieste {
	font-size:1.2em;
	margin:30px auto 30px auto;
	padding:0px 0px 0px 0px;	
	display:block;	
	text-align:center;
}
#ColCX .Faq .richieste a:link, #ColCX .Faq .richieste a:visited {
	border:1px solid #666699;
	padding:8px 8px 8px 22px;
	background:#fff url("../img_faq/user_comment.png") no-repeat 4px 10px;	
}
#ColCX .Faq .richieste a:hover {
	background:#003882 url("../img_faq/user_edit.png") no-repeat 4px 11px;
	color:#fff;
	text-decoration:none;
}

#ColCX .Faq p.titolo {
	background:url("../img_faq/puntini.gif") left bottom repeat-x;
	padding:0px 0px 5px 0px;
	margin:10px 0px 0px 0px;
	font-size:1em;	
	height:auto !important;
	height:0px;
}
#ColCX .Faq p.titolo a {
	background:url("../img_faq/light.gif") no-repeat 0px 0px;
	padding:0px 0px 0px 20px;
	margin:0px 0px 0px 0px;
	height:auto !important;
	height:0px;	
}
#ColCX .Faq p.data {
	background:url("../img_faq/ico_calendar.gif") no-repeat 0px 0px;
	margin:4px 0px 0px 0px;
	padding:0px 0px 0px 20px;		
	color:#913B11;	
	font-size:0.7em;
	font-family: "Trebuchet ms", Helvetica, Arial, sans-serif;
}
#ColCX .Faq p.testo {
	margin:5px 0px 30px 0px;
	padding:0px 0px 0px 20px;
	background:url("../img_faq/comment.gif") no-repeat 0px 0px;
} 
/* ricerca */ 
#ColCX .Faq fieldset.SearchSet {
	border-top:1px solid #444;
	border-left:none;
	border-right:none;
	border-bottom:none;	
}
#ColCX .Faq fieldset.SearchSet legend {
	font-weight:bold;
	padding:0px 10px 0px 23px;
	background:url("../img_faq/search.gif") no-repeat 4px 2px;
}
#ColCX .Faq fieldset.SearchSet label {
	display:block;
	cursor:pointer;
	margin:12px 0px 2px 0px;
}