#ColCX .Atti h1 {
	background:#fff;	
	border-bottom:1px solid #ccc;
	margin-bottom:6px;	
}
#ColCX .Atti fieldset.atti_ricerca,
#ColCX .Atti fieldset.atti_archivio  
{
	width:97.7% !important;
	padding:1%;
}
#ColCX .Atti fieldset.atti_ricerca {
	text-align:center;
}
#ColCX .Atti fieldset.atti_ricerca p{
	text-align:left;
	margin:10px 0px 10px 0px;
}
#ColCX .Atti table td,
#ColCX .Atti table th
{
	width:10%;	
	text-align:center;
}
#ColCX .Atti table td p,
#ColCX .Atti table th p
{
	font-size:0.9em;
	color:#3d3d3d;
}
#ColCX .Atti table {
	margin:10px 0px 10px 0px;
	color:#000;
}
#ColCX .Atti table th.oggetto
{
	width:70%;	
}
#ColCX .Atti table  .titolo
{
	font-weight:bold;
}
#ColCX .Atti table  .ico-allegato
{
	padding-left:20px;
	background:url("../img_atti/att.gif") 0px 0px no-repeat;
}
#ColCX .Atti label {
	width:270px;
	display:block;
	float:left;
	text-align:right;
	padding-right:10px;
	cursor:pointer;
}
#ColCX .Atti input#submit, #ColCX .Atti input#reset {
	text-align:center;
}
#ColCX .Atti table th {
	text-align:left;
	padding-left:20px;
}
#ColCX .Atti table tr.even {
background:#D8DDE0;
}
#ColCX .Atti table tr.even:hover {
	background:#fff;
}
#ColCX .Atti input#numeroatto,
#ColCX .Atti input#oggetto,
#ColCX .Atti select#servizio,
#ColCX .Atti input#data_atto
{
	margin-right:20px;	
	padding:4px 0px 4px 20px;
	border:1px solid #ccc;
}
#ColCX .Atti input#numeroatto, #ColCX .Atti table th.numeroatto {
	background:#fff url("../img_atti/num.gif") 2px 3px no-repeat;
}
#ColCX .Atti input#oggetto {
	width:212px;
}
#ColCX .Atti input#oggetto, #ColCX .Atti table th.oggetto {
	background:#fff url("../img_atti/ricerca.gif") 2px 3px no-repeat;
}
#ColCX .Atti select#servizio, #ColCX .Atti table th.servizio {
	background:#fff url("../img_atti/servizi.gif") 2px 3px no-repeat;
}
#ColCX .Atti input#data_atto, #ColCX .Atti table th.data_atto {
	background:#fff url("../img_atti/data.gif") 2px 3px no-repeat;
}
#ColCX fieldset.atti_archivio {
	border-top:1px solid #70B870;
	border-bottom:1px solid #70B870;	
}

.modulo_atti {	
	display:block;
	margin:0px;
	padding:0px;
}
.modulo_atti h3 {
	background:#fff;	
	border-bottom:1px solid #ccc;
	margin-bottom:6px;
}
.modulo_atti ul li {
	background:#f3f3f3;	
	padding:4px;
	border-bottom:1px solid #fff;
	}
.modulo_atti .data_atto {
	display:block;
	text-align:left;
	font-size:0.7em;
}
.modulo_atti .titolo_atto, .modulo_atti p, .modulo_atti .oggetto_atto, .modulo_atti .servizio_atto{
	display:block;
	text-align:left;
	font-size:0.8em;
}
.modulo_atti .oggetto_atto {
	font-weight:bold;	
}
.modulo_atti .servizio_atto{ 
	border-top:2px dotted #fff;
	border-bottom:2px dotted #fff;
	font-style:italic;
}