#ColCX .bachecascolastica { padding:10px;}

#ColCX .bachecascolastica  fieldset
{
	border:1px solid #ccc;
	font-size:0.9em;
	padding:10px;
}

#ColCX .bachecascolastica  fieldset legend{ font-weight:bold; padding:6px; }

#ColCX .bachecascolastica ul  li
{
	border-top-color:#ACACAC;
	border-top-style:dashed;
	border-top-width:1px;
	margin-right:20px;
	margin-bottom:20px;
}
#ColCX .bachecascolastica .codiceistituto span{ color:#990000; font-weight:bold;}


#ColCX .bachecascolastica  .SearchControl{ clear:left;}


/*----------------------------------------------------------*/
#ColCX .bachecascolastica  .TitoloIstituto
{
	background:#E8F0F1 url(../img/paginestatiche_ico.gif) no-repeat 6px 6px;
	color:#003366;
	height:auto !important;
	margin:0px;
	text-align:left;
	padding:2px 0px 2px 24px;
	font-size:0.8em;
	line-height:1.5em;
}
#ColCX .bachecascolastica .LogoIstituto
{	
	float:left;
	margin:14px;
	padding:2px;
}

#ColCX .bachecascolastica .SchedaIstituto
{
	margin:10px 0px 10px 0px;
	font-size:0.8em;
}
#ColCX .bachecascolastica .CategorieIstituto
{
	margin:20px 0px 0px 20px;
}
#ColCX .bachecascolastica .CategorieIstituto ul
{
	list-style:none;
}
#ColCX .bachecascolastica .CategorieIstituto li
{
	font-size:0.9em;
}

#ColCX .bachecascolastica .tab
{
	margin-top:10px;
	font-size:0.9em;
}
#ColCX .bachecascolastica .tab th
{
	background-color:#ACACAC;
	padding:4px;
}