#ColCX .Bandi h1 {	
	background:#fff;	
	border-bottom:1px solid #ccc;
	margin-bottom:6px;
}
#ColCX .Bandi span.attach {
	background:url("../img_bandi/page_attach.gif") no-repeat 0px 0px;
	padding-left:15px;
}
#ColCX .Bandi ul {	
	padding:0px;
	margin:0px auto;
	list-style:none;
}
#ColCX .Bandi label{
	cursor:pointer;
	}
#ColCX .Bandi .risultatibandi {

}
#ColCX .Bandi .risultatibandi ul li strong {
	
}
#ColCX .Bandi .dettagli p strong {
	
}
#ColCX .Bandi .testo {
	text-align:left;
}
#ColCX .Bandi fieldset.Fieldset_Uffici p {
	margin:10px 0px 10px 0px;
	}
#ColCX .Bandi fieldset.Fieldset_Uffici label, 
#ColCX .Bandi fieldset.Fieldset_Stato label {
	width:120px;
	display:block;
	float:left;
	text-align:right;
	padding-right:10px;
}
#ColCX .Bandi fieldset.Fieldset_Data p{
	width:100%;
	display:block;
	float:left;
	text-align:left;
	padding-right:10px;
}
#ColCX .Bandi .risultatibandi h3 {
	margin:0px;
	text-align:left;
}
#ColCX .alternariga {
	background:#f0f0f0;
	padding:4px;
}
#ColCX .Bandi fieldset {	
	margin:20px 0px 20px 0px;
	padding:0px 0px 10px 0px;
	border-top:1px solid #444;
	border-left:none;
	border-right:none;
	border-bottom:none;	
}

#ColCX .Bandi fieldset legend {
	font-weight:bold;	
	padding:0px 0px 0px 20px;
}
#ColCX .Bandi fieldset.Fieldset_Ricerca .BandiLabel {
	cursor:pointer;
	width:40px;
	float:left;	
}
#ColCX .datelabel {
	padding:4px 4px 4px 20px;
}
#ColCX .Fieldset_Data .datelabel {
	float:left;
	width:20px;
}
#ColCX .Fieldset_Ricerca select{
	margin-left:40px;
	padding:0px;	
	min-width:120px !important;
	width:120px;	
}
#ColCX .Fieldset_Avvertenza legend{
	background:url("../img_bandi/alert.gif") no-repeat 0px 0px;
}
#ColCX .Fieldset_Ricerca legend{
	background:url("../img_bandi/search.gif") no-repeat 0px 0px;
}
#ColCX .Fieldset_Data legend{
	background:url("../img_bandi/ico_calendar.gif") no-repeat 0px 0px;
}
#ColCX .Fieldset_Criteri {
	text-align:left;	
}
#ColCX .Fieldset_Criteri legend{
	background:url("../img_bandi/cog.png") no-repeat 0px 0px;
	margin-bottom:20px;
}
#ColCX .Fieldset_Data label {
	padding:0px 5px 0px 10px;
}
#ColCX .Fieldset_Importo legend{
	background:url("../img_bandi/euro.gif") no-repeat 0px 0px;
}
#ColCX .Fieldset_Stato legend{
	background:url("../img_bandi/signal_icon.png") no-repeat 0px 0px;
	margin-bottom:10px;	
}
#ColCX .tipo_ricerca {
	margin:20px 0px 20px 0px;	
	text-align:right;
}
#ColCX .tipo_ricerca a{
	background:#fff url("../img_bandi/folder_magnify.png") no-repeat 4px 8px;
	padding:8px 20px 8px 24px;	
	border:1px solid #ccc;
}
#ColCX .tipo_ricerca a:hover{
	background:#000066 url("../img_bandi/folder_magnify.png") no-repeat 4px 8px;
	color:#fff;
	text-decoration:none;
}
#ColCX .bottone_ricerca {
	text-align:center;
	margin-top:10px;
	padding-top:10px;
}
#ColCX #send {
	text-align:center;	
}

/* per stampa tipo intabellato */
#ColCX .Bandi table.tabellabandi{
	
}
#ColCX .Bandi table.tabellabandi  {	

	
}
#ColCX .Bandi table.tabellabandi caption{
	
}
#ColCX .Bandi table.tabellabandi th{
	
}
#ColCX .Bandi table.tabellabandi td{ 

}
#ColCX .Bandi table.tabellabandi td a:link,#ColCX .Bandi table.tabellabandi td a:active{

}
#ColCX .Bandi table.tabellabandi td a:hover{

}
#ColCX .Bandi table.tabellabandi td a:visited{

}
/* disposizione */
#ColCX .Bandi .Colonna_Dx {
	float:left;
	width:48%;
	margin-bottom:10px;
	text-align:left;
}
#ColCX .Bandi .dettagli {
	float:left;
	width:50%;
}
#ColCX .Bandi .dettagli p{
	color:#555;
	
}
#ColCX .Bandi .allegati {	
	margin:0px 0px 0px 20px;
	background:#f0f0f0;
	padding:2px 2px 10px 2px;
}
#ColCX .Bandi .allegati h3 {
	margin:0px;
	padding:4px 0px 4px 24px;
	background:#fff url("../img_bandi/page_attach.gif") no-repeat 4px 4px;
	text-align:left;
}
#ColCX .Bandi .allegati ul {
	margin:10px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	
}
#ColCX .Bandi .allegati ul li {

}
/* icona tipo di file */
#ColCX .Bandi .stato_avanzamento ul li span.pdf, #ColCX .Bandi .allegati ul li span.pdf {	
	height:16px;
	width:18px;
	background:url("../img_bandi/pdf.png") 0px 0px no-repeat;		
	float:left;
}
#ColCX .Bandi .stato_avanzamento ul li span.doc, #ColCX .Bandi .allegati ul li span.doc {	
	height:16px;
	width:18px;
	background:url("../img_bandi/doc.png") 0px 0px no-repeat;		
	float:left;
}
#ColCX .Bandi .stato_avanzamento ul li span.txt, #ColCX .Bandi .allegati ul li span.txt {	
	height:16px;
	width:18px;
	background:url("../img_bandi/txt.png") 0px 0px no-repeat;		
	float:left;
}
#ColCX .Bandi .stato_avanzamento ul li span.xls, #ColCX .Bandi .allegati ul li span.xls {	
	height:16px;
	width:18px;
	background:url("../img_bandi/doc.png") 0px 0px no-repeat;		
	float:left;
}
#ColCX .Bandi .stato_avanzamento ul li span.zip, #ColCX .Bandi .allegati ul li span.zip {	
	height:16px;
	width:18px;
	background:url("../img_bandi/doc.png") 0px 0px no-repeat;		
	float:left;
}


#ColCX .Bandi .stato_avanzamento {	
	margin:0px 0px 0px 20px;
	padding:2px 2px 10px 2px;
	background:#F1F8ED;
	border-bottom:2px solid #fff;
}
#ColCX .Bandi .stato_avanzamento h3 {
	margin:0px 0px 0px 0px;
	padding:2px 0px 2px 24px;	
	background:#fff url("../img_bandi/signal_icon2.png") no-repeat 4px 4px;
	text-align:left;	
}
#ColCX .Bandi .stato_avanzamento .SemaphoreGREEN, #ColCX .Bandi .stato_avanzamento .SemaphoreYELLOW, #ColCX .Bandi .stato_avanzamento .SemaphoreRED {
	padding-left:20px;
	height:auto !important;
	height:0px;
}
#ColCX .Bandi .SemaphoreGREEN, #ColCX .Bandi .stato_avanzamento .SemaphoreGREEN {	
	background:url("../img_bandi/Green.png") no-repeat 0px 0px;
}
#ColCX .Bandi .SemaphoreYELLOW, #ColCX .Bandi .stato_avanzamento .SemaphoreYELLOW {	
	background:url("../img_bandi/Yellow.png") no-repeat 0px 0px;
}
#ColCX .Bandi .SemaphoreRED, #ColCX .Bandi .stato_avanzamento .SemaphoreRED {	
	background:url("../img_bandi/Red.png") no-repeat 0px 0px;
}
#ColCX .Bandi .SemaphoreGREEN, #ColCX .Bandi .SemaphoreRED, #ColCX .Bandi .SemaphoreYELLOW {	
	padding-left:20px;
	height:20px;	
	text-align:left;
	color:#666;
	/*float:left;*/
}
#ColCX .Bandi .clr {
	margin-top:10px;	
	height:5px;
	border-top:1px solid #ccc;	
}
/* tipo liste */
#ColCX .Bandi ul li {
	font-size:1em;
	margin-bottom:10px;
	padding-bottom:5px;	
}

#ColCX .Bandi .sottoscrizione {
	background:#F1F2EE;
	border-bottom:2px solid #FFFFFF;
	margin:2px 0px 0px 20px;
	padding:2px 2px 10px 2px;
} 
#ColCX .Bandi .sottoscrizione a{
	background:url("../img_bandi/email_open.png") 0px 0px no-repeat;
	padding-left:20px;
	display:block;
}
#ColCX .Bandi .Clarify {
	background:#F1F2EE;
	margin:0px 0px 0px 20px;
	padding:2px 2px 10px 2px;
} 
#ColCX .Bandi .Clarify a {
	background:url("../img_bandi/lightbulb.png") 0px 0px no-repeat;
	padding-left:20px;
	display:block;
}