
#ColCX {
	background-color:#fff;
}
#ColCX_Content {
	padding:0px 4px 70px 4px;
	background:none !important;
}
#Where {
	padding:0px 0px 0px 10px !important;
}
.formcontatti fieldset{
	background:url("../img_contact/sf.jpg") left bottom repeat-x;	
}
.formcontatti label{	
	width:16em;
	float:left;
	display:block;
	text-align:right;
	padding-right:10px;
	cursor:pointer;
}
.formcontatti p {
	padding:4px 0px 4px 0px;	
}
.formcontatti fieldset {
	width:auto !important;
	margin:0px 10px 0px 10px !important;
	padding:10px;
}
.formcontatti .DisclaimerControl {
	height:120px;
	overflow:auto;
	font-size:small;
	clear:left;
	background:#F9F9F9;
	border:1px solid #ddd;
	text-align:justify;
	padding:4px;
}
.formcontatti legend{
	font-size:small;
	padding:4px;
	color:#039;
	font-weight:bold;
}
.formcontatti p.textcontact {
	margin:0px auto !important;
	text-align:center !important;
}
.formcontatti p.textcontact label{
	float:none;
	text-align:center;
	width:auto;
}
.formcontatti textarea#Text_Contact {
	width:100%;	
}
/* gestione errori */
.form-error {
	padding:10px;
	background:#FFEAE8;
	border:1px solid #F00;
}
.form-error ul li {
	padding-left:20px;
	background:url("../img_contact/error.png") 0px 0px no-repeat;
}
.form-error ul,
.form-error ul li
{ 
	list-style:none !important;
} 
#ColCX .formcontatti span.confirm_msg {
	padding:10px 10px 10px 30px;
	background:#F6FCEE url("../img_contact/02.png") 8px 8px no-repeat;
	border:1px solid #E0E1C0;
	position:absolute;
	right:100px;
}
.formcontatti p.p-captcha,
.formcontatti p.p-captcha img
{
	margin:0px auto;
	text-align:center !important;
}

