/*				Realizzazione Net.Service S.r.l.				  */
/*  			http://www.net-serv.it							  */
/*  ------------------------------------------------------------  */

#ColCX .cstampa {
	text-align:left;
}
#ColCX .cstampa .cstampa_ricerca {
	margin-bottom:20px;	
}
#ColCX .cstampa .cstampa_archivio {
	margin-top:20px;
	font-size:0.74em;
	padding:4px;
	background:#fafafa;
}
#ColCX .cstampa h1 {
	text-align:center;
	}
#ColCX .cstampa .category, #ColCX .cstampa .city_data {
	text-align:right;
	font-size:0.74em;
	border:1px dotted #ccc;
	border-right:none;
	border-left:none;
}
#ColCX .cstampa .sign {
	text-align:right;
}
.modulo_cstampa {	
	display:block;
	margin:0px;
	padding:0px;
}
.modulo_cstampa h3 {
	background:#fff;	
	border-bottom:1px solid #ccc;
	margin-bottom:6px;
}
.modulo_cstampa ul li {
	background:#f3f3f3;	
	padding:4px;
	border-bottom:1px solid #fff;
	}
.modulo_cstampa .data_comunicato {
	display:block;
	text-align:left;
	font-size:0.7em;
}
.modulo_cstampa .titolo_comunicato, .modulo_cstampa p {
	display:block;
	text-align:left;
	font-size:0.8em;
}
