#ColCX .Eventi .eventi_barra {
	margin:20px 0px 30px 0px;
	padding:0px 0px 10px 0px;
	border-bottom:1px dashed #ccc;	
}
#ColCX .Eventi .eventi_barra a.scope {	
	background:url("../img_eventi/page.gif") no-repeat 0px 0px;
	padding:0px 0px 0px 20px;
	margin:0px 0px 0px 0px;
}
#ColCX .Eventi .eventi_barra a.search  {
	padding:0px 0px 0px 20px;
	margin:0px 0px 0px 20px;
	background:url("../img_eventi/search.gif") no-repeat 0px 0px;
}
#ColCX .Eventi .eventi_barra a.show  {
	padding:0px 0px 0px 20px;
	margin:0px 0px 0px 20px;
	background:url("../img_eventi/cancel.png") no-repeat 0px 0px;
}

#ColCX .Eventi p.titolo {
	background:url("../img_eventi/puntini.gif") left bottom repeat-x;
	padding:0px 0px 5px 0px;
	margin:10px 0px 0px 0px;
	font-size:1em;	
	height:auto !important;
	height:0px;
}
#ColCX .Eventi p.titolo a {
	background:url("../img_eventi/page_white.png") no-repeat 0px 0px;
	padding:0px 0px 0px 20px;
	margin:0px 0px 0px 0px;
	height:auto !important;
	height:0px;	
}
#ColCX .Eventi p.data {
	background:url("../img_eventi/calendar.png") no-repeat 0px 0px;
	margin:4px 0px 0px 0px;
	padding:0px 0px 0px 20px;		
	color:#913B11;	
	font-size:0.7em;
	font-family: "Trebuchet ms", Helvetica, Arial, sans-serif;
}
#ColCX .Eventi p.testo {
	margin:0px 0px 30px 0px;
} 
#ColCX .Eventi p.desc {
	font-style:italic;
	letter-spacing:1px;
	margin:15px 0px 15px 0px;
}	

/* ricerca */ 
#ColCX .Eventi fieldset.SearchSet {
	border-top:1px solid #444;
	border-left:none;
	border-right:none;
	border-bottom:none;	
}
#ColCX .Eventi fieldset.SearchSet legend {
	font-weight:bold;
	padding:0px 10px 0px 23px;
	background:url("../img_eventi/search.gif") no-repeat 4px 2px;
}
#ColCX .Eventi fieldset.SearchSet label {
	display:block;
	cursor:pointer;
	margin:12px 0px 2px 0px;
}

/* moduli */
.modulo_eventi {	
	display:block;
	margin:0px;
	padding:0px;
}
.modulo_eventi h3 {
	background:#fff;	
	border-bottom:1px solid #ccc;
	margin-bottom:6px;
}
.modulo_eventi ul li {
	background:#f3f3f3;	
	padding:4px;
	border-bottom:1px solid #fff;
	}
.modulo_eventi .data_evento {
	display:block;
	text-align:left;
	font-size:0.7em;
}
.modulo_eventi .titolo_evento, .modulo_eventi p {
	display:block;
	text-align:left;
	font-size:0.8em;
}
.modulo_eventi ul li br {
	display:none;	
}