#ColCX .Faq {
	padding:0px;	
}
#ColCX .Faq .faq_barra {
	margin:0px 0px 10px 0px;
	padding:0px 0px 10px 0px;
	clear:left;	
}
#ColCX .Faq .faq_barra a.scope,
#ColCX .Faq .faq_barra a.search,
#ColCX .Faq .faq_barra a.show {
	float:left;	
	display:block;
	padding:0px 8px 0px 20px;
	margin:0px 4px 0px 4px;
	border-right:1px solid #ccc;
}
#ColCX .Faq .faq_barra a.scope {	
	background:url("../img_faq/page.gif") no-repeat 0px 0px;
}
#ColCX .Faq .faq_barra a.search  {
	background:url("../img_faq/search.gif") no-repeat 0px 0px;
}
#ColCX .Faq .faq_barra a.show  {
	background:url("../img_faq/cancel.png") no-repeat 0px 0px;
}

#ColCX .Faq .richieste {	
	margin:25px auto 25px auto;
	padding:8px 0px 8px 0px;	
	display:block;	
	text-align:center;
	background:url("../img_faq/level3.gif") -40px 100%;
	width:142px;
	border:1px solid #BCBBA9;

}
#ColCX .Faq .richieste a:link, #ColCX .Faq .richieste a:visited {
	
	background:url("../img_faq/reply.gif") no-repeat 4px 1px;	
	display:block;	
	padding-left:10px;
}

#ColCX .Faq .richieste a:hover {
	color:#000;
	text-decoration:underline;
}

#ColCX .Faq p.titolo {
	background:url("../img_faq/puntini.gif") left bottom repeat-x;
	padding:0px 0px 0px 0px;
	margin:10px 0px 0px 0px;	
	height:auto !important;
	height:0px;
}
#ColCX .Faq p.titolo a {
	background:url("../img_faq/light.gif") no-repeat 0px 0px;
	padding:0px 0px 0px 20px;
	margin:0px 0px 0px 0px;
	height:auto !important;
	height:0px;	
}
#ColCX .Faq p.data {
	background:url("../img_faq/ico_calendar.gif") no-repeat 0px 0px;
	margin:4px 0px 0px 0px;
	padding:0px 0px 0px 20px;		
	color:#AD6C4D;
	font-size:0.7em;
	font-family: "Trebuchet ms", Helvetica, Arial, sans-serif;
}
#ColCX .Faq p.data:hover {
	
	color:#913B11;	
}
#ColCX .Faq p.testo {
	margin:5px 0px 0px 0px;
	padding:0px 0px 0px 20px;
	background:url("../img_faq/comment.gif") no-repeat 0px 1px;
	color:#555;
} 
#ColCX .Faq p.testo:hover {
	color:#000;	
}
/* ricerca */ 
#ColCX .Faq fieldset.SearchSet {
	border:1px solid #ccc;
	width:auto !important;
	margin:0px 10px 0px 0px !important;
	padding:10px;
	color:#555;
}
#ColCX .Faq fieldset.SearchSet:hover
{
	border:1px solid #0C0;
	color:#000;
}
#ColCX .Faq fieldset.SearchSet legend {
	font-weight:bold;
	padding:0px 10px 0px 23px;
	background:url("../img_faq/search.gif") no-repeat 4px 2px;
}
#ColCX .Faq fieldset.SearchSet label {
	display:block;
	cursor:pointer;
	margin:12px 0px 2px 0px;
}

#ColCX .Faq .msgdescrizione {
	font-size:small;	
	padding-left:26px;
	background:url("../img_faq/reply.gif") 10px 0px no-repeat;
	color:#555;	
	text-align:left;
}
#ColCX .Faq .msgdescrizione:hover {
	color:#000;	
}
#ColCX .Faq #QuestionText {
	width:100%;	
}
#ColCX .Faq #QuestionText:hover {
	border:1px solid #3C0;	
}
#ColCX .Faq .Field_Faq {
	border:none;	
}
#ColCX .Faq .Field_Faq legend {
	font-size:small;	
}
#ColCX .Faq .Field_Faq label{
	padding-left:20px;
	background:url("../img_faq/light.gif") 0px 0px no-repeat;
	}