/* registrazione */

#ColCX #Registrazione,#ColCX .formcontatti {
	width:90%;
	margin:0px 10px 20px 10px !important;
	padding:10px;
	margin:0px auto;
	text-align:center;	
	background:#fff;
}
#ColCX #Registrazione fieldset, #ColCX .formcontatti fieldset {
	border:3px solid #ccc;	
	margin:20px auto;
	padding:10px;
	text-align:left;
}
#ColCX #Registrazione fieldset fieldset, #ColCX .formcontatti fieldset fieldset{
	border:2px solid #CCCCEC;
}
#ColCX legend, #ColCX .formcontatti legend {
	font-size:0.8em;
	font-weight:bold;
}
#ColCX #Registrazione fieldset label, #ColCX .formcontatti fieldset label {
	cursor:pointer;
	display:block;
	padding-top:10px;
}
