#ColCX #ICI { 
	
}
#ColCX #ICI fieldset{ 
	padding:10px;
}
#ColCX #ICI ol {
	/*font-size:medium;	*/
}
#ColCX #ICI ol li { 
	margin:0px 0px 14px 0px;
	font-size:1.2em;
}
#ColCX #ICI ol li ul{ 
	margin:10px 0px 0px 0px;
}
#ColCX #ICI ul {
	list-style:none;
}
#ColCX #ICI ul.selbottoni li {
	display:inline;	
}
#ColCX #ICI ul.selbottoni li input {
	padding:4px;
	margin:0px 0px 6px 0px;
	/*text-align:left;*/
}
#ColCX #ICI .centratab fieldset {
	padding:10px;
}
#ColCX #ICI .centratab fieldset input {	
	padding:4px;
}
#ColCX #ICI table caption {
	
}
#ColCX #ICI table th {
	padding:4px;
	background:#EFEAD7;
}
#ColCX #ICI table td {
	padding:4px;
}