/*				Realizzazione Net.Service S.r.l.				  */
/*  			http://www.net-serv.it							  */
/***************Form di Login*********************/
#ColDX h3.login-title 
{
	margin-bottom:6px;
	padding:4px 0px 4px 40px;
	font-weight:bold;
	background:url("../img/h3-sf-area-ris.gif") 12px 0px no-repeat;
	text-align:left;
	font-size:small;
}
#ColDX .FormContainer label{
	color:#000;	
	width:100px;
	float:left;
	font-size:small;
	text-align:right;
}

#ColDX .LoginControl ul {
	position:absolute;
	width:135px;
	height:40px;	
	color:#000;
	left:-152px;
	font-size:x-small;
	background:url("../img_sax/login-fumetto.png") 0px 0px no-repeat !important;
	padding:10px 30px 10px 10px;
	top:0px;
	z-index:100 !important;
}
#ColDX .FormContainer input
{
	width:100px;	
}
#ColDX .LoginControl a {
	font-size:small;	
	display:block;
}
#ColDX .Logged {
	font-size:0.7em;	
	text-align:left;
	margin:0px 0px 10px 20px;
	padding:0px 0px 0px 0px;
}
#ColDX .Logged strong,
#ColDX .Logged a.gest_profilo
{
	display:block;
	padding-left:12px;
	
}
#ColDX .Logged strong {
	background:url("../img/logged.png") 0px 2px no-repeat;
}
#ColDX .Logged a.gest_profilo {
	background:url("../img/opzioni.gif") 0px 2px no-repeat;
}

#ColCX .form-changepw .form-error {
	font-size:medium;	
}
#ColCX .form-changepw p{
	font-size:small;
	margin:10px 0px 10px 0px;
}
#ColCX .form-changepw p.msg-info {
	padding:4px;
	margin:4px 4px 10px 4px;
	background:#FFFFDF;
	border:1px solid #eee;
	color:#555;
}
#ColCX .form-changepw p.msg-info:hover { 
	color:#000;	
	border:1px solid #aaa;
}

#ColCX .form-changepw fieldset input#Password_User_Old,
#ColCX .form-changepw fieldset input#Password_User,
#ColCX .form-changepw fieldset input#Password_User_Confirm
{
	width:200px;
}
#ColCX .form-changepw fieldset label,
#ColCX .LoginControl label
{
	float:left;
	width:200px;
	text-align:right;
	display:block;
	padding-right:5px;
}
#ColCX fieldset#UserPage ul {
	font-size:medium;	
}
#ColCX fieldset#UserPage ul,
#ColCX fieldset#UserPage ul li
{
	margin:0px !important;
	padding:0px !important;
	list-style:none !important;
	border-bottom:1px solid #fff;
}
#ColCX fieldset#UserPage ul li a {
	padding-left:20px;	
}
#ColCX fieldset#UserPage ul li.borse a {
	background:url("../img/borsa.png") 4px 2px no-repeat;	
}
#ColCX fieldset#UserPage ul li.successo a {
	background:url("../img/successo.png") 4px 2px no-repeat;
}
#ColCX fieldset#UserPage ul li.anagrafica a {
	background:url("../img/anagrafica.png") 4px 2px no-repeat;
}
#ColCX fieldset#UserPage ul li.forum a {
	background:url("../img/forum.png") 4px 2px no-repeat;
}
