#ColCX .Links h1 {
	background:#fff;	
	border-bottom:1px solid #ccc;
	margin-bottom:6px;
}
#ColCX .Links ul {
	text-align:left;	
}
#ColCX .Links ul li a {
	padding-left:20px;
	background:url("../img_link/link.png") 0px 0px no-repeat;
}
/* moduli */
.modulo_link {	
	display:block;
	margin:0px;
	padding:0px;
}
.modulo_link h3 {
	background:#fff;	
	border-bottom:1px solid #ccc;
	margin-bottom:6px;
}
.modulo_link ul li {
	background:#f3f3f3;	
	padding:4px;
	border-bottom:1px solid #fff;
	}
.modulo_link p, .modulo_link span {
	display:block;
	text-align:left;
	font-size:0.8em;
}
.modulo_link ul li br {
	display:none;	
}