#ColCX .modulistica h1 {
	background:#fff;	
	border-bottom:1px solid #ccc;
	margin-bottom:6px;
}
#ColCX .modulistica p {
	display:block;
	text-align:left;
	font-size:0.8em;	
}
#ColCX .modulistica p strong {
	font-weight:normal;
}
#ColCX .modulistica p.desc {
	border-bottom:1px solid #ccc;
}
#ColCX .modulistica span
{
	font-weight:bold;	
}

#ColCX .modulistica p.note {
	border-top:1px solid #ccc;	
	border-bottom:2px solid #ccc;
	margin-bottom:5px;
}
#ColCX .modulistica p.formato,
#ColCX .modulistica p.ufficio,
#ColCX .modulistica p.referente,
#ColCX .modulistica p.tel,
#ColCX .modulistica p.fax
{
	font-style:italic;
}
