/* Menu */
.modulo_menu {				
		z-index: 22;		
		font-size:0.74em;
	}	
.modulo_menu, .modulo_menu  ol, .modulo_menu ol li, .modulo_menu  ol li a {
	margin:0px;
	padding:0px;
	list-style:none;
	text-align:left;
	text-decoration:none;
	}
.modulo_menu ol{
	padding-left:6px;
	
	}
.modulo_menu ol ol{
	background:url("../img/sf-level-1-bottom.gif") 0px 0px no-repeat;
	}
.modulo_menu ol ol ol{

	}
.modulo_menu li {
	background:#fff url("../img/sf-level-1.gif") left top no-repeat;	
	display:block;
}
.modulo_menu li:hover {
	background:#fff url("../img/sf-level-1-h.gif") left top no-repeat;	
	display:block;
}
.modulo_menu li li{	
	background:transparent url("../img/linea2.gif") left bottom no-repeat; 
	display:block;
}
.modulo_menu li li li {	
	display:block;
}
.modulo_menu li li li li {
}
.modulo_menu li a {	
	display:block;
	padding:4px 0px 3px 20px !important;	
	color:#09213c;
	font-weight:bold;
	}
.modulo_menu li li a:hover {
	
}
.modulo_menu li a:hover {	
	
	}

.modulo_menu li li a {	
	display:block;
	padding-left:20px !important;	
	color:#163250;
	font-weight:normal !important;
	background:url("../img/arrow-level-2.gif") 10px 10px no-repeat;
	}
.modulo_menu li li a:hover { 
	background:#163250 !important;
	color:#fff !important;
}
.modulo_menu li li li a {		
	padding-left:40px !important;	
	color:#10545D;	
	display:block;
	}
.modulo_menu li li li li a {		
	padding-left:50px !important;
	background:none;
	color:#10545D;	
	}	
.modulo_menu li.depth0.TabSelected a .selected{
	color:#444444;
}
.modulo_menu li.depth1.TabSelected a .selected{
	color:#292929;	
}
.modulo_menu li.depth1.TabSelected a:hover .selected{
	color:#fff;	
}
.modulo_menu li.depth2.TabSelected a .selected{
	color:#191919;
}
.modulo_menu li.depth3.TabSelected a .selected{
	color:#000;
}
.modulo_menu li.depth0.TabSelected a .selected,
.modulo_menu li li.depth1.TabSelected a .selected,
.modulo_menu li li li.depth2.TabSelected a .selected,
.modulo_menu li li li li.depth3.TabSelected a .selected
{
	font-weight:bold;	
	border:none !important;
}
.modulo_menu li.depth0.TabSelected a .selected {
	color:#000;	
}
.modulo_menu li.depth0.TabSelected   {
	border:none;	
}	
.modulo_menu li.depth1.TabSelected {	

	border:none;
}	
.modulo_menu li.depth2.TabSelected   {	

	border:none;
}	
.modulo_menu li.depth3.TabSelected   {	

	border:none;
}	
.modulo_menu .TabSelected a{	
	background:none !important;
}