#ColCX .modulo_statico {
	padding-bottom:10px;
	margin-bottom:20px;
	background:url("../img/linea.gif") left bottom no-repeat;
}
/* moduli */ 
.modulo_statico {	
	margin:0px;
	padding:0px;
	color:#000;
}
.modulo_statico h3 {	
	font-size:0.8em;
	padding-left:24px;
	background:#fff url("../img/ico-news.gif") 2px 4px no-repeat;
	font-weight:normal;
	text-align:left;
}
.modulo_statico a {
	text-decoration:underline;	
	color:#083f79;
}
.modulo_statico a:hover {
	text-decoration:none;	
	color:#FC0;
}
.modulo_statico ul li, .modulo_statico ol li {	
	padding:4px;
}

.modulo_statico .modulo_content {
	font-size:0.8em;
	text-align:left;
}
.modulo_statico .modulo_content p, .modulo_statico p .modulo_content  {
	font-size:1em !important;
	text-align:left;
}

/* colonna destra */
#ColDX {
	background:url("../img/sf-login.png") 0px -280px no-repeat;	
	padding-bottom:15px;
}
#ColDX .modulo_statico {	
	margin-bottom:20px;
	background:url("../img/sf-titolo-coldx.gif") 0px 0px no-repeat;
}
#ColDX .mod-1 {
	margin-top:100px;	
}
#ColDX .mod-1 h3 {	
	background:url("../img/ico-comunicazioni.gif") 4px 4px no-repeat;
	font-weight:bold;
	height:24px;
	padding-left:19px;
}
#ColDX .area-riservata ul, 
#ColDX .sala-stampa ul {
	background:url("../img/sf-modulo-statico-dx.gif") center bottom no-repeat;
	padding-bottom:10px !important;
}
#ColDX .area-riservata, 
#ColDX .sala-stampa {
	background:none;	
} 
#ColDX .area-riservata h3, 
#ColDX .sala-stampa h3 {
	margin-bottom:6px;
	padding:4px 0px 4px 40px;
	font-weight:bold;
}
#ColDX .area-prov {
	margin:10px 10px 10px 10px;
	background:none;
}

#ColDX .sala-stampa h3 {
	background:url("../img/h3-sf-sala.gif") 12px 0px no-repeat;
}
#ColDX .modulo_statico ul {
	padding:0px 20px 0px 20px;	
}
#ColDX .modulo_statico ul li {
	background:#F0F0F0;
	margin-bottom:10px;
}
#ColDX .modulo_statico ul li.area-ico1 a,
#ColDX .modulo_statico ul li.area-ico2 a,
#ColDX .modulo_statico ul li.area-ico3 a,
#ColDX .modulo_statico ul li.sala-ico1 a,
#ColDX .modulo_statico ul li.sala-ico2 a
{
	color:#010101;
	text-decoration:none;
	padding-left:20px;
	
}
#ColDX .modulo_statico ul li.area-ico1 a:hover,
#ColDX .modulo_statico ul li.area-ico2 a:hover,
#ColDX .modulo_statico ul li.area-ico3 a:hover,
#ColDX .modulo_statico ul li.sala-ico1 a:hover,
#ColDX .modulo_statico ul li.sala-ico2 a:hover
{	
	color:#F90;
	text-decoration:underline;
}
#ColDX .modulo_statico ul li.area-ico1 a {
	background:url("../img/ico-login.png") 0px 0px no-repeat;	
}
#ColDX .modulo_statico ul li.area-ico3 a {
	background:url("../img/ico-reg.png") 0px 0px no-repeat;	
}
#ColDX .modulo_statico ul li.sala-ico1 a {
	background:url("../img/ico-rassegna.png") 0px 0px no-repeat;	
}
#ColDX .modulo_statico ul li.sala-ico2 a {
	background:url("../img/ico-multimedia.png") 0px 0px no-repeat;	
}

#ColSX .modulo_statico {
	background:url("../img/sf-titolo-colsx.gif") center top no-repeat;	
	margin-bottom:20px;	
}
#ColSX .tipo1 h3,
#ColSX .tipo2 h3,
#ColSX .tipo3 h3
{	
	text-transform:uppercase;
	font-size:0.8em;
	color:#002245;
	font-weight:bold;	
	padding:3px 0px 3px 28px;
	display:block;
	height:30px;
}
#ColSX .tipo1 h3 {
	background:transparent url("../img/ico-scuola.png") 8px 4px no-repeat;
}		
#ColSX .tipo2 h3 {
	background:transparent url("../img/ico-bacheca.png") 8px 4px no-repeat;
}		
#ColSX .tipo3 h3 {
	background:transparent url("../img/ico-forum.png") 8px 4px no-repeat;
}	

#ColDX .Logged {
	font-size:0.7em;	
	text-align:left;
	margin:0px 4px 0px 5px;
}
#ColDX .Logged strong,
#ColDX .Logged li.BackOfficeLink a,
#ColDX .Logged li.BorseDiStudioLink a,
#ColDX .Logged li.AnagrafeLink a,
#ColDX .Logged li.SuccessoScolasticoLink a,
#ColDX .Logged li.ForumLink a,
#ColDX .Logged li.AreaDiScambioLink a,
#ColDX .Logged li.ProfiloLink a,
#ColDX .Logged li.DownloadManualeLink a,
#ColDX .Logged li.ModificaPasswordLink a,
#ColDX .Logged li.LogoutLink a,
#ColDX .Logged li.ModificaProfiloLink a,
#ColDX .Logged li.StamperiaLink a,
#ColDX .Logged li.RegistrazioneUtenteLink a
{
	display:block;
	padding-left:16px;
	border-bottom:1px solid #eee;	
}
#ColDX .Logged strong {
	background:url("../img/logged.png") 0px 2px no-repeat;
	color:#555;
}
#ColDX .Logged strong:hover {
	color:#000;	
}
#ColDX .Logged li.BackOfficeLink a {
	background:#fff url("../img/opzioni.gif") 2px 2px no-repeat;
}
#ColDX .Logged li.BorseDiStudioLink a{
	background:#fff url("../img/borsa.png") 2px 2px no-repeat;
}
#ColDX .Logged li.AnagrafeLink a{
	background:#fff url("../img/anagrafica.png") 2px 2px no-repeat;
}
#ColDX .Logged li.SuccessoScolasticoLink a{
	background:#fff url("../img/successo.png") 2px 2px no-repeat;
}
#ColDX .Logged li.ForumLink a{
	background:#fff url("../img/forum.png") 2px 2px no-repeat;
}
#ColDX .Logged li.AreaDiScambioLink a{
	background:#fff url("../img/scambio.png") 2px 2px no-repeat;
}
#ColDX .Logged li.ProfiloLink a{
	background:#fff url("../img/profilo.png") 2px 2px no-repeat;
}
#ColDX .Logged li.DownloadManualeLink a{
	background:#fff url("../img/manuale.png") 2px 2px no-repeat;
}
#ColDX .Logged li.ModificaPasswordLink a{
	background:#fff url("../img/mod_ps.png") 2px 2px no-repeat;
}
#ColDX .Logged li.RegistrazioneUtenteLink a{
	background:#fff url("../img/reg.png") 2px 2px no-repeat;
}
#ColDX .Logged li.LogoutLink a{
	background:#fff url("../img/exit.png") 2px 2px no-repeat;
}
#ColDX .Logged li.ModificaProfiloLink a {
	background:#fff url("../img/mod-profilo.png") 2px 2px no-repeat;
}
#ColDX .Logged li.StamperiaLink a {
	background:#fff url("../img/braille.png") 2px 2px no-repeat;	
}
#ColDX .Logged li.ForumLink a:hover,
#ColDX .Logged li.AreaDiScambioLink a:hover,
#ColDX .Logged li.ProfiloLink:hover a:hover,
#ColDX .Logged li.DownloadManualeLink a:hover,
#ColDX .Logged li.ModificaPasswordLink a:hover,
#ColDX .Logged li.BorseDiStudioLink a:hover,
#ColDX .Logged li.LogoutLink a:hover,
#ColDX .Logged li.ModificaProfiloLink a:hover,
#ColDX .Logged li.StamperiaLink a:hover,
#ColDX .Logged li.SuccessoScolasticoLink a:hover,
#ColDX .Logged li.AnagrafeLink a:hover,
#ColDX .Logged li.BackOfficeLink a:hover,
#ColDX .Logged li.RegistrazioneUtenteLink a:hover
{
	background:#45494D url("../img/level-h.gif") 0px 0px no-repeat;
	color:#FFCC00;
	text-decoration:none;
}

/* aaa */
#ColCX .form-user fieldset 
{	
	border-top:20px solid #fff !important;
	/*border-bottom:20px solid #f0f0f0 !important;*/
	border-left:none !important;
	border-right:none !important;	
	background:#f3f7fa url("../img_sax/sf-fieldset.gif") left bottom repeat-x;
	font-size:small;
	margin:10px 10px 10px 10px !important;
	width:auto !important;
}
#ColCX .form-user label
{
	cursor:pointer;	
	border-bottom:2px solid #fff;
}
#ColCX .form-user fieldset legend {	
	padding:0px 10px 0px 10px;
	font-weight:bold;	
}
#ColCX .form-user span.Axf_FieldBox
{
	display:block;
	padding:6px 0px 6px 0px;
	text-align:left;	
}
#ColCX .form-user .Axf_FieldBox 
{
	padding:4px 0px 4px 0px;	
	text-align:left;
}

#IstitutiSearch span.Axf_FieldBox label,
.Axf_FieldBox label 
{
	display:block;	
	float:left;
	text-align:right;
	padding-right:4px;
	color:#454545;
}
#ColCX .form-user span.Axf_FieldBox label,
.Axf_FieldBox label
{
	width:16em;	
}
#ColCX .form-user p {
	font-size:small !important;	
}
#ColCX .form-user .Axf_SubmitButtons {
	margin:10px 0px 10px 0px;	
}
#ColCX .form-user #send {
	padding:0px !important;	
}
#ColCX .form-user #emailente,
#ColCX .form-user #Presidente,
#ColCX .form-user #contatto,
#ColCX .form-user #emailcontatto {
	width:120px;	
}

#ColCX .form-user table{
	margin:4px;
	border-collapse: collapse;
}
#ColCX .form-user table td {
	font-size:small !important;	
	color:#555;
	text-align:left;
}
#ColCX .form-user table tr:hover td{
	background:#fff url("../img_sax/table-dettaglio-ist.gif") left bottom repeat-x;
	color:#000;
}

#ColCX .form-user fieldset.NetCms_profileForm {
	padding:5px 5px 20px 5px; 	
}
#ColCX .form-user fieldset.NetCms_profileForm input#Nome_Anagrafica,
#ColCX .form-user fieldset.NetCms_profileForm input#Cognome_Anagrafica,
#ColCX .form-user fieldset.NetCms_profileForm input#Cap_Anagrafica,
#ColCX .form-user fieldset.NetCms_profileForm input#Telefono_Anagrafica,
#ColCX .form-user fieldset.NetCms_profileForm input#Cellulare_Anagrafica,
#ColCX .form-user fieldset.NetCms_profileForm input#Email_Anagrafica 
{
	width:200px;
}
#ColCX .form-user fieldset.NetCms_profileForm label{
	float:left;
	width:200px;
	text-align:right;
	display:block;
	padding-right:5px;
}
#ColCX .form-user fieldset.NetCms_profileForm p {
	margin:10px 0px 10px 0px;	
}
#ColCX .form-user fieldset.NetCms_profile {
	padding:5px 5px 20px 5px;
}
#ColCX .form-user fieldset.NetCms_profile ul {
	margin:0px !important;
}
#ColCX .form-user fieldset.NetCms_profile ul li{
	font-size:small !important;
	padding:4px 0px 4px 0px;
	border-bottom:1px solid #fff;
	color:#555;
}
#ColCX .form-user fieldset.NetCms_profile ul li:hover {
	background:#fff url("../img_sax/table-dettaglio-ist.gif") left bottom repeat-x;
	color:#000;	
}