/* moduli */
.modulo_feed {	
	display:block;
	margin:0px;
	padding:0px;
}
.modulo_feed h3 {
	background:#fff;	
	border-bottom:1px solid #ccc;
	margin-bottom:6px;
}
.modulo_feed ul li {
	background:#f3f3f3;	
	padding:4px;
	border-bottom:1px solid #fff;
	}
.modulo_feed .data_feed {
	display:block;
	text-align:left;
	font-size:0.7em;
}
.modulo_feed .desc_feed, .modulo_feed p {
	display:block;
	text-align:left;
	font-size:0.8em;
}
.modulo_feed ul li br {
	display:none;	
}