#ColCX .News .News_barra {
	margin:20px 0px 30px 10px;
	padding:0px 0px 10px 0px;
	border-bottom:1px dashed #ccc;	
}
#ColCX .News .News_barra a.scope {	
	background:url("../img_news/page.gif") no-repeat 0px 0px;
	padding:0px 0px 0px 20px;
	margin:0px 0px 0px 0px;
}
#ColCX .News .News_barra a.search  {
	padding:0px 0px 0px 20px;
	margin:0px 0px 0px 20px;
	background:url("../img_news/search.gif") no-repeat 0px 0px;
}
#ColCX .News .News_barra a.show  {
	padding:0px 0px 0px 20px;
	margin:0px 0px 0px 20px;
	background:url("../img_news/cancel.png") no-repeat 0px 0px;
}

#ColCX .News p.titolo {
	background:url("../img_news/puntini.gif") left bottom repeat-x;
	padding:0px 0px 5px 0px;
	margin:10px 0px 3px 5px;
	font-size:0.9em;	
	height:auto !important;
	height:0px;
}
#ColCX .News p.titolo a {
	background:url("../img_news/page_white.png") no-repeat 0px 0px;
	color:#00496E;
	padding:0px 0px 0px 20px;
	margin:0px 0px 0px 0px;
	height:auto !important;
	height:0px;	
}
#ColCX .News p.data,#ColCX .News p.news-data {
	background:url("../img_news/ico_calendar.gif") no-repeat 0px 0px;
	margin:4px 0px 0px 5px;
	padding:0px 0px 0px 20px;		
	color:#913B11;	
	font-size:0.7em;
	font-family: "Trebuchet ms", Helvetica, Arial, sans-serif;
}
#ColCX .News p.testo {
	margin:0px 0px 30px 0px;
} 
#ColCX .News p.desc {
	font-style:italic;
	letter-spacing:1px;
	margin:15px 0px 15px 0px;
}

/* ricerca */ 
#ColCX .News fieldset.SearchSet {
	border-top:1px solid #444;
	border-left:none;
	border-right:none;
	border-bottom:none;	
}
#ColCX .News fieldset.SearchSet legend {
	font-weight:bold;
	padding:0px 10px 0px 23px;
	background:url("../img_news/search.gif") no-repeat 4px 2px;
}
#ColCX .News fieldset.SearchSet label {
	display:block;
	cursor:pointer;
	margin:12px 0px 2px 0px;
}

/* moduli */ 
.modulo_news {	
	display:block;
	margin:0px;
	padding:0px;
}
.modulo_news h3 {
	background:#fff;	
	border-bottom:1px solid #ccc;
	margin-bottom:6px;
}
.modulo_news ul li {
	background:#f3f3f3;	
	padding:4px;
	border-bottom:1px solid #fff;
	}
.modulo_news .data_news {
	display:block;
	text-align:left;
	font-size:0.7em;
}
.modulo_news .titolo_news, .modulo_news p {
	display:block;
	text-align:left;
	font-size:0.8em;
}

/* table */ 
#ColCX .News td p.titolo{
	background-image:none !important;
}
