/*				Realizzazione Net.Service S.r.l.				  */
/*  			http://www.net-serv.it							  */
/*  ------------------------------------------------------------  */

/* zona ricerca */
#ColCX .RassegnaStampa fieldset.rstampa_ricerca {
	border-top:1px solid #444;
	border-left:none;
	border-right:none;
	border-bottom:1px solid #444;
	padding:10px;
}
#ColCX .RassegnaStampa fieldset.rstampa_ricerca legend {
	font-weight:bold;
	padding:0px 10px 0px 23px;
	background:url("../img_news/newspaper.png") no-repeat 4px 2px;
}

/* moduli */ 
.modulo_rassegna {	
	display:block;
	margin:0px;
	padding:0px;
}
.modulo_rassegna h3 {
	background:#fff;	
	border-bottom:1px solid #ccc;
	margin-bottom:6px;
}
.modulo_rassegna ul li {
	background:#f3f3f3;	
	padding:4px;
	border-bottom:1px solid #fff;
	}
.modulo_rassegna .data_comunicato {
	display:block;
	text-align:left;
	font-size:0.7em;
}
.modulo_rassegna .titolo_comunicato, .modulo_rassegna p {
	display:block;
	text-align:left;
	font-size:0.8em;
}
.modulo_rassegna ul li br {
	display:none;	
}