#Registrazione {	
	margin:0px 20px 0px 20px;
}
#Registrazione h1 {
	border-bottom:1px solid #ccc;
	margin-bottom:6px;
}
#Registrazione fieldset{
	border-top:1px solid #ccc;	
}
#Registrazione legend{
	font-weight:bold;
	}
#Registrazione p {
	margin:16px 0px 16px 0px;
	font-size:0.74em;
}
#Registrazione label {
	float:left;
	width:100px;
	display:block;
	text-align:right;
	padding-right:10px;
	cursor:pointer;	
}

#Registrazione .disclamer_registrazione {
	overflow:auto;
	height:100px;
	width:100%;
	font-size:0.74em;
	text-align:left;
}
#Registrazione textarea {
	width:100%;
}
#Registrazione input{
	width:76.5%;	
}
#Registrazione input#accettazione1, 
#Registrazione input#accettazione2,
#Registrazione input#registra
{
	width:auto;
}
#Registrazione .fld_disclamer {
	border-bottom:1px solid #ccc;	
}
#Registrazione .fld_disclamer label {
	float:none;	
	width:auto;
	text-align:left;
}
#Registrazione p.accettazione {
	border-bottom:1px solid #ccc;	
}
#Registrazione fieldset.captcha p{
	text-align:center;
}
#Registrazione fieldset.captcha img {

}
#Registrazione fieldset.captcha input {
	background:#EDF5F8;
	border:1px solid #B0B8BB;
}
#Registrazione fieldset.captcha p {
	margin:0px;	
}
/* gestione errori */
#Registrazione fieldset.fld_errori {
	border:1px solid #F00;
	padding:4px;
}
#Registrazione fieldset.fld_errori ul li {
	font-size:0.74em;
	text-align:left;
	padding-left:20px;
	background:url("../img/alert.gif") 0px 0px no-repeat;
	margin:10px 0px 10px 0px;
}
#Registrazione #LoginForm_Reserved {
	width:auto;
	font-size:0.74em;
	text-align:left;
	margin-top:20px;	
}
#Registrazione #LoginForm_Reserved span {
	display:block;
	height:40px;
}
#Registrazione #LoginForm_Reserved input#login_Reserved,
#Registrazione .fld_credenziali #invia,
#Registrazione .fld_credenziali #active,
#Registrazione .fld_modpassword #confirm
{
	width:auto;	
}
#Registrazione #LoginForm_Reserved .registra {
	text-align:right;
	border-top:1px solid #6C0;
}
/* scheda */
#Registrazione .informazionipersonali,
#Registrazione .servizi_non_attivi {
	width:45%;
	float:left;
	text-align:left;
	margin-left:2%;
}
#Registrazione .servizi_non_attivi li{
	border-bottom:1px dotted #ccc;	
}
#Registrazione .informazionipersonali h3,
#Registrazione .servizi_non_attivi h3{
	border-bottom:1px solid #ccc;
}
#Registrazione .informazionipersonali ul,
#Registrazione .servizi_non_attivi ol { 
	font-size:0.74em;
}