﻿.SheetsControl
{	
	padding:6px;
	background-color:#eeeeee;	
	border: 1px solid #cccccc;
}

.SheetsContainer
{
	border: 1px solid #cccccc;
	background-color:#ffffff;	
	clear:left;
	padding:10px;
}


.SingleSheet
{
	
}

.SingleLabels
{	
}

.SheetsLabels
{
	background-color:#eeeeee;
	height:24px;
}

.SheetLabelContainer
{
	float:left;
	border: 1px solid #cccccc;
	border-bottom:0px solid;
	z-index:1;
	margin-left:5px;
	margin-bottom:-1px;
	background-color:#cccccc;
}

.SheetsLabelsEnd div
{
}

.SheetLabelSelected
{
	background-color:#ffffff;	
}
.SheetLabelSx{}
.SheetLabelDx
{
}
.SheetLabelBody
{
	padding:5px;
}

