.Questionari {

}
#ColCX .Questionari fieldset {
	border-top:1px solid #444;
	border-left:none;
	border-right:none;
	border-bottom:none;	
	padding:10px;
}
#ColCX .Questionari fieldset legend {
	font-weight:bold;
	padding:0px 10px 0px 23px;
	background:url("../img_sondaggi/chart_bar.png") no-repeat 4px 2px;
}
#ColCX .Questionari label {
	cursor:pointer;
	margin:0px 0px 0px 10px;
	padding:0px;
}
#ColCX .Questionari input{
	margin:10px 0px 0px 0px;
	font-size:1.6em;	
}

#ColCX .Questionari p.titolo {
	background:url("../img_sondaggi/puntini.gif") left bottom repeat-x;
	padding:0px 0px 5px 0px;
	margin:10px 0px 0px 0px;
	font-size:1em;	
	height:auto !important;
	height:0px;
}
#ColCX .Questionari p.titolo a {
	background:url("../img_sondaggi/chart_bar.png") no-repeat 0px 0px;
	padding:0px 0px 0px 20px;
	margin:0px 0px 0px 0px;
	height:auto !important;
	height:0px;	
}
#ColCX .Questionari p.data {
	background:url("../img_sondaggi/calendar.png") no-repeat 0px 0px;
	margin:4px 0px 0px 0px;
	padding:0px 0px 0px 20px;		
	color:#913B11;	
	font-size:0.7em;
	font-family: "Trebuchet ms", Helvetica, Arial, sans-serif;
}
#ColCX .Questionari p.desc {
	margin:0px 0px 30px 0px;
	background:url("../img_sondaggi/flag.gif") 0px 0px no-repeat;
	padding:0px 0px 4px 18px;
	color:#000;
	border-bottom:1px dotted #ebebeb;
} 

#ColCX .Questionari p.msg {	
	background:url("../img_sondaggi/balloon.gif") 0px 0px no-repeat;
	padding-left:18px;	
	margin:0px 0px 30px 0px;
} 


.modulo_questionari {	
	display:block;
	margin:0px;
	padding:0px;
}
.modulo_questionari h3 {
	background:#fff;	
	border-bottom:1px solid #ccc;
	margin-bottom:6px;
}
