﻿body.Folder_Vapp {
    background: #fff;
}

body.Folder_Vapp .breadcrumb {
        background: transparent;
        overflow: hidden;
        -webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0);
        -moz-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0);
        box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0);
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
}

#ColCX .panel {margin:0px;}


.at-ul li {
    list-style:none;
}

.at-ul li a {
    display:block;
    padding:10px;
    color: #06c
}

#ColCX_Content_IS .page-header h1 {
    margin-top: 0px;
}

#PanelGroupDescription .panel-default, .details-div .panel-default, .sub-body .panel-default, #PanelGroupSearch .panel-default{
    background: #ffffff;
    border-radius: 0px;
    box-shadow: 0 0px 0px 0 rgba(50, 50, 50, 0.0);
    overflow: hidden;
}

.details-div .panel-default {
    margin-bottom: 10px;
}

#PanelGroupDescription .panel{
    margin-bottom: 10px;
}

#PanelGroupDescription .panel-heading h4, 
#at-searchform .panel-heading h4{
    text-align:left;
}

.DetailSheetController{
    margin-top: 10px;
    margin-bottom: 10px;
}
/*ICON FONTAWESOME*/
#PanelGroupDescription .panel-default .panel-title a:before, 
.details-div .panel-default .panel-title a:before, 
.sub-body .panel-default .panel-title a:before, 
#at-searchform .panel-heading .panel-title a:before, 
.at-li a:before,
.at-main-container .panel-title a:before{
        display: block;
        float: left;
        overflow: hidden;
        font-family: 'FontAwesome';
        font-weight: normal;
        margin-right: 10px;
        color: #2079d4;
		width:16px;
}
 
.at-main-container .panel-title a:before {
        content:"\f03a";
}

.at-main-container .panel-title {
    text-align:left;
}

.details-div .panel-default .panel-title a:before{
    content:"\f03a";
}

#PanelGroupDescription .panel-default .panel-title a:before{
    content: "\f055";
}

.sub-body .panel-default .panel-title a:before, #at-searchform .panel-heading .panel-title a:before {
    content: "\f002";
}

.at-li a:before{
    color: #2079d4;
    content :"\f061";
}


.ambiti-obbligo-ul li {
    list-style: none;
    display: inline-table;
    margin: 0px 0px 0px 20px;
}

.ambiti-obbligo-ul li .popover {
        font-size: 13px;
        max-width: 500px;

}

.table.DetailsContainer > tbody > tr > td,
.table.DetailsContainer > tbody > tr > th,
.table.DetailsContainer > tfoot > tr > td,
.table.DetailsContainer > tfoot > tr > th,
.table.DetailsContainer > thead > tr > td,
.table.DetailsContainer > thead > tr > th {
    border: none;
}

/*Toolbar Test*/

.AT-navmenu, .AT-navmenu ul, .AT-navmenu li {
    list-style: none;
}
.AT-navmenu li li{
	padding:10px 0px;
}
.AT-navmenu .open > a, .AT-navmenu .open > a:focus, .AT-navmenu .open > a:hover {
	background:#eee;
	color:#000;
}
.AT-navmenu li.open li a.current {background:none; color:#000;}

.AT-navmenu li.open > a > span::after {
    line-height: 1;
    font-size: 1.23em;
    content: "\e260";
}

.AT-navmenu li > a > span::after {
    line-height: 1;
    font-size: 1.23em;
    content: "\e259";
}

.AT-navmenu li > a > span::after,
.AT-navmenu li.open > a > span::after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.AT-navmenu li a span {
     text-indent: 0;
}

.AT-navmenu > li> a > span {
   
    float: right;
    font-size: 1.23em;
    /*text-align: right;*/
    width: 35px;
    display: inline-block;
	text-align: center;
    margin-top: -3px;
    margin-right: -3px;
}


.AT-navmenu li a.current {
    font-weight: bold;
}

.titlesectionnav a {
    padding:10px 0px;
}

/* Organigramma http://testat.net-serv.it/trasparenza/visualizzaorganigramma.aspx?obligation=146 */
/*.jOrgChart {font-size:14px;}
.jOrgChart .node {background:#eee !important;border-radius:6px;line-height:16px;padding:10px 0px;height:auto !important;min-height:70px;border:1px solid #ccc;} 
.jOrgChart table {width:100%;}
.jOrgChart a#link_detail {display:block;margin-top:5px;}*/

.DetailSheetContainerElement {
border:1px solid #ddd;margin:20px 0px;
}