﻿@foreach (var category in Model)
{
<dl>
 <dt><p>@category.Name</p></dt>   
 <dd>    
 @if (category.Forums.Count() > 0)
 {
    <table class="tab" cellpadding="0" cellspacing="0">        
        <tbody>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
            </tr>
            @foreach (var forum in category.Forums)
            {
                <tr>
                    <td><span>@forum.Name</span></td>
                    <td>@ActionLink("Edit", "edit_forum.aspx?forum=@forum.ID", "action edit") | @ActionLink("Delete", "delete_forum.aspx?forum=@forum.ID", "action delete")</td>
                </tr>
            }
        </tbody>
    </table>
 }
 else 
 {
    <p>Nessun forum</p>
 }
 </dd>
</dl>
}