input[type="text"], select {
	outline-style:none;
}
#netApplicationBar span.application_iscrizioniinfanzia {
	background:url("images/education.png") 0px 0px no-repeat;	
}

.vertical_application_toolbar .gestione-istituti a,
.vertical_application_toolbar .gestione-orari a,
.vertical_application_toolbar .elenco-richieste a,
.vertical_application_toolbar .graduatorie a {
	height:75px;		
}


#iscrizioni_infanzia_container 
{display: inline-block;}

/* Hides from IE-mac */
* html #iscrizioni_infanzia_container 
{height: 1%;}

#iscrizioni_infanzia_container 
{display: block;}
/* End hide from IE-mac */

/* new clearfix */
#iscrizioni_infanzia_container .clearfix:after {
    /*visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;*/
    }
#iscrizioni_infanzia_container * html .clearfix             { zoom: 1; } /* IE6 */
#iscrizioni_infanzia_container *:first-child+html .clearfix { zoom: 1; } /* IE7 */

#iscrizioni_infanzia_container h5,
#container-composizione h5,
#container-sottoscrizione h5,
#iscrizioni_infanzia_container #header
 {
	text-align:left;
	font-weight:bold;
	border-bottom:1px solid #ccc;	
	padding:0px;
}
#iscrizioni_infanzia_container #header {
	padding:10px 0px 20px 0px;	
	margin-bottom:20px;
}

#iscrizioni_infanzia_container,
#container-composizione,
#container-sottoscrizione
 {
	/*margin:20px auto;

	width:760px;
	
	overflow: hidden;
	*/
	padding:6px;
	border:1px solid #ccc;	
	margin:20px auto;	
}
#iscrizioni_infanzia_container input[type="text"],
#iscrizioni_infanzia_container select,
#container-composizione input[type="text"],
#container-composizione select,
#container-sottoscrizione input[type="text"],
#container-sottoscrizione select
 {
	padding:4px;
	margin:0px 10px 10px 0px;	
}
#iscrizioni_infanzia_container label,
#container-composizione label,
#container-sottoscrizione label,
#iscrizioni_infanzia_container input[type="radio"],
#container-sottoscrizione input[type="radio"],
#container-composizione input[type="radio"],
#modulo_dichiarazione_global label,
#modulo_autocertificazione_global label,
#modulo_autocertificazione_global input[type="radio"],
#modulo_autocertificazione_global input[type="checkbox"]
 {
	margin-right:10px;	
}
.validation-results {
	margin-bottom:10px;	
}
.validation-results ul {
	margin:20px 0px 16px 0px !important;	
	background-color: #FFD4D4;
    border:1px solid #D97676 !important;
    color: #CD0A0A;
	padding:4px;
}
.validation-results ul li {
	margin-bottom:4px;	
}



#iscrizioni_infanzia_container .lefttxt {
	text-align:left;	
}
#iscrizioni_infanzia_container .righttxt {
	text-align:right;	
}
#iscrizioni_infanzia_container .centertxt {
	text-align:center;	
}

#iscrizioni_infanzia_container img.left, .left img{
	float: left;
	clear:left;
}
#iscrizioni_infanzia_container img.right, .right img {
	float: right;
	clear:right;
}
#iscrizioni_infanzia_container img.center, .center img {
	margin:0px auto;
	text-align:center;
}

#iscrizioni_infanzia_container .intestato {
	font-weight:bold;
	text-transform:uppercase;
	font-style:italic;
}
#iscrizioni_infanzia_container .intestato-1 {
	font-size:22px;
	text-decoration:underline;
	margin:30px 0px 20px 0px;	
}
#iscrizioni_infanzia_container .intestato-2 {
	font-size:18px;	
	margin:30px 0px 20px 0px;	
	font-style:italic;
}
#iscrizioni_infanzia_container .chiede strong,
.dichiara strong {
	font-size:18px;	
	margin:10px 0px 10px 0px;
	display:block;
	text-align:center;
}

#iscrizioni_infanzia_container .testo {
	margin:20px 0px 20px 0px;	
}
#iscrizioni_infanzia_container .testo span {
	margin-left:60px;	
}
#iscrizioni_infanzia_container .testo ul {
	margin-left:16px;
}
#iscrizioni_infanzia_container .testo ul li{
	list-style:disc;
	padding-left:20px;
	}





#container-composizione:after,
#container-sottoscrizione:after
{ 
/*
 content: ".";  
 display: block; 
 height: 0; 
 clear: both; 
 visibility: hidden; */
}


#container-composizione,
#container-sottoscrizione
{display: inline-block;}

/* Hides from IE-mac */
* html #container-composizione,
* html #container-sottoscrizione 
{height: 1%;}

#container-composizione,
#container-sottoscrizione 
{display: block;}
/* End hide from IE-mac */


#container-composizione,
#container-sottoscrizione
 {
	 /*
	margin:20px auto;
	text-align:left;
	width:760px;
	padding:10px;
	overflow: hidden;	
	border:1px solid #ccc;		
	*/
}


#container-composizione .righttxt
 {
	text-align:right;	
}


#container-composizione table
 {
	width:100%;
	border:1px solid #000;	
	border-collapse: collapse;
	border-spacing: 0;
}
#container-composizione table th
 {
	font-weight:bold;	
}
#container-composizione table td, #container-composizione table, .riquadro
{	
	border:1px solid #000;	
}
#container-composizione table .col-1 {
	width:20px;		
}
#container-composizione table .col-2,
#container-composizione table .col-3 
 {
	width:200px;		
}
#container-composizione table .col-4 {
	width:100px;	
} 
#container-composizione .riquadro {
	padding:10px;	
	margin-bottom:10px;
}

#iscrizioni_infanzia_container .primo-comma label,
#OrarioScelto label,
#modulo_domanda_global .secondo-comma label
{
	display:inline-block;
}
#iscrizioni_infanzia_container .primo-comma select#plesso {
    min-width:780px;
	margin-bottom:20px;
}
#iscrizioni_infanzia_container .primo-comma input#sottoscritto_cognome,
#iscrizioni_infanzia_container .chiede input#minore_cf
 {
	/*margin:0px 300px 20px 0px !important;	*/
}
#iscrizioni_infanzia_container .primo-comma input#il

 {
	/*margin:0px 200px 20px 0px !important;	*/
}
#iscrizioni_infanzia_container .primo-comma input#residente {
/*	margin:0px 250px 20px 0px !important;	*/
}
#iscrizioni_infanzia_container .primo-comma input#via_richiedente, 
#iscrizioni_infanzia_container input#minore_via,
#iscrizioni_infanzia_container input#minore_domicilio,
#iscrizioni_infanzia_container input#proveniente_da
{
	min-width:700px;	
}
#iscrizioni_infanzia_container .chiede label,
#modulo_domanda_global .secondo-comma,
.info-coniuge

{
	display:inline-block;
}
#modulo_domanda_global .secondo-comma {
	width:100%;	
}
#iscrizioni_infanzia_container .chiede #isStraniero,
#iscrizioni_infanzia_container .chiede #isDisabile
 {
	margin-top:20px;	
}
#iscrizioni_infanzia_container .chiede h5 {
	padding:0px 0px 10px 0px !important;	
	margin-bottom:10px;
}
#modulo_domanda_global select#comuneResidenza_regioni,
#modulo_domanda_global select#comuneResidenza_provincie, 
#modulo_domanda_global select#comuneResidenza,
#modulo_dichiarazione_global select#comuneResidenzaDichiarazione_regioni,
#modulo_dichiarazione_global select#comuneResidenzaDichiarazione_provincie,
#modulo_dichiarazione_global select#comuneResidenzaDichiarazione,
#modulo_autocertificazione_global select#comuneResidenzaAutocertificazione_regioni,
#modulo_autocertificazione_global select#comuneResidenzaAutocertificazione_provincie,
#modulo_autocertificazione_global select#comuneResidenzaAutocertificazione
{
	content:"/A";
	display:block;
}



