﻿/*.newsform .netform_fieldrequired{
    width:76%; 
    display:block; 
    float:left;
}
.newsform .news_contentfield, .newsform .netformtable_docs, .newsform .netformtable_langs, .newsform .netformtable_review{
    float:left;
    width:76%
}

.newsform .news_highlightimages{
    border:1px solid #ccc;
    width:20%;
    padding:10px;
    float:right;
    
}
.newsform .news_addform{
    margin-top: -388px;
}

.newsform .netformtable_review
{
    display:none;
}

.newsform .news_highlightimages #Description
{
    width:95%;
}

.newsform .buttonscontainer{
    clear:both;
    padding-top:8px;
}

.newsform p
{
    margin-bottom:1px;
}*/