@font-face {
  font-family: "ita";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/ita.eot?v2");
  src:
    url("./fonts/ita.eot?v2#iefix") format("embedded-opentype"),
    url("./fonts/ita.ttf?v2") format("truetype"),
    url("./fonts/ita.woff?v2") format("woff"),
    url("./fonts/ita.svg?v2#ita") format("svg");
}
