﻿@import url(spacing.css);

html, body {
    font-family: 'Titillium Web', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Lucida Grande', Helvetica, Arial, sans-serif;        
	font-variant-ligatures: common-ligatures;
}

body{font-size:1.8rem;}

ul, ol{
	margin:0px;
	padding:0px;
}
.text-center .img-responsive {margin:auto;}
.Header-alpha {position:absolute;top:-4px;left:-4px;display:none;}
@media screen and (min-width:768px) and (max-width:991px), screen and (min-width:992px) and (max-width:1365px), screen and (min-width:1366px) {
	.Header-alpha {display:block;}
}
@media screen and (min-width: 1600px) {
  .container {
    width: 1600px;
  }
}
.Hamburger-toggle, .Hamburger-toggle:after, .Hamburger-toggle:before{ background:#000;}
.Offcanvas-content .Hamburger-toggle:after, .Offcanvas-content .Hamburger-toggle:before {background:#fff;}
#BodyCorpo .breadcrumb li.active a {color:#304255;}

#BodyCorpo .row {
    margin-left: 0px;
	margin-right:0px;
}
#BodyCorpo #ColCX {  
	margin-left: -15px;
	margin-right:-15px;
}
.u-color-compl-60, a.u-color-50, .Linklist a {color:#304255 !important;}
.u-background-50 {background-color:#304255 !important;}
.page-header {
    margin: 0px;
    border-color: transparent;
	border-width:0px;
	padding:0px;
}

.element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    overflow: hidden;
    height: 1px;
}

    .element-invisible.element-focusable:active, 
	.element-invisible.element-focusable:focus {
        position: static !important;
        clip: auto;
        overflow: visible;
        height: auto;
    }

.element-focusable {
    background-color: #e5e5e5;
    text-align: center;
    width: 100%;
    display: inline-block;
}

.modulo [class*=" u-background-grey-"], .modulo [class^="u-background-grey-"] {background-color:transparent !important;}

.Entrypoint-item {
	padding: 0.5em !important;
	min-height: 100px;
}
.Prose, .Prose > a, .Prose > ol > li, .Prose > p, .Prose > ul > li, .Prose p > a, .u-lineHeight-xl, .u-text-p {line-height:1 !important;}
.Header-owner, .Megamenu--default > .Megamenu-list, .u-layout-wide {
    max-width: 157rem !important;
}

/****************************************/
/*              header                  */
/****************************************/

.header-banner {
    background-color: #ccd0d1;
    padding: 1em 0em 1em 0em;
    padding-left: 2em;
    padding-right: 2em;
}

.header-banner a {
    color: #000;
    font-weight: 600 !important;
}

.header-banner .header-lang {
    float: right;
    color: #000;
    font-weight: 600 !important;
}

.header-navbar {
    background-color: #f2fffd;
    padding-top: 2.6em;
    padding-bottom: 2.6em;
	
}
@media screen and (max-width: 768px) {
	.header-navbar {
		padding-top: 1.6rem;
		padding-bottom: 1.6rem;
	}	
}


.header-navbar .site-name a, .header-navbar .follow, .site-name small {
    color: #000;
}

.header-navbar .site-name h1 {
	font-weight:700;
	margin: 0;
}  



@media screen and (max-width: 768px) {
    .header-navbar .site-name h1 {
        font-size: 1.6rem;/*1.5em;*/		
    }
}

@media screen and (max-width: 992px) and (min-width:769px) {
    .header-navbar .site-name h1 {
        font-size: 2.1rem;/*1.6em;*/		
    }
}
/*(min-width: 1200px)*/
@media screen and (min-width: 993px) {
    .header-navbar .site-name h1 {
        font-size: 2.8rem;/*1.8em;*/		
    }    
}

.header-navbar .navbar-default {
    border-color: transparent;
    background-color: transparent;
    border-radius: 0px;
    min-height: 0px;
    margin-bottom: 0px;
}
/*


/* ========================================== */
/* Logo image
  ========================================== */

.header-navbar .logo  {
  height: 4.5rem;
  width: 4.5rem  
}

@media screen and (min-width: 768px) and (max-width: 991px), screen and (min-width: 992px) and (max-width: 1200px), screen and (min-width: 1201px) {

  .header-navbar .logo{
    width: 4.6rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px), screen and (min-width: 992px) and (max-width: 1200px), screen and (min-width: 1201px) {
  .header-navbar .logo {
    height: 7.5rem;
    width: 7.5rem;
  }
}

/* ========================================== */
/* End Logo image
  ========================================== */
  

.header-navbar .utils{
    text-align: right !important;
}

.header-navbar .utils{
	float:right !important;
}

.header-navbar .utils > *{
		width:100%;
}

.header-navbar .social ul{
	padding-left:10px;
}

.header-navbar .social [class*="Icon-"] {
	color:#f5f5f0;
	background-color:#304255;
	
}
 .box_text_footer .social [class*="Icon-"] 
 {
	 background-color:#a2a2a2;
	 color:#262626;
 }

.header-navbar .social [class*="Icon-"], .box_text_footer .social [class*="Icon-"] {
	border-radius:100% !important;
	padding:0.4rem;
}

    .header-navbar .social .follow {
        display: inline-block !important;
    }

    .header-navbar .social ul, 
	.header-navbar .social ul li, 
	.box_text_footer .social ul li {
        display: inline-block;
    }
	.header-navbar .social li a{
		padding-left:1.2rem;
	}
	 .box_text_footer .social li a
	 {
		padding-right:1.2rem;
	 }

/* ==================================*/	
/*       form ricerca header         */
/* ==================================*/		
	
	.header-navbar .formricerca{		
		display:block;
		max-width:20em;		
		float:right !important;
	}
			
	.header-navbar .formricerca .form-group {
		background-color: #fff;
		border-radius: 2px !important;
		padding: 4px;		
		border:1px solid #d5e1e0;
	}
	.header-navbar .formricerca .form-group{
		display:flex;
	}
	@media screen and (min-width: 768px) and (max-width: 991px){
		.header-navbar .formricerca .form-group{
			margin-top:15px;
		}
	}
	
    .header-navbar .formricerca .form-control {
		border: none !important;
		box-shadow: none !important;
	}	

	.header-navbar .formricerca .form-control {
        border: none !important;
        box-shadow: none !important;
    }

    .header-navbar .formricerca button,  .header-navbar .search-trigger button{
        background-color: transparent;
        border: none;
        color: #333;
    }
	
	.header-navbar .search-trigger{
		text-align: right !important;			
	}
	.header-navbar .search-trigger button{
		font-size:2rem;
		padding:1.6rem !important;
		color:#fff;
		font-weight:700 !important;
	}
	.mobile-searchform .formricerca{
		display:none;
	}	
		
	/* trick form ricerca su mobile */
	@media screen and (max-width: 768px){
			.mobile-searchform .formricerca{
			float:none !important;
			max-width: 100%;			
			margin-top:1em;
		}	
		.sticky .site-name  {
	font-size: 1.5rem;
}
	}
	
	#header-search .is-active  {
		display: block !important;
	}	
	
/* FIXED TOP NAV */
.header-navbar {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}

.sticky .social {
	display: none;
}
.sticky .header-navbar {
	padding: 10px 0px;
}
.sticky .logo {
	height: 4rem;
	width: 4rem;
}
	
/* ==================================*/	
/*       form ricerca header         */
/* ==================================*/		
	

.custom-menu, .Megamenu--default {
    background: #304255;
}

.Offcanvas-toggleContainer .Hamburger-toggleContainer{
	padding: 4rem 0 4rem 1.6rem;
	display:block !important;
}

/****************************************/
/*          end header                  */
/****************************************/
    
/* BREADCRUMB */
    .breadcrumb > .active {
        color: #777;
    }

    .breadcrumb > li + li:before {
        content: "\203A";
    }

    .breadcrumb {
        font-weight: 600 !important;
		margin-top:20px;
    }
    /* END Bredcrumb */

    /* Menù Sidebar 
	
	#BodyCorpo a, #BodyCorpo a:hover span.selected {color:#304255;}
#BodyCorpo a span.selected, #BodyCorpo li.active a {color:#fff;}

    .modulo_menu ul {
        padding-left: 0;
        margin-bottom: 20px;
    }

        .modulo_menu ul ul {
            margin-bottom: 5px;
            border: none;
        }


    .modulo_menu .depth0 {
        position: relative;
        display: block;
        margin-bottom: -1px;
    }

        .modulo_menu .depth0 a {
            display: block;
            padding: 10px 15px;
            text-decoration: none;
        }

        .modulo_menu .depth0.first:first-child {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }

        .modulo_menu .depth0.last:last-child {
            margin-bottom: 0;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        .modulo_menu .depth0 a:focus, .modulo_menu .depth0 a:hover,
        #ColSX .modulo_menu ul li ul li a:hover, #ColSX .modulo_menu ul li ul li a:focus {
            color: #555;
            text-decoration: none;
            background-color: #f5f5f5;
        }

    .modulo_menu .TabSelected a {
        background: #2079D4;
        color: #fff;
    }

    #ColSX .modulo_menu ul li ul li a {
        background: inherit;
        color: inherit;
    }

    .modulo_menu > li {
        text-indent: 1em;
        border: none;
    }

    .modulo_menu .TabSelected .selected {
        font-weight: bold;
    }*/

    /********************************/
    /*          footer              */
    /********************************/
	
	
    #Footer.panel-footer {
        background: #1b1b1b;
        color: white;
        padding-bottom: 40px;
        padding-top: 40px;
		border:none;
    }

        #Footer.panel-footer a {
            color: #a2a2a2;
        }

        #Footer.panel-footer h3, #Footer.panel-footer h4, #Footer.panel-footer .site-name {
            color: #fff;
        }

    #Footer .logo {
        padding-right: 32px;
        float: left;
    }

    #Footer .site-name {
        font-size: 1.70em;
        margin: 15px auto;
    }
	#Footer.panel-footer h4 {
		font-weight: 700;
	}
    .box_text_footer, #Footer p, .footer_links li a {
        font-size: 0.88em;
    }

        .box_text_footer ul {
            padding-left: 0px;
        }

        .box_text_footer li {
            list-style: none;
        }

    .footer_links {
        border-top: 1px solid #a2a2a2;
        padding-top: 10px;
    }

        .footer_links li {
            margin-right: 1em;
        }

            .footer_links li a {
                font-weight: 600;
            }

    .Footer-socialIcons {
        color: #00264d;
    }

    .scrollup {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        text-align: center;
        background: #00264d;
        color: #ffffff;
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        /*font-size: 1.39em;*/
        line-height: 40px;
        border: 2px solid #ffffff;
        z-index: 900;
        box-shadow: 1px 1px 2px #aaa !important;
        -webkit-box-shadow: 1px 1px 2px #aaa !important;
    }

        .scrollup:hover {
            text-decoration: none;
            color: #ffffff;
        }

        .scrollup span:before {
            position: relative;
            bottom: 3px;
        }

    .scrolltoup {
        position: fixed;
    }

    /*end footer*/


    /* utility */
    .img-responsive, 
	.img-thumbnail, 
	.table, label {
        max-width: 100%;
    }

    .figcaption_modulo_statico {
        text-align: center;
    }
	
	
	.vcenter{
		display: flex;
		align-items: center;		
	}
	
	.u-hidden{
		display: none !important;
	}
	/* color & 	   */
	.background-white{
		background-color:#fff !important;
	}
	.background-blue{
		background-color:#004c99 !important;
	}
	.u-color-white{
		color:#fff !important;
	}
	


    ul.Megamenu-pageLink {
        border-top: 1px solid #e0e0e0;
        display: block !important;
        margin-top: 20px;
    }
    ul.Megamenu-pageLink li {
        width: 100%;
        text-align: right;
    }
.Megamenu--default .Megamenu-subnavGroup > li > a{
      text-transform: none !important; 
}

.Dropdown-arrow {
    display: block;
    font-size: 2rem;
    height: 3rem;
    left: 50%;
    margin-left: -1rem;
    position: absolute;
    text-shadow: 0 -1px 1px #bbb;
    top: -1.5rem;
    width: 3rem;
}

    /* article - news - webdocs*/

#content .data{

}
#content .description {
    font-size: 1.6rem;
    border-left: 10px solid #ccc;
    padding-left: 10px;
    margin-bottom:10px;
}
.article-webdoc ol{list-style-type: decimal; list-style-position: inside; } 
.article-webdoc ul{list-style-type: disc; list-style-position: inside;}
.article-webdoc ol li,.article-webdoc ul li { padding-left:20px; }

/* override stile botstrap per i moduli  */

#ColCX .panel,
#ColCX .panel .panel-footer,
#ColCX .panel-heading {
   /* border: none !important;*/
}

#ColCX .u-background-row-image-1 .panel
 {
    border: none !important;
}

.panel {
    background-color: rgba(255,255,255,0);
    box-shadow: 0px 1px 1px rgba(0,0,0,.00);
}

#ColCX .panel .panel-body,
#ColCX .panel .panel-footer {
    padding: none !important;
}
    #ColCX .panel-heading,
    #ColCX .panel .panel-footer {
        background: none !important;
    }

#ColCX .panel .panel-footer {
    
    border-bottom-right-radius: none !important;
    border-bottom-left-radius: none !important;
}

@media screen and (min-width: 1201px) {
    .u-text-h3 a {
        font-size: 3.2rem !important;
    }
}

/*************************/
/*  Result Search Page   */
/*************************/

.SearchDiv, .result_block {
    padding: 1em 0em;
}

.searchheading {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 40px;
}

    .searchheading br, .result_pagescount br {
        height: 0px;
        display: block;
        width: 100%;
    }

.result_title b, .description, .infoline {
    display: none;
}

.result_title a {
    font-size: 1.2em;
    font-weight: 700;
    color: #0066cc;
    margin-top: 0px;
    margin-bottom: 40px;
    display: inline-table;
}

.result_block, .result_altblock {
    border-top: 1px solid #d9dfe2;
    padding: 40px 0 40px 0;
}

.summary, .result_pagescount {
    font-size: 1.167em;
    font-weight: 700;
    letter-spacing: 0.005em;
    margin-top: 0px;
    display: inline-table;
}

.result_pagescount {
    margin-bottom: 25px;
}

.sorting {
    padding: 1em 0em;
    margin: 1em 0em;
}

.infoline {
    color: #00c5ca;
}

.result_pages {
    display: block;
    border-top: 1px solid #d9dfe2;
    margin: 1em 0em;
    padding: 1em;
    text-align: center;
}

    .result_pages a {
        padding: 1em !important;
        display: inline-block !important;
        text-align: center !important;
        font-size: 2.3rem !important;
        letter-spacing: .007em !important;
    }

/******************/
/* mappa portale  */
/******************/
.SiteMap #MapRoot a{
    font-weight: 700 !important;
}
    .SiteMap li,
    .SiteMap li li,
    .SiteMap li li li {
        margin-left: 26px;
    }

/**************************/
/* accordion h2 override  */
/**************************/

.Accordion h2 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}


/******************/
/* bg-color       */
/******************/
.Green {
    background-color: green !important;
}
.Orange{
    background-color:orange !important;
}
.Red{
    background-color:red !important;
}
.u-background-1 {background-color:#fff7ee;}
.u-background-2 {background-color:#ccd0d1;}
.u-background-3, #PiePagina .wrapper-container, #PiePagina .wrapper-container .u-background-grey-60 {background-color:#304255 !important;}
#PiePagina .wrapper-container .u-background-grey-20, #PiePagina .wrapper-container .u-background-white {background-color:transparent !important;}
#PiePagina .wrapper-container .u-borderShadow-xxs {box-shadow:none !important;}
#PiePagina .wrapper-container h2, #PiePagina .wrapper-container .u-color-teal-50, #PiePagina .wrapper-container .u-color-50 {color:#fff !important;}
#PiePagina .wrapper-container .u-padding-all-s {padding:0rem !important;}
#PiePagina .wrapper-container figure img {border-radius:4px;}

/********************************/
/* wrapper container homepage   */
/********************************/

.wrapper-section{
    margin:0px;
}


/* ############# lead_container ############# */

.u-background-row-image-1 {background-image:url(/imghome/hero-content.jpg); background-position:top center;height:440px;background-repeat:no-repeat;}
.u-background-row-image-1 .panel {box-shadow:none;}
.u-background-row-image-1 .panel-body {padding:0px;}

.lead_container {
	position: relative;
	z-index: 0;
	font-size: 1.15em;
	min-height:440px;
}



/* document tags*/
.doc-tags {
    border-top: 1px solid #e4e6e8;
    margin-bottom: 10px;
    clear: both;
}
.doc-tag{
    font-size:0.7em;
    background-color:#e1ecf4;
    color:#39739d;
    display:inline-block;
    padding:.4em .5em;
    margin:4px 4px 4px 0px;
    white-space:nowrap;
    text-decoration:none;
}
.no-gutter {
    margin: 0px;
    padding: 0px;
}

#PiePagina .wrapper-container {margin-left:-30px;margin-right:-30px;}
#PiePagina .u-layout-medium {max-width:157rem !important;}


.Share-reveal, .Share-revealText, .Share > ul > li {font-size:2rem !important;}
@media screen and (max-width: 420px) {
.Share-reveal, .Share-revealText, .Share > ul > li {font-size:1.5rem !important;}
}

.login-header{
    float:right;
    color:white;
    font-weight:600 !important;
}

.login-header li a{
    padding-top:0px!important;
    padding-bottom:0px!important;
}
.login-header li a:hover{
	background-color: transparent!important;
}

.modulo_news .category {
    text-transform: capitalize;
}

.adempimenti-l-r-11-2015 #ColCX .container {
    width: auto !important;
}