#Where {
	display:none;
}
#ColCX {
	background-color:#fff;	
}
/* generale */
#divforum {		
	text-align:center;				
}
/* barra servizi trasversali forum */
#divforum .barraforum
{	
	margin:0px;
	text-align:right;	
	padding:4px;
}
#divforum .barraforum ul { 
	list-style:none; 
	margin:0px;
}
#divforum .barraforum ul li { 
	display:inline; 
	margin:0px 6px 0px 0px; 
	padding:0px;
}
/* navigazione sul forum */
#divforum .titrovi
{
	text-align:left;
	border-bottom:1px dashed #ccc;
	margin:0px;
	padding:0px 0px 0px 20px;
	background:url("../img_forum/folder.gif") 6px 0px no-repeat; 
}
/* bottoni per utilizzo forum */
#divforum .listabottoni 
{	
	clear:right;
	padding:10px 0px 30px 0px;
}

#divforum .listabottoni ul,
#divforum .listabottoni ul li
{
	list-style:none;
	margin:0px;
	padding:0px;
}
#divforum .listabottoni ul li {
	float:right;	
	padding:0px 0px 0px 10px;
}
#divforum .listabottoni ul li a
{
	background:#f0f0f0 url("../img_forum/comment.gif") 2px 7px no-repeat;
	text-decoration:none;
	color:#222;
	padding:4px 10px 4px 20px;	
	border:1px outset #666;
}
#divforum .listabottoni ul li a:hover
{
	text-decoration:none;	
	color:#000;
	background:#F9EBBD url("../img_forum/comment_edit.gif") 4px 4px no-repeat;
	border:1px inset #666;
}
/* tabella forum */
#divforum .forum_tabella 
{	
	margin:0px auto;
	text-align:center;	
	width:100%;
}
#divforum .forum_tabella th {	
	padding:4px;
	text-align:left;
	background:#F5F7FC url("../img_forum/th.jpg") bottom repeat-x;		
	color:#444;
	font-size:0.9em;
	line-height:normal !important;
	height:auto !important;
}
#divforum .forum_tabella td p a {
	font-size:1em;	
}

#ColCX #divforum .forum_tabella tr td {
	border:1px solid #0CB1DE !important;	
}
#ColCX #divforum .forum_tabella tr td.viewcol2 { 
	background:#fff url("../img_forum/td.jpg") bottom repeat-x;
}

/* messaggio d'avviso*/
p.msgavvisi, .forum_manutenzione, .forum_chiuso {
	margin:0px auto;
	text-align:left;	
	background:#FFF8DC url("../img_forum/error.gif") no-repeat 10px 10px;
	padding:10px 10px 10px 30px;	
	width:380px;
	font-weight:bold;
	color:#C00000;
	border:1px solid #ccc;
}
/* pagina intro forum */ 
#divforum .forum_tabella .catforum {
	background:#f7f7f7 url("../img_forum/light.gif") no-repeat 2px 4px;
	padding:4px 4px 4px 20px;
	text-align:left;	
	font-weight:bold;
	font-size:0.9em;
	color:#444;
}
#divforum .forum_tabella .col1, #divforum .forum_tabella .col4 {
	width:40%;
	font-size:0.7em;
	text-align:left;
	background:#fff url("../img_forum/td.jpg") bottom repeat-x;	
	padding:4px;
}
#divforum .forum_tabella .col1 a,
#divforum .forum_tabella .col4 a
{
	font-size:1.1em;
	font-weight:bold;			
}
#divforum .forum_tabella .col2, #divforum .forum_tabella .col3 {
	width:5%;
	font-size:0.8em;
	text-align:center;	
	padding:4px;
}
#divforum .forum_tabella .col2 {
	background:#ECE7E0;
}
#divforum .forum_tabella .col3 {
	background:#F1FCFF;
}
#divforum .forum_tabella .col5 {
	width:10%;
	font-size:0.8em;
	text-align:center;
	background:#E0F4F9;
	padding:4px;
}
/* icone e status forum */
#divforum .forum_tabella a:link {
	color:#0000FF;
}
#divforum .forum_tabella a:visited {
	color:#0000C0;
}
#divforum .forum_tabella a:hover {
	color:#0000FF;
	text-decoration:none;
}
#divforum .forum_tabella a:active {
	color:#990000;
}
#divforum .forum_tabella .status_attivo {
	background:url("../img_forum/lock_open.gif") no-repeat 0px 0px;		
}
#divforum .forum_tabella .status_chiuso {
	background:url("../img_forum/lock.gif") no-repeat 0px 0px;	
}
#divforum .forum_tabella .status_solalettura {
	background:url("../img_forum/lock_edit.gif") no-repeat 0px 0px;	
}
#divforum .forum_tabella .status_manutenzione {
	background:url("../img_forum/manutenzione.gif") no-repeat 0px 0px;	
}
#divforum .forum_tabella .status_passwordlock {
	background:url("../img_forum/bullet_key.gif") no-repeat 0px 0px;	
}
#divforum .forum_tabella .status_solalettura {
	background:url("../img_forum/solo_lettura.png") no-repeat 0px 0px;	
}

#divforum .forum_tabella .status_attivo a, 
#divforum .forum_tabella .status_chiuso a,
#divforum .forum_tabella .status_manutenzione a,
#divforum .forum_tabella .status_passwordlock a,
#divforum .forum_tabella .status_solalettura a
{
	padding-left:20px;
}
#divforum span.statusforum {
	display:none;
}

#divforum .status span.closed {
	background: url("../img_forum/lock.gif") no-repeat 0px 0px;	
	padding-left:16px;	
	height:16px;
	width:16px;
}
.status span.closed em{	
	display:none;	
}
/* pagina view.aspx */
#divforum td.viewcol1 {
	width:25%;
	vertical-align:top;
	background:#f0f0f0;
	text-align:left;
	padding:4px;
	font-size:0.8em;
}
#divforum td.viewcol1b,#divforum td.viewcol2b {
	background:#fff;	
}
#divforum td.viewcol2b { 
	text-align:right;
	font-size:small;
	padding-right:10px;
}
#divforum td.viewcol2 p.msgedit {
	font-size:x-small;
	border-top:1px solid #bbb;
}
#divforum td.viewcol2 {
	font-size:0.9em;
	width:75%;	
	color:#666;
	background:#fff url("../img_forum/td.jpg") bottom repeat-x;	
	text-align:left;
	vertical-align:top;
	padding:0px 2px 0px 2px;
}
#divforum span.viewtitolo {
	font-size:1.1em;
	text-align:center;
	display:block;
	color:#4f4f4f;
	border-bottom:1px solid #bbb;
	font-weight:bold;
}
#divforum span.viewuser {
	background:#fff url("../img_forum/user_comment.gif") 10px 4px no-repeat;
	padding:4px 4px 4px 30px;	
	display:block;
	border:1px dashed #ccc;	
	font-weight:bold;
}
#divforum span.viewdatamsg {
	background:url("../img_forum/ico_calendar.gif") 0px 0px no-repeat;
	padding:0px 0px 0px 20px;
	display:block;
}
/******* forumdisplay.aspx ***************/
#divforum .fdcol1 {
	font-size:0.9em;
	text-align:left;
	background:#fff url("../img_forum/td.jpg") bottom repeat-x;	
	width:60%;
	padding:8px;
}
#divforum .fdcol2,#divforum .fdcol3 {
	font-size:0.8em;	 	
	width:10%;
}
#divforum .fdcol2 {
	background:#F1FCFF;	
}
#divforum .fdcol3 {
	background:#E0F4F9;	
}
#divforum .fdcol4 {
	font-size:0.8em;	
	background:#fff url("../img_forum/td.jpg") bottom repeat-x;	
	width:20%;
}
#divforum .fdcol1 .sticky {
	color:#000;
	margin:4px;
	padding:2px 20px 2px 0px;
	font-weight:bold;
	background: url("../img_forum/arrow_right.gif") right no-repeat;
}
/*********** newtopic.aspx,newthread.aspx,ricerca.aspx e Profilo.aspx******************/
#divforum #form_topic, #divforum #form_thread, #divforum .ricerca fieldset, #divforum .forumprofiloutente { 
	border:4px solid #E8EBD9;
	margin:0px auto;
	text-align:center;
	padding:10px; 
}
#divforum #form_topic legend, #divforum #form_thread legend {
	padding:4px 4px 4px 20px;
	background: url("../img_forum/comment_edit.gif") 2px 2px no-repeat;
	font-size:0.8em;
	font-weight:bold;
}
#divforum .ricerca legend {
	padding:4px 4px 4px 20px;
	background: url("../img_forum/find.gif") 2px 2px no-repeat;
	font-size:0.8em;
	font-weight:bold;
}
#divforum .forumprofiloutente legend {
	padding:4px 4px 4px 20px;
	background: url("../img_forum/vcard.gif") 2px 2px no-repeat;
	font-size:0.8em;
	font-weight:bold;
}
/****** area per inserimento CMS *******/
#divforum table.testo_OuterTable {
	/*margin:0px auto;*/
	
}

/* gestione messaggi errore */
#divforum .errore {
	border:1px solid #F00;
	background:#FFF4F2;
}
#divforum .errore p{
	text-align:center;
}

/* ricerca */
#divforum .ricerca label
{
	display:block;
	width:16em;
	padding-right:10px;
	text-align:right;
	float:left;
	cursor:pointer;
}
#divforum .ricerca p {
	margin-bottom:1px;
	padding:4px;
	background:#fff;	
}
/* legenda */
.forum-legenda,
.forum-legenda ul
{
	margin:0px !important;
	padding:0px !important;
	clear:both;
}
.forum-legenda ul li {
	list-style:none !important;	
	padding-left:20px;
	margin-left:10px;
	float:left;
	display:block;
}
.forum-legenda li.status_attivo {
	background:url("../img_forum/lock_open.gif") 0px 0px no-repeat;
}
.forum-legenda li.status_chiuso {
	background:url("../img_forum/lock.gif") 0px 0px no-repeat;
}
.forum-legenda li.status_manutenzione {
	background:url("../img_forum/manutenzione.gif") 0px 0px no-repeat;
}
.forum-legenda li.status_passwordlock {
	background:url("../img_forum/bullet_key.gif") 0px 0px no-repeat;
}
.forum-legenda li.status_solalettura {
	background:url("../img_forum/solo_lettura.png") 0px 0px no-repeat;
}

.forum-password,
.forum-password p
{
	margin:0px auto;
	text-align:center !important;
	margin-bottom:10px;
}
.forum-password label {
	display:block;
}
.forum-password input#f_password {
	background:#fff url("../img_forum/bullet_key.gif") 2px 2px no-repeat;
	padding:2px 0px 2px 20px;
	border:1px solid #ccc;
}

