#ColSX {
	top:285px;
}

.logo {
	background:url("../img/logo-scuola-demo.png") no-repeat;
	top:8px;
	left:4px;
	height:204px;
	width:706px;    
	position:absolute;
	z-index:100;
}
.logo p a {
	font-size:3em;
	color:#444;
	display:none;
	height:135px;
	width:150px; 
	display:block;	
	}
.logo a span.titolosito {
	display:none;
}
#ColCX .riga1,
.tipo13
{
	background:url("../img/sf-inevidenza.gif") 0px 0px no-repeat !important;
}
#ColCX .riga1 .BlockTitle {	
	text-align:left;
	padding:4px 0px 4px 24px;
	color:#002245;
	font-size:0.8em;
	font-weight:bold;
	margin-bottom:10px;
}
#ColCX .riga1 .BlockTitle {
	background:url("../img/ico-inevidenza.png") 6px 6px no-repeat;
}
.tipo11,
.tipo12
{
	background:url("../img/sf-titolo-colsx.gif") 0px 0px no-repeat !important;
}
.tipo11 h3,
.tipo12 h3,
.tipo13 h3
{
	font-weight:bold;
	margin-bottom:10px;
	line-height:26px;
}
.tipo11 h3 {
	background:url("../img/ico-bacheca.png") 6px 4px no-repeat;	
	
}
.tipo12 h3 {
	background:url("../img/ico-forum.png") 6px 4px no-repeat;	
}
.tipo13 h3 {
	background:url("../img/ico-scuola.png") 6px 4px no-repeat;	
}

#ColDX {
	background:url("../img/sf-login.png") 0px -190px no-repeat;	
	padding-bottom:15px;
}
#ColDX .mod-1 {
	margin-top:50px;	
}