#ColCX_Content {	
	background-image:none;	
}
#Where {
	position:absolute;
	left:200px;
	top:190px;
	overflow:hidden;
	height:16px;	
	margin:0px !important;
}
.ColCX_Gfx1 {
	margin-top:30px;	
}
#Newsletter fieldset{
		margin-right:20px;
}
#Newsletter ol, #Newsletter ol li {
	margin:0px;
	padding:0px;
	list-style:none;
}
#Newsletter ol li{
	background:#fcfcfc url("../img_sax/table-dettaglio-ist.gif") 0px 0px repeat-x;
	padding:4px;
	border-bottom:1px solid #E5E5E5;
	color:#555;
}
#Newsletter ol li:hover {
	background:#fff url("../img_sax/th_AxtTable.gif") 0px 0px repeat-x;
	color:#000;
}
#Newsletter fieldset{
	border-top:20px solid #fff !important;
	/*border-bottom:20px solid #f0f0f0 !important;*/
	border-left:none !important;
	border-right:none !important;	
	background:#f3f7fa url("../img_sax/sf-fieldset.gif") left bottom repeat-x;	
	/*margin:10px 10px 10px 10px !important;*/
	width:auto !important;
	padding:20px;
}
#Newsletter .newsletter_email label
{
	cursor:pointer;	
	display:block;	
	float:left;
	text-align:right;
	padding-right:4px;
	color:#454545;
	width:4em;
	line-height:14px;
}
#Newsletter h3 {
	margin:10px 0px 0px 0px;
	font-size:small;
	border-bottom:1px solid #ccc;
	font-weight:bold;
}
#Newsletter .newsletter_submit {
	margin:10px auto;
	text-align:center;
}

#Newsletter ol.newsletter_msg_error {
	border:1px solid #F00;
	background:#FFF4F2 none !important;
}
#Newsletter ol.newsletter_msg_error li {
	background:transparent url("../img_sax/er.gif") 5px 7px no-repeat;
	padding-left:20px;
}