#ColCX {
	background-color:#fff;	
}
#ColCX_Content {	
	background:#fff none !important;
	padding:0px;
}
#ColCX h1 {
	background-image:none !important;
	padding:0px 0px 0px 20px !important;
}
#ColCX h2 {
	padding:0px 0px 0px 20px !important;
	margin-top:10px;
}
#RegistrazioneSAX #send {
	padding:0px;	
}
#RegistrazioneSAX
{
	display:block;		
	margin:0px 0px 10px 0px;
	padding:10px 10px 10px 10px;
	background:#fff url("../img_sax/sf-titolo.gif") 0px 7px no-repeat;
}
#RegistrazioneSAX .link {
	
	padding-left:20px;
}
#RegistrazioneSAX .link:hover {
	
	color:#7297F8;
}
#RegistrazioneSAX .WzTitle {		
	font-size:small;
	text-align:left;
	font-weight:bold;
	display:block;
	padding-left:20px;
}

#RegistrazioneSAX fieldset
{		
	border:none !important;	
	font-size:small;	
	width:auto !important;
	margin:0px !important;	
}

#RegistrazioneSAX label
{
	cursor:pointer;	
}
#RegistrazioneSAX legend {	
	padding-left:20px;
	font-weight:bold;	
}
#RegistrazioneSAX .Axf {
	background:#f3f7fa url("../img_sax/sf-fieldset.gif") left bottom repeat-x;
	padding:10px 0px 10px 0px;
	margin-top:40px;
}
#RegistrazioneSAX span.Axf_FieldBox
{
	display:block;
	padding:6px 0px 6px 0px;
	text-align:left;	
}
#RegistrazioneSAX .Axf_FieldBox 
{
	padding:4px 0px 4px 0px;	
	text-align:left;
}
#RegistrazioneSAX .Axf_FieldBox textarea{
	width:48%;
}
#RegistrazioneSAX span.Axf_FieldBox label,
.Axf_FieldBox label 
{
	display:block;	
	float:left;
	text-align:right;
	padding-right:4px;
	color:#454545;
}
#RegistrazioneSAX span.Axf_FieldBox label,
.Axf_FieldBox label
{
	width:16em;
	line-height:14px;
}

#RegistrazioneSAX .Axf_SubmitButtons 
{
	margin:20px 0px 20px 0px;
	text-align:center;	
}
#RegistrazioneSAX input.readonly {
	border:1px solid #ddd;
	color:#aaa;
}

/* stringa controllo errori di compilazione */

.Axf_Control_Required label
{
	font-weight:bold;	
}
.Axf_ValidationError 
{	
	margin-bottom:30px;	
	position:relative;
	padding-bottom:0px;
}
.Axf_ValidationError input,
.Axf_ValidationError select 
{
	background:#FFF4F2;
	border:1px solid #FF0000;	
}

.Axf_ValidationError ul
{
	list-style:none;	
	padding:0px !important;
	margin:0px !important;
}
.Axf_ValidationError ul li 
{
	padding:12px 2px 4px 20px;	
	background:url("../img_sax/er2.gif") 0px 0px no-repeat;	
	color:#5F5556;
	font-size:0.89em;	
	list-style:none;
}
.Axt_ErrorList 
{	
	position: absolute;
	top: 30px;
	left: 16em;
}
.Axt_ErrorList li strong
{
	color:#A20000;
}

#StepContainer {
	font-size:small;	
}
.steptitle {
	margin:10px auto 10px auto;
	background:url("../img_sax/sf-step.gif") 0px 8px no-repeat;
	display:block;
	width:25em;
	height:47px;
	text-align:center;
	color:#666;
	clear:left;
}
.steptitle-inner {
	height:47px;
	background:url("../img_sax/sf-step-dx.gif") 100% 8px no-repeat;
	display:block;
	width:100%;
	padding-right:28px;
	text-align:left;
	line-height:46px;
}
.steptitle .description-a,
.steptitle .description-b,
.steptitle .description-c,
.steptitle .current,
.steptitle .ntotal
{
	float:left;
	display:block;
	font-size:0.8em;
}
.steptitle .description-a {
	margin-left:6px;	
	font-weight:bold;
}

.steptitle .current {
	width:43px;
	height:47px;
	background:url("../img_sax/sf-step-detail.png") 0px 0px no-repeat;
	text-align:center;
	color:#fff;
	font-size:30px;
	margin:0px 4px 0px 14px;
}

.steptitle .ntotal { 
	font-size:18px;
	margin:0px 5px 0px 5px;
	color:#84B346;
}

#RegistrazioneSAX table {
	width:100%;	
}
#RegistrazioneSAX table tr.DetailsRow td,
#RegistrazioneSAX table#ServiziList tr td
{
	background:#fcfcfc url("../img_sax/table-dettaglio-ist.gif") 0px 0px repeat-x;
	color:#555;
}
#RegistrazioneSAX table tr.DetailsRow:hover td,
#RegistrazioneSAX table#ServiziList tr:hover td
{
	color:#000;
}
#RegistrazioneSAX table td,
#RegistrazioneSAX table#ServiziList td
{	
	padding:4px;
	border:1px solid #e5e5e5;
	font-style:normal;	
	text-align:left;
}