#ColDX {
	height:220px !important;
	overflow:hidden;
}
#ColDX .modulo {
	display:none !important; 	
}
#ColCX {
	min-height:500px;
	height:auto !important;
	height:500px;
	padding:0px 20px 80px 0px !important;
}
#ColCX_Content_IS {
	padding-left:240px;	
}
.ColCX_Gfx2 {
	background-image:none !important;	
	padding-top:10px;
}
#VApp {
	position:relative;	
}
#VApp .SearchControl {
	
}
#VApp h1 {
	background:url("../img/sf-h1-pagine-l.gif") no-repeat 0px 0px;	
}
#VApp h1:hover {
	background:url("../img/sf-h1-pagine-h-l.gif") no-repeat 0px 0px;	
}
#VApp #SearchControl {
	display:block;	
}
#VApp #ColCX_Content_Inner
{
	display:block;	
	border:1px solid #135381;	
	margin:0px 10px 10px 0px;
	background:url("../img_sax/sf-SearchControl.gif") left bottom repeat-x;
	padding:10px 0px 10px 0px;
}


/* barra tab */ 
#VApp #ColTop_IS {
	position:absolute;
	left:-4px;
	top:-78px;
	width:960px;
	background:url("../img/sf-tab.gif") 0px 0px repeat-x;
	height:36px;
}
#VApp #ColTop_IS #menu_Top ol {
	list-style:none;
	margin:0px;
	padding:0px;
}
#VApp #ColTop_IS #menu_Top li{
	float:left;
	margin:0px 0px 0px 0px;
	padding:0px 20px 0px 20px;
	list-style:none;
	background:url("../img/tab-sep.gif") 100% 14px no-repeat;
}
#VApp #ColTop_IS #menu_Top li a{
	line-height:42px;
	color:#fff;
	background:url("../img/ico-corner.gif") 0px 2px no-repeat;
	padding-left:20px;
}
#VApp #ColTop_IS #menu_Top li.selected a{
	color:#000;
	display:block;
	background:url("../img/tab-corner-cx.gif") 0px 0px repeat-x;
	height:36px;
	font-weight:bold;
	padding-left:0px;
}
#VApp #ColTop_IS #menu_Top li.selected a span { 
	display:block;
	background:url("../img/tab-corner-dx.gif") 100% 0px no-repeat;
	height:36px;
}
#VApp #ColTop_IS #menu_Top li.selected a span span{ 
	display:block;
	background:url("../img/tab-corner-sx.gif") 0px 0px no-repeat;
	height:36px;
	padding:0px 20px 0px 20px;	
}
/* barra menù livello 1 */
#VApp #ColSX_IS {
	z-index: 22;	
	position:absolute;
	left:0px;
	top:0px;
	width:205px;


}
							#VApp #ColSX_IS,							
							#VApp #ColSX_IS ol,
							#VApp #ColSX_IS ol li, 
							#VApp #ColSX_IS li.depth-0 a
							{	
								margin:0px;
								padding:0px;
								list-style:none;
								text-align:left;
								text-decoration:none;											
							}
#VApp #ColSX_IS ol{
	padding-left:6px;
	
	}
#VApp #ColSX_IS ol ol{
	background:url("../img/sf-level-1-bottom.gif") 0px 0px no-repeat;
	}
#VApp #ColSX_IS ol ol ol{

	}
#VApp #ColSX_IS li {
	background:#fff url("../img/sf-level-1.gif") left top no-repeat;	
	display:block;
	font-size:small;
}

#VApp #ColSX_IS li:hover, #VApp #ColSX_IS li.selected {
	background:#fff url("../img/sf-level-1-h.gif") left top no-repeat !important;	
	display:block;
}
#VApp #ColSX_IS li li, #VApp #ColSX_IS li li.selected{	
	background:transparent url("../img/linea2.gif") left bottom no-repeat !important; 
	display:block;
}
#VApp #ColSX_IS li li.selected a {
	font-weight:bold !important;	
}
#VApp #ColSX_IS li li li {	
	display:block;
}
#VApp #ColSX_IS li li li li {
}
#VApp #ColSX_IS li a {	
	display:block;
	padding:4px 0px 3px 20px !important;	
	color:#09213c;
	font-weight:bold;
	text-decoration:none;
	}
#VApp #ColSX_IS li li a:hover {
	text-decoration:none;
}

#VApp #ColSX_IS li li a {	
	display:block;
	padding-left:20px !important;	
	color:#163250;
	font-weight:normal !important;
	background:url("../img/arrow-level-2.gif") 10px 10px no-repeat;
	}
#VApp #ColSX_IS li li a:hover { 
	background:#163250 !important;
	color:#fff !important;
}
#VApp #ColSX_IS li li li a {		
	padding-left:40px !important;	
	color:#10545D;	
	display:block;
	}
#VApp #ColSX_IS li li li li a {		
	padding-left:50px !important;
	background:none;
	color:#10545D;	
	}	


/* centro */
#ColCX_Content_IS fieldset
{	
	border-top:20px solid #fff !important;
	border-left:none !important;
	border-right:none !important;	
	background:#f3f7fa url("../img_sax/sf-fieldset.gif") left bottom repeat-x;
	font-size:small;
	margin:10px 10px 10px 10px !important;
	width:auto !important;
}
#ColCX_Content_IS label
{
	cursor:pointer;	
}
#ColCX_Content_IS fieldset legend {	
	padding:0px 10px 0px 10px;
	font-weight:bold;	
}
#ColCX_Content_IS #codiceFiscale 
{
	width:40%;	
}
#ColCX_Content_IS span.Axf_FieldBox
{
	display:block;
	padding:6px 0px 6px 0px;
	text-align:left;	
}
#ColCX_Content_IS .Axf_FieldBox 
{
	padding:4px 0px 4px 0px;	
	text-align:left;
}
#ColCX_Content_IS .Axf_FieldBox textarea{
	width:48%;
}
#ColCX_Content_IS span.Axf_FieldBox label,
.Axf_FieldBox label 
{
	display:block;	
	float:left;
	text-align:right;
	padding-right:4px;
	color:#454545;
}
#ColCX_Content_IS span.Axf_FieldBox label,
.Axf_FieldBox label
{
	width:17.5em;
	line-height:14px;
}
#ColCX_Content_IS .Axf_FieldBox span#privacy  
{
	clear:left;	
}
#ColCX_Content_IS .Axf_FieldBox span#privacy label 
{
	width:auto !important;	
}

#ColCX_Content_IS .Axf_FieldBox span#privacy #privacy_0,
#ColCX_Content_IS .Axf_FieldBox span#privacy #privacy_1  
{
	float:left;		
}
#ColCX_Content_IS .Axf_SubmitButtons 
{
	margin:20px 0px 20px 0px;
	text-align:center;	
}


/* stringa controllo errori di compilazione */

.Axf_Control_Required label
{
	font-weight:bold;	
}
.Axf_ValidationError 
{	
	margin-bottom:30px;	
	position:relative;
	padding-bottom:0px;
}
.Axf_ValidationError input,
.Axf_ValidationError select 
{
	background:#FFF4F2;
	border:1px solid #FF0000;	
}

.Axf_ValidationError ul
{
	list-style:none;	
	padding:0px !important;
	margin:0px !important;
}
.Axf_ValidationError ul li 
{
	padding:12px 2px 4px 20px;	
	background:url("../img_sax/er2.gif") 0px 0px no-repeat;	
	color:#5F5556;
	font-size:0.89em;	
	list-style:none;
}
.Axt_ErrorList 
{	
	position: absolute;
	top: 30px;
	left: 16em;
}
.Axt_ErrorList li strong
{
	color:#A20000;
}
/* tabella */
table.AxtTable,
table.tab,
table#assenzeTable,
#ColCX_Content_Inner #advanced table,
#ColCX_Content_Inner #analisi table,
#ColCX_Content_Inner .Details table,
#ColCX_Content_Inner table.classegrid,
#ColCX_Content_Inner table.OrarioTable
{
	color:#444;
	font-size:0.9em !important;
	margin:0px 10px 0px 10px !important;
	text-align:center;
	width:97% !important;
	border-spacing:0px !important;
	border-collapse:collapse !important;
}
#ColCX_Content_Inner .RegistroPanel label.formlabel{
	font-size:small !important;
	margin-top:5px;
}

#ColCX_Content_Inner {
/*	overflow:auto;*/
}
#VApp .AxtTableDivClass select {
	font-size:10px;	
}
#VApp .AxtTableDivClass
{
	
}
#VApp .AxtTableDivClass table.OrarioTable {
	width:95% !important;
} 
#VApp .AxtTableDivClass td {
	padding:2px !important;	
}
#VApp .AxtTableDivClass .Header td {
	font-size:x-small !important;	
}
table.AxtTable a,
#ColCX_Content_Inner #advanced table a,
#ColCX_Content_Inner #analisi table a
{
	color:#0000B2;
	text-decoration:none;
	display:block;
}
table.AxtTable a:hover,
#ColCX_Content_Inner #advanced table a:hover,
#ColCX_Content_Inner #analisi table a:hover
{
	color:#E39240;
	text-decoration:underline;
}

table.AxtTable th,
table.tab th,
table#assenzeTable th,
#ColCX_Content_Inner #advanced table th,
#ColCX_Content_Inner #analisi table th,
#ColCX_Content_Inner table.classegrid th,
#ColCX_Content_Inner table.OrarioTable tr.Header td
{
	background:#f2f4e0 url("../img_sax/th_AxtTable.gif") left bottom repeat-x !important;
	padding:10px 6px 10px 6px !important; 	
}
table.AxtTable th:hover,
table#assenzeTable th:hover,
#ColCX_Content_Inner #advanced table th:hover,
#ColCX_Content_Inner #analisi table th:hover,
#ColCX_Content_Inner table.classegrid th:hover,
#ColCX_Content_Inner table.OrarioTable tr.Header td:hover
{
	background:#f7f7f7 url("../img_sax/th_AxtTable_hover.gif") left bottom repeat-x !important;	
}
#ColCX_Content_Inner .Details table td:hover{
	background:#fff url("../img_sax/table-dettaglio-ist.gif") left top repeat-x;
	color:#000;
}
#ColCX_Content_Inner table.OrarioTable td.Header  {
	background:#f0fafa;
}
#ColCX_Content_Inner table.OrarioTable tr.Header td:hover {
	color:#000;	
}
#ColCX_Content_Inner table.OrarioTable td.Header:hover  {
	background:#fff;
	color:#000;
}
table.AxtTable th a
{
	background:url("../img_sax/table_sort.gif") 0px 0px no-repeat !important;
	padding-left:16px !important;		
}
table.AxtTable tr.alternate td,
table.tab tr.alternate td,
table#assenzeTable tr.alternate td,
#ColCX_Content_Inner #advanced table tr.alternate td,
#ColCX_Content_Inner #analisi table tr.alternate td
{
	background:#ffefc2 !important;
}
table.AxtTable td,
table.tab td,
table#assenzeTable td,
#ColCX_Content_Inner #analisi table td,
#ColCX_Content_Inner table.classegrid td
{	
	padding:10px 4px 10px 4px !important;
}
#ColCX_Content_Inner p.title
{
	font-weight:bold;
	text-align:center !important;
	padding-bottom:10px;
}
#ColCX_Content_Inner p.smallDescription
{
	padding-top:10px;	
	text-align:center !important;
}
#ColCX_Content_Inner table.OrarioTable tr.Header td,
#ColCX_Content_Inner table.OrarioTable td.Header {
	font-weight:bold;	
}
#ColCX_Content_Inner table.OrarioTable span.small {
	display:block;
	font-size:x-small;
	font-weight:normal;
}

#ColCX_Content_Inner #advanced table td
{	
	padding:10px 0px 10px 0px !important;
}
#ColCX_Content_Inner span.smallDescription {
	font-size:small;
	display:block;
	width:100%;
	text-align:center;
	margin:10px 0px 10px 0px;
}
table.AxtTable td:hover,
table.tab td:hover,
table#assenzeTable td:hover,
#ColCX_Content_Inner #advanced table td:hover,
#ColCX_Content_Inner #analisi table td:hover
{
	background:#f0f0f0 !important;	
	color:#000 !important;
}
table.AxtTable td.details:hover 
{
	background:#C8FF81 !important;	
}
table.AxtTable td.details {
	background:#fff !important;	
}
table.AxtTable td.details:hover 
{
	background:#D6FFA1 !important;	
}
table.AxtTable td.delete:hover 
{
	background:#F8E0E0 !important;	
}
table.AxtTable td.details a 
{
	background:#fff url("../img_sax/action_check.gif") 4px 2px no-repeat !important;
	padding-left:16px;
	display:block;	
}
table.tab td.add a 
{
	background:#fff url("../img_sax/importa.png") 4px 2px no-repeat !important;
	padding-left:16px;
	display:block;	
}
table.AxtTable td.delete a,
table.tab td.delete a
{
	background:#fff url("../img_sax/delete.gif") 1px 2px no-repeat !important;
	padding-left:10px;
	display:block;
}
table.AxtTable td.modify a,
table.tab td.modify a
{
	background:#fff url("../img_sax/viewedit_span.png") 1px 2px no-repeat !important;
	padding-left:10px;
	display:block;
}
table.AxtTable tr td.details, 
table.AxtTable tr td.delete,
table.AxtTable tr.alternate td.details, 
table.AxtTable tr.alternate td.delete.
table.tab td.delete a
{
	background:#fff !important;
}


#ColCX_Content_Inner fieldset.Details {
	background:none;
	border:none;	
	position:relative;
}
#ColCX_Content_Inner fieldset.Details legend {
	background:url("../img/profilo.png") 0px 5px no-repeat;
}
#ColCX_Content_Inner fieldset.Details table,
#ColCX_Content_Inner table#ServiziList
{
	width:100%;
	border:1px solid #e5e5e5;
	border-spacing:0px;
	border-collapse:collapse;
}
#ColCX_Content_Inner fieldset.Details table tr.DetailsRow td,
#ColCX_Content_Inner table#ServiziList tr td
{
	background:#fcfcfc url("../img_sax/table-dettaglio-ist.gif") 0px 0px repeat-x;
	color:#555;
}
#ColCX_Content_Inner fieldset.Details table tr.DetailsRow:hover td,
#ColCX_Content_Inner table#ServiziList tr:hover td
{
	color:#000;
}
#ColCX_Content_Inner fieldset.Details table td,
#ColCX_Content_Inner table#ServiziList td
{	
	padding:4px;
	border:1px solid #e5e5e5;
	font-style:normal;	
	text-align:left;
	font-size:small !important;
}
#ColCX_Content_Inner fieldset.Details table td.DetailsLabel {
	width:30%;
}
.btreset {
	visibility:hidden;	
}
#StepContainer {
	font-size:small;	
}
.steptitle {
	margin:10px auto 10px auto;
	background:url("../img_sax/sf-step.gif") 0px 8px no-repeat;
	display:block;
	width:25em;
	height:47px;
	text-align:center;
	color:#666;
	clear:left;
}
.steptitle-inner {
	height:47px;
	background:url("../img_sax/sf-step-dx.gif") 100% 8px no-repeat;
	display:block;
	width:100%;
	padding-right:28px;
	text-align:left;
	line-height:46px;
}
.steptitle .description-a,
.steptitle .description-b,
.steptitle .description-c,
.steptitle .current,
.steptitle .ntotal
{
	float:left;
	display:block;
	font-size:0.8em;
}
.steptitle .description-a {
	margin-left:6px;	
	font-weight:bold;
}

.steptitle .current {
	width:43px;
	height:47px;
	background:url("../img_sax/sf-step-detail.png") 0px 0px no-repeat;
	text-align:center;
	color:#fff;
	font-size:30px;
	margin:0px 4px 0px 14px;
}

.steptitle .ntotal { 
	font-size:18px;
	margin:0px 5px 0px 5px;
	color:#84B346;
}
#ColCX_Content_Inner #searchcontrolLink {
	font-size:0.8em;
	padding-left:20px;
	background:url("../img_sax/link.gif") 0px 0px no-repeat;
}
#ColCX_Content_Inner #searchcontrolLink:hover {
	background:url("../img_sax/link-h.gif") 0px 0px no-repeat;
}
input#ore_sett {
	width:14%;
}
#staffDiv,
#collaboratoreDirScolasticoDiv,
#sede_titolarita_altraDiv,
#sede_servizio_altraDiv,
#parttimeDiv,
#intero_corsoDiv,
#portatoreHandicapDiv,
#InsegnamentoReligioneDiv,
#PendolareDiv,
#privacyDiv,
#recapitoDiv,
#patria_potestaDiv,
#invio_comunicazioneDiv,
#invio_smsDiv
{
	width:100%;
	display:block;
	clear:left;
	margin-bottom:20px;
}
#staffDiv span#staff label,
#collaboratoreDirScolasticoDiv span#collaboratoreDirScolastico label,
#sede_titolarita_altraDiv span#sede_titolarita_altra label,
#sede_servizio_altraDiv span#sede_servizio_altra label,
#parttimeDiv span#parttime label,
#intero_corsoDiv span#intero_corso label,
#portatoreHandicapDiv span#portatoreHandicap label,
#InsegnamentoReligioneDiv span#InsegnamentoReligione label,
#PendolareDiv span#Pendolare label,
#privacyDiv label.formlabel,
#recapitoDiv span#recapito label,
#patria_potestaDiv span#patria_potesta label,
#invio_comunicazioneDiv span#invio_comunicazione label,
#invio_smsDiv span#invio_sms label
{
	width:auto !important;
}
#staffDiv span#staff #staff_0,
#staffDiv span#staff #staff_1,
#collaboratoreDirScolasticoDiv span#collaboratoreDirScolastico #collaboratoreDirScolastico_0,
#collaboratoreDirScolasticoDiv span#collaboratoreDirScolastico #collaboratoreDirScolastico_1,
#sede_titolarita_altraDiv span#sede_titolarita_altra #sede_titolarita_altra_0,
#sede_titolarita_altraDiv span#sede_titolarita_altra #sede_titolarita_altra_1,
#sede_servizio_altraDiv span#sede_servizio_altra #sede_servizio_altra_0,
#sede_servizio_altraDiv span#sede_servizio_altra #sede_servizio_altra_1,
#parttimeDiv span#parttime #parttime_0,
#parttimeDiv span#parttime #parttime_1,
#intero_corsoDiv span#intero_corso #intero_corso_0,
#intero_corsoDiv span#intero_corso #intero_corso_1,
#portatoreHandicapDiv span#portatoreHandicap #portatoreHandicap_0,
#portatoreHandicapDiv span#portatoreHandicap #portatoreHandicap_1,
#InsegnamentoReligioneDiv span#InsegnamentoReligione #InsegnamentoReligione_0,
#InsegnamentoReligioneDiv span#InsegnamentoReligione #InsegnamentoReligione_1,
#PendolareDiv span#Pendolare #Pendolare_0,
#PendolareDiv span#Pendolare #Pendolare_1,
#privacyDiv span#privacy #privacy_0,
#privacyDiv span#privacy #privacy_1,
#recapitoDiv span#recapito #recapito_0,
#recapitoDiv span#recapito #recapito_1,
#patria_potestaDiv span#patria_potesta #patria_potesta_0,
#patria_potestaDiv span#patria_potesta #patria_potesta_1,
#invio_comunicazioneDiv span#invio_comunicazione #invio_comunicazione_0,
#invio_comunicazioneDiv span#invio_comunicazione #invio_comunicazione_1,
#invio_smsDiv span#invio_sms #invio_sms_0,
#invio_smsDiv span#invio_sms #invio_sms_1
{
	float:left;
}
#privacyDiv {	
	width:100%;
	background:#fff;
	height:40px;
}
#privacyDiv label {
	color:#060;	
}
.CtxBanner {
	padding-left:10px;	
}
.CtxBanner span.alunno,
.CtxBanner span.personale,
.CtxBanner span.genitore,
.CtxBanner span.statistica
{
	padding-left:30px;	
	font-size:small;
	display:block;
	height:23px;
	text-align:left;
}
.CtxBanner span.alunno {
	background:url("../img_sax/alunno.png") 0px 0px no-repeat;
}
.CtxBanner span.personale {
	background:url("../img_sax/personale.png") 0px 0px no-repeat;
}
.CtxBanner span.genitore {
	background:url("../img_sax/genitori.png") 0px 0px no-repeat;
}
.CtxBanner span.statistica {
	background:url("../img_sax/statistica.png") 5px 0px no-repeat !important;
}

#VApp #menu_livello3 {	
	display:block;
	clear:left;
	height:28px;	
	margin:10px 10px 0px 2px;
}
#VApp #menu_livello3 ol,
#VApp #menu_livello3 ol li {
	padding:0px;
	margin:0px;
	list-style:none;
}
#VApp #menu_livello3 ol li {
	float:left;
	margin:0px 2px 0px 2px;
	
}
#VApp #menu_livello3 ol li a {
	background:url("../img_sax/tab-cx.gif") 0px -29px repeat-x;	
	line-height:29px;
	display:block;
	color:#fff;
	text-decoration:none;
}
#VApp #menu_livello3 ol li a span{
	background:url("../img_sax/tab-dx.gif") 100% -29px no-repeat;
	display:block;
}
#VApp #menu_livello3 ol li a span span{
	background:url("../img_sax/tab-sx.gif") 0px -29px no-repeat;
	display:block;
	padding:0px 12px 0px 10px; 
}
#VApp #menu_livello3 ol li a:hover {
	background:url("../img_sax/tab-cx.gif") 0px 0px repeat-x;		
	text-decoration:none;
	color:#0000B2;
}
#VApp #menu_livello3 ol li a:hover span{
	background:url("../img_sax/tab-dx.gif") 100% 0px no-repeat;	
}
#VApp #menu_livello3 ol li a:hover span span{
	background:url("../img_sax/tab-sx.gif") 0px 0px no-repeat;	 
}

#VApp #menu_livello3 ol li.selected a {
	background:url("../img_sax/tab-cx.gif") 0px 0px repeat-x;		
	text-decoration:none;
	color:#000;
	font-weight:bold;
}
#VApp #menu_livello3 ol li.selected a span{
	background:url("../img_sax/tab-dx.gif") 100% 0px no-repeat;	
}
#VApp #menu_livello3 ol li.selected a span span{
	background:url("../img_sax/tab-sx.gif") 0px 0px no-repeat;	 
}

#VApp #menu_livello4 {
	position:absolute;
	top:94px;
	right:20px;
}

#VApp #menu_livello4,
#VApp #menu_livello4 ol,
#VApp #menu_livello4 ol li
{
	margin:0px;
	padding:0px;
	list-style:none;
}
#VApp #menu_livello4 ol li {
	display:block;
	float:left;	
	padding-left:16px;
}
#VApp #menu_livello4 ol li a {
	padding-left:16px;
	background:url("../img_sax/link.gif") 0px 0px no-repeat;
}
#VApp #menu_livello4 ol li a:hover {
	background:url("../img_sax/link-h.gif") 0px 0px no-repeat;
}
#VApp .p_anni {
	margin:0px auto;
	text-align:center;
	padding:20px;
}
.errormessage{
	border:1px solid #F00;	
	background:#FFECEC;
	padding:5px;
	display:block;
	margin:0px 10px 0px 10px;
	font-size:small;
}

/* calendario su:/applicazioni/registro/assenze/RegistraAssenze.aspx */
.ui-datepicker table {font-size: x-small !important; }
.ui-datepicker .ui-datepicker-title select { font-size:x-small !important; }
.ui-widget { font-size:x-small !important; }
.ui-datepicker .ui-datepicker-next { right:10px !important; }

#ColCX_Content_IS p.inputbox {
	margin:0px 0px 0px 20px;
	padding:0px;
}
#ColCX_Content_IS span.Messaggio {
	font-size:small;
	padding:4px;
	color:#555;
}

#ColCX_Content_Inner p.currentAS {
	text-align:center;
	font-weight:bold;
	margin-bottom:10px;
}
#ColCX_Content_Inner .DescriptionClass {
	font-size:x-small;
	padding-left:20px;
	background:url("../img/aiuto.png") 0px 0px no-repeat;
	text-align:left;
	margin-left:10px;
	color:#444;
}
#ColCX_Content_Inner .DescriptionClass:hover { 
color:#000;
}
select#IDMateria {
	width:100%;
}
/* test successo scolastico */
#ColCX_Content_Inner #test table {	
	font-size:0.9em !important;
	margin:0px 10px 0px 10px !important;
	text-align:center;
	width:97% !important;
	border-spacing:0px !important;
	border-collapse:collapse !important;
}
#ColCX_Content_Inner #test table tr.nome td {
	font-size:1.2em;
	border:none !important;
	background:#E7E7CF;
	color:#000 !important;
}
#ColCX_Content_Inner #test table td.domanda {	
	background:#fafafa;
	color:#444 !important;
	width:40%;
}

#ColCX_Content_Inner #test table td.extra div.cont_opt
{		
	font-size:smaller;
	float:left;
	margin:0px 10px 0px 10px;
	width:50px;
}
#ColCX_Content_Inner #test table td.extra div.extradiv {	
	margin:0px 0px 14px 0px;
	
}
#ColCX_Content_Inner #test table td.extra div.extradiv p.options {	
	text-align:left;
	color:#000 !important;
}
#ColCX_Content_Inner #test table td.extra div.extradiv p.options input{
	width:16px;
}

#ColCX_Content_Inner #test table td.risposta div.risposta1div,
#ColCX_Content_Inner #test table td.risposta div.risposta2div {	
	text-align:left;
}
#ColCX_Content_Inner #test table td.risposta div.risposta1div label,
#ColCX_Content_Inner #test table td.risposta div.risposta2div label{	
	
}
#ColCX_Content_Inner #test table td.risposta div.risposta1div {
	clear:left;
}
#ColCX_Content_Inner .p_festivo {
	font-size:small !important;
	text-align:center;
}
#ColCX_Content_Inner .nuova_cattedra {
	margin:0px auto;
	font-size:small;
}
#ColCX_Content_Inner .nuova_cattedra label{
	width:auto !important;		
	margin-left:20px;
}
#ColCX_Content_Inner .nuova_cattedra select#elenco_materie
{
	margin:20px 0px 0px 0px;	
}
#ColCX_Content_Inner .nuova_cattedra input#seleziona {
	margin:0px 30px 0px 5px;	
}
#ColCX_Content_Inner .nuova_cattedra input#deleziona {
	margin:0px 5px 0px 30px;	
}
#ColCX_Content_Inner .nuova_cattedra input#send {
	display:block;	
	margin:14px auto 0px auto;
	text-align:center;
}
#ColCX_Content_Inner .nuova_cattedra p {
	text-align:center;
}

.btn_edit, .btn_delete, .btn_update, .btn_cancel 
{
    
    cursor:pointer;
    width:20px;
    height:20px;
    border: none;
	margin-left:4px;
	background-color: #ffffff;  /* the background          */
 filter:alpha(opacity=70);   /* Internet Explorer       */
 -moz-opacity:0.7;           /* Mozilla 1.6 and below   */
 opacity: 0.7;               /* newer Mozilla and CSS-3 */
}
.btn_edit {
	background:transparent url("../img_sax/icon-modifica.gif") no-repeat;
}
.btn_delete 
{
    background:transparent url("../img_sax/icon-cancel.gif") no-repeat;
}
.btn_update {
	background:transparent url("../img_sax/icon-aggiorna.gif") no-repeat;
}
.btn_cancel {
	background:transparent url("../img_sax/icon-annulla.gif") no-repeat;
}
.btn_edit:hover, .btn_delete:hover, .btn_update:hover, .btn_cancel:hover 
{
 background-color: #ffffff;  /* the background          */
 filter:alpha(opacity=100);   /* Internet Explorer       */
 -moz-opacity:1;           /* Mozilla 1.6 and below   */
 opacity: 1;               /* newer Mozilla and CSS-3 */
}
#VApp .nuova_cattedra {
	clear:both;
	
}
#VApp .nuova_cattedra .materie_disponibili,
#VApp .nuova_cattedra .materie_selezionate {
	display:inline;	
}
#VApp .nuova_cattedra .materie_disponibili span,
#VApp .nuova_cattedra .materie_selezionate span{
	
}
.RegistroPanel span.orarioItemClass {
	display:block;	
}


#divEmptyCol {
	height:100px;
	width:205px;
	text-align:left;
	margin-left:-230px;
	margin-top: -60px;
	margin-right: 700px !important;
}

.RB {
	width:480px; 
	margin:0px 200px 0px 0px;
}

#CollettivaDiv span {
	
	width:auto;
/*	width:270px;
	height:40px;
	padding:5px 0px;
	margin:0px -240px;*/
	
}

#Collettiva label{
	float:left;
	padding-top:0px;
	margin:auto;

    margin-bottom:-15px !important;
	margin-top:-20px; 
}

#Collettiva input{
	clear:right;
	padding-top:0px;

	margin-left:250px;
	margin-top:0px;
}