
#servizi_famiglia_container:after
{ 
/* content: ".";  
 display: block; 
 height: 0; 
 clear: both; 
 visibility: hidden; */
}

#servizi_famiglia_container 
{display: inline-block;}

/* Hides from IE-mac */
* html #servizi_famiglia_container 
{height: 1%;}

#servizi_famiglia_container 
{display: block;}
/* End hide from IE-mac */

/* new clearfix */
#servizi_famiglia_container .clearfix:after {
    /*visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;*/
    }
#servizi_famiglia_container * html .clearfix             { zoom: 1; } /* IE6 */
#servizi_famiglia_container *:first-child+html .clearfix { zoom: 1; } /* IE7 */

#servizi_famiglia_container h5,
#container-composizione h5,
#container-sottoscrizione h5 {
	text-align:left;
	font-weight:bold;
	border-bottom:1px solid #ccc;	
	padding:0px;
}

#servizi_famiglia_container,
#container-composizione,
#container-sottoscrizione
 {
	/*margin:20px auto;

	width:760px;
	
	overflow: hidden;
	*/
	padding:6px;
	border:1px solid #ccc;	
	margin:20px auto;	
}
#servizi_famiglia_container input[type="text"],
#servizi_famiglia_container select,
#container-composizione input[type="text"],
#container-composizione select,
#container-sottoscrizione input[type="text"],
#container-sottoscrizione select
 {
	padding:4px;
	margin:0px 10px 10px 0px;	
}
#servizi_famiglia_container label,
#container-composizione label,
#container-sottoscrizione label,
#servizi_famiglia_container input[type="radio"],
#container-sottoscrizione input[type="radio"],
#container-composizione input[type="radio"]

 {
	margin-right:2px;	
}
.validation-results {
	margin-bottom:10px;	
}
.validation-results ul {
	margin:20px 0px 16px 0px !important;	
	background-color: #FFD4D4;
    border:1px solid #D97676 !important;
    color: #CD0A0A;
	padding:4px;
}
.validation-results ul li {
	margin-bottom:4px;	
}



#servizi_famiglia_container .lefttxt {
	text-align:left;	
}
#servizi_famiglia_container .righttxt {
	text-align:right;	
}
#servizi_famiglia_container .centertxt {
	text-align:center;	
}

#servizi_famiglia_container img.left, .left img{
	float: left;
	clear:left;
}
#servizi_famiglia_container img.right, .right img {
	float: right;
	clear:right;
}
#servizi_famiglia_container img.center, .center img {
	margin:0px auto;
	text-align:center;
}

#servizi_famiglia_container .intestato {
	font-weight:bold;
	text-transform:uppercase;
	font-style:italic;
}
#servizi_famiglia_container .intestato-1 {
	font-size:22px;
	text-decoration:underline;
	margin:30px 0px 20px 0px;	
}
#servizi_famiglia_container .intestato-2 {
	font-size:18px;	
	margin:30px 0px 20px 0px;	
	font-style:italic;
}
#servizi_famiglia_container .chiede strong,
.dichiara strong {
	font-size:18px;	
	margin:10px 0px 10px 0px;
	display:block;
	text-align:center;
}

#servizi_famiglia_container .testo {
	margin:20px 0px 20px 0px;	
}
#servizi_famiglia_container .testo span {
	margin-left:60px;	
}
#servizi_famiglia_container .testo ul {
	margin-left:16px;
}
#servizi_famiglia_container .testo ul li{
	list-style:disc;
	padding-left:20px;
	}





#container-composizione:after,
#container-sottoscrizione:after
{ 
/*
 content: ".";  
 display: block; 
 height: 0; 
 clear: both; 
 visibility: hidden; */
}


#container-composizione,
#container-sottoscrizione
{display: inline-block;}

/* Hides from IE-mac */
* html #container-composizione,
* html #container-sottoscrizione 
{height: 1%;}

#container-composizione,
#container-sottoscrizione 
{display: block;}
/* End hide from IE-mac */


#container-composizione,
#container-sottoscrizione
 {
	 /*
	margin:20px auto;
	text-align:left;
	width:760px;
	padding:10px;
	overflow: hidden;	
	border:1px solid #ccc;		
	*/
}


#container-composizione .righttxt
 {
	text-align:right;	
}


#container-composizione table
 {
	width:100%;
	border:1px solid #000;	
	border-collapse: collapse;
	border-spacing: 0;
}
#container-composizione table th
 {
	font-weight:bold;	
}
#container-composizione table td, #container-composizione table, .riquadro
{	
	border:1px solid #000;	
}
#container-composizione table .col-1 {
	width:20px;		
}
#container-composizione table .col-2,
#container-composizione table .col-3 
 {
	width:200px;		
}
#container-composizione table .col-4 {
	width:100px;	
} 
#container-composizione .riquadro {
	padding:10px;	
	margin-bottom:10px;
}







