﻿
input[value='Elimina'] ,input[value='Dissocia Utenza'],input[value='Disattiva'] , .open-modal, .btn-link  {
line-height: 1em;
display: inline-block;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
white-space: nowrap;
padding: 2px 4px 4px 4px !important;
margin: 0px 10px 0px 0px;
position: relative;
outline: none;
overflow: visible;
cursor: pointer;
border: 0px solid #adadad;
border: rgba(0, 1, 1, .1) 1px solid;
border-bottom: rgba(0, 1, 1, .2) 1px solid;

box-shadow: 0 1px 2px rgba(51, 51, 51, 0.1);
color: #fff;
text-decoration: none;
text-align: center;
white-space: nowrap;
min-width: 0;
height: 28px;
background-position: top;
background-repeat: repeat-x;

background-color: #8b0000;
}

input[value='Elimina'] ,input[value='Dissocia Utenza'],input[value='Disattiva']:hover
{
	border-color: #8b0000;
	

}
input[type='submit'].disable
{
	line-height: 1em;
display: inline-block;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
white-space: nowrap;
padding: 2px 4px 4px 4px !important;
margin: 0px 10px 0px 0px;
position: relative;
outline: none;
overflow: visible;
cursor: pointer;
border: 0px solid #adadad;
border: rgba(0, 1, 1, .1) 1px solid;
border-bottom: rgba(0, 1, 1, .2) 1px solid;

box-shadow: 0 1px 2px rgba(51, 51, 51, 0.1);
color: #fff;
text-decoration: none;
text-align: center;
white-space: nowrap;
min-width: 0;
height: 28px;
background-position: top;
background-repeat: repeat-x;

background-color: #8b0000;

}

input[type='submit'].importButton 
{
	background-color : #4169E1;


}
input[type='submit'].disable:hover
{
	background-color : #555555;
	border-color: #8b0000;


}

input[type='submit'].importButton:hover
{
	background-color : #555555;
	border-color: #4169E1;


}