﻿body{
    font-size:13px !important;
}

#condivisionedocumenti{
    text-align:left;
    background-color:#ffffff;    
}

/*
#condivisionedocumenti #message-area{    
}*/

#condivisionedocumenti .items-share th{
    line-height:1.2em;
    height:30px;
    color:#1f1c56;
}
#condivisionedocumenti .items-share td, #condivisionedocumenti #shareModal td{ 
    vertical-align:middle;
}

#condivisionedocumenti .arrow-top{
    background: url("icons/arrowup.png") no-repeat 0px 0px;
}
#condivisionedocumenti .arrow-down{
    background: url("icons/arrowdown.png") no-repeat 0px 0px;
}

#condivisionedocumenti .sel-item
{
    width:30px;
}

#condivisionedocumenti .items-share,  #condivisionedocumenti .items-share td {
    border-left:none;
    border-right:none;
    border-top:none;
}
#condivisionedocumenti .items-share tr{
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
}

/*#condivisionedocumenti tr:hover{
    background-color:#b2b1b1;
}*/

#condivisionedocumenti table tr a {
    padding-left:16px;
}
#condivisionedocumenti table tr .folder{
   background: url("icons/folder.png") no-repeat 4px 8px;
}
#condivisionedocumenti table tr .doc-unk{
   background: url("icons/file_unk.png") no-repeat 4px 8px;
}
#condivisionedocumenti table tr .folder a, 
#condivisionedocumenti table tr .doc a, 
#condivisionedocumenti table tr .viewdoc{
    padding-left:32px;
}

#condivisionedocumenti table tr .jpg{
   background: url("icons/file_jpg.png") no-repeat 4px 8px !important;
}
#condivisionedocumenti table tr .gif{
   background: url("icons/file_gif.png") no-repeat 4px 8px;
}
#condivisionedocumenti table tr .png{
   background: url("icons/file_png.png") no-repeat 4px 8px;
}
#condivisionedocumenti table tr .doc, #condivisionedocumenti table tr .docx{
   background: url("icons/file_doc.png") no-repeat 4px 8px;
}
#condivisionedocumenti table tr .xls,#condivisionedocumenti table tr .xlsx{
   background: url("icons/file_xls.png") no-repeat 4px 8px;
}
#condivisionedocumenti table tr .pdf{
   background: url("icons/file_pdf.png") no-repeat 4px 8px;
}
#condivisionedocumenti table tr .pub{
   background: url("icons/file_pub.png") no-repeat 4px 8px;
}
#condivisionedocumenti table tr .rtf{
   background: url("icons/file_rtf.png") no-repeat 4px 8px;
}
#condivisionedocumenti table tr .txt{
   background: url("icons/file_txt.png") no-repeat 4px 8px;
}
#condivisionedocumenti table tr .rar{
   background: url("icons/file_rar.png") no-repeat 4px 8px;
}
#condivisionedocumenti table tr .zip{
   background: url("icons/file_zip.png") no-repeat 4px 8px;
}



#condivisionedocumenti .breadcrumb{
    margin-top:20px;
    margin-bottom:0px;
    border-width:1px 1px 0px 1px;
    border-style:solid;
    border-color:#c8d2dc;
    border-radius:0px;
}

#condivisionedocumenti .modal-content{
    padding:10px;
}

#folderModal .modal-dialog, 
#shareModal .modal-dialog,  
#confirmDelFolder .modal-dialog{ 
  top:20%  
}


#condivisionedocumenti #viewDoc .modal-body{
    padding:0px !important;
}


#condivisionedocumenti #shareModal .alert-warning{
    margin-top:10px;
}

#condivisionedocumenti #shareModal #sharesTable th{
    background-color:#f5f5f5;
}


#condivisionedocumenti #shareModal .no-share-found{
    font-size:1.1em;
    font-weight:bold;
    margin:0px auto;
}

#condivisionedocumenti .msg_question{
    background: url("icons/help.png") no-repeat 0px 0px;
}
#condivisionedocumenti .msg_question span{
    padding-left:56px;
    display:block;
}

#page-wrapper{
    padding:0px 30px;
    min-height:600px;
}

.vf{
    float:none !important;
}


/*Show VfTags in Modal*/
ul.ui-autocomplete {
    z-index: 1100;
}

.showBlock{
    display:block;
}

.hide{
    display:none;
}
