﻿/********************************************************/
/*					Upload								*/
/********************************************************/
.div_allegati
{	
	border:1px solid #eee;
	background-color:#fff;
	margin-top:10px;	
	padding:10px;	
}
.div_allegati .title_allegati
{	
	background-color:#EEEEEE;		
	margin-top:0px !important;
}

.div_allegati ul
{
	margin-bottom:0px;	
	padding-left:0px !important;
}


#allegati ul li, .div_allegati ul li, #video ul li
{
	list-style:none;
	margin-left:0px;	
	height:36px;
}
#allegati .file, .div_allegati .file, #video .file
{
	margin:4px;	
	border-bottom:1px dashed #eee;
}

#allegati .fileinfo, .div_allegati .fileinfo, #video .fileinfo
{
	margin-left:36px;	
}
#allegati .fileinfo .name,  .div_allegati .name, #video .name
{
	display:block;
	font-weight:bold;	
}
#allegati .fileinfo .peso, #video .fileinfo .peso
{
	margin-left:10px;		
}
#allegati .fileinfo .del, .div_allegati .del, #video .del
{
	float:right;
	margin-right:10px;	
	height:20px;	
}
#filelist_allegati 
{
	margin-bottom:0px;
}

.btn_del_all
{
	width:100%;	
}
.btn_del_all a
{	
	color:#FFFFFF;
	font-weight:bold;
	line-height:30px;
	text-align:center;
	text-decoration:none;
}
.btn_del_all a
{	
	display:block;
	float:left;	
	width:138px;	
	height:30px;
	margin-right:8px;
	color:#FFFFFF !important;
	font-weight:bold;
	text-decoration:none;
	line-height:30px;
	text-align:center;
}
.btn_del_all a span
{
	color:#FFFFFF !important;
}
.clr
{
    clear:both;    
}