#VApp {min-height:300px;}
#VApp:before, #VApp:after {
	display: table;
	content: " "
}
.table-responsive {margin:10px auto 20px;}
#VApp:after {clear:both}
.row.frontend-notify {margin:auto;}
#CMSBody #Where {
    padding-top: 0px;
}
#VApp nav ul {
	padding-left: 0;
	margin-bottom: 20px;
}
#VApp nav ul ul {margin-bottom: 0px}
#VApp nav li {list-style:none;}
#VApp nav li a{
	position: relative;
	display: block;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #ddd
}
#VApp nav li a {
	display: block;
	padding: 10px 15px;
	text-decoration:none;
}

#VApp nav li a:focus, #VApp nav li a:hover {
	color: #555;
	text-decoration: none;
	background-color: #f5f5f5
}

.SQ-StartPage {
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
}
.info-vfm {
    background-color: #fcf8e3;
    color: #8a6d3b;
    border: 1px solid #faebcc;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
}
.noCompilations {
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
    color: #8a6d3b;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
	text-align:center;
	display:inline-table;
	width:100%;
}

.export-buttons a, .questionario_element_modify {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid #46b8da;
	background-color: #5bc0de;
	color: #fff;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.export-buttons a:focus, .questionario_element_modify:focus {
    background-color: #31b0d5;
    border-color: #1b6d85;
    color: #fff;
	text-decoration:none;
}
.export-buttons a:hover, .questionario_element_modify:hover {
    background-color: #31b0d5;
    border-color: #269abc;
    color: #fff;
	text-decoration:none;
}



.questionario_element_view_compiled,
.questionario_element_viewResult, .button {
 	-moz-user-select: none;
    background-image: none;
    border: 1px solid #4cae4c;
	background-color: #5cb85c;
	color: #fff;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}
.questionario_element_view_compiled:focus,
.questionario_element_viewResult:focus, .button:focus {
	background-color: #449d44;
    border-color: #255625;
    color: #fff;
}

.questionario_element_view_compiled:hover,
.questionario_element_viewResult:hover, .button:hover {
background-color: #449d44;
    border-color: #398439;
    color: #fff;
}

/* Faccine */
.Molto_Soddisfatto, .Abbastanza_Soddisfatto, .Soddisfatto, .Più_o_meno_soddisfatto, .Per_niente_soddisfatto {
	display:block;
	width:64px;
	height:64px;
	opacity:0.85;
	-webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
}
.Abbastanza_Soddisfatto{
	background: url("faccina-02.svg") no-repeat;
}
.Molto_Soddisfatto{
	background: url("faccina-01.svg") no-repeat;
}
.Soddisfatto{
	background: url("faccina-03.svg") no-repeat;
}
.Più_o_meno_soddisfatto{
	background: url("faccina-04.svg") no-repeat;
}
.Per_niente_soddisfatto{
	background: url("faccina-05.svg") no-repeat;
}
.questionario ul, .questionario ul li,
.view_questionario ul, .view_questionario ul li
{margin:0px;padding:0px;list-style:none;}


.questionario input[type="radio"], .view_questionario input[type="radio"]{float:left;margin-right:10px;}
.checkbox-vf .checkbox-inline input[type="checkbox"] {position:relative;}
.checkbox-vf .checkbox-inline {float:left;}

.questionario .testo_domanda, .view_questionario .testo_domanda {margin-bottom:20px;}
#ColCX_Content_IS .smile li {float:left;margin-right:20px;}

.smile input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
	position:absolute;
	left:-999999px;
}

.smile input:checked +.smile label{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.smile label{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:64px;height:64px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
			opacity:0.5;
		text-indent:-999999px;
}

.smile .Molto_Soddisfatto, .smile .Abbastanza_Soddisfatto, .smile .Soddisfatto, .smile .Più_o_meno_soddisfatto, .smile .Per_niente_soddisfatto {opacity:0.4;}
.smile .Molto_Soddisfatto:hover, .smile .Abbastanza_Soddisfatto:hover, .smile .Soddisfatto:hover, .smile .Più_o_meno_soddisfatto:hover, .smile .Per_niente_soddisfatto:hover {opacity:0.80;}
.smile .Molto_Soddisfatto.LabelSelected, .smile .Abbastanza_Soddisfatto.LabelSelected, .smile .Soddisfatto.LabelSelected, .smile .Più_o_meno_soddisfatto.LabelSelected, .smile .Per_niente_soddisfatto.LabelSelected {opacity:1;}

.questionario_element_view_compiled,
.questionario_element_modify,
.questionario_element_viewResult {margin-right:20px;margin-top:30px;}

.questionario_sondaggio_chart {
	margin:50px auto;
}
.questionario_sondaggio_chart h2{text-align:center;color:#1b809e;}
.questionario_sondaggio_chart .fieldset {margin:50px auto;}
.questionario_sondaggio_chart legend {color:#aa6708;text-align:center;}
.reportChart img {height:auto !important;width:100% !important;}
#ColCX table td, #ColCX table th {border-right:0px;border-bottom:0px;}
.questionario_sondaggio_chart .dropdown-vf {margin-top:30px;}

#PanelGroupQuestionari .panel-default .panel-heading {padding:15px;border:1px solid #ddd;}

#PanelGroupQuestionari .panel-default:hover {
	text-decoration:none;
}
#PanelGroupQuestionari .panel-default h4 a:before {
	font-family:FontAwesome;
	font-size:16px;
	margin-right:5px;
	vertical-align:-1px;
}
#PanelGroupQuestionari .panel-default h4 a:not(.collapsed):before {
	content:"\f0d7";	
	margin-left:0px;
}
#PanelGroupQuestionari .panel-default h4 a.collapsed:before {
	content:"\f0da";
	margin-left:5px;
}




