﻿
#Organizzazione h1 {
    background: none repeat scroll 0 0 #F0FAFA;
    border: 2px solid #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 2px #AAAAAA;
    font-family: 'Open Sans',sans-serif;
    margin: 4px;
    padding: 4px;
}
#Organizzazione .option-filetree {
    background: url("images/gear.png") no-repeat scroll right top rgba(0, 0, 0, 0);
    display: inline !important;
    margin-left: 10px;
    opacity: 0.7;
    padding: 0 0 4px 16px;
    width: 16px;
}
#Organizzazione .option-filetree:hover {
    opacity: 1;
}
#Organizzazione .option-filetree span {
    display: none;
}
#Organizzazione .option-filetree-div {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 3px 4px 4px -2px #555555;
    height: 20px;
    padding: 4px;
    position: relative;
    width: 155px;
}
#Organizzazione .option-filetree-div .chiudi {
    background: url("images/closebox.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 10px;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    top: 0;
    width: 10px;
}
#Organizzazione .option-filetree-div .delete, #Organizzazione .option-filetree-div .add, #Organizzazione .option-filetree-div .modify, #Organizzazione .option-filetree-div .add-people, #Organizzazione .option-filetree-div .add-content, #Organizzazione .delete-content, #Organizzazione .view-content, #Organizzazione .delete {
    display: block;
    float: left;
    height: 18px;
    margin-right: 14px;
    text-indent: -9999px;
    width: 16px;
}
#Organizzazione .option-filetree-div .delete, #Organizzazione .delete-content, #Organizzazione .delete {
    background: url("images/option-filetree-div-icons.png") no-repeat scroll 0 3px rgba(0, 0, 0, 0);
}
#Organizzazione .option-filetree-div .add {
    background: url("images/option-filetree-div-icons.png") no-repeat scroll 0 -40px rgba(0, 0, 0, 0);
}
#Organizzazione .option-filetree-div .modify {
    background: url("images/option-filetree-div-icons.png") no-repeat scroll 0 -83px rgba(0, 0, 0, 0);
}
#Organizzazione .option-filetree-div .add-people {
    background: url("images/option-filetree-div-icons.png") no-repeat scroll 0 -128px rgba(0, 0, 0, 0);
}
#Organizzazione .option-filetree-div .add-content {
    background: url("images/option-filetree-div-icons.png") no-repeat scroll 0 -173px rgba(0, 0, 0, 0);
}
#Organizzazione .view-content {
    background: url("images/option-filetree-div-icons.png") no-repeat scroll 0 -218px rgba(0, 0, 0, 0);
    margin-left: 10px;
}
