<%@ Page Language="C#" AutoEventWireup="true" CodeFile="error.aspx.cs" Inherits="_Model" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<title>Untitled Page</title>
</head>
<body>
    <form id="PageForm" runat="server"></form>
</body>
</html>