html, body{
	position:relative !important;
}

.FileManagerRightPanel .FolderInfo{
	display:none;	
}

/*.filepicker{
	width: 900px;
	height: 436px;	
}*/

.pickerContainer{
	overflow: hidden;
}


/* Style Select image */

.image_picker_image {    
    display:block;
    margin:0px auto;
    height:100px;
    /*background: url('/scripts/shared/filepicker/imgs/image-not-found.png') no-repeat 0px 0px;*/
}

ul.thumbnails.image_picker_selector {
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
   
  padding: 0px;
  margin: 0px; 
}
ul.thumbnails.image_picker_selector ul {
	overflow: auto;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding: 0px;
	margin: 0px; }
ul.thumbnails.image_picker_selector li.group_title {
	float: none; 
	}
ul.thumbnails.image_picker_selector li {
	margin: 0px 12px 12px 0px;
    width:156px;
    height:156px;
	float: left; 
}
ul.thumbnails.image_picker_selector li .thumbnail {
	  padding: 3px;
	  border: 1px solid #dddddd;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none; 
}
ul.thumbnails.image_picker_selector li .thumbnail img {
		-webkit-user-drag: none; 
}
ul.thumbnails.image_picker_selector li .thumbnail.selected {
		background: #0088cc; 
}

ul.thumbnails.image_picker_selector li .info{ font-size:.7em; background-color:#fff;}
ul.thumbnails.image_picker_selector li .info p{ margin:0px !important; padding:0px 0px 4px 0px;}
ul.thumbnails.image_picker_selector li .info span{
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    display:block;
    font-weight:bold;
}


    /* Style pagination */
    .pagination {
        display: inline-block;
        border: none !important;
    }

.pagination>li {
    display: inline;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.428571429;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}





.fileManagerTopbar {
    background-color: #f8f8f8;    
    border-color: #8c8c8c;
}

.toolbarLabel {
    display:inline-table;
}

.fileManagerLeftPanel {
    background-color: #f8f8f8;
    border-color: #8c8c8c;        
    min-height: 730px;
    overflow-y:scroll;
    height:700px;
}

    .fileManagerLeftPanel .treeview ul {
        background-color:transparent !important;
    }


