.avvisi_emergenze_menu_livello2 ol {
	list-style:none !important;
	margin:0px !important;
	padding:0px !important;	
}
.avvisi_emergenze_menu_livello2 li {
	margin:20px 15px 20px 0px;
	display:inline-block;	
}
.avvisi_emergenze_menu_livello2 li a span.mie-categorie {
	background:url("../img/cat.png") 1px 2px no-repeat;
}
.avvisi_emergenze_menu_livello2 li a span.notifiche-frontend{
	background:url("../img/notifiche.png") 1px 2px no-repeat;
}
.avvisi_emergenze_menu_livello2 li a span.segnalazione-frontend{
	background:url("../img/segnalazione.png") 1px 2px no-repeat;
}
.avvisi_emergenze_menu_livello2 li a span.mie-categorie,
.avvisi_emergenze_menu_livello2 li a span.notifiche-frontend,
.avvisi_emergenze_menu_livello2 li a span.segnalazione-frontend
{
	padding:2px 0px 2px 25px;
}


.categorie-attive table {
	margin:0px 0px 20px 0px;	
}
.categorie-attive td {
	padding:12px;	
}
.categorie-attive td a,
.categorie-attive input[type="submit"],
.segnalazione-frontend input[type="submit"],
.avvisi_emergenze_menu_livello2 a
 {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #7a7878;
	padding: 7px;
	background: -moz-linear-gradient(
		top,
		#f3f1f1 0%,
		#d6d6d6);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#f3f1f1),
		to(#d6d6d6));
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #bdbdbd;
	-moz-box-shadow:
		2px 1px 5px rgba(000,000,000,0.1),
		inset 0px 1px 5px rgba(255,255,255,1);
	-webkit-box-shadow:
		2px 1px 5px rgba(000,000,000,0.1),
		inset 0px 1px 5px rgba(255,255,255,1);
	box-shadow:
		2px 1px 5px rgba(000,000,000,0.1),
		inset 0px 1px 5px rgba(255,255,255,1);
	text-shadow:
		0px 0px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.3);	
}
.categorie-attive td a:hover,
.categorie-attive input[type="submit"]:hover,
.segnalazione-frontend input[type="submit"]:hover,
.avvisi_emergenze_menu_livello2 a:hover
 {
	color:#000;
	background:#fff;	
	border: 1px solid #888;
	text-decoration:none;
}
.categorie-attive input[type="submit"],
.segnalazione-frontend input[type="submit"]
{
	height:auto;	
}
.button {
margin-bottom:4px;	
}
.avvisi_emergenze_menu_livello2 li a {
	display:block;

}

.notifyitem-normal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 7px 12px;
	background: -moz-linear-gradient(
		top,
		#7cdb23 0%,
		#b5a331);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#7cdb23),
		to(#b5a331));
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 0px solid #28c71a;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	text-shadow:
		0px 0px 0px rgba(000,000,000,0.5),
		0px 0px 0px rgba(255,255,255,1);

	margin:5px 0px 5px 0px;	
}





