#ColCX .Bandi {
	font-size:small;	
}
#ColCX .Bandi .Colonna_Dx {
	width:180px;
	float:right;
	clear:right;
	background:#fff;
	border:1px solid #ccc;
	padding:4px;
	overflow:auto;	
}
.dettagli {
	width:340px;
	float:left;	
}
.dettagli p {
	margin-bottom:20px;	
}

#ColCX .Bandi label{
	display:block;
	font-weight:bold;	
}
#ColCX .Bandi h3 {
	border-bottom:1px dotted #ccc;	
}
#ColCX .Bandi .allegati a {
	padding-left:20px;
	background:url(../img_bandi/attachment.png)	0px 0px no-repeat;
}
#ColCX .Fieldset_Avvertenza div {
	padding:8px;
	color:#000;
	background:#FFFF80;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	-khtml-border-radius: 6px;
	padding:6px;
	margin-bottom:10px;
}
#ColCX .Fieldset_Avvertenza legend,
#ColCX .Fieldset_Stato legend,
#ColCX .Fieldset_Ricerca legend,
#ColCX .Fieldset_Uffici legend,
#ColCX .Fieldset_Data legend
 {
	padding-left:24px;
	color:#000;
}
#ColCX .Fieldset_Data strong{
	display:block;
	width:40px;
	float:left;
}
#ColCX .Fieldset_Data label {
	display:inline;
	padding:0px 2px 0px 18px;
}
#ColCX .Fieldset_Avvertenza legend{
	background:url("../img_bandi/alert.gif") no-repeat 2px 0px;
}
#ColCX .Fieldset_Stato legend {
	background:url("../img_bandi/signal_icon.png") no-repeat 0px 0px;
	padding-bottom:2px;		
}
#ColCX .Fieldset_Ricerca legend {
	background:url("../img/find.png") no-repeat 0px 0px;
	padding-bottom:2px;	
}
#ColCX .Fieldset_Uffici legend{
	background:url("../img_bandi/uffici.png") no-repeat 2px 0px;
}
#ColCX .Fieldset_Data legend{
	background:url(../img/bg-tab.png) 0px -75px no-repeat;
}
#ColCX .Fieldset_Stato label{
	display:inline;
}
#ColCX .risultatibandi li{
	margin-bottom:20px;
	padding-bottom:10px;
	border-bottom:1px dotted #ccc;
}
#ColCX .sottoscrizione {
	margin:20px 0px 10px 0px;	
}
#ColCX .sottoscrizione a,
#ColCX .Clarify a {
	padding-left:20px;
	background:url(../img_bandi/lightbulb.png) 0px 0px no-repeat;	
}
#ColCX .Bandi .testo {
	background:#fff;
	padding:4px;
	border:1px solid #ccc;	
	margin-top:10px;
}

/*
#ColCX .Bandi span.attach {
	background:url("../img_bandi/page_attach.gif") no-repeat 0px 0px;
	padding-left:15px;
}
#ColCX .Bandi ul {	
	padding:0px;
	margin:0px auto;
	list-style:none;
}
#ColCX .Bandi .risultatibandi {
	font-size:1.2em;
}
#ColCX .Bandi .risultatibandi ul li strong {
	color:#000;
}
#ColCX .Bandi .dettagli p strong {
	color:#000;
}
#ColCX .Bandi .testo {
	font-size:0.8em;
	color:#000;
}
#ColCX .Bandi .risultatibandi h3 {
	margin:0px;
	text-align:left;
	background:#E3F5FC url("../img_bandi/ico_bandi.png") 2px 1px no-repeat;
	padding-left:20px;
}
#ColCX .alternariga {
	background:#F8F6F1;
	padding:4px;
	height:auto !important;
	height:0px;	
}


#ColCX .Bandi fieldset legend {
	font-weight:bold;
}
#ColCX .Bandi fieldset.Fieldset_Ricerca .BandiLabel {
	cursor:pointer;
	width:40px;
	float:left;	
}
#ColCX .datelabel {
	padding:4px 4px 4px 20px;
}
.Fieldset_Data .datelabel {
	float:left;
	width:20px;
}
#ColCX .Fieldset_Ricerca select{
	margin-left:40px;
	padding:0px;	
	min-width:120px !important;
	width:120px;	
}
#ColCX .Fieldset_Avvertenza legend{
	background:url("../img_bandi/alert.gif") no-repeat 0px 0px;
}

#ColCX .Fieldset_Ricerca legend{
	background:url("../img_bandi/search.gif") no-repeat 2px 2px;
}
#ColCX .Fieldset_Data legend{
	background:url("../img_bandi/ico_calendar.gif") no-repeat 0px 0px;
}
#ColCX .Fieldset_Criteri legend{
	background:url("../img_bandi/cog.png") no-repeat 0px 0px;
	margin-bottom:20px;
}
#ColCX .Fieldset_Data label {
	padding:0px 5px 0px 10px;
}
#ColCX .Fieldset_Importo legend{
	background:url("../img_bandi/euro.gif") no-repeat 0px 0px;
}
#ColCX .Fieldset_Stato legend{
	background:url("../img_bandi/signal_icon.png") no-repeat 2px 2px;
}
#ColCX .tipo_ricerca {
	margin:20px 0px 20px 0px;	
	text-align:right;
}
#ColCX .tipo_ricerca a{
	background:#fff url("../img_bandi/folder_magnify.png") no-repeat 4px 8px;
	padding:8px 20px 8px 24px;	
	border:1px solid #ccc;
}
#ColCX .tipo_ricerca a:hover{
	background:#000066 url("../img_bandi/folder_magnify.png") no-repeat 4px 8px;
	color:#fff;
	text-decoration:none;
}
#ColCX .bottone_ricerca {
	text-align:center;
	border-top:1px dashed #aaa;
	margin-top:10px;
	padding-top:10px;
}



#ColCX .Bandi table.tabellabandi{
	margin:10px;	
	width:96%;
	text-align:left;	
}
#ColCX .Bandi table.tabellabandi  {	
	border-collapse: collapse;
	empty-cells: hide;	
	table-layout:auto;
	border-spacing: 10px;
}
#ColCX .Bandi table.tabellabandi caption{
	font-size:1em;
	padding:4px;
	color:#000;
	font-weight:bold;
	background:#fff;
}
#ColCX .Bandi table.tabellabandi th{
	background:#555;
	border: 2px solid #fff;	
	padding: 0.5em;	
	font-size:0.8em;
	color:#fff;
}
#ColCX .Bandi table.tabellabandi td{ 
	border: 2px solid #fff;	
	padding: 0.5em;	
	background-color:#f0f0f0;
	font-size:0.8em;
}
#ColCX .Bandi table.tabellabandi td a:link,#ColCX .Bandi table.tabellabandi td a:active{
	color:#000099;
	text-decoration:underline;
}
#ColCX .Bandi table.tabellabandi td a:hover{
	color:#333399;
	text-decoration:none;
}
#ColCX .Bandi table.tabellabandi td a:visited{
	color:#990033;	
}


#ColCX .Bandi .Colonna_Dx {
	float:left;
	width:48%;
	margin-bottom:10px;
}
#ColCX .Bandi .dettagli {
	float:left;
	width:50%;
}
#ColCX .Bandi .dettagli p{
	color:#555;
	
}
#ColCX .Bandi .allegati {	
	margin:0px 0px 0px 20px;
	background:#f0f0f0;
	padding:4px 10px 10px 10px;
}
#ColCX .Bandi .allegati h3 {
	margin:0px;
	padding:4px 0px 4px 24px;
	font-size:0.9em;
	background:#fff url("../img_bandi/page_attach.gif") no-repeat 4px 4px;
	text-align:left;
}
#ColCX .Bandi .allegati ul {
	margin:10px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	
}
#ColCX .Bandi .allegati ul li {
	font-size:1em;
}


#ColCX .Bandi .stato_avanzamento ul li span.pdf, #ColCX .Bandi .allegati ul li span.pdf {	
	height:16px;
	width:18px;
	background:url("../img_bandi/pdf.png") 0px 0px no-repeat;		
	float:left;
}
#ColCX .Bandi .stato_avanzamento ul li span.doc, #ColCX .Bandi .allegati ul li span.doc {	
	height:16px;
	width:18px;
	background:url("../img_bandi/doc.png") 0px 0px no-repeat;		
	float:left;
}
#ColCX .Bandi .stato_avanzamento ul li span.txt, #ColCX .Bandi .allegati ul li span.txt {	
	height:16px;
	width:18px;
	background:url("../img_bandi/txt.png") 0px 0px no-repeat;		
	float:left;
}
#ColCX .Bandi .stato_avanzamento ul li span.xls, #ColCX .Bandi .allegati ul li span.xls {	
	height:16px;
	width:18px;
	background:url("../img_bandi/doc.png") 0px 0px no-repeat;		
	float:left;
}
#ColCX .Bandi .stato_avanzamento ul li span.zip, #ColCX .Bandi .allegati ul li span.zip {	
	height:16px;
	width:18px;
	background:url("../img_bandi/doc.png") 0px 0px no-repeat;		
	float:left;
}


#ColCX .Bandi .stato_avanzamento {	
	margin:0px 0px 0px 20px;
	padding:4px 10px 10px 10px;
	font-size:1em;
	background:#F1F8ED;
	border-bottom:2px solid #fff;
}
#ColCX .Bandi .stato_avanzamento h3 {
	margin:0px 0px 0px 0px;
	padding:4px 0px 4px 24px;	
	background:#fff url("../img_bandi/signal_icon2.png") no-repeat 4px 4px;
	text-align:left;	
}
#ColCX .Bandi .stato_avanzamento .SemaphoreGREEN, #ColCX .Bandi .stato_avanzamento .SemaphoreYELLOW, #ColCX .Bandi .stato_avanzamento .SemaphoreRED {
	padding-left:20px;
	height:auto !important;
	height:0px;
}
#ColCX .Bandi .SemaphoreGREEN, #ColCX .Bandi .stato_avanzamento .SemaphoreGREEN {	
	background:url("../img_bandi/Green.png") no-repeat 0px 0px;
}
#ColCX .Bandi .SemaphoreYELLOW, #ColCX .Bandi .stato_avanzamento .SemaphoreYELLOW {	
	background:url("../img_bandi/Yellow.png") no-repeat 0px 0px;
}
#ColCX .Bandi .SemaphoreRED, #ColCX .Bandi .stato_avanzamento .SemaphoreRED {	
	background:url("../img_bandi/Red.png") no-repeat 0px 0px;
}
#ColCX .Bandi .SemaphoreGREEN, #ColCX .Bandi .SemaphoreRED, #ColCX .Bandi .SemaphoreYELLOW {	
	padding-left:20px;
	height:20px;	
	text-align:left;
	font-size:1em;
	color:#666;
	font-family:"Trebuchet ms",Helvetica,Arial,sans-serif;

}
#ColCX .Bandi .clr {
	margin-top:10px;	
	height:5px;
	border-top:1px solid #ccc;	
}

#ColCX .Bandi ul li {
	font-size:1em;
	margin-bottom:10px;
	padding-bottom:5px;
	border-bottom:1px dashed #444;
}
#ColCX .Bandi ul li h3 a{	
	padding-left:4px;
	font-size:0.9em;	
}
#ColCX .Bandi .sottoscrizione {
	background:#F1F2EE;
	border-bottom:2px solid #FFFFFF;
	font-size:0.8em;
	margin:2px 0px 0px 20px;
	padding:4px 10px 10px;
} 
#ColCX .Bandi .sottoscrizione a{
	background:url("../img_bandi/email_open.png") 0px 0px no-repeat;
	padding-left:20px;
	display:block;
}
#ColCX .Bandi .Clarify {
	background:#F1F2EE;
	font-size:0.8em;
	margin:0px 0px 0px 20px;
	padding:4px 10px 10px;
} 
#ColCX .Bandi .Clarify a {
	background:url("../img_bandi/lightbulb.png") 0px 0px no-repeat;
	padding-left:20px;
	display:block;
}*/