.concorso{
	max-width : 400px;
}

.concorso li{
	float: left; 
       /* or 
    display: inline-block;*/ 

    margin: 10px 10px 10px 0px;
	list-style:none !important;
	}
	
.concorso p {
	margin: 0px;
	display: block;
	height: 33px;
	float: right;
	padding-right: 14px;
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

.concorso > p > a {
	width: 90px;
	height: 27px;
	padding-top: 7px;
	display: block;
	text-align: center;
	float: left;
	text-transform: uppercase;
	font-size: 1.3em;
	margin-left: 20px;

}

.concorso > p > a .detail  {
background: url("https://concorsi.difesa.it/_layouts/COL/CSS/../images/v1-button-info.png") no-repeat center top;
}

.concorso > p > a  .richiesta {
color: #ffffff;
margin-left: 11px;
background: url("https://concorsi.difesa.it/_layouts/COL/CSS/../images/v1-button-partecipa.png") no-repeat center top;
}