.Eventi .titolo {
	font-size:1.6em;
	font-weight:bold;
}
.Eventi .eventi_barra {
	text-align:left;
	margin-bottom:10px;	
}
.Eventi .testo {
	margin-bottom:20px;	
}
#ColCX .Eventi .eventi_barra a.scope,
#ColCX .Eventi .eventi_barra a.search,
#ColCX .Eventi .eventi_barra a.show
 {
	padding:0px 0px 0px 20px;
	display:block;
}
#ColCX .Eventi .eventi_barra a.scope {	
	background:url("../img_news/page.gif") no-repeat 0px 0px;
}
#ColCX .Eventi .eventi_barra a.search {
	background:url("../img_news/search.gif") no-repeat 0px 0px;	
}
#ColCX .Eventi .eventi_barra a.show  {
	background:url("../img_news/cancel.png") no-repeat 0px 0px;
}