.Faq .titolo {
	font-size:1.6em;
	font-weight:bold;
}
#ColCX .Faq .faq_barra a.scope,
#ColCX .Faq .faq_barra a.search,
#ColCX .Faq .faq_barra a.show,
#ColCX .Faq .richieste a
 {
	padding:0px 0px 0px 20px;
	display:block;
}
#ColCX .Faq .faq_barra a.scope {	
	background:url("../img_news/page.gif") no-repeat 0px 0px;
}
#ColCX .Faq .faq_barra a.search {
	background:url("../img_news/search.gif") no-repeat 0px 0px;	
}
#ColCX .Faq .faq_barra a.show  {
	background:url("../img_news/cancel.png") no-repeat 0px 0px;
}
#ColCX .Faq .richieste a {
	background:url("../img_faq/light.gif") no-repeat 36% 2px;
}
#ColCX .Faq .richieste {
	font-size:1.2em;
	text-align:center;
	padding:10px;
}