#forum, #forum p, #forum .corpoMessaggio, #forum .dataMessaggio, #forum .searchResults, #forum #searchResults .leftData, #forum #searchResults .rightData {
	font-size:12px;	
}
#forum .forumBreadcrumb {
	margin-bottom:10px;	
}
#forum .namecat, #forum .forumDesc {
	font-size:18px;
	color:#000;
	font-weight:bold;
}
#forum .statoForum {
	width:32px;
	height:32px;
	background-repeat:no-repeat;
	background-position:center center;	
}
#forum .statoForum .nascondi {
	display:none;	
}
#forum td.forumOpen {
	background-image:url(../img_forum/forum-aperto.png);
}
#forum td.forumPassword {
	background-image:url(../img_forum/forum-password.png);
}
#forum td.forumClosed {
	background-image:url(../img_forum/forum-chiuso.png);
}
#forum td.forumOnlyRead {
	background-image:url(../img_forum/forum-sololettura.png);
}
/*########### TABELLA ###########*/
#forum .categoryRow, #forum .forumDesc {
	padding:8px;
	border:1px solid #DDDDDD;
	border-bottom:0px;	
}
#forum table,  #forum .searchResults .itemResult {
	color:#666;
	background-color: #F2F2F2;
	-webkit-border-radius: 0px;    
    border-radius: 0px;
	border:none;
	margin-top:0px;
}
#forum thead th,
#forum tbody td {
  padding:8px;	  
}
#forum tbody td a {
	color:#2980B9;
	 clear: both;
    color: #2980B9;
    float: left;
    overflow: hidden;
    text-align: left;
    width: 100%;
}
#forum tbody td a:hover { 
	text-decoration:underline;
}
#forum thead th {
  background: #3498DB;
  color:#fff;
  text-transform:uppercase;
  font-weight:normal;
  text-align:center;
}
#forum tr td, #forum .searchResults .itemResult {
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #DDD;
}
#forum tr td, #forum .searchResults .itemResult {
   transition: all 0.4s;
  -moz-transition: all 0.4s; /* Firefox 4 */
  -webkit-transition: all 0.4s; /* Safari and Chrome */
  -o-transition: all 0.4s; /* Opera */	
}
#forum tr:hover td, #forum .searchResults .itemResult:hover {
	background-color: #E9E9E9;
}
#forum tr td+td {
  text-align:center;
}
#forum p.descrizione,
.categoryRow p
 {
	margin-bottom:0px !important;
}
#forum p.descrizione,
#forum a span
 {
	text-align:left;	
}

/*########## forumToolbar ##########*/
ul.actionToolbar {
	margin:0px !important;
	clear:both;	
	border-top:1px solid #fff;
	padding-top:10px;
}
#forum ul.forumToolbar, 
#forum li.ToolbarButton  {
	list-style:none;
	margin:0px;	
	padding:0px;
	display:inline-table;
} 
#forum li.ToolbarButton {
	margin-right:20px;	
}
#forum ul.forumToolbar {
	margin-bottom:20px;	
}
#forum .ToolbarButton a span {
	background-repeat:no-repeat;
	padding-left:10px;	
}
#forum .ToolbarButton a {
	text-shadow:0 -1px 0 rgba(0,0,0,0.25);
	color:#fff;
	font-size:12px;
		display:inline-block;
*display:inline;
*zoom:1;
	padding:4px 4px 4px;
	margin-bottom:0;
	line-height:18px;	
	text-align:center;
	text-shadow:0 1px 1px rgba(0,0,0,0.75);
	vertical-align:middle;
	border:1px solid #ccc;
	border-bottom-color:#b3b3b3;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
	background-color:#0074cc;
	background-image:-moz-linear-gradient(top, #08c, #05c);
	background-image:-ms-linear-gradient(top, #08c, #05c);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#05c));
	background-image:-webkit-linear-gradient(top, #08c, #05c);
	background-image:-o-linear-gradient(top, #08c, #05c);
	background-image:linear-gradient(top, #08c, #05c);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
	border-color:#05c #0055cc #003580;
	border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
filter:progid:dximagetransform.microsoft.gradient(enabled=false)	
	
	
	cursor:pointer;
*margin-left:.3em	
}
#forum .ToolbarButton a:hover {
text-shadow:0 -1px 0 rgba(0,0,0,0.25);
	color:#fff;	
	
	text-decoration:none;
	background-color:#0055cc;
	background-position:0 -30px;
	-webkit-transition:background-position .1s linear;
	-moz-transition:background-position .1s linear;
	-ms-transition:background-position .1s linear;
	-o-transition:background-position .1s linear;
	transition:background-position .1s linear
}

/*########## layout thread ##########*/

#forum .datiUtente {
    display: table;
    float: left;
    min-height: 80px;
    width: 20%;
}
#forum .dataMessaggio, #forum .corpoMessaggio {
	float:right;
	width:79%;
	border-left:1px solid #fff;
	padding-left:4px;
}
#forum .dataMessaggio {
	color:#333;	
	text-align:right;
}
#forum .dataMessaggio, #forum .username-group {
border-bottom:1px solid #FFFFFF;	
padding-bottom:4px;
}
#forum .corpoMessaggio {
	clear:right;
	content:"";
	overflow:hidden;
}
#forum .corpoMessaggio, #forum .altriDati {
	padding-top:4px;	
}
#forum .corpoMessaggio:after, #forum .elencoMessaggi:after {
	content: ".";
    display: block;
    height: 0ox;
    overflow: hidden;
	color:#fff;
}
#forum .dataiscrizione,
#forum .numerodimessaggi
 {
	font-size:11px;
	display:block;	
	line-height:14px;
}
#forum .forumPost {
	padding:8px;	
	background:#F2F2F2;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #DDD;
}
#forum .forumPost.even {
	background:#E9E9E9;
}
#forum .elencoMessaggi .pagination {
	margin-top:20px;	
}
#forum .username, #forum .searchResults .autore {
	color:#AA0000;
	font-weight:bold;	
}
/********* Ricerca ************/
#forum .searchResults {
	margin-top:20px;
	border:1px solid #DDDDDD;	
}
#forum .searchResults h3{
	margin-bottom:0px;
}
#forum .searchResults .itemResult {
	padding:8px;	
}
#forum .searchResults .pagination {
	margin:10px 0 15px 10px; 
}
#forum .searchResults p.search_desc {
	margin-bottom:0px;	
}
#forum .searchResults .dataDiscussione {
	color:#000;	
}
#forum .searchResults .score{
	float:right;
	clear:both;	
	color:#00AA00;
}
