#ColCX #ICI { }
#ColCX #ICI ol {
	/*font-size:medium;	*/
}
#ColCX #ICI ol li { 
	margin:0px 0px 4px 0px;
}
#ColCX #ICI ul {
	list-style:none;
}
#ColCX #ICI ul.selbottoni li {
	display:inline;	
}
#ColCX #ICI ul.selbottoni li input {
	padding:4px;
	margin:0px 0px 6px 0px;
	/*text-align:left;*/
}
#ColCX #ICI .centratab fieldset {
	padding:10px;
}
#ColCX #ICI .centratab fieldset input {	
	padding:4px;
}