﻿.analytics-dialog {
	min-width:920px;
	min-height:520px;	
}
.analytics-dialog .ui-dialog-title {color:#000;font-size:20px;}
.analytics-dialog .ui-widget-content {padding:20px 10px;}
.analytics-dialog .area-macro-btn,
.analytics-dialog .backbutton,
.analytics-dialog .gobutton 
{margin:10px 10px 10px 0px;}
.analytics-dialog .ui-accordion-header {font-size:16px;padding:12px;}
.analytics-dialog .ui-icon {display:none;}
.analytics-dialog input[type="radio"] {margin-right:5px;}
.analytics-dialog label {margin-right:15px;}

.single-index-retrieve {
	margin:20px 0px 10px 0px;
	border-bottom:1px solid #eee;
}
.output.msg {
	color:#C00;
	margin-top:10px;	
}

.analytics-dialog .step1 {margin:0px auto;text-align:center;}
.analytics-dialog .step1 .area-macro-btn {font-size:20px;padding:20px;}

.subject-profile-img {
	background-color:#fff;
	border:4px solid #fff;
	border-radius:2px;
	height:160px;
	width:160px;
	
	margin:0px auto;
	display:block;	
	padding:1px;
	border-radius:3px;
	box-shadow:0 0px 1px rgba(0, 0, 0, .4);
}
.dashboard-description,.dashboard-container {margin:0px auto;text-align:center;}
.subject-name {
	font-size:18px;
	margin-top:10px;	
	color:#1e1e4f;
	font-weight:bold;
}
#dashboard .button-container input[type="submit"]{
	float:right;
	clear:right;
}
#dashboard .button-container:after {
	clear: both;
    content: " ";
    display: block;
    height: 10px;
    overflow: hidden;
    width: 100%;
}
.single-index-retrieve legend {font-weight:bold;color:#000;}
.tables-container {
	border-top: 1px solid #ccc;
    margin-top: 20px;	
}
.description-title {
	font-weight:bold;	
	color:#049cdb;
	font-size:18px;
}








