#Reg, #loginContainer {
    position:absolute;	
	
}
#loginContainer {
	right:6px;
	top:10px; 
	background:#fff; 
	z-index:9999;
}
#Reg {
	right:56px;
	top:0px;   
}
#Reg, #Reg a{
	width:90px;
	height:21px;
	display:block;	
}
#Reg a {
	background:url("../img/social-icon-2.png") 0px -121px no-repeat;	
	text-indent:-10000px;
}
#Reg a:hover {
	background-position: 0px -151px;
}

/* Login Button */
#loginButton {     
	width:56px;
	height:21px;
	background:url("../img/social-icon-2.png") -90px -121px no-repeat;	
	display:inline-block;
    position:relative;
    z-index:30;
    cursor:pointer;
}

/* Login Button Text */
#loginButton span {
	width:56px;
	height:21px;
	display:block;
	text-indent:-10000px;
}

#loginButton:hover {
	background-position: -90px -151px;
}

/* Login Box */

#loginContainer .NotifyArea {
	position:absolute;
	top:4px;
}
#loginBox, #userNav {
    position:absolute;
    top:26px;
    right:0;
    display:none;
    z-index:29;	
	z-index:99999;
	padding:7px;
	/*min-height:235px;*/
	font-size:12px;
	width:250px;
	background:#fff;	
	
-webkit-box-shadow: 0px 12px 16px rgba(50, 50, 50, 0.50);
-moz-box-shadow:    0px 12px 16px rgba(50, 50, 50, 0.50);
box-shadow:         0px 12px 16px rgba(50, 50, 50, 0.50);

-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;

border:1px solid #aaa
}

/* If the Login Button has been clicked */    
#loginButton.active {
    background-position: -90px -181px;
	height:27px;
	z-index:999999;
}

#loginBox #LoginControl1 {
	margin-top:30px;	
}
#loginBox #LoginControl1 ul li a{
	text-align:center;
	display:block;
	width:100%;
	padding:4px 0px;
	background:#EBF5FD;
}
#LoginControl1 input[type="text"], 
#LoginControl1 input[type="password"]
{
	width:235px;	
}
#LoginControl1 input[type="submit"] {
	/*position:absolute;
	top:140px;
	right:12px;	*/
	margin-bottom:20px;
}

/* after login */
#loginContainer {

}
#loginContainer li#username, #loginContainer li#userCtrl {
	display:block;
	float:left;	
	font-size:12px;	
	z-index:99999;
}
#userCtrl {
	cursor:pointer;
}
#userCtrl span {
	display:block;
	width:20px;
	height:20px;
	text-indent:-10000px;
	border-left:1px solid #ccc;	
}
#userCtrl span:before {
	background:url("../img/info-icon.png") -395px -39px no-repeat;		
	width: 20px;
	height: 20px;
	content: "";
	float: left;					
}
#userCtrl span:hover {
	-webkit-box-shadow:  0px 0px 2px 0px #abbdce;        
    box-shadow:  0px 0px 2px 0px #abbdce;
	
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-bottomright: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;

	background: #f5f9fd; /* Old browsers */
	background: -moz-linear-gradient(top,  #f5f9fd 0%, #e3eefb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f9fd), color-stop(100%,#e3eefb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f5f9fd 0%,#e3eefb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f5f9fd 0%,#e3eefb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f5f9fd 0%,#e3eefb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f5f9fd 0%,#e3eefb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f9fd', endColorstr='#e3eefb',GradientType=0 ); /* IE6-9 */

}
#userCtrl.active span:before {
	background:url("../img/info-icon.png") -353px -39px no-repeat;		
}


#userNav {
	display:none;		
}
#userNav li {
	float:none;	
}
#username {
	margin-right:5px;	
}
#username span {
    display: block;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 0px 0 0;
    position: relative;
	clear:left;
}
#userNav li {
	border-bottom: 1px dotted #CCCCCC;
    margin-bottom: 5px;
    padding-bottom: 5px;	
}
#username span:before, #userNav li {
	margin-bottom:10px;	
}
#username span:before, #userNav li a:before{
			background-image: url("../img/info-icon.png");
			background-repeat: no-repeat;
			width: 20px;
			height: 20px;
			content: "";
			float: left;			
			opacity: 0.18;
}
#username span:before, #userNav li.ProfiloLink a:before {
	background-position:-100px -38px;	
}
#userNav li.ModificaProfiloLink a:before, #userNav li.ModificaPasswordLink a:before{
	background-position:-372px -38px;	
}
#userNav li.LogoutLink a:before {
	background-position:-336px -38px;	
}








