/*				Realizzazione Net.Service S.r.l.				  */
/*  			http://www.net-serv.it							  */
/*  ------------------------------------------------------------  */

#ColCX .RassegnaStampa {
	
}
/* zona ricerca */
#ColCX .RassegnaStampa fieldset.rstampa_ricerca {
	border-top:1px solid #444;
	border-left:none;
	border-right:none;
	border-bottom:1px solid #444;
	padding:10px;
}
#ColCX .RassegnaStampa fieldset.rstampa_ricerca legend {
	font-weight:bold;
	padding:0px 10px 0px 23px;
	background:url("../img_news/newspaper.png") no-repeat 4px 2px;
}
/* zona archivio */
#ColCX .RassegnaStampa fieldset.rstampa_archivio {
	margin:20px 0px 0px 0px;
	border-top:1px solid #444;
	border-left:none;
	border-right:none;
	border-bottom:1px solid #444;
	padding:10px;
}
#ColCX .RassegnaStampa fieldset.rstampa_archivio legend {
	font-weight:bold;
	padding:0px 10px 0px 23px;
	background:url("../img_news/archivio.png") no-repeat 4px 0px;
}

#ColCX .RassegnaStampa fieldset.rstampa_archivio .Years, #ColCX .RassegnaStampa fieldset.rstampa_archivio .Mesi {
	font-size:0.8em;
	font-family: "Trebuchet ms", Helvetica, Arial, sans-serif;
	margin:5px 0px 5px 0px;
}
/* zona presentazione */
#ColCX .RassegnaStampa table.tabella{
	margin:30px auto 30px auto;	
	width:99%;
	text-align:left;
}
#ColCX .RassegnaStampa table.tabella  {	
	border-collapse: collapse;
	empty-cells: hide;	
	table-layout:auto;
	border-spacing: 10px;
}

#ColCX .RassegnaStampa table.tabella caption{
	font-size:1.2em;
	padding:4px;
	color:#000;
	font-weight:bold;
}
#ColCX .RassegnaStampa table.tabella th{
	background:#F2F2D9;
	border: 2px solid #fff;	
	padding: 0.5em;		
}
#ColCX .RassegnaStampa table.tabella tbody td{ 
	border: 2px solid #fff;	
	padding: 0.5em;	
	background-color:#eee;
	font-size:0.8em;
}

