h1.at-h1 {margin:20px 0px;font-size:1.5em;}
.ui-accordion {width:auto;margin:0px 10px;}
.ui-accordion .ui-accordion-header {
	display:block;
	
	  padding: 15px 0 15px 20px;
    display: block;
    position: relative;
    z-index: 1;
    background: -webkit-linear-gradient(top, #ededed, #fafafa);
    background: -moz-linear-gradient(top, #ededed, #fafafa);
    background: -o-linear-gradient(top, #ededed, #fafafa);
    background: linear-gradient(to top, #ededed, #fafafa);
    color: #666;
	margin-top:-1px;
}

.ui-accordion .ui-accordion-header .ui-icon {
	float: left;
    left: auto;
    margin-top: 0px;
    position:inherit;
    top:auto;
	
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
.ui-accordion-header ui-helper-reset ui-state-active ui-corner-top
 {
	display:block;
	padding:10px 0px;
}
#allegaticustomUploader_container .plupload_filelist.plupload_filelist_footer.ui-widget-header a, #allegatiPersonalecustomUploader_container .plupload_filelist.plupload_filelist_footer.ui-widget-header a{display:inline-block;padding:inherit;}
.table .dataTable .Browse,
.table .dataTable input[type="button"]
 {cursor:pointer;}
 
 .dataTable input[type="button"]
 {border-radius:6px;border:1px solid #ccc;box-shadow:0px 1px 2px rgba(33,33,33,0.15);
  background: -webkit-linear-gradient(top, #ededed, #fafafa);
    background: -moz-linear-gradient(top, #ededed, #fafafa);
    background: -o-linear-gradient(top, #ededed, #fafafa);
    background: linear-gradient(to top, #ededed, #fafafa);
 }


.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .table .dataTable input[type="button"] {
	padding:10px 0px;	
}

.ui-accordion .ui-accordion-content {position:inherit; text-align:left;}

.ui-accordion-content-active {height:auto !important;}


#corpo .toggle-button a
{
	background-position: center center;
	background-repeat:no-repeat;
	display:block;
	width:34px;
	height:34px;
	top:0px; 
	background-image: url('../images/side_open.gif');
}
#corpo .toggle-button a:hover
{
	background-position: center center !important;
}

#corpo .toggle-button
{
	text-align:center;
	position:relative;
	padding:8px 0px 8px 0px;
    font-weight:bold;
    color:#2f2f2f;
	text-shadow: none;
}
#corpo .toggle-button{ 
    background-image:url('../images/overtitle.png');
    background-position: left bottom;
    background-repeat:repeat-x;
    background-color:#f5f5f5;
    cursor:pointer;
}
#corpo .toggle-button.light, #corpo .level2 .toggle-button.ligth{background:none;font-weight:normal;padding:8px 0px;border-bottom:1px solid #ddd;color:#333 !important;}

#corpo .level2 .toggle-button.ligth.collapsed:hover {background:#fff;}
#corpo .level2 .toggle-button.ligth {font-weight:bold;}
#corpo .level2 .toggle-button.ligth.collapsed {font-weight:normal;}


.dataTables_paginate {
display: inline-block;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px
}

.dataTables_paginate a {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #337ab7;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
	cursor:pointer;
}
.dataTables_paginate a.first {
	margin-left: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px
}
.dataTables_paginate a.last {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px
}
.dataTables_paginate a:focus, .dataTables_paginate a:hover {
	z-index: 2;
	color: #23527c;
	background-color: #eee;
	border-color: #ddd
}
#string_info_pagination {margin-top:20px;display:inline-table;}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    color: #004276;
    font-weight: normal;
}
.ui-state-default:hover, .ui-widget-content .ui-state-default:hover, .ui-widget-header .ui-state-default:hover {
	color:#000;
}
/*
.ui-dialog .ui-dialog-buttonpane button {
	padding:inherit;
	display:inline-table;
	font-weight:normal;
	background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;}
.ui-dialog .ui-dialog-buttonpane button:hover {	
	background-color: #286090;
    border-color: #204d74;
    color: #fff;
}
.ui-dialog .ui-dialog-buttonpane button:focus {
    background-color: #286090;
    border-color: #122b40;
    color: #fff;
}*/
.ui-dialog .ui-dialog-buttonpane button {
	padding:inherit;
	display:inline-table;
	font-weight:normal;
	}



.pop-table {
	width:100%;text-align:center;
	border-collapse: collapse;
}
.pop-table, .pop-table th, .pop-table td {
border: 1px solid #ddd;
}
.pop-table th, .pop-table td {width:50%;text-align:center;padding:10px;}

.checkboxlist-vf span {display:block;margin:10px 0px;}
/*.checkboxlist-vf label {font-weight:normal;}*/


/*Togliere il tasto Inizia Upload*/

#allegaticustomUploader_start
{
    display : none !important;
}

/*Marcare la current page nella paginazione*/
.current_page 
{
    background-color: #cad9ea !important;
}

.mandatory-vfm {
	color:#F00;	
	font-size:11px;
	margin:20px 0px;
	clear:both;
}

/* Elenco allegati con icona per eliminarli */
ul#ListAllegatiID {margin-bottom:20px;}
#ListAllegatiID li {padding:6px 0px;line-height:26px; list-style:none;}
#ListAllegatiID li a {float:left;margin-right:6px;background:rgba(223,0,3,1.00) url(/scripts/shared/jquery-ui/css/ui-lightness/images/ui-icons_ffffff_256x240.png) -93px -125px no-repeat;padding:4px;border-radius:4px;text-align:center;width:22px;height:22px;}
#ListAllegatiID li a:hover {background-color:#444;}
#ListAllegatiID li a img {display:none;}



	 .steptitle, p.wizard-current-page {
	position:absolute;
	top:10px;
	right:10px;	
}
#allegato-choose, #doc-choose {padding:0px 20px;}
#allegato-choose .form-group, #doc-choose .form-group{text-align:left;}

@media screen and (max-width: 992px) 
  { 
  .steptitle, p.wizard-current-page {
        position:relative;
		top:auto;
		right:auto;
    }
#allegato-choose #Tipologia {width:100%;}
#allegato-choose, #doc-choose {padding:0px 5px;}
}



.steptitle .current, .steptitle .ntotal, .steptitle .description-a, .steptitle .description-b, .tooltip-cms3 {
	display: inline-table;
	*zoom: 1;
	*display: inline;
} 
.steptitle .current, .steptitle .ntotal, .tooltip-cms3, p.wizard-current-page {
	border-radius:30px;
	height:30px;
	line-height:30px;
	width:30px;
	margin:0 auto 5px;
	overflow:hidden;
	padding:0;
	text-align:center;
	font-size:14px;
	background:#fafafa;
	color:#AAA;	
}
p.wizard-current-page {
	width:100px;	
}
.steptitle .ntotal, p.wizard-current-page  {
-webkit-box-shadow: inset -1px -1px 1px rgba(0, 0, 0, 0.4);
-moz-box-shadow:    inset -1px -1px 1px rgba(0, 0, 0, 0.4);
box-shadow:         inset -1px -1px 1px rgba(0, 0, 0, 0.4);	
}
.steptitle .current {
	background:#1fae66;
	color:#fff;	
}
.Browse {	
background: #ffffff;
background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); 
background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); 
background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); 
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
    width: 16px;
}
.Browse:hover {
background: #e5e5e5; 
background: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
background: -webkit-linear-gradient(top, #e5e5e5 0%,#ffffff 100%);
background: linear-gradient(to bottom, #e5e5e5 0%,#ffffff 100%); 
border: 1px solid #ccc;
}

#corpo .button
 {	
	line-height:1em;
	display: inline-block;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	white-space: nowrap;
	padding:10px !important;
	margin:10px 10px 10px 0px;
	position:relative;
	outline: none;
	overflow: visible; 
	cursor: pointer;	
	border: 0px solid #adadad;
	border: rgba(0, 1, 1, .1) 1px solid;
	border-bottom: rgba(0, 1, 1, .2) 1px solid;
	box-shadow:0 1px 2px rgba(51, 51, 51, 0.1);
	color:#fff;
	text-decoration:none;
	text-align:center;
    background-position: top;
    background-repeat: repeat-x;     
    /*/background-image:url('images/button.png');*/
    background-color:#1381c7;
}
#corpo .button:hover
{ 
    background-position: bottom;
    background-repeat: repeat-x; 
    background-image:url('images/button_on.png');
    background-color:#5c5c5c;
    
    text-shadow:0px 1px 1px rgba(51, 51, 51, 0.7);    
    filter: dropshadow(color=#333333, offx=0, offy=1);
        
    -webkit-box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.3);        
    box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.3);
	color:#fff;
}
.form-control {
    margin-right:10px;
}
.form-group input[type="submit"] {min-width:28px;}
.tooltip-cms3 {margin-right:10px;}




#chart-container {
  position: relative;
  display: inline-block;
  top: 10px;
  left: 10px;
  height: 600px;
  width: calc(100% - 24px);
  border: 2px dashed #aaa;
  border-radius: 5px;
  overflow: auto;
  text-align: center;
}



	
/*#OrganigrammaPA #chart-container .second-menu img {position:absolute;cursor:pointer;top:2px;visibility:hidden;}*/

#OrganigrammaPA #chart-container .second-menu img {position:absolute;cursor:pointer;top:-75px;left : -25px;}
#OrganigrammaPA #chart-container .horizontal-design  img {position:absolute;cursor:pointer;top:0px;left : -24px;}

#OrganigrammaPA #chart-container .option-filetree-div a {height:28px;}




/* ############# horizontal ############# */

#OrganigrammaPA #chart-container.orgchart.horizontal .option-filetree {
	background-image:url(../images/icon-menu-bar.png);
	opacity:1;
	width: auto;
	margin-left:auto;
	padding:10px;
	cursor:pointer;
	position:absolute;top:1px;left:-4px;
	height:60px;
	}
#OrganigrammaPA #chart-container.orgchart.horizontal .option-filetree-div {
	height:60px;padding:8px;
	position:absolute;
	top:20px;
	width:145px;
	left:-60px;
}

#OrganigrammaPA #chart-container.orgchart.horizontal {height:auto !important;border:none;width:calc(100% - 80px);}
.orgchart.horizontal .node {width:220px;}
.orgchart.horizontal .node .toggleBtn {bottom:4px;color:rgba(68, 157, 68, 1);cursor:pointer;font-size:18px;}
.orgchart.horizontal .node .title {height:auto;line-height:12px;padding:6px;font-weight:normal;letter-spacing:0.05em;}
.orgchart.horizontal .node .content {font-size:13px;}
.orgchart.horizontal .node .edge {color:rgba(0,0,0,1);font-size:22px;bottom:-6px;}
.orgchart.horizontal .node .title .symbol {margin:0px;}


.orgchart.horizontal .second-menu-icon {
    transition: opacity .5s;
    opacity: 0;
    right: 6px;
    top: 28px;
    z-index: 1;
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    position: absolute;
	cursor:pointer;
}
.orgchart.horizontal .second-menu-icon:hover {
  color: #449d44;
}
.orgchart.horizontal .node:hover .second-menu-icon {
  opacity: 1;
}
.orgchart.horizontal .node .second-menu {
  display: none;
  position:absolute;
  top: 28px;
  left: 100px;
  box-shadow: none;
  background-color:transparent;
  z-index: 1;
  /*transform: rotate(270deg);*/
}
/*
#OrganigrammaPA #chart-container .option-filetree {background-position:0px -1px;cursor:pointer;}
#OrganigrammaPA #chart-container .option-filetree-div {position:absolute;left:-76px;width:208px;top:0px;height:18px;}

*/

.orgchart.horizontal .node .second-menu .avatar {
  width: 60px;
  height: 60px;
  border-radius: 30px;
    float: left;
  margin: 5px;
}

/* ############# vertical ############# */
#OrganigrammaPA #chart-container.orgchart.vertical {height:auto !important;border:none;width:calc(100% - 80px);position:inherit;min-height:inherit;}
#OrganigrammaPA #chart-container.orgchart.vertical .orgchart.l2r{ left:220px;}

#OrganigrammaPA #chart-container.orgchart.vertical .option-filetree {
	background-image:url(../images/icon-menu-bar.png);
	opacity:1;
	width: auto;
	margin-left:auto;
	padding:10px;
	cursor:pointer;
	position:absolute;top:-75px;left:-50px;
	height:60px;
	}
#OrganigrammaPA #chart-container.orgchart.vertical .option-filetree-div {
	height:60px;padding:8px;
	position:absolute;
	top:-58px;
	width:145px;
	left:-112px;
}
#OrganigrammaPA #chart-container.orgchart.vertical .option-filetree-div .chiudi {right:auto;left:0px;}

.orgchart.vertical .node {width:220px;}
.orgchart.vertical .node .toggleBtn {bottom:4px;color:rgba(68, 157, 68, 1);cursor:pointer;font-size:18px;}
.orgchart.vertical .node .title {height:auto;line-height:12px;padding:6px;font-weight:normal;letter-spacing:0.05em;}
.orgchart.vertical .node .content {font-size:13px;}
.orgchart.vertical .node .edge {color:rgba(0,0,0,1);font-size:22px;bottom:-6px;}
.orgchart.vertical .node .title .symbol {margin:0px;}


.orgchart.vertical .second-menu-icon {
    transition: opacity .5s;
    opacity: 0;
    right: 5px;
    top: auto;
	bottom:0px;
    z-index: 1;
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    position: absolute;
	cursor:pointer;
}
.orgchart.vertical .second-menu-icon:hover {
  color: #449d44;
}
.orgchart.vertical .node:hover .second-menu-icon {
  opacity: 1;
}
.orgchart.vertical .node .second-menu {
  display: none;
  position:absolute;
  top: 28px;
  left: 100px;
  box-shadow: none;
  background-color:transparent;
  z-index: 1;
  transform: rotate(270deg);
}

.orgchart.vertical .node .second-menu .avatar {
  width: 60px;
  height: 60px;
  border-radius: 30px;
    float: left;
  margin: 5px;
}


.statoruolo{
    font-weight:bold;
}




.form-control {
    font-size: 12px;
    margin-right: 0px !important;
}

.checkboxlist-vf {
    background-color: #fff;
    border: 1px solid #a1a0a0;
    padding:6px;
    /*padding-right: 15px !important;
    padding-left: 15px !important;*/
}

    .checkboxlist-vf label {
        margin: 0px !important;
        padding: 0px !important;
        text-align: left !important;        
        border-bottom-color: #a1a0a0;
    }
    .checkboxlist-vf span{ margin:1px;}
    .checkboxlist-vf .control-label {
        padding: 6px !important;
    }

    .mandatory-vfm {
        font-size: 12px;
        text-align: right;
        margin: 0px !important;
    }

.error, .error td, .error a, .not-valid li{
    background:none !important;
    border:none;
}
.not-valid li {
    border: none !important;
    padding: 0px !important;
}

.PAEnteGiuridicoDetailsPage .DetailsContainer {
	margin-left: 2rem;
}
.ArConditionedSpanClass {
	display: inline-block;
	width: 350px;
}
