.WzTitle, .survey-title {
	border-top:1px solid;
	display:block;
	font-size:15px;
	margin:0px 0px 30px;
	padding:15px 10px;
	border-top-color:#ffffff;
	color:#444444;
	font-weight:700;	
	text-shadow:0 1px 0 #ffffff;
	background:url(../images/startpage/sftab.png) 0px -384px repeat-x;
	text-align:left;
}
.netWizard-default, span.StepContainer {
	margin:30px auto;	
	padding:0px 0px 30px;
	width:90%;
	background:#fff;	
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:    0px 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow:         0px 1px 3px rgba(0, 0, 0, 0.1);

-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;	

background: #ffffff; 
position:relative;
}
.form-group {
    text-align: left;
	
}
#entegiuridico-form{
	padding: 0px 20px;
}

#type-choose .form-group , #persona-form .form-group{
	text-align: center;
}