input[type="text"], select {
	outline-style:none;
}

#netApplicationBar span.application_iscrizioninido {
	background:url("images/asili.png") 0px 0px no-repeat;	
}

.vertical_application_toolbar .gestione-orari a,
.vertical_application_toolbar .gestione-prospetti a,
.vertical_application_toolbar .gestione-asili a,
.vertical_application_toolbar .gestione-richieste a,
.vertical_application_toolbar .gestione-graduatorie a,
.vertical_application_toolbar .gestione-pagamenti a {
	height:75px;	
}




#modulo_domanda_global 
{display: inline-block;}

/* Hides from IE-mac */
* html #modulo_domanda_global 
{height: 1%;}

#modulo_domanda_global 
{display: block;}
/* End hide from IE-mac */



#modulo_domanda_global * html .clearfix             { zoom: 1; } /* IE6 */
#modulo_domanda_global *:first-child+html .clearfix { zoom: 1; } /* IE7 */

#modulo_domanda_global h5,
#container-composizione h5,
#container-sottoscrizione h5,
#modulo_domanda_global #header,
#modulo_dichiarazione_global h5,
#modulo_autocertificazione_global h5
 {
	text-align:left;
	font-weight:bold;
	border-bottom:1px solid #ccc;	
	padding:0px;
}
#modulo_domanda_global #header {
	padding:10px 0px 20px 0px;	
	margin-bottom:20px;
}

#modulo_domanda_global,
#container-composizione,
#container-sottoscrizione
 {
	/*margin:20px auto;

	width:760px;
	
	overflow: hidden;
	*/
	padding:6px;
	border:1px solid #ccc;	
	margin:20px auto;	
}
#modulo_domanda_global input[type="text"],
#modulo_domanda_global select,
#container-composizione input[type="text"],
#container-composizione select,
#container-sottoscrizione input[type="text"],
#container-sottoscrizione select
 {
	padding:4px;
	margin:0px 10px 10px 0px;	
}
#modulo_domanda_global label,
#container-composizione label,
#container-sottoscrizione label,
#modulo_domanda_global input[type="radio"],
#modulo_domanda_global input[type="checkbox"],
#container-sottoscrizione input[type="radio"],
#container-composizione input[type="radio"]

 {
	margin-right:10px;	
}
.validation-results {
	margin-bottom:10px;	
}
.validation-results ul {
	margin:20px 0px 16px 0px !important;	
	background-color: #FFD4D4;
    border:1px solid #D97676 !important;
    color: #CD0A0A;
	padding:4px;
}
.validation-results ul li {
	margin-bottom:4px;	
}



#modulo_domanda_global .lefttxt {
	text-align:left;	
}
#modulo_domanda_global .righttxt {
	text-align:right;	
}
#modulo_domanda_global .centertxt {
	text-align:center;	
}

#modulo_domanda_global img.left, .left img{
	float: left;
	clear:left;
}
#modulo_domanda_global img.right, .right img {
	float: right;
	clear:right;
}
#modulo_domanda_global img.center, .center img {
	margin:0px auto;
	text-align:center;
}

#modulo_domanda_global .intestato {
	font-weight:bold;
	text-transform:uppercase;
	font-style:italic;
}
#modulo_domanda_global .intestato-1 {
	font-size:22px;
	text-decoration:underline;
	margin:30px 0px 20px 0px;	
}
#modulo_domanda_global .intestato-2 {
	font-size:18px;	
	margin:30px 0px 20px 0px;	
	font-style:italic;
}
#modulo_domanda_global .chiede strong,
.dichiara strong {
	font-size:18px;	
	margin:10px 0px 10px 0px;
	display:block;
	text-align:center;
}

#modulo_domanda_global .testo {
	margin:20px 0px 20px 0px;	
}
#modulo_domanda_global .testo span {
	margin-left:60px;	
}
#modulo_domanda_global .testo ul {
	margin-left:16px;
}
#modulo_domanda_global .testo ul li{
	list-style:disc;
	padding-left:20px;
	}





#container-composizione:after,
#container-sottoscrizione:after
{ 
/*
 content: ".";  
 display: block; 
 height: 0; 
 clear: both; 
 visibility: hidden; */
}


#container-composizione,
#container-sottoscrizione
{display: inline-block;}

/* Hides from IE-mac */
* html #container-composizione,
* html #container-sottoscrizione 
{height: 1%;}

#container-composizione,
#container-sottoscrizione 
{display: block;}
/* End hide from IE-mac */


#container-composizione,
#container-sottoscrizione
 {
	 /*
	margin:20px auto;
	text-align:left;
	width:760px;
	padding:10px;
	overflow: hidden;	
	border:1px solid #ccc;		
	*/
}


#container-composizione .righttxt
 {
	text-align:right;	
}


#container-composizione table
 {
	width:100%;
	border:1px solid #000;	
	border-collapse: collapse;
	border-spacing: 0;
}
#container-composizione table th
 {
	font-weight:bold;	
}
#container-composizione table td, #container-composizione table, .riquadro
{	
	border:1px solid #000;	
}
#container-composizione table .col-1 {
	width:20px;		
}
#container-composizione table .col-2,
#container-composizione table .col-3 
 {
	width:200px;		
}
#container-composizione table .col-4 {
	width:100px;	
} 
#container-composizione .riquadro {
	padding:10px;	
	margin-bottom:10px;
}

#modulo_domanda_global .primo-comma label,
#modulo_dichiarazione_global .primo-comma label,
#modulo_autocertificazione_global .primo-comma label,
#OrarioScelto label,
#checkList label,
#Riconfermato label,
#checkList label
{
	display:inline !important;
}
#modulo_domanda_global .primo-comma select#plesso,
#modulo_dichiarazione_global #via_richiedente_dichiarazione,
#modulo_autocertificazione_global #via_richiedente_autocertificaizone,
#modulo_autocertificazione_global #via_richiedente_conferma
 {
    min-width:780px;
	margin-bottom:20px;
}
#modulo_domanda_global .primo-comma input#sottoscritto_cognome,
#modulo_domanda_global .chiede input#minore_cf
 {
	/*margin:0px 300px 20px 0px !important;	*/
}
#modulo_domanda_global .primo-comma input#il

 {
	/*margin:0px 200px 20px 0px !important;	*/
}
#modulo_domanda_global .primo-comma input#residente {
/*	margin:0px 250px 20px 0px !important;	*/
}
#modulo_domanda_global .primo-comma input#via_richiedente, 
#modulo_domanda_global input#minore_via,
#modulo_domanda_global input#minore_domicilio,
#modulo_domanda_global input#proveniente_da
{
	min-width:700px;	
}
#modulo_domanda_global .chiede label{
	display:inline-block;
}
#modulo_domanda_global .chiede #isStraniero,
#modulo_domanda_global .chiede #isDisabile
 {
	margin-top:20px;	
}
#modulo_domanda_global h5,
#modulo_dichiarazione_global h5,
#modulo_autocertificazione_global h5,
#modulo_autocertificazione_global h5
 {
	padding:0px 0px 10px 0px !important;	
	margin-bottom:10px;
}
#modulo_domanda_global .chiede select#comuneResidenzaMinore_regioni,
#modulo_domanda_global .chiede select#comuneResidenzaMinore_provincie, 
#modulo_domanda_global .chiede select#comuneResidenzaMinore
{
	content:"/A";
	display:block;
}
#modulo_domanda_global .chiede #comuneResidenzaMinore {
/*margin-right:500px*/
}



