.partsIntestazione
{

}
#head-content { 
	top:0px;
	border-top:2px solid #01425e;
	border-bottom:2px solid #01425e;
}
#slide {
	z-index:0;	
	height:285px;
	border-bottom:4px solid #01425e;
	background:url("/imghome/1.jpg") center center no-repeat;
}
#myGallery, #myGallerySet, #flickrGallery
{
	width: 100%;
	height: 285px;
	z-index:5;
	border: 0px solid #000;
}
.jdGallery a.left, .jdGallery a.left:hover {
	background-position:left bottom;	
}
.jdGallery a.right, .jdGallery a.right:hover {
	background-position:right bottom;	
}

.formricerca {
	top:0px;	
}

#loginContainer {
	right: 470px;
    top: 7px;	
}

#Where {
	display:block;	
}

.ContentMenuTree li {
	border-bottom:1px dotted #ccc;	
}

.ContentMenuTree em {
	display:none;
}

#Intestazione {

}

#slider {
	height:200px;
	border-bottom:1px solid #B0B0B0;	
	background:url("img/default.jpg") center top no-repeat;
	top:-200px;
}
#slider #da-slider
 {
	display:none;
	position:absolute;
	left:-1000000px;	
}

#ColCX_Content
 {
	
}

