@import url("home-gallery.css");

#slide {
	z-index:0;	
	height:570px;
	border-bottom:4px solid #01425e;
}
#myGallery, #myGallerySet, #flickrGallery
{
	width: 100%;
	height: 570px;
	z-index:5;
	border: 0px solid #000;
}


#Intestazione {
	height:200px;	
}
#Intestazione, #ColCX {
	position:relative;
	
}
#ColSX, #ColDX {
	top:0px;
}
#Footer h3 {
	font-size:14px !important;
}

#ColCX .modulo,
.innerFooter .modulo
 {
	color:#777;
	text-align:left;	
}
#ColCX .modulo ul li {
	border-bottom: 1px solid #fff;	
	padding: 6px 0px 6px 15px;
	background:url("img/arrow_link_module.png") 0px 12px no-repeat;
}
#ColCX .modulo ul li a {
	
}

#head-content { 
	top:70px;
	border-top:2px solid #01425e;
	border-bottom:2px solid #01425e;
}
#ColCX {

}


.c33, .c25 {
	z-index:100;
	position:relative;	
}


#ColCX .modulo h3 a {
	background:url("img/icon-home.png") 0px 0px no-repeat;	
}
#ColCX .modulo h3 a,
.innerFooter .modulo h3 a
 {
	padding:12px 0px 25px 50px;
	line-height:50px;
}

.innerFooter .col1 h3 a {
	background:url("img/icon-home.png") 0px -70px no-repeat;		
}
.innerFooter .col2 h3 a {
	background:url("img/icon-home.png") 0px -140px no-repeat;		
}
.innerFooter .col3 h3 a {
	background:url("img/icon-home.png") 0px -210px no-repeat;		
}
.innerFooter .col4 h3 a {
	background:url("img/icon-home.png") 0px -280px no-repeat;		
}


.innerFooter .Block {
	padding:20px 0px 20px 0px;	
}


