﻿ {{if folder.coverimage != false }}
                        {{if folder.coverimage | string.size > 0 }}
                        <img src="{{folder.coverimage}}?preset=newslist" class="u-sizeFull" alt="{{##doc.imgevidenza.description}}" />
                        {{end }}
                    {{end }}