.languageControl span:before {
	/*background:url("../img/info-icon.png") -353px -39px no-repeat;*/	
		background-image: url("../images/info.png");
}


.languageList{
	display:none;		
}
.languageList li {
	float:none;	
}
#defaultLanguage {
	margin-right:5px;	
}
#defaultLanguage span {
    display: block;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 0px 0 0;
    position: relative;
	clear:left;
}
.languageList li {
	border-bottom: 1px dotted #CCCCCC;
    margin-bottom: 5px;
    padding-bottom: 5px;	
}
#defaultLanguage span:before, .languageList li {
	margin-bottom:10px;	
}
#defaultLanguage span:before, .languageList li a:before, .languageControl span:before{
			/*background-image: url("../img/info-icon.png");*/
			background-image: url("../images/info.png");
			background-repeat: no-repeat;
			width: 20px;
			height: 20px;
			content: "";
			float: left;			
			opacity: 0.18;
}


