@import url(lang.css);
body
{    
    background-color:#E9E9E9 !important; 
	font-family: sans-serif;
	text-align: center; 
}

p 
{
    margin:0px 0px 10px 0px;    
}
a {
    color:#21759B;
    text-decoration:none;
}
a:hover {
    color:#000;
    text-decoration:none;
}
strong 
{
    font-weight:bold;    
}
.login
{
	overflow:hidden;
    background:#fff;
    border:1px solid #bbb;
    
    -webkit-box-shadow: 0px 0px 4px 1px #ccc;
    -moz-box-shadow: 0px 0px 4px 1px #ccc;
    box-shadow: 0px 0px 4px 1px #ccc;
    
    width:600px;
    display: table;
    margin: 4% auto 0 auto;
    
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;	
	padding:10px;
	text-align:left;

}


.login .login-logo
{
    padding-top:0px;
    height: 50px;
    background:url("images/logo.png") 10px 0px no-repeat;    
} 

.login .login-info
{
    min-height: 180px;
    float:left;
    width:190px;
    padding:10px;
    margin:4px 10px 0px 10px;      
    
    background-color:#D9E4FF;  
    border:1px solid #8DACF7;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    
    color:#4D4D4D;
}
.login, .login h2, .login h3 
{
	font-size:12px;
}


.login .login-info h2 
{
    padding-left:20px;
    font-weight:bold;
    background:url("images/info.png") 0px 0px no-repeat;    
	
}
.login .login-controls {
    float: right;
    width: 330px;
    padding: 20px 40px 0px 0px;
}

.login .control-label {
    font-weight: bold;
}

    .panel-heading h3,
    .login .login-controls h2,
    .login .login-logo h1 {
        display: none;
    }

/*.login ul
{
    list-style-type:none;
    margin:4px 0px 0px 0px;
    padding:0px;
}*/
/*.login li
{
    display:block;
    margin:0px 24px 0px 0px;
    padding:4px 4px 4px 25px;	
	border:1px solid;
	border-color:#FFD324 !important;
	color:#514721 !important;	
	-webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    
    background:#FFF6BF url("images/warning.png") 5px 5px no-repeat !important;    
}*/

.LoginControl #password_LoginControl1,.LoginControl  #username_LoginControl1
{
    display:block;
    width:300px;
}
.LoginControl label
{
    display:block;
}

#Accounts_LoginControl1{ margin-top: 40px;}

/* form */
/*
input[type='text'],input[type='password'], select, textarea {
	border:1px solid #ccc;
	padding:4px 5px;
	background-color:#fff;
    background-image:url("images/input-bg.gif");
    background-position: 0px 0px;
    background-repeat: repeat-x;

    -webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px
}
input[type='text']:hover,input[type='password']:hover, select:hover, textarea:hover {
	border:1px solid #999
}
input[type='text']:focus,input[type='password']:focus,select:focus, textarea:focus {
	border:1px solid #777
}
input[type='radio'], input[type='checkbox'] {
	vertical-align:top
}

input[type='submit']
{
border:1px solid #cccccc;
background:url("images/border_header_top.gif") bottom;
padding: 4px;
margin:0px 5px 0px 0px;
color:#555;
cursor:pointer;
 }

input[type='submit']
 {	
	line-height:1em;
	display: inline-block;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	white-space: nowrap;
	padding:10px !important;
	margin:0px 10px 0px 0px;
	position:relative;
	outline: none;
	overflow: visible; 
	cursor: pointer;	
	border: 0px solid #adadad;
	border: rgba(0, 1, 1, .1) 1px solid;
	border-bottom: rgba(0, 1, 1, .2) 1px solid;
	box-shadow:0 1px 2px rgba(51, 51, 51, 0.1);
	
	text-shadow:0 1px 1px rgba(51, 51, 51, 0.7);
	color:#fff;
	text-decoration:none;
	text-align:center;
	white-space: nowrap;
    background-color:#1381c7 !important;
}
input[type='submit']:hover
{ 
    background-position: bottom;
    background-repeat: repeat-x; 
    background-image:url("images/button_on.png");
    background-color:#5c5c5c;
}*/