/* Specific rules for application */

.RejectsConventionButtonClass {
    background: #dc3545 !important;
}

.rejectButtonClass {
    background: #dc3545 !important;
}

.multiuploadify-vf2 {
    width: auto;
}

.plupload_wrapper {
    min-width: auto !important;
}

td.viewDocumentButtonColumn input[type=submit] {
    background: none;
    border: 0;
    color: #1381c7;
    text-decoration: underline;
    box-shadow: none;
}

.recipientsCheckboxList {
    min-width: 300px;
}

.recipientsCheckboxList table {
    display: block;
    height: 80px;
    overflow: auto;
}

.recipientsCheckboxList table td {
    padding: 0 5px;
}

.checkboxlist-vf.recipientsCheckboxList .control-label {
    margin: 0;
    padding-bottom: 10px;
    text-align: left;
}

.documentsFolderSearchForm-Class {
    display: inline-flex;
    align-items: flex-end;
}

.documentsFolderSearchForm-Class .form-group {
    margin-right: 1rem;
}

.signedagreementdeletebutton {
    background: #dc3545 !important;
}

.dialogConfirmArchivingClass {
    padding: 20px !important;
}

.maincontroluploadify .filelist {
    list-style: none;
}

.maincontroluploadify .filelist > li > p > span {
    margin-right: 5px;
}

.fieldset_detailOpinionRequest_class {
    height: 250px;
}

.textarea_detailRequest_class {
    width: 100%;
    height: 100%;
    border: 0;
    background: none;
    margin: 0;
    padding: 0;
    resize: none;
}

.textarea_detailRequest_class:hover {
    border: 0;
}

.stipulateConventionBtn:disabled {
    background: #e3e6e9 !important;
    color: #707070;
}