﻿/* gui applicazione */
/*#OrganigrammaPA h1 
{
    font-family: 'Open Sans',sans-serif; 
    background:#f0fafa;
    padding:4px;
    margin:4px;   
    
    -moz-box-shadow: 0px 0px 2px #aaa;
    -webkit-box-shadow: 0px 0px 2px #aaa;
    box-shadow: 0px 0px 2px #aaa;
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    
    border:2px solid #fff;
}*/
#OrganigrammaPA .option-filetree 
{       
    background:url(images/gear.png) right top no-repeat;
    padding:4px 0px 4px 16px;   
    width:16px;
    margin-left:10px;
    display:inline !important;    
    
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}
#OrganigrammaPA .option-filetree:hover 
{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;
} 
#OrganigrammaPA .option-filetree span
{       
    display:none;    
}
#OrganigrammaPA .option-filetree-div 
{    
    padding:4px;
    background:#fff;        
    position:relative;    
    width:155px;
    height:20px;
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border:1px solid #eee;
    
    -moz-box-shadow: 3px 4px 4px -2px #555;
    -webkit-box-shadow: 3px 4px 4px -2px #555;
    box-shadow: 3px 4px 4px -2px #555;

}
#OrganigrammaPA .option-filetree-div .chiudi 
{
    position:absolute;
    top:0px;
    right:0px;
    width:10px;
    height:10px;
    background:url(images/closebox.gif) 0px 0px no-repeat;
    text-indent:-9999px;    
}
#OrganigrammaPA .option-filetree-div .delete,
#OrganigrammaPA .option-filetree-div .add,
#OrganigrammaPA .option-filetree-div .modify,
#OrganigrammaPA .option-filetree-div .add-people,
#OrganigrammaPA .option-filetree-div .add-content,
#OrganigrammaPA .option-filetree-div .merge,
#OrganigrammaPA .option-filetree-div .split,
#OrganigrammaPA .option-filetree-div .ingloba,
#OrganigrammaPA .delete-content, 
#OrganigrammaPA .view-content,
#OrganigrammaPA .delete 
{
    width:16px;
    height:18px;
    float:left;
    display:block;
    margin-right:14px;
    text-indent:-9999px;    
}

#OrganigrammaPA .option-filetree-div .delete,
#OrganigrammaPA .delete-content, 
#OrganigrammaPA .delete
{
    background:url(images/option-filetree-div-icons.png) no-repeat 0px 3px;
}

#OrganigrammaPA .option-filetree-div .add 
{
    background:url(images/option-filetree-div-icons.png) no-repeat 0px -40px;
    }

#OrganigrammaPA .option-filetree-div .modify 
{
    background:url(images/option-filetree-div-icons.png) no-repeat 0px -83px;
    }

#OrganigrammaPA .option-filetree-div .add-people 
{
    background:url(images/option-filetree-div-icons.png) no-repeat 0px -128px;
    }

#OrganigrammaPA .option-filetree-div .add-content 
{
    background:url(images/option-filetree-div-icons.png) no-repeat 0px -173px;
    } 
#OrganigrammaPA .option-filetree-div .split 
{
    background:url(images/option-filetree-div-icons.png) no-repeat 0px -263px;
    }
#OrganigrammaPA .option-filetree-div .ingloba
{
    background:url(images/option-filetree-div-icons.png) no-repeat 0px -305px;
    }
	
#OrganigrammaPA .option-filetree-div .merge 
{
    background:url(images/option-filetree-div-icons.png) no-repeat 0px -351px;
    }
    
#OrganigrammaPA .view-content 
{
    background:url(images/option-filetree-div-icons.png) no-repeat 0px -218px;
    margin-left:10px;
} 

#OrganigrammaPA li .persona
{
    background:url(images/user.png) no-repeat 0px 2px;
    width:150px;
}
#OrganigrammaPA li .persona .nomecognome
{
    margin-left:18px;    
}
#OrganigrammaPA li .persona .ruolo
{
    margin-left:18px;
    display:block;
}
#OrganigrammaPA li .persona .remove_persona
{
    background:url(images/bin.png) no-repeat 0px 2px;
    width:16px;
    height:18px;
    float:right;
    display:block;
}
#OrganigrammaPA li .persona .remove_persona span
{
    display:none;
}

/*--------------------------------------------------------------------*/

.lite 
{
    font:12px sans-serif;    
}
.lite  a {
    color: #21759B;
    text-decoration: none;
}
.lite  a:hover {
    color: #000000;
    text-decoration: none;
}
.WzTitle, .survey-title {
	border-top:1px solid;
	display:block;
	font-size:15px;
	margin:0px 0px 30px;
	padding:15px 10px;
	border-top-color:#ffffff;
	color:#444444;
	font-weight:700;	
	text-shadow:0 1px 0 #ffffff;
	background:url(../images/startpage/sftab.png) 0px -384px repeat-x;
	text-align:left;
}
.netWizard-default, span.StepContainer {
	margin:30px auto;	
	padding:0px 0px 30px;
	width:90%;
	background:#fff;	
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:    0px 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow:         0px 1px 3px rgba(0, 0, 0, 0.1);

-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;	

background: #ffffff; 
position:relative;
}

#corpo_lite 
{
    padding:0px;    
}
#corpo_lite #albero 
{
    float:left;
    width:300px;
    overflow-x:auto;    
}
#corpo_lite .documenti 
{
    float:right;    
    clear:right;   
}
#corpo_lite .documenti table
{
    text-align:left;    
    border-spacing:1px;
}
#corpo_lite .documenti table td,
#corpo_lite .documenti table th  
{
    padding:4px;
    background:#f0f0f0;    
}
#corpo_lite #ContentForm 
{
    clear:left;
    margin-top:200px;    
    padding:6px;
    background:#f0f0f0;
    text-align:center;
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#corpo_lite #ContentForm label 
{
    display:block;
    margin-bottom:4px    
}
#corpo_lite #ContentForm input 
{
    margin-bottom:4px      
}

#corpo_lite fieldset
{
   border:none;     
}
/* fine gui */