.uploadify-vf
 {
	background-color:#F1F7F8;
	border:1px solid #AECEEF;
	border-radius: 5px 5px 5px 5px; 
	padding:10px;
	/*width:50%;*/
	margin-bottom:10px;  
}
.pdf
{
	background: url("ico/pdf.png") no-repeat;
}
.doc, .docx
{
	background: url("ico/doc.png") no-repeat;
}
.flv
{
	background: url("ico/flv.png") no-repeat;
}
.jpg, .gif, .bmp, .png
{
	background: url("ico/image.png") no-repeat;
}
.del{
	background: url("ico/trash.gif") no-repeat;           
}
.del a{
	margin-left:18px;
}
.btn_del_all a{
	background: url("ico/bg-button.jpg") repeat-x scroll 0 0 transparent;
}


/********************************************************/
/*					Upload								*/
/********************************************************/
.div_allegati
{	
	border:1px solid #eee;
	background-color:#fff;
	margin-top:10px;	
	padding:10px;	
}
.div_allegati .title_allegati
{	
	background-color:#EEEEEE;		
	margin-top:0px !important;
}

.div_allegati ul
{
	margin-bottom:0px;	
	padding-left:0px !important;
}


.listAllegati ul li, .div_allegati ul li, #video ul li
{
	list-style:none;
	margin-left:0px;	
	height:36px;
}
.listAllegati .file, .div_allegati .file, #video .file
{
	margin:4px;	
	border-bottom:1px dashed #eee;
}

.listAllegati .fileinfo, .div_allegati .fileinfo, #video .fileinfo
{
	margin-left:36px;	
}
.listAllegati .fileinfo .name,  .div_allegati .name, #video .name
{
	display:block;
	font-weight:bold;	
}
.listAllegati .fileinfo .peso, #video .fileinfo .peso
{
	margin-left:10px;		
}
.listAllegati .fileinfo .del, .div_allegati .del, #video .del
{
	float:right;
	margin-right:10px;	
	height:20px;	
}

.listAllegati .fileinfo .fileDelete
{
    padding-left:4px; 
    cursor:pointer;
}

.listAllegati ul
{
	margin-bottom:0px;
}

.btn_del_all
{
	width:100%;	
}
.btn_del_all a
{	
	color:#FFFFFF;
	font-weight:bold;
	line-height:30px;
	text-align:center;
	text-decoration:none;
}
.btn_del_all a
{	
	display:block;
	float:left;	
	width:138px;	
	height:30px;
	margin-right:8px;
	color:#FFFFFF !important;
	font-weight:bold;
	text-decoration:none;
	line-height:30px;
	text-align:center;
}
.btn_del_all a span
{
	color:#FFFFFF !important;
}
.clr
{
    clear:both;    
}
