﻿.calendar-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.button-calendar-link {
    height: 60px;
    width: 50px;
    vertical-align: text-top;
    font-size: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    color: #b9b9b9 !important;
    font-weight: bold;
    background: white;
    border: 1px solid #e9e7e7;
    margin: 2px;
    justify-content: center;
}

.button-calendar-link.button-calendar-active {
    background: #fafafa;
    box-shadow: 0 2px 5px 0 rgb(0, 0, 0, .1) inset;
}

.button-calendar-link.has-event {
    color: #333333 !important;
}

.button-calendar-link.has-event:hover {
    background: #0066cc;
    color: #fff !important;
    text-decoration: none !important;
    cursor: pointer;
}

.button-calendar-link:hover {
    text-decoration: none !important;
    color: #b9b9b9;
}

.button-calendar-link:hover .has-event-icon {
    color: #ffffff;
}

.button-calendar-link .has-event-icon {
    color: #004c99;
    font-size: 8px;
    position: relative;
    right: 0px;
    bottom: 20px;
}

.container-hidden-event-calendar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hidden-event-calendar {
    display: none;
}

.hidden-event-calendar .event-calendar {
    background: #d4f1f0;
}
