/*********** GLOBAL ************/
body {
	background:#F1F1F1;
	color:#333;		
	line-height:1.7em;
}
label {
	display:block;	
}
input#DbPw {
	width:660px;
	display:inline;
	margin-right:10px;
}
#wrapper, h1, h2, h3, h4, h5, h6 {font-family:"Lucida Grande",Helvetica,Arial,Verdana,sans-serif;}
#wrapper {
	margin:0px auto;
	width:920px;
}
h1, h2, h3 {
	font-size:22px;	
	margin-top:0px;	
}
ul {
	margin:10px 0px 10px 0px;
	padding:0px;		
}
li {
	list-style:none;
	margin:0px;
	padding:0px;	
}
.green {
	color:#5CB85C;	
}
.red {
	color:#D9534F;	
}
.blue {
	color:#5BC0DE;	
}
.buttons {
	padding-bottom:20px;
	margin-top:20px;	
}
.alert {
	margin-top:10px;	
}
/*********** HEADER ************/
#header .logo {
	background:url(../images/logo.png) center center no-repeat;	
	width:330px;
	height:70px;
}
#header .logo span {
	display:none;	
}
/*********** CONTENT ************/
#content .panel-default h1,
#content .panel-default h2,
#content .panel-default h3
 {
	border-bottom:1px solid #E6E6E6;
	padding-bottom:14px;
}
#content .panel-default
 {
	padding:10px 24px 0 24px;
	border:0;
	-webkit-box-shadow:1px 0 0 0 #d2d2d2, -1px 0 0 0 #d2d2d2, 0 1px 0 0 #b6b6b6, 0 2px 0 0 #d2d2d2, 2px 0 0 0 #e6e6e6, -2px 0 0 0 #e6e6e6, 0 3px 0 0 #e6e6e6, 0 -1px 0 0 #e6e6e6;
	-moz-box-shadow:1px 0 0 0 #d2d2d2, -1px 0 0 0 #d2d2d2, 0 1px 0 0 #b6b6b6, 0 2px 0 0 #d2d2d2, 2px 0 0 0 #e6e6e6, -2px 0 0 0 #e6e6e6, 0 3px 0 0 #e6e6e6, 0 -1px 0 0 #e6e6e6;
	box-shadow:1px 0 0 0 #d2d2d2, -1px 0 0 0 #d2d2d2, 0 1px 0 0 #b6b6b6, 0 2px 0 0 #d2d2d2, 2px 0 0 0 #e6e6e6, -2px 0 0 0 #e6e6e6, 0 3px 0 0 #e6e6e6, 0 -1px 0 0 #e6e6e6;
	background:white;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	position:relative;
	line-height:1.7em	
}

.flowbar {
	text-align: left;
}

	.flowbar ul {
		list-style: none;
		display: inline-table;
	}
		.flowbar ul li {
			display: inline;
		}
	
		.flowbar ul li a {
			display: block;
			float: left;
			height: 40px;
			background: #428BCA;
			text-align: center;
			padding: 6px 30px 0px 30px;
			position: relative;
			margin: 0 10px 0 0; 
			text-decoration: none;
			cursor:default;
			color:#fff;
			opacity:0.3;
		}
			.flowbar ul li a:after {
				content: "";  
				border-top: 20px solid transparent;
	 			border-bottom: 20px solid transparent;
	  			border-left: 20px solid #428BCA;
				position: absolute; right: -20px; top: 0;
				z-index: 1;
				opacity:1;
			}
			.flowbar ul li.select a {
				background: #428BCA;
				color:#fff;	
				opacity:1;			
			}
			.flowbar ul li.select a:after {
				border-left: 20px solid #428BCA;
				opacity:1;
			}
			
			.flowbar ul li a:before {
				content: "";  
				border-top: 20px solid transparent;
	  			border-bottom: 20px solid transparent;
	  			border-left: 20px solid #f1f1f1;
				position: absolute; left: 0; top: 0;
			}
	
				.flowbar ul li:first-child a {
					border-top-left-radius: 4px; border-bottom-left-radius: 4px;
				}
				.flowbar ul li:first-child a:before {
					display: none; 
				}
				
				.flowbar ul li:last-child a {
					padding-right: 30px;
					border-top-right-radius: 4px; border-bottom-right-radius: 4px;
				}
				.flowbar ul li:last-child a:after {
					display: none; 
				}			
			

/*********** FOOTER  ************/
#footer .foter-content {
	font-size:10px;
	color:#999;
	border-top: 1px solid #CCCCCC;
    margin-bottom: 5px;
    padding-bottom: 5px;	
}